<?php echo $this->headTitle('сообщение отправлено'); ?>

<tr align="center">
    <td height="229" colspan="3" align="left">
        <div id="contactform">
            <?php echo $this->form; ?>
        </div>
    </td>
</tr>
