<div class="inner-top-slider slider slick-slider">
	<?php foreach($this->categoryphoto as $photo) { ?>    
            <div class="slick-slide">
                <a data-fancybox="inner-top-gallery" href="<?php echo $this->host;?>/media/photos/categories/pages/big_<?php echo $photo->photo_file; ?>"><img src="<?php echo $this->host;?>/media/photos/categories/pages/small_<?php echo $photo->photo_file; ?>" alt="" /></a>
            </div>
	<?php } ?>    
                    
</div>
        
    <div class="clear"></div>
<?php foreach($this->category as $category_item) { ?>          
    <div id="box_12" class="container">
        <div class="breadcrumbs">
            <a href="/">Главная</a> <span>/</span> <span>Услуги</span> <span>/</span> <span><?php echo $category_item->title_text; ?></span>
        </div>
            
        <div class="box_cont_price">                   
            <div class="box_price"> 
                <h3><?php echo $category_item->title; ?></h3>
                    <?php echo $category_item->category_text_extra; ?>        
                                                                  
            </div>  
            <div class="btn_dropdown_box_price"><span>Смотреть весь прайс</span></div>  
        </div>
                 
                  
    </div> 
    
    <!-- box-3 -->          
	<!--	<div id="box_3_w">
            <div id="box_3" class="container">
                
                <div class="title-box-3">Наша команда</div>
                
                <div class="team slider slick-slider">
					<?php foreach ($this->sliders as $slider) { ?>
						<div  class="slick-slide">
								<a href="/our-team/<?php echo $slider['slider_url']; ?>"><img src="<?php echo $this->host;?>/media/photos/slider/small_<?php echo $slider['image']; ?>"/></a>
								<div class="fio">
									<div class="first-name"><?php echo $slider['slider_title']; ?></div>
									<div class="full-name"><?php echo $slider['slider_title_extra']; ?></div>
								</div>                            
								<div class="career"><?php echo $slider['slider_title_01']; ?></div>                             
								<div class="but-callback button-3 but3-1">Записаться <br /> на консультацию</div>                
						</div>
                    <?php } ?>  
                </div>
                  
            </div>
        </div>-->
        
        <div class="clear"></div>
        
    
     <div  id="box_7" class="container">
         <div class="about_text_cont">                   
                <div class="about_text"> 
				<h1><?php echo $category_item->title_text; ?></h1>
                    <?php echo $category_item->category_text; ?>  
                </div>  
                <div class="btn_dropdown_about_text"><span>Далее</span></div> 
         </div>
           
     </div> 
     
     
     <!-- box-6 -->
            <div class="video slider slick-slider">
				<?php foreach ($this->videos as $video) { ?>
                    <div class="slick-slide">
                         <a class="video-link" data-fancybox="reviews-video" href="<?php echo $video['html_code']; ?>"><img src="<?php echo $this->host;?>/media/photos/videolessons/small_<?php 
                echo $video['image']; ?>" alt="<?php echo $video['alt']; ?>" />
                   <img src="/img/play.png" alt="" class="play-video">
                   </a>          
                    </div>
                <?php } ?>        
            </div>              
       
        <div class="clear"></div>
     
<?php } ?>             	         
            	