<?php 
    $lang = Zend_Registry::get('Zend_Lang');
    $translate = Zend_Registry::get('Zend_Translate');
?>
	
	<?php foreach($this->hot_deals as $hot_deals) : ?>
			<div class="content-chapter-spectrum-5parts-block">
				<div class="content-chapter-spectrum-lot-photo">
					<?php if(isset($hot_deals->main_photo) and !empty($hot_deals->main_photo) and $hot_deals->main_photo != NULL) {       ?>
						<img src="<?php echo $this->webhost;?>/images/main_photos/l_<?php echo $hot_deals->main_photo; ?>" border = "1" height = "127" width = "191"  >
						<?php } else {?>
						<img src="<?php echo $this->webhost;?>/images/main_photos/no_photo.jpeg" border = "1" height = "127" width = "191" >
						<?php } ?>
					<a class="content-chapter-spectrum-lot-division" href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => $hot_deals->category_id, 'realestate_id' => $hot_deals->realestate_id, 'lang' => $lang), 'default', true) ?>"><?php echo $translate->translate('Commercial properties'); ?></a></div>
			</div>
			<?php endforeach; ?>	
		
		
		
				
				
		