<?php 
	$lang = Zend_Registry::get('Zend_Lang');
    $translate = Zend_Registry::get('Zend_Translate');
    $filter = new Zend_Filter_StringTrim();

    foreach($this->category as $category) : 
        if($lang == 'lv') { 
		?>  
			<li><a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'category_id' => $category->category_id, 'lang' => 'lv'), 'default', true) ?>"><?php echo $category->category_name_lv; ?></a></li>
		<?php		
        } elseif ($lang == 'ru'){
        ?> 
            <li><a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'category_id' => $category->category_id, 'lang' => 'ru'), 'default', true) ?>"><?php echo $category->category_name_ru; ?></a></li>
		<?php	
        } elseif ($lang == 'en'){
		?> 
            <li><a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'category_id' => $category->category_id, 'lang' => 'en'), 'default', true) ?>"><?php echo $category->category_name_en; ?></a></li>
		<?php	  
        } elseif ($lang == 'ch'){
        ?> 
            <li><a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'category_id' => $category->category_id, 'lang' => 'ch'), 'default', true) ?>"><?php echo $category->category_name_ch; ?></a></li>
		<?php	        
        } else {
		?> 
            <li><a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'category_id' => $category->category_id, 'lang' => 'lv'), 'default', true) ?>"><?php echo $category->category_name_lv; ?></a></li>
		<?php	
        } 
    endforeach; 
?>	