<?php foreach($this->paginator as $galary) : ?>
	<td width="200"  valign="top"  style="font-size: 80%; font-family: sans-serif" align="center">  
        <a href="<?php echo $this->webhost;?>/photos/<?php echo $galary->photo_file; ?>" rel="lightbox[roadtrip]"  >
        <img src="<?php echo $this->webhost;?>/photos/l_<?php echo $galary->photo_file; ?>" border = "1" height = "110"></a>
	</td>	
<?php endforeach; ?>
	  
  
