<?php 
    $filter = new Zend_Filter_StringTrim();

    foreach($this->category as $category) : 
        if($this->lang == 'lv') { 
		?>  
			<div class="intro-chapter-all-block"><img src="<?php echo $this->host;?>/images/articles_photos/l_<?php echo $category->category_photo; ?>" alt="" ><a href="<?php echo 
$this->url(array('module'=>'real_estate', 'controller'=>'index', 'category_id' => $category->category_id, 'lang' => 'lv'), 'default', true) ?>"><?php echo $category->category_name_lv; ?></a></div>
		<?php		
        } elseif ($this->lang == 'ru'){
        ?> 
            <div class="intro-chapter-all-block"><img src="<?php echo $this->host;?>/images/articles_photos/l_<?php echo $category->category_photo; ?>" alt="" ><a href="<?php echo 
$this->url(array('module'=>'real_estate', 'controller'=>'index', 'category_id' => $category->category_id, 'lang' => 'ru'), 'default', true) ?>"><?php echo $category->category_name_ru; ?></a></div>
		<?php	
        } elseif ($this->lang == 'en'){
		?> 
            <div class="intro-chapter-all-block"><img src="<?php echo $this->host;?>/images/articles_photos/l_<?php echo $category->category_photo; ?>" alt="" ><a href="<?php echo 
$this->url(array('module'=>'real_estate', 'controller'=>'index', 'category_id' => $category->category_id, 'lang' => 'en'), 'default', true) ?>"><?php echo $category->category_name_en; ?></a></div>
		<?php	  
        } elseif ($this->lang == 'ch'){
        ?> 
            <div class="intro-chapter-all-block"><img src="<?php echo $this->host;?>/images/articles_photos/l_<?php echo $category->category_photo; ?>" alt="" ><a href="<?php echo 
$this->url(array('module'=>'real_estate', 'controller'=>'index', 'category_id' => $category->category_id, 'lang' => 'ch'), 'default', true) ?>"><?php echo $category->category_name_ch; ?></a></div>
		<?php	        
        } else {
		?> 
            <div class="intro-chapter-all-block"><img src="<?php echo $this->host;?>/images/articles_photos/l_<?php echo $category->category_photo; ?>" alt="" ><a href="<?php echo 
$this->url(array('module'=>'real_estate', 'controller'=>'index', 'category_id' => $category->category_id, 'lang' => 'lv'), 'default', true) ?>"><?php echo $category->category_name_lv; ?></a></div>
		<?php	
        } 
    endforeach; 
?>	