<?php 
    $lang = Zend_Registry::get('Zend_Lang');
    $translate = Zend_Registry::get('Zend_Translate');
    $filter = new Zend_Filter_StringTrim();
        if($lang == 'lv') { 
        ?> 
            <li><a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action' => 'categoryhotdeals', 'lang' => 'lv'), 'default', true) ?>">
            <?php echo $translate->translate('Hot deals'); ?></a></li>
        <?php       
        } elseif ($lang == 'ru'){
        ?> 
            <li><a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action' => 'categoryhotdeals', 'lang' => 'ru'), 'default', true) ?>">
            <?php echo $translate->translate('Hot deals'); ?></a></li>
        <?php   
        } elseif ($lang == 'en'){
        ?> 
            <li><a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action' => 'categoryhotdeals', 'lang' => 'en'), 'default', true) ?>">
            <?php echo $translate->translate('Hot deals'); ?></a></li>
        <?php     
        } elseif ($lang == 'ch'){
        ?> 
            <li><a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action' => 'categoryhotdeals', 'lang' => 'ch'), 'default', true) ?>">
            <?php echo $translate->translate('Hot deals'); ?></a></li>
        <?php           
        } else {
        ?> 
            <li><a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action' => 'categoryhotdeals', 'lang' => 'lv'), 'default', true) ?>">
            <?php echo $translate->translate('Hot deals'); ?></a></li>
        <?php   
        }   
?>