<?php 
    $filter = new Zend_Filter_StringTrim();

    foreach($this->hot_deals as $hot_deals) : 
        if($this->lang == 'lv') { 
		?>  
			
        <div class="content-chapter-spectrum-5parts-block">
                <h4 class="content-chapter-spectrum-group-title"><a href="list.htm"><?php echo $hot_deals->category_name_lv; ?></a></h4>
                <div class="content-chapter-spectrum-lot-photo">
                    <?php if($hot_deals->main_photo) {       ?>
                    <a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => $hot_deals->category_id, 'realestate_id' => 
$hot_deals->realestate_id, 'lang' => 'lv'), 'default', true) ?>"><img src="<?php echo $this->webhost;?>/images/main_photos/<?php echo $hot_deals->main_photo; ?>" height = "127" width = "191" 
alt=""></a>
                    <?php } else {?>
                    <a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => $hot_deals->category_id, 'realestate_id' => 
$hot_deals->realestate_id, 'lang' => 'lv'), 'default', true) ?>"><img src="<?php echo $this->webhost;?>/images/main_photos/no_photo.jpeg" border = "1" height = "127" width = "191" ></a>
                    <?php } ?>  
                </div>
                <div class="content-chapter-spectrum-lot-place"><a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => 
$hot_deals->category_id, 'realestate_id' => $hot_deals->realestate_id, 'lang' => 'lv'), 'default', true) ?>"><?php echo $hot_deals->town_lv; ?></a></div>
                <div class="content-chapter-spectrum-lot-price"><?php echo $hot_deals->price; ?></div>
            </div>
        
		<?php		
        } elseif ($this->lang == 'ru'){
        ?> 
            <div class="content-chapter-spectrum-5parts-block">
                <h4 class="content-chapter-spectrum-group-title"><a href="list.htm"><?php echo $hot_deals->category_name_ru; ?></a></h4>
                <div class="content-chapter-spectrum-lot-photo">
                    <?php if($hot_deals->main_photo) {       ?>
                    <a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => $hot_deals->category_id, 'realestate_id' => 
$hot_deals->realestate_id, 'lang' => 'lv'), 'default', true) ?>"><img src="<?php echo $this->webhost;?>/images/main_photos/<?php echo $hot_deals->main_photo; ?>" height = "127" width = "191" 
alt=""></a>
                    <?php } else {?>
                    <a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => $hot_deals->category_id, 'realestate_id' => 
$hot_deals->realestate_id, 'lang' => 'lv'), 'default', true) ?>"><img src="<?php echo $this->webhost;?>/images/main_photos/no_photo.jpeg" border = "1" height = "127" width = "191" ></a>
                    <?php } ?>  
                </div>
                <div class="content-chapter-spectrum-lot-place"><a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => 
$hot_deals->category_id, 'realestate_id' => $hot_deals->realestate_id, 'lang' => 'lv'), 'default', true) ?>"><?php echo $hot_deals->town_ru; ?></a></div>
                <div class="content-chapter-spectrum-lot-price"><?php echo $hot_deals->price; ?></div>
            </div>
		<?php	
        } elseif ($this->lang == 'en'){
		?> 
            <div class="content-chapter-spectrum-5parts-block">
                <h4 class="content-chapter-spectrum-group-title"><a href="list.htm"><?php echo $hot_deals->category_name_en; ?></a></h4>
                <div class="content-chapter-spectrum-lot-photo">
                    <?php if($hot_deals->main_photo) {       ?>
                    <a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => $hot_deals->category_id, 'realestate_id' => 
$hot_deals->realestate_id, 'lang' => 'lv'), 'default', true) ?>"><img src="<?php echo $this->webhost;?>/images/main_photos/<?php echo $hot_deals->main_photo; ?>" height = "127" width = "191" 
alt=""></a>
                    <?php } else {?>
                    <a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => $hot_deals->category_id, 'realestate_id' => 
$hot_deals->realestate_id, 'lang' => 'lv'), 'default', true) ?>"><img src="<?php echo $this->webhost;?>/images/main_photos/no_photo.jpeg" border = "1" height = "127" width = "191" ></a>
                    <?php } ?>  
                </div>
                <div class="content-chapter-spectrum-lot-place"><a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => 
$hot_deals->category_id, 'realestate_id' => $hot_deals->realestate_id, 'lang' => 'lv'), 'default', true) ?>"><?php echo $hot_deals->town_en; ?></a></div>
                <div class="content-chapter-spectrum-lot-price"><?php echo $hot_deals->price; ?></div>
            </div>
		<?php	  
        } elseif ($this->lang == 'ch'){
        ?> 
            <div class="content-chapter-spectrum-5parts-block">
                <h4 class="content-chapter-spectrum-group-title"><a href="list.htm"><?php echo $hot_deals->category_name_ch; ?></a></h4>
                <div class="content-chapter-spectrum-lot-photo">
                    <?php if($hot_deals->main_photo) {       ?>
                    <a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => $hot_deals->category_id, 'realestate_id' => 
$hot_deals->realestate_id, 'lang' => 'lv'), 'default', true) ?>"><img src="<?php echo $this->webhost;?>/images/main_photos/<?php echo $hot_deals->main_photo; ?>" height = "127" width = "191" 
alt=""></a>
                    <?php } else {?>
                    <a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => $hot_deals->category_id, 'realestate_id' => 
$hot_deals->realestate_id, 'lang' => 'lv'), 'default', true) ?>"><img src="<?php echo $this->webhost;?>/images/main_photos/no_photo.jpeg" border = "1" height = "127" width = "191" ></a>
                    <?php } ?>  
                </div>
                <div class="content-chapter-spectrum-lot-place"><a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => 
$hot_deals->category_id, 'realestate_id' => $hot_deals->realestate_id, 'lang' => 'lv'), 'default', true) ?>"><?php echo $hot_deals->town_ch; ?></a></div>
                <div class="content-chapter-spectrum-lot-price"><?php echo $hot_deals->price; ?></div>
            </div>
		<?php	        
        } else {
		?> 
            <div class="content-chapter-spectrum-5parts-block">
                <h4 class="content-chapter-spectrum-group-title"><a href="list.htm"><?php echo $hot_deals->category_name_lv; ?></a></h4>
                <div class="content-chapter-spectrum-lot-photo">
                    <?php if($hot_deals->main_photo) {       ?>
                    <a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => $hot_deals->category_id, 'realestate_id' => 
$hot_deals->realestate_id, 'lang' => 'lv'), 'default', true) ?>"><img src="<?php echo $this->webhost;?>/images/main_photos/<?php echo $hot_deals->main_photo; ?>" height = "127" width = "191" 
alt=""></a>
                    <?php } else {?>
                    <a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => $hot_deals->category_id, 'realestate_id' => 
$hot_deals->realestate_id, 'lang' => 'lv'), 'default', true) ?>"><img src="<?php echo $this->webhost;?>/images/main_photos/no_photo.jpeg" border = "1" height = "127" width = "191" ></a>
                    <?php } ?>  
                </div>
                <div class="content-chapter-spectrum-lot-place"><a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => 
$hot_deals->category_id, 'realestate_id' => $hot_deals->realestate_id, 'lang' => 'lv'), 'default', true) ?>"><?php echo $hot_deals->town_name_lv; ?></a></div>
                <div class="content-chapter-spectrum-lot-price"><?php echo $hot_deals->price; ?></div>
            </div>

        
                
                
		<?php	
        } 
    endforeach; 
?>	


              
           