<?php 
    $lang = Zend_Registry::get('Zend_Lang');
    $translate = Zend_Registry::get('Zend_Translate');
    $filter = new Zend_Filter_StringTrim();
        if($lang == 'lv') { 
        ?> 
            <img src="<?php echo $this->host;?>/images/articles_photos/<?php echo $this->hot['hot_deals_photo']; ?>" alt="" ><a href="<?php echo $this->url(array('module'=>'real_estate', 
'controller'=>'index', 'action' => 'categoryhotdeals', 'lang' => 'lv'), 'default', true) ?>">
            <?php echo $translate->translate('Hot deals'); ?></a>
        <?php       
        } elseif ($lang == 'ru'){
        ?> 
            <img src="<?php echo $this->host;?>/images/articles_photos/<?php echo $this->hot['hot_deals_photo']; ?>" alt="" ><a href="<?php echo $this->url(array('module'=>'real_estate', 
'controller'=>'index', 'action' => 'categoryhotdeals', 'lang' => 'ru'), 'default', true) ?>">
            <?php echo $translate->translate('Hot deals'); ?></a>
        <?php   
        } elseif ($lang == 'en'){
        ?> 
            <img src="<?php echo $this->host;?>/images/articles_photos/<?php echo $this->hot['hot_deals_photo']; ?>" alt="" ><a href="<?php echo $this->url(array('module'=>'real_estate', 
'controller'=>'index', 'action' => 'categoryhotdeals', 'lang' => 'en'), 'default', true) ?>">
            <?php echo $translate->translate('Hot deals'); ?></a>
        <?php     
        } elseif ($lang == 'ch'){
        ?> 
            <img src="<?php echo $this->host;?>/images/articles_photos/<?php echo $this->hot['hot_deals_photo']; ?>" alt="" ><a href="<?php echo $this->url(array('module'=>'real_estate', 
'controller'=>'index', 'action' => 'categoryhotdeals', 'lang' => 'ch'), 'default', true) ?>">
            <?php echo $translate->translate('Hot deals'); ?></a>
        <?php           
        } else {
        ?> 
            <img src="<?php echo $this->host;?>/images/articles_photos/<?php echo $this->hot['hot_deals_photo']; ?>" alt="" ><a href="<?php echo $this->url(array('module'=>'real_estate', 
'controller'=>'index', 'action' => 'categoryhotdeals', 'lang' => 'lv'), 'default', true) ?>">
            <?php echo $translate->translate('Hot deals'); ?></a>
        <?php   
        }
?>	