<?php foreach($this->category as $category_item) { ?>     
  
	<div class="inner-top-slider slider slick-slider">
                    <div class="slick-slide">
                         <a data-fancybox="inner-top-gallery" href="/images/inner-slide-1.jpg"><img src="/images/inner-slide-1.jpg" alt="" /></a>
                    </div>
                    
                    <div class="slick-slide">
                         <a data-fancybox="inner-top-gallery" href="/images/inner-slide-2.jpg"><img src="/images/inner-slide-2.jpg" alt="" /></a>
                    </div>
                    
                    <div class="slick-slide">
                         <a data-fancybox="inner-top-gallery" href="/images/inner-slide-3.jpg"><img src="/images/inner-slide-3.jpg" alt="" /></a>
                    </div>
                    
                    <div class="slick-slide">
                         <a data-fancybox="inner-top-gallery" href="/images/inner-slide-4.jpg"><img src="/images/inner-slide-4.jpg" alt="" /></a>
                    </div>
                    
                    <div class="slick-slide">
                         <a data-fancybox="inner-top-gallery" href="/images/inner-slide-5.jpg"><img src="/images/inner-slide-5.jpg" alt="" /></a>
                    </div>
                    
                    <div class="slick-slide">
                         <a data-fancybox="inner-top-gallery" href="/images/inner-slide-6.jpg"><img src="/images/inner-slide-6.jpg" alt="" /></a>
                    </div>
                    
                    <div class="slick-slide">
                         <a data-fancybox="inner-top-gallery" href="/images/inner-slide-1.jpg"><img src="/images/inner-slide-1.jpg" alt="" /></a>
                    </div>
                    
                    <div class="slick-slide">
                         <a data-fancybox="inner-top-gallery" href="/images/inner-slide-2.jpg"><img src="/images/inner-slide-2.jpg" alt="" /></a>
                    </div>
                    
                    <div class="slick-slide">
                         <a data-fancybox="inner-top-gallery" href="/images/inner-slide-3.jpg"><img src="/images/inner-slide-3.jpg" alt="" /></a>
                    </div>
                    
                    <div class="slick-slide">
                         <a data-fancybox="inner-top-gallery" href="/images/inner-slide-4.jpg"><img src="/images/inner-slide-4.jpg" alt="" /></a>
                    </div>
                    
                    <div class="slick-slide">
                         <a data-fancybox="inner-top-gallery" href="/images/inner-slide-5.jpg"><img src="/images/inner-slide-5.jpg" alt="" /></a>
                    </div>
                    
                    <div class="slick-slide">
                         <a data-fancybox="inner-top-gallery" href="/images/inner-slide-6.jpg"><img src="/images/inner-slide-6.jpg" alt="" /></a>
                    </div>
                    
                    
    </div>
        
    <div class="clear"></div>
        
    <div id="box_7" class="container">
            
            
        <div class="about_text_cont">                   
            <div class=" about_text"> 
                            
                <?php echo $category_item->category_text; ?>     
                                                  
                                               
            </div>  
            <div class="btn_dropdown_about_text"><span>Далее</span></div>  
        </div>
                
                  
    </div>  
<?php } ?>             	