<?php 
    $lang = Zend_Registry::get('Zend_Lang');
    $translate = Zend_Registry::get('Zend_Translate');
?>
	<div id="content-investments-intro-container">
	<?php foreach($this->hot_deals as $hot_deals) : ?>
			<div class="content-investments-intro-block">
				<div class="content-investments-intro-photo">
					<a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => $hot_deals->category_id, 'realestate_id' => $hot_deals->realestate_id, 'lang' => $lang), 'default', true) ?>"><?php if(isset($hot_deals->main_photo) and !empty($hot_deals->main_photo) and $hot_deals->main_photo != NULL) {       ?>
						<img src="<?php echo $this->webhost;?>/images/main_photos/l_<?php echo $hot_deals->main_photo; ?>" border = "1" height = "127" width = "191"  >
						<?php } else {?>
						<img src="<?php echo $this->webhost;?>/images/main_photos/no_photo.jpeg" border = "1" height = "127" width = "191" >
						<?php } ?></a></div>
				<h3 class="content-investments-intro-title"><a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => $hot_deals->category_id, 'realestate_id' => $hot_deals->realestate_id, 'lang' => $lang), 'default', true) ?>">
				<?php 	if($this->lang == 'lv') 
						echo $hot_deals->title_lv;
					elseif ($this->lang == 'ru')
						echo $hot_deals->title_ru;
					elseif ($this->lang == 'en')
						echo $hot_deals->title_en;
					elseif ($this->lang == 'ch')
						echo $hot_deals->title_ch;
					else
						echo $hot_deals->title_lv;
				?></a></h3>
				<div class="content-investments-intro-text">
				<p><?php 	if($this->lang == 'lv') 
						echo $hot_deals->deskription_lv;
					elseif ($this->lang == 'ru')
						echo $hot_deals->deskription_ru;
					elseif ($this->lang == 'en')
						echo $hot_deals->deskription_en;
					elseif ($this->lang == 'ch')
						echo $hot_deals->deskription_ch;
					else
						echo $hot_deals->deskription_lv;
					?>
				</p>
				</div>
				<div class="content-investments-intro-price">
					<?php echo $hot_deals->price;	?> €
				</div>
				<div class="clear"></div>
			</div>
			<?php endforeach; ?>
			<a class="content-button" href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'index', 'category_id' => $hot_deals->category_id, 'lang' => $lang), 'default', true) ?>"><?php echo $translate->translate('Show all projects'); ?></a>
	</div>
		<h2><?php echo $translate->translate('Investment projects'); ?></h2>
		<div class="content-chapter-intro">
<p><?php echo $translate->translate('content-chapter-intro Investment projects'); ?></p>
		</div>
		<div class="content-chapter-text">
<p><?php echo $translate->translate('content-chapter-text Investment projects'); ?></p>
			<div class="content-chapter-more"><a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'index', 'category_id' => $hot_deals->category_id, 'lang' => $lang), 'default', true) ?>"><?php echo $translate->translate('all projects'); ?></a></div>
		</div>
			
	
		
		
		
				
				
		