<?php  
    $translate = Zend_Registry::get('Zend_Translate');
?>        
	<form class="lock_form" action="<?php $this->form->getAction()?>" method="post">       
		
            
           
            <input name="realestate_id" type="text" value="<?php echo $realestateobject->realestate_id ?>" class="content-list-lock-input">
          <?php echo $this->form->password; ?>
            
           <?php echo $this->form->submit; ?>
            
	</form>		