<?php 
    $lang = Zend_Registry::get('Zend_Lang');
    $translate = Zend_Registry::get('Zend_Translate');
?>

<div id="content-map-image">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
        function initialize() {
            var myLatlng = new google.maps.LatLng(<?php echo $this->latitude; ?> , <?php echo $this->longitude; ?>);
            var mapOptions = {
                zoom: 9,
                center: myLatlng,
                disableDefaultUI: true
            }
            var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);

    </script>
    
    <script>
        function renderMap() {
            var myLatlng = new google.maps.LatLng(<?php echo $this->latitude; ?> , <?php echo $this->longitude; ?>);
            var mapOptions = {
                zoom: 12,
                center: myLatlng
            }
            var map = new google.maps.Map(document.getElementById('map-canvas-modal'), mapOptions);

            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map
            });
        }

    </script>
    <div id="map-canvas" style="width:148px; height: 51px;"></div>
    <div id="map-modal" style="display: none; width: 500px; height: 500px;">
        <div id="map-canvas-modal" style="width: 100%; height: 100%;"></div>
    </div>
</div>
		<table id="content-h1-table-short" cellpadding="0" cellspacing="0"><tr><td>
			<h1>
			<?php 	if($this->lang == 'lv') 
						echo $this->lot["title_lv"];
					elseif ($this->lang == 'ru')
						echo $this->lot["title_ru"];
					elseif ($this->lang == 'en')
						echo $this->lot["title_en"];
					elseif ($this->lang == 'ch')
						echo $this->lot["title_ch"];
					else
						echo $this->lot["title_lv"];
			?>
			</h1>
		</td></tr></table>
		
		<div id="content-lot-description">
<p>
	<?php 	if($this->lang == 'lv') 
				echo $this->lot["deskription_lv"];
			elseif ($this->lang == 'ru')
				echo $this->lot["deskription_ru"];
			elseif ($this->lang == 'en')
				echo $this->lot["deskription_en"];
			elseif ($this->lang == 'ch')
				echo $this->lot["deskription_ch"];
			else
				echo $this->lot["deskription_lv"];
	?>
</p>
		<table id="content-lot-parametrs-table" cellpadding="0" cellspacing="0">
		<tr>
		<td class="content-lot-parametrs-label"><?php echo $translate->translate('Town, region'); 
?>:</td>
		<td class="content-lot-parametrs-value">
		<?php 	if($this->lang == 'lv') {?>
			<a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action' => 'region', 'region_id' => $this->lot["region_id"], 'lang' => 'lv'), 'default', true) ?>"> <?php	echo $this->lot["region_name_lv"]; ?></a>
		<?php }	elseif ($this->lang == 'ru') { ?>
				<a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action' => 'region', 'region_id' => $this->lot["region_id"], 'lang' => 'ru'), 'default', true) ?>"> <?php	echo $this->lot["region_name_ru"]; ?></a>
				
		<?php }	elseif ($this->lang == 'en') { ?>
				<a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action' => 'region', 'region_id' => $this->lot["region_id"], 'lang' => 'en'), 'default', true) ?>"> <?php	echo $this->lot["region_name_en"]; ?></a>
				
		<?php }	elseif ($this->lang == 'ch') { ?>
				<a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action' => 'region', 'region_id' => $this->lot["region_id"], 'lang' => 'ch'), 'default', true) ?>"> <?php	echo $this->lot["region_name_ch"]; ?></a>
				
		<?php }	else { ?>
				<a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action' => 'region', 'region_id' => $this->lot["region_id"], 'lang' => 'ru'), 'default', true) ?>"> <?php	echo $this->lot["region_name_lv"]; ?></a>
		<?php		} ?>
		
		</td>
		</tr>
		<tr>
		<?php 	if($this->lot["town_name_lv"] != NULL){ ?>
		<td class="content-lot-parametrs-label"><?php echo $translate->translate('City / town'); 
?>:</td>
		<?php } ?>
		<td class="content-lot-parametrs-value">
		<?php 	if($this->lang == 'lv') {?>
			<a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action' => 'town', 'town_id' => $this->lot["town_id"], 'lang' => 'lv'), 'default', true) ?>"> <?php	echo $this->lot["town_name_lv"]; ?></a>
		<?php }	elseif ($this->lang == 'ru') { ?>
				<a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action' => 'town', 'town_id' => $this->lot["town_id"], 'lang' => 'ru'), 'default', true) ?>"> <?php	echo $this->lot["town_name_ru"]; ?></a>
				
		<?php }	elseif ($this->lang == 'en') { ?>
				<a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action' => 'town', 'town_id' => $this->lot["town_id"], 'lang' => 'en'), 'default', true) ?>"> <?php	echo $this->lot["town_name_en"]; ?></a>
				
		<?php }	elseif ($this->lang == 'ch') { ?>
				<a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action' => 'town', 'town_id' => $this->lot["town_id"], 'lang' => 'ch'), 'default', true) ?>"> <?php	echo $this->lot["town_name_ch"]; ?></a>
				
		<?php }	else { ?>
				<a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action' => 'town', 'town_id' => $this->lot["town_id"], 'lang' => 'ru'), 'default', true) ?>"> <?php	echo $this->lot["town_name_lv"]; ?></a>
		<?php		} ?>
		</td>
		</tr>
		<tr>
		<?php 	if($this->lot["settlement_name_lv"] != NULL){ ?>
		<td class="content-lot-parametrs-label"><?php echo $translate->translate('Settlement'); 
?>:</td>
		<?php } ?>
		<td class="content-lot-parametrs-value">
		<?php 	if($this->lang == 'lv') {?>
			<a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action' => 'settlement', 'settlement_id' => $this->lot["settlement_id"], 'lang' => 'lv'), 'default', true) ?>"> <?php	echo $this->lot["settlement_name_lv"]; ?></a>
		<?php }	elseif ($this->lang == 'ru') { ?>
				<a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action' => 'settlement', 'category_id' => $this->category_id, 'realestate_id' => 
$this->realestate_id, 'lang' => 'ru'), 'default', true) ?>"> <?php	echo $this->lot["settlement_name_ru"]; ?></a>
				
		<?php }	elseif ($this->lang == 'en') { ?>
				<a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action' => 'settlement', 'settlement_id' => $this->lot["settlement_id"],'lang' => 'en'), 'default', true) ?>"> <?php	echo $this->lot["settlement_name_en"]; ?></a>
				
		<?php }	elseif ($this->lang == 'ch') { ?>
				<a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action' => 'settlement', 'settlement_id' => $this->lot["settlement_id"], 'lang' => 'ch'), 'default', true) ?>"> <?php	echo $this->lot["settlement_name_ch"]; ?></a>
				
		<?php }	else { ?>
				<a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action' => 'settlement', 'settlement_id' => $this->lot["settlement_id"], 'lang' => 'ru'), 'default', true) ?>"> <?php	echo $this->lot["settlement_name_lv"]; ?></a>
		<?php		} ?>
		</td>
		</tr>
		<tr>
		<?php 	if($this->lot["street_lv"] != NULL){ ?>
		<td class="content-lot-parametrs-label"><?php echo $translate->translate('Street'); 
?>:</td>
		<?php } ?>
		<td class="content-lot-parametrs-value">
		<?php 	if($this->lang == 'lv') 
				echo $this->lot["street_lv"];
			elseif ($this->lang == 'ru')
				echo $this->lot["street_ru"];
			elseif ($this->lang == 'en')
				echo $this->lot["street_en"];
			elseif ($this->lang == 'ch')
				echo $this->lot["street_ch"];
			else
				echo $this->lot["street_lv"];
		?>
		</td>
		</tr>
		<tr>
		<?php 	if($this->lot["area"] != NULL){ ?>
		<td class="content-lot-parametrs-label"><?php echo $translate->translate('Area, m2'); 
?>:</td>
		<?php } ?>
		<td class="content-lot-parametrs-value">
		<?php 	 
			echo $this->lot["area"];	
		?>
		</td>
		</tr>
		<tr>
		<?php 	if($this->lot["number_of_floors"] != NULL){ ?>
		<td class="content-lot-parametrs-label"><?php echo $translate->translate('Number of floors'); 
?>:</td>
		<?php } ?>
		<td class="content-lot-parametrs-value">
		<?php 	 
			echo $this->lot["number_of_floors"];	
		?>
		</td>
		</tr>
		<tr>
		<?php 	if($this->lot["number_of_rooms"] != NULL){ ?>
		<td class="content-lot-parametrs-label"><?php echo $translate->translate('Rooms'); 
?>:</td>
		<?php } ?>
		<td class="content-lot-parametrs-value">
		<?php 	 
			echo $this->lot["number_of_rooms"];	
		?>
		</td>
		</tr>
		<tr>
		<?php 	if($this->lot["land_area"] != NULL){ ?>
		<td class="content-lot-parametrs-label"><?php echo $translate->translate('Land area, m2'); 
?>:</td>
		<?php } ?>
		<td class="content-lot-parametrs-value">
		<?php 	 
			echo $this->lot["land_area"];	
		?>
		</td>
		</tr>
		<tr>
		<?php 	if($this->lot["convenience_lv"] != NULL){ ?>
		<td class="content-lot-parametrs-label"><?php echo $translate->translate('Conveniences'); 
?>:</td>
		<?php } ?>
		<td class="content-lot-parametrs-value">
		<?php 	if($this->lang == 'lv') 
				echo $this->lot["convenience_lv"];
			elseif ($this->lang == 'ru')
				echo $this->lot["convenience_ru"];
			elseif ($this->lang == 'en')
				echo $this->lot["convenience_en"];
			elseif ($this->lang == 'ch')
				echo $this->lot["convenience_ch"];
			else
				echo $this->lot["convenience_lv"];
		?>
		</td>
		</tr>
		<tr>
		<td class="content-lot-parametrs-label"></td>
		<td class="content-lot-parametrs-value"></td>
		</tr>
		<tr>
		<td class="content-lot-parametrs-label"><?php echo $translate->translate('Price, €'); ?>:</td>
		<td class="content-lot-parametrs-value">
		<?php 	 
			echo $this->lot["price"];	
		?>
		</td>
		</tr>
		<tr>
		<td class="content-lot-parametrs-button" colspan="2">
			<a id="content-pdf-download-icon" href="<?php echo $this->url(array('module'=>'real_estate', 'controller' => 'index', 'action' => 'pdfrealty', 'realestate_id' => 
$this->realestate_id, 'lang' => $this->lang)); ?>" target="_blank"><?php echo $translate->translate('Save a description as pdf-file'); ?></a>	
		</td>
		</tr>
		<tr>
		<td class="content-lot-parametrs-button" colspan="2">
			<a class="content-button" href="javascript:openFormContacts()"><?php echo $translate->translate('More information'); ?></a></td>
		</tr>
		<tr>
		<td class="content-lot-parametrs-label content-lot-parametrs-contacts"><?php echo $translate->translate('Contact person'); ?>:</td>
		<td class="content-lot-parametrs-value content-lot-parametrs-contacts">
		<?php 	if($this->lang == 'lv') 
				echo $this->lot["brokers_name_lv"];
			elseif ($this->lang == 'ru')
				echo $this->lot["brokers_name_ru"];
			elseif ($this->lang == 'en')
				echo $this->lot["brokers_name_en"];
			elseif ($this->lang == 'ch')
				echo $this->lot["brokers_name_ch"];
			else
				echo $this->lot["brokers_name_lv"];
		?><br><?php echo $this->lot["brokers_phone"];?><br><?php echo $this->lot["brokers_email"];?></td>
		</tr>
		</table>
		</div>
		<div id="content-lot-photos-all">
			<div id="content-lot-photos-main">
				<?php if(isset($this->realestate) and !empty($this->realestate) and $this->realestate != NULL) {       ?>
				<img src="<?php echo $this->webhost;?>/images/main_photos/<?php echo $this->realestate; ?>" border = "1" height = "400" width = "615"  >
				<?php } else {?>
				<img src="<?php echo $this->webhost;?>/images/main_photos/no_photo.jpeg" border = "1" height = "" width = "" >
				<?php } ?>
            </div>
			<div id="content-lot-photos-video-container">
				<h4 class="content-lot-photos-previews-title"><?php echo $translate->translate('Video'); ?></h4>
				<?php if(isset($this->video_file["video_ahref"]) and !empty($this->video_file["video_ahref"]) and $this->video_file["video_ahref"] != NULL) {       ?>
				<div class="content-lot-photos-previews-file"><a href="<?php echo $this->url(array('module'=>'video', 'controller' => 'index', 'action' => 'index', 'realestate_id' => 
$this->realestate_id, 'lang' => $this->lang)); ?>"><img src="<?php echo $this->webhost;?>/vid/video_file.jpeg" border = "1" height = "73" width = "110" ></a></div>
				<div class="content-lot-photos-previews-file"><a href="<?php echo $this->url(array('module'=>'video', 'controller' => 'index', 'action' => 'index', 'realestate_id' => 
$this->realestate_id, 'lang' => $this->lang)); ?>"><img src="<?php echo $this->webhost;?>/vid/video_file.jpeg" border = "1" height = "73" width = "110" ></a></div>
				<?php } else {?>
				<img src="<?php echo $this->webhost;?>/vid/no_video.jpeg" border = "1" height = "73" width = "110" >
				<?php } ?>
			</div>
			<div id="content-lot-photos-images-container">
				<h4 class="content-lot-photos-previews-title"><?php echo $translate->translate('Photos'); ?></h4>
				<?php if($this->first_photo) {       ?>
				<?php foreach($this->galary as $photo) : ?>
					<div class="content-lot-photos-previews-file">
						<a href="<?php echo $this->webhost;?>/photos/<?php echo $photo->photo_file; ?>" rel="lightbox[roadtrip]"  ><img src="<?php echo $this->webhost;?>/photos/l_<?php echo $photo->photo_file; ?>" border = "0" height = "73" width = "110"></a>
					</div>
				<?php endforeach; ?>
				<?php } else {?>
				<img src="<?php echo $this->webhost;?>/images/main_photos/no_photo.jpeg" border = "1" height = "73" width = "110" >
				<?php } ?>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		</div>
	<div class="content-interchapter"></div>
	<div class="content-container">
		<h2><?php echo $translate->translate('Similar offers'); ?></h2>
		<div class="content-chapter-intro">
<p><?php echo $translate->translate('lot_content_chapter_intro'); ?></p>
<p><?php echo $translate->translate('lot_content_chapter_text'); ?></p>
		</div>
		<div class="content-chapter-spectrum-5parts-container">
			<?php foreach($this->similar_offers as $similar) : ?>
			<div class="content-chapter-spectrum-5parts-block">
				<h4 class="content-chapter-spectrum-group-title">
				<a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'index', 'category_id' => $similar->category_id, 'lang' => $lang), 'default', true) ?>">
					<?php 	if($this->lang == 'lv') 
						echo $similar->category_name_lv;
					elseif ($this->lang == 'ru')
						echo $similar->category_name_ru;
					elseif ($this->lang == 'en')
						echo $similar->category_name_en;
					elseif ($this->lang == 'ch')
						echo $similar->category_name_ch;
					else
						echo $similar->category_name_lv;
					?>
				</a>
				</h4>
				<div class="content-chapter-spectrum-lot-photo">
					<a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => $similar->category_id, 'realestate_id' => $similar->realestate_id, 'lang' => $lang), 'default', true) ?>">
						<?php if(isset($similar->main_photo) and !empty($similar->main_photo) and $similar->main_photo != NULL) {       ?>
						<img src="<?php echo $this->webhost;?>/images/main_photos/l_<?php echo $similar->main_photo; ?>" border = "1" height = "127" width = "191"  >
						<?php } else {?>
						<img src="<?php echo $this->webhost;?>/images/main_photos/no_photo.jpeg" border = "1" height = "127" width = "191" >
						<?php } ?>
					</a>
				</div>
				<div class="content-chapter-spectrum-lot-place"><a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => $similar->category_id, 'realestate_id' => $similar->realestate_id, 'lang' => $lang), 'default', true) ?>">
					<?php 	if($this->lang == 'lv') 
						echo $similar->town_name_lv;
					elseif ($this->lang == 'ru')
						echo $similar->town_name_ru;
					elseif ($this->lang == 'en')
						echo $similar->town_name_en;
					elseif ($this->lang == 'ch')
						echo $similar->town_name_ch;
					else
						echo $similar->town_name_lv;
					?></a>
				</div>
				<div class="content-chapter-spectrum-lot-price">
					<?php echo $similar->price;	?> €
				</div>
			</div>
			<?php endforeach; ?>
			<div class="clear"></div>
		</div>
