<?php 
    $lang = Zend_Registry::get('Zend_Lang');
    $translate = Zend_Registry::get('Zend_Translate');
    
    if($lang == 'lv') 
        $title =   $this->lot["title_lv"];
    elseif ($lang == 'ru')
        $title =   $this->lot["title_ru"];
    elseif ($lang == 'en')
        $title =   $this->lot["title_en"];
    elseif ($lang == 'ch')
        $title =   $this->lot["title_ch"];
    else
        $title =   $this->lot["title_lv"];
        
    if($lang == 'lv') 
        $deskription =   $this->lot["deskription_lv"];
    elseif ($lang == 'ru')
        $deskription =   $this->lot["deskription_ru"];
    elseif ($lang == 'en')
        $deskription =   $this->lot["deskription_en"];
    elseif ($lang == 'ch')
        $deskription =   $this->lot["deskription_ch"];
    else
        $deskription =   $this->lot["deskription_lv"];  
        
    if($lang == 'lv') 
        $region_name =   $this->lot["region_name_lv"];
    elseif ($lang == 'ru')
        $region_name =   $this->lot["region_name_ru"];
    elseif ($lang == 'en')
        $region_name =   $this->lot["region_name_en"];
    elseif ($lang == 'ch')
        $region_name =   $this->lot["region_name_ch"];
    else
        $region_name =   $this->lot["region_name_lv"]; 
        
    if($lang == 'lv') 
        $town =   $this->lot["town_name_lv"];
    elseif ($lang == 'ru')
        $town =   $this->lot["town_name_ru"];
    elseif ($lang == 'en')
        $town =   $this->lot["town_name_en"];
    elseif ($lang == 'ch')
        $town =   $this->lot["town_name_ch"];
    else
        $town =   $this->lot["town_name_lv"]; 
        
    if($lang == 'lv') 
        $settlement =   $this->lot["settlement_name_lv"];
    elseif ($lang == 'ru')
        $settlement =   $this->lot["settlement_name_ru"];
    elseif ($lang == 'en')
        $settlement =   $this->lot["settlement_name_en"];
    elseif ($lang == 'ch')
        $settlement =   $this->lot["settlement_name_ch"];
    else
        $settlement =   $this->lot["settlement_name_lv"];       
        
   // echo $this->galary[1]["photo_file"];exit;  
   $asd = '';
   $i = 1;
   foreach($this->galary as $photo){  
        $asd .= '<tr>'; 
        if (($i % 2) == 0)
        $asd .= '</tr>';
        $asd .= '<td>           
            <img src="../public/photos/'. $photo->photo_file .'" width="240" hight="130">
        </td>';      
        $i ++;      
    }

include("../library/MPDF57/mpdf.php");

$mpdf=new mPDF();
$stylesheet = file_get_contents('../public/css/pdf.css');
$mpdf->WriteHTML($stylesheet,1);

$mpdf->WriteHTML('<div class="wrapp">
        <div class="container">
            <div class="header clearfix">
                <table class="table-pdf">
                    <tbody>
                    <tr>
                    <td colspan="2">
                        <a href="" title="" class="logo">
                            <img src="../public/images/site/header-logo-lightbrown.png" alt="">
                        </a>
                    </td>
                    <td>
                        <div class="comp-info">
                            <h3>'.$translate->translate('pdf_text_01').'</h3>
                            <p>'.$translate->translate('pdf_text_02').'</p>
                            <p>'.$translate->translate('pdf_text_03').'</p>
                            <p>'.$translate->translate('pdf_text_04').'</p>
                            <p>'.$translate->translate('pdf_text_05').'</p>
                        </div>
                    </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="big_divider"></div>
            <table class="table-pdf">
                <tbody>
                    <tr>
                        <td><h1>'.$title.'</h1></td>
                    </tr>
                    <tr>
                        <td>
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>'.$translate->translate('adress_pdf').'</p>
                                            <p>'.$translate->translate('area_pdf').'</p>
                                            <p>'.$translate->translate('land_area_pdf').'</p>
                                            <p>'.$translate->translate('price_pdf').'</p>
                                        </td>
                                        <td align="right">
                                            <p>'.$region_name.', '.$town.', '.$settlement.' </p>
                                            <p>'.$this->lot["area"].' '.$translate->translate('m2').'</p>
                                            <p>'.$this->lot["land_area"].' '.$translate->translate('m2').'</p>
                                            <p>'.$this->lot["price"].' EUR</p>                                        
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            '.$deskription.'
                        </td>
                        <td>
                            <table class="contact-table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="contact-person">
                                                <p>'.$translate->translate('Contact person').':</p>
                                                <p>'.$this->lot['brokers_name_lv'].'</p>
                                                <p>Тел.:'.$this->lot['brokers_phone'].'</p>
                                                <p>'.$this->lot['brokers_email'].'</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="right">
                                <img src="../public/images/main_photos/'.$this->lot['main_photo'].'" width="240" hight="130"alt="">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="devider"></div>
            <div class="map"><img 
src="http://maps.googleapis.com/maps/api/staticmap?center='.$this->lot['address_for_map'].'&zoom=14&size=850x290&maptype=roadmap&markers=color:red%7Ccolor:red%7Clabel:C%7C'.$this->lot['latitude'].','.
$this->lot['longitude'].'&sensor=false"> </div>
        </div>
    </div>
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <div class="wrapp">
        <div class="container">
            <div class="header clearfix">
                <table class="table-pdf">
                    <tbody>
                    <tr>
                    <td colspan="">
                        <a href="" title="" class="logo">
                            <img src="../public/images/site/header-logo-lightbrown.png" alt="">
                        </a>
                    </td>
                    <td>
                        <div class="comp-info">
                            <h3>'.$translate->translate('pdf_text_01').'</h3>
                            <p>'.$translate->translate('pdf_text_02').'</p>
                            <p>'.$translate->translate('pdf_text_03').'</p>
                            <p>'.$translate->translate('pdf_text_04').'</p>
                            <p>'.$translate->translate('pdf_text_05').'</p>
                        </div>
                    </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="big_divider"></div>
                <table class="table-pdf table-image">       
                    <tbody>  
                            '.$asd.'      
                    </tbody>
                </table>
            <div class="devider"></div>
        </div>
    </div>',2);
$mpdf->Output('realty_'.$this->lot['realestate_id'].'.pdf','D');

?>