<?php 
    $lang = Zend_Registry::get('Zend_Lang'); 
    $translate = Zend_Registry::get('Zend_Translate');
    $filter = new Zend_Filter_StringTrim();
          
    foreach($this->paginator as $realestateobject) : 
        if($lang == 'lv') { 
		?> 
        <div class="content-list-block">
            <div class="content-list-photo">
        <?php  if($realestateobject->password) { ?>
                    <a href="#" class="protected_photo">
        <?php } else { ?>
            <a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => $realestateobject->category_id, 'realestate_id' => 
$realestateobject->realestate_id, 'lang' => 'lv'), 'default', true) ?>">
        <?php } ?> 
            
			<?php if($realestateobject->main_photo) { ?>
			<img src="<?php echo $this->host;?>/images/main_photos/l_<?php echo $realestateobject->main_photo; ?>" >
			<?php } else {?>
				<img src="<?php echo $this->webhost;?>/images/main_photos/no_photo.jpeg" border = "1" height = "" width = "" >
				<?php } ?>
		<?php   if($realestateobject->password) { ?>
            <span class="content-list-photo-lock"></span>
        <?php } ?>		
			</a>
			</div>
			
            <div class="content-list-group"><?php echo $realestateobject->category_name_lv; ?></div>
    <table class="content-list-title" cellpadding="0" cellspacing="0">
        <tr>
            <td>   
                <?php  if($realestateobject->password) { ?>
                    <span class="content-list-lock-text">
						<?php echo $translate->translate('lock_text'); ?>
					</span><br>
                        
                <form class="lock_form" action="<?php $this->form->getAction()?>" method="post">      
                    <input name="category_id" type="hidden" value="<?php echo $realestateobject->category_id ?>" class="content-list-lock-input">
                    <input name="realestate_id" type="hidden" value="<?php echo $realestateobject->realestate_id ?>" class="content-list-lock-input">
                    <?php echo $this->form->password; ?>     
                    <?php echo $this->form->submit; ?>        
                </form>
                                <a href="#" class="protected">
                    <?php } else { ?>
                        <a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => $realestateobject->category_id, 'realestate_id' => 
            $realestateobject->realestate_id, 'lang' => 'lv'), 'default', true) ?>">
                    <?php } ?>
                            <?php echo $realestateobject->title_lv; ?></a>       
            </td>
        </tr>
    </table>

        <?php  if($realestateobject->password) { ?>
                    <div class="content-list-lock"></div>
        <?php } else {?>
                    <div class="content-list-price"><?php echo $realestateobject->price; ?></div>
        <?php } ?> 
        
        </div>
		<?php		
        } elseif ($lang == 'ru'){
        ?> 
        <div class="content-list-block">
            <div class="content-list-photo">
        <?php  if($realestateobject->password) { ?>
                    <a href="#" class="protected_photo">
        <?php } else { ?>
            <a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => $realestateobject->category_id, 'realestate_id' => 
$realestateobject->realestate_id, 'lang' => 'ru'), 'default', true) ?>">
        <?php } ?> 
            
            <?php if($realestateobject->main_photo) { ?>
            <img src="<?php echo $this->host;?>/images/main_photos/l_<?php echo $realestateobject->main_photo; ?>" >
            <?php } else {?>
                <img src="<?php echo $this->webhost;?>/images/main_photos/no_photo.jpeg" border = "1" height = "" width = "" >
                <?php } ?>
        <?php   if($realestateobject->password) { ?>
            <span class="content-list-photo-lock"></span>
        <?php } ?>      
            </a>
            </div>
            
            <div class="content-list-group"><?php echo $realestateobject->category_name_ru; ?></div>
    <table class="content-list-title" cellpadding="0" cellspacing="0">
        <tr>
            <td>   
                <?php  if($realestateobject->password) { ?>
                    <span class="content-list-lock-text">
						<?php echo $translate->translate('lock_text'); ?>
					</span><br>
                        
                <form class="lock_form" action="<?php $this->form->getAction()?>" method="post">      
                    <input name="category_id" type="hidden" value="<?php echo $realestateobject->category_id ?>" class="content-list-lock-input">
                    <input name="realestate_id" type="hidden" value="<?php echo $realestateobject->realestate_id ?>" class="content-list-lock-input">
                    <?php echo $this->form->password; ?>     
                    <?php echo $this->form->submit; ?>        
                </form>
                                <a href="#" class="protected">
                    <?php } else { ?>
                        <a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => $realestateobject->category_id, 'realestate_id' => 
            $realestateobject->realestate_id, 'lang' => 'ru'), 'default', true) ?>">
                    <?php } ?>
                            <?php echo $realestateobject->title_ru; ?></a>       
            </td>
        </tr>
    </table>

        <?php  if($realestateobject->password) { ?>
                    <div class="content-list-lock"></div>
        <?php } else {?>
                    <div class="content-list-price"><?php echo $realestateobject->price; ?></div>
        <?php } ?> 
        
        </div>
		<?php	
        } elseif ($lang == 'en'){
		?> 
        <div class="content-list-block">
            <div class="content-list-photo">
        <?php  if($realestateobject->password) { ?>
                    <a href="#" class="protected_photo">
        <?php } else { ?>
            <a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => $realestateobject->category_id, 'realestate_id' => 
$realestateobject->realestate_id, 'lang' => 'en'), 'default', true) ?>">
        <?php } ?> 
            
            <?php if($realestateobject->main_photo) { ?>
            <img src="<?php echo $this->host;?>/images/main_photos/l_<?php echo $realestateobject->main_photo; ?>" >
            <?php } else {?>
                <img src="<?php echo $this->webhost;?>/images/main_photos/no_photo.jpeg" border = "1" height = "" width = "" >
                <?php } ?>
        <?php   if($realestateobject->password) { ?>
            <span class="content-list-photo-lock"></span>
        <?php } ?>      
            </a>
            </div>
            
            <div class="content-list-group"><?php echo $realestateobject->category_name_en; ?></div>
    <table class="content-list-title" cellpadding="0" cellspacing="0">
        <tr>
            <td>   
                <?php  if($realestateobject->password) { ?>
                    <span class="content-list-lock-text">
						<?php echo $translate->translate('lock_text'); ?>
					</span><br>
                        
                <form class="lock_form" action="<?php $this->form->getAction()?>" method="post">      
                    <input name="category_id" type="hidden" value="<?php echo $realestateobject->category_id ?>" class="content-list-lock-input">
                    <input name="realestate_id" type="hidden" value="<?php echo $realestateobject->realestate_id ?>" class="content-list-lock-input">
                    <?php echo $this->form->password; ?>     
                    <?php echo $this->form->submit; ?>        
                </form>
                                <a href="#" class="protected">
                    <?php } else { ?>
                        <a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => $realestateobject->category_id, 'realestate_id' => 
            $realestateobject->realestate_id, 'lang' => 'en'), 'default', true) ?>">
                    <?php } ?>
                            <?php echo $realestateobject->title_en; ?></a>       
            </td>
        </tr>
    </table>

        <?php  if($realestateobject->password) { ?>
                    <div class="content-list-lock"></div>
        <?php } else {?>
                    <div class="content-list-price"><?php echo $realestateobject->price; ?></div>
        <?php } ?> 
        
        </div>
		<?php	  
        } elseif ($lang == 'ch'){
        ?> 
        <div class="content-list-block">
            <div class="content-list-photo">
        <?php  if($realestateobject->password) { ?>
                    <a href="#" class="protected_photo">
        <?php } else { ?>
            <a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => $realestateobject->category_id, 'realestate_id' => 
$realestateobject->realestate_id, 'lang' => 'ch'), 'default', true) ?>">
        <?php } ?> 
            
            <?php if($realestateobject->main_photo) { ?>
            <img src="<?php echo $this->host;?>/images/main_photos/l_<?php echo $realestateobject->main_photo; ?>" >
            <?php } else {?>
                <img src="<?php echo $this->webhost;?>/images/main_photos/no_photo.jpeg" border = "1" height = "" width = "" >
                <?php } ?>
        <?php   if($realestateobject->password) { ?>
            <span class="content-list-photo-lock"></span>
        <?php } ?>      
            </a>
            </div>
            
            <div class="content-list-group"><?php echo $realestateobject->category_name_ch; ?></div>
     <table class="content-list-title" cellpadding="0" cellspacing="0">
        <tr>
            <td>   
                <?php  if($realestateobject->password) { ?>
                    <span class="content-list-lock-text">
						<?php echo $translate->translate('lock_text'); ?>
					</span><br>
                        
                <form class="lock_form" action="<?php $this->form->getAction()?>" method="post">      
                    <input name="category_id" type="hidden" value="<?php echo $realestateobject->category_id ?>" class="content-list-lock-input">
                    <input name="realestate_id" type="hidden" value="<?php echo $realestateobject->realestate_id ?>" class="content-list-lock-input">
                    <?php echo $this->form->password; ?>     
                    <?php echo $this->form->submit; ?>        
                </form>
                                <a href="#" class="protected">
                    <?php } else { ?>
                        <a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => $realestateobject->category_id, 'realestate_id' => 
            $realestateobject->realestate_id, 'lang' => 'ch'), 'default', true) ?>">
                    <?php } ?>
                            <?php echo $realestateobject->title_ch; ?></a>       
            </td>
        </tr>
    </table>

        <?php  if($realestateobject->password) { ?>
                    <div class="content-list-lock"></div>
        <?php } else {?>
                    <div class="content-list-price"><?php echo $realestateobject->price; ?></div>
        <?php } ?> 
        
        </div>
		<?php	        
        } else {
		?> 
        <div class="content-list-block">
            <div class="content-list-photo">
        <?php  if($realestateobject->password) { ?>
                    <a href="#" class="protected_photo">
        <?php } else { ?>
            <a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => $realestateobject->category_id, 'realestate_id' => 
$realestateobject->realestate_id, 'lang' => 'lv'), 'default', true) ?>">
        <?php } ?> 
            
            <?php if($realestateobject->main_photo) { ?>
            <img src="<?php echo $this->host;?>/images/main_photos/l_<?php echo $realestateobject->main_photo; ?>" >
            <?php } else {?>
                <img src="<?php echo $this->webhost;?>/images/main_photos/no_photo.jpeg" border = "1" height = "" width = "" >
                <?php } ?>
        <?php   if($realestateobject->password) { ?>
            <span class="content-list-photo-lock"></span>
        <?php } ?>      
            </a>
            </div>
            
            <div class="content-list-group"><?php echo $realestateobject->category_name_lv; ?></div>
     <table class="content-list-title" cellpadding="0" cellspacing="0">
        <tr>
            <td>   
                <?php  if($realestateobject->password) { ?>
                    <span class="content-list-lock-text">
						<?php echo $translate->translate('lock_text'); ?>
					</span><br>
                        
                <form class="lock_form" action="<?php $this->form->getAction()?>" method="post">      
                    <input name="category_id" type="hidden" value="<?php echo $realestateobject->category_id ?>" class="content-list-lock-input">
                    <input name="realestate_id" type="hidden" value="<?php echo $realestateobject->realestate_id ?>" class="content-list-lock-input">
                    <?php echo $this->form->password; ?>     
                    <?php echo $this->form->submit; ?>        
                </form>
                                <a href="#" class="protected">
                    <?php } else { ?>
                        <a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => $realestateobject->category_id, 'realestate_id' => 
            $realestateobject->realestate_id, 'lang' => 'lv'), 'default', true) ?>">
                    <?php } ?>
                            <?php echo $realestateobject->title_lv; ?></a>       
            </td>
        </tr>
    </table>

        <?php  if($realestateobject->password) { ?>
                    <div class="content-list-lock"></div>
        <?php } else {?>
                    <div class="content-list-price"><?php echo $realestateobject->price; ?></div>
        <?php } ?> 
        
        </div>
		<?php	
        } 
    endforeach; 
?>	
<div class="clear"></div>
                <?php echo $this->paginationControl($this->paginator, 'Elastic', 'controls.phtml'); ?>				