<?php foreach ($this->videos as $video) { ?>
    <div class="slick-slide">
        <a class="video-link" data-fancybox="reviews-video" href="<?php echo $video['html_code']; ?>"><img src="<?php echo $this->host;?>/media/photos/videolessons/small_<?php echo $video['image']; ?>" alt="<?php echo $video['alt']; ?>" />
        
        <img src="/img/play.png" alt="" class="play-video">
        </a>          
    </div>
<?php } ?>