<?php foreach ($this->videos as $video) { ?>
    <div class="col-sm-6 text-center" style="padding-bottom: 30px;">
        <a class="video-link" style="display: block; position: relative; padding-bottom: 5px;" data-fancybox="reviews-video" href="<?php echo $video['html_code']; ?>"><img src="<?php echo $this->host;?>/media/photos/videolessons/small_<?php echo $video['image']; ?>" style=" max-width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto;" alt="<?php echo $video['alt']; ?>" />
        <img src="/img/play.png" alt="" class="play-video" style="display: block!important;">
        </a>
    		<p class="text-center"><?php echo $video['video_title']; ?></p>
    </div>
<?php } ?>