<?php 
    echo $this->headTitle("Загрузка фото"); 
?> 
<div class="header"> 
    <h1 class="page-title">Документы</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/admindocuments">Документы</a> </li>
        <li class="active">Загрузка фото</li>
    </ul>
</div>
<div class="row">
  <div class="col-md-5">
    <br>
    <div class="panel panel-default">   
        <p class="panel-heading no-collapse">Загрузка фото</p>
        <div class="panel-body">
            <?php echo $this->form; ?>
        </div>
    </div>
</div>
</div>
	