<?php
    $this->title = "Удаление фото";
    $this->headTitle($this->title);
?>
</br></br>
<h3>Вы действительно хотите удалить фото
<img src="<?php echo $this->host;?>/media/photos/pages/small_<?php echo $this->photo['photo_file']; ?>" border = "1" height = "140" width = "190" > ?
</h3>
<form action="<?php echo $this->url(array('action'=>'deletephotoforpage')); ?>" method="post">
    <div>
        <input type="hidden" name="photo_id" value="<?php echo $this->photo['photo_id']; ?>" />
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true" name="del" value="No">Нет</button>
        <button class="btn btn-danger" data-dismiss="modal" name="del" value="yes">Удалить</button> 
    </div>
</form>