<?php echo $this->headTitle("Редактирование фото"); ?>
<div class="header"> 
    <h1 class="page-title">Документы</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/admindocuments">Документы</a> </li>
        <li><a href="/admin/admindocumentsphoto/index">Фото</a> </li>
        <li class="active">Редактирование фото</li>
    </ul>
</div>

    <table border="0" width="60%" align="center">	
	    <tr>
            <td>
		        <img src="<?php echo $this->webhost;?>/media/photos/pages/small_<?php echo $this->photo["photo_file"]; ?>" border = "0" height = "" WIDTH = "" >
            </td>
        </tr> 
		<tr>
            <td><p align = "center" ><font size="4" color="red" face="Arial"><?php echo $this->errMessage; ?></font></p>
                <div>
                    <?php echo $this->form; ?>
                </div>
            </td>
        </tr> 
    </table>  