<?php
    echo $this->headTitle("Фото для страницы \"Документы\"");
    $filter = new Zend_Filter_StringTrim();
?>

<div class="header"> 
    <h1 class="page-title">Документы</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/admindocuments">Документы</a> </li>
        <li class="active">Фото для страницы "Документы"</li>
    </ul>
</div>

</br><a class="btn btn-primary" href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'admindocumentsphoto', 'action'=>'addphotoforpage'));?>" title="">Добавить фото для страницы</a> 

<table border="0" class="table table-hover">
    <thead>
    <tr>
        <th width="25%"><?php echo "Фото"; ?></th>
        <th width="30%"><?php echo "Адрес для редактора<br>( скопировать и вставить )"; ?></th>
        <th width="15%"><?php echo "Вставить ссылку"; ?></th>
        <th width="15%"><?php echo "Редактировать фото"; ?></th>
        <th width="15%"><?php echo "Удалить фото"; ?></th>     
    </tr>
    </thead>
	<?php foreach($this->paginator as $photo) : ?>
    <tr>
	    <td>
            <img src="<?php echo $this->host;?>/media/photos/pages/small_<?php echo $photo->photo_file; ?>" border = "1" height = "140" WIDTH = "190" >
        </td>
		<td>
            <?php echo $this->host;?>/media/photos/pages/big_<?php echo $photo->photo_file; ?>
        </td>
        <td align="center"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'admindocuments', 'action'=>'index', 'documents_id' => $this->documents_id));?>"><i 
class="fa fa-picture-o"></i></a></td>
		<td align="center"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'admindocumentsphoto', 'action'=>'editphotoforpage', 'photo_id' => 
$photo->photo_id));?>"><i class="fa fa-pencil"></i></a></td>
		
        <td align="center"><a href="<?php echo $this->url(array('module'=>'admin', 'controller' => 'admindocumentsphoto', 'action' => 'deletephotoforpage', 'photo_id' => 
$photo->photo_id)); 
?>"><i class="fa fa-trash-o"></i></a></td>
    </tr>
	<?php endforeach; ?>
</table>
</br>
<?php echo $this->paginationControl($this->paginator, 'Elastic', 'controls.phtml'); ?>
