<?php 
    echo $this->headTitle("Редактировать продукт"); 

    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tinymce/jscripts/tiny_mce/tiny_mce.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );
    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tiny_mce_init.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );
    echo $this->inlineScript();
?> 
<div class=""> 
    <h1 class="page-title">Продукты</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/adminproducts">Продукты</a> </li> &gt;&gt;
        <li class="active"><?php echo $this->product_name; ?></li>
    </ul>
</div>
<div class="">
<div class="col-md-10">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-general" data-toggle="tab">Данные</a></li>
        <li><a href="#tab-attribute" data-toggle="tab">Атрибуты</a></li>
		<li><a href="#tab-option" data-toggle="tab">Опции</a></li>
     <!--   <li><a href="#tab-image" data-toggle="tab">Изображения</a></li> -->
    </ul>
  <!--  <p align = "center" ><font size="3" color="" face="Arial"><?php echo $this->errMessage; ?></p> -->
	<!--<form action="/admin/adminproducts/editproduct" method="post" enctype = "multipart/form-data">-->
	<form action="<?php $this->form->getAction()?>" method="post" enctype = "multipart/form-data">
    <div id="myTabContent" class="tab-content">
		
        <div class="tab-pane active in" id="tab-general">
			<table id="" class="">
			<tr>
                <td>
			<input type="hidden" name="product_id" value="<?php echo $this->product_id; ?>" />
			<label for="title"><strong>Категории: </strong></label>
			<?php echo $this->form->category_id; ?>
        <!--    <select type="select" name="category_id" class="span5" >
                <?php foreach ($this->categories as $category): ?>
                <?php if($this->product['category_id'] == $category['category_id']) { ?>
                    <option value="<?php echo $category['category_id']; ?>" selected="selected" ><?php echo $category['category_name']; ?></option>
                <?php } else { ?>
                <option value="<?php echo $category['category_id']; ?>" ><?php echo $category['category_name']; ?></option>
                <?php } ?>
                <?php endforeach; ?>
            </select> -->
				</td>
			</tr>
			<?php if($this->form->manufacturer_id) { ?>
			<tr>
				<td>
					<label for="title"><strong>Производители: </strong></label>	
					<?php echo $this->form->manufacturer_id; ?>
				</td>
			</tr>
			<?php } ?>
			<tr>	
				<td>
					<label for="title"><strong>Порядок сортировки: </strong></label>
					<?php echo $this->form->sort_order; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>Название товара: </strong></label>
					<?php echo $this->form->product_model; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>SEO Url: </strong></label>
					<?php echo $this->form->url_seo; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>Артикул: </strong></label>
					<?php echo $this->form->vendor_code; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>Цена за штуку: </strong></label>
					<?php echo $this->form->price; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>Цена за упаковку: </strong></label>
					<?php echo $this->form->price_per_unit; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>Кол-во в упаковке: </strong></label>
					<?php echo $this->form->amount; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>Наличие товара: </strong></label>
					<?php echo $this->form->status_in_out_of_stock; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>Новинка: </strong></label>
					<?php echo $this->form->latest; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>Специальное предложение: </strong></label>
					<?php echo $this->form->special; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>Рекомендуемые товары: </strong></label>
					<?php echo $this->form->recommended; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>title: </strong></label>
					<?php echo $this->form->header_tags_title; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>description: </strong></label>
					<?php echo $this->form->header_tags_description; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>keywords: </strong></label>
					<?php echo $this->form->header_tags_keywords; ?>
				</td>
			</tr>
			<tr>	
				<td> 
					<label for="title"><strong>Краткое описание продукта: </strong></label>
					<?php echo $this->form->intro_text; ?>
				</td>
			</tr>
			<tr>	
				<td> 
					<label for="title"><strong>Описание продукта: </strong></label>
					<?php echo $this->form->product_description; ?>
				</td>
			</tr>
			<tr>	
				<td> 
					<label for="title"><strong>Характеристики: </strong></label>
					<?php echo $this->form->product_characteristics; ?>
				</td>
			</tr>
			<tr>	
				<td> 
					<label for="title"><strong>Видео: </strong></label>
					<?php echo $this->form->product_configurations; ?>
				</td>
			</tr>
			<tr>	
				<td> 
					<label for="title"><strong>Рекомендации по установке карниза: </strong></label>
					<?php echo $this->form->product_overlook; ?>
				</td>
			</tr>
			<tr>
                <td>
                    <?php if($this->product['image']) { ?>
						<div id="response_product_image">      
							<img src="<?php echo $this->host;?>/media/photos/products/small_<?php 
							echo $this->product['image']; ?>" border = "0" height = "100" WIDTH = "140" ><br><br>  
							<div id="status_remove_product_image">
								<a href="#" class="status_on remove_product_image btn btn-small btn-danger" data-status-product-image="<?php echo $this->product_id; ?>" >Удалить</a>
							</div>
						</div>
						<?php } else { ?>
							<img src="<?php echo $this->host;?>/media/photos/no_photo.jpeg" border = "0" height = "100" WIDTH = "140" >
						<?php } ?> 
                </td>
            </tr> 
			<tr>	
				<td>
					<?php echo $this->form->image; ?>
				</td>
			</tr>
			</table>
        </div>
        <div class="tab-pane fade" id="tab-attribute">
			<div>
                    <a class="btn btn-primary pull-right" id="add" ><i class="btn-icon-only icon-plus-sign"></i>Добавить атрибут</a>
                </div> 
                <div id="DynamicExtraField">
                    <table id="attribute" class="table table-hover">
                        <?php $attribute_row = 0; ?>
                    <?php foreach ($this->products_attributes as $product_attribute) { ?>
                        <tbody id="attribute-row<?php echo $attribute_row; ?>">
                        <tr>
                            <td>
                            <select type="select" name="product_attribute[<?php echo $attribute_row; ?>][attribute_id]" class="span5" >
                            <?php foreach ($this->attributes as $attribute): ?>
                                <?php if($product_attribute['attribute_name'] == $attribute['attribute_name']) { ?>
                                <option value="<?php echo $attribute['attribute_id']; ?>" selected="selected" ><?php echo $attribute['attribute_name']; ?></option>
                                <?php } else { ?>
                                <option value="<?php echo $attribute['attribute_id']; ?>" ><?php echo $attribute['attribute_name']; ?></option>
                                <?php } ?>
                            <?php endforeach; ?>
                            </select>
                            <input type="hidden" name="product_attribute[<?php echo $attribute_row; ?>][attribute_id]" value="<?php echo $product_attribute['attribute_id']; ?>" />
                            <input type="hidden" name="product_attribute[<?php echo $attribute_row; ?>][product_id]" value="<?php echo $product_attribute['product_id']; ?>" /></td>
                            <td align="left">
                            <input type="text" name="product_attribute[<?php echo $attribute_row; ?>][text]" class='span8' value="<?php echo $product_attribute['text']; ?>" />
                         <!--   <textarea name="product_attribute[<?php echo $attribute_row; ?>][text]" class='span6' cols="60" rows="4">
                                <?php echo isset($product_attribute['text']) ?  $product_attribute['text'] : ''; ?>
                            </textarea> -->
                            </td>
                            <td>
                                <div>
                                    <a href="#"  
                                        data-status-product-del="<?php echo $product_attribute['product_id']; ?>"
                                        data-status-attribute-del="<?php echo $product_attribute['attribute_id']; ?>"
                                        data-status-attribute-row="<?php echo $attribute_row; ?>"
                                        class="product_attribute_del btn btn-danger pull-left" >Удалить</a>
                                </div>
                            </td>
                        </tr>
                        <tbody>
                    <?php $attribute_row++; ?>
                    <?php } ?>
                    </table>
                </div>
                
        </div>
        <div class="tab-pane fade" id="tab-option">	
			<div id="vtab-option" class="vtabs">
				<?php $option_row = 0; ?>
				<?php foreach ($this->product_options as $product_option) { ?>
				<a href="#tab-option-<?php echo $option_row; ?>" id="option-<?php echo $option_row; ?>"><?php echo $product_option['name']; ?>&nbsp;<img src="/images/admin/delete.png" alt="" onclick="$('#option-<?php echo $option_row; ?>').remove(); $('#tab-option-<?php echo $option_row; ?>').remove(); $('#vtabs a:first').trigger('click'); return false;" /></a>
				<?php $option_row++; ?>
				<?php } ?>
				<span id="option-addadd">
					<input name="option" value="" style="width: 130px;" />
				</span>
			</div>
				<?php $option_row = 0; ?>
          <?php $option_value_row = 0; ?>
          <?php foreach ($this->product_options as $product_option) { ?>
          <div id="tab-option-<?php echo $option_row; ?>" class="vtabs-content">
            <input type="hidden" name="product_option[<?php echo $option_row; ?>][product_option_id]" value="<?php echo $product_option['product_option_id']; ?>" />
            <input type="hidden" name="product_option[<?php echo $option_row; ?>][name]" value="<?php echo $product_option['name']; ?>" />
            <input type="hidden" name="product_option[<?php echo $option_row; ?>][option_id]" value="<?php echo $product_option['option_id']; ?>" />
            <input type="hidden" name="product_option[<?php echo $option_row; ?>][type]" value="<?php echo $product_option['type']; ?>" />
           
            <?php if ($product_option['type'] == 'select' || $product_option['type'] == 'radio' || $product_option['type'] == 'checkbox' || $product_option['type'] == 'image') { ?>
            <table id="option-value<?php echo $option_row; ?>" class="list">
              <thead>
                <tr>
                  <td class="left">Значение опции</td>
                  <td class="right">Цена</td>
                  <td></td>
                </tr>
              </thead>
              <?php foreach ($product_option['product_option_value'] as $product_option_value) { ?>
              <tbody id="option-value-row<?php echo $option_value_row; ?>">
                <tr>
                  <td class="left"><select name="product_option[<?php echo $option_row; ?>][product_option_value][<?php echo $option_value_row; ?>][option_value_id]">
                      <?php if (isset($this->option_values[$product_option['option_id']])) { ?>
                      <?php foreach ($this->option_values[$product_option['option_id']] as $option_value) { ?>
                      <?php if ($option_value['option_value_id'] == $product_option_value['option_value_id']) { ?>
                      <option value="<?php echo $option_value['option_value_id']; ?>" selected="selected"><?php echo $option_value['name']; ?></option>
                      <?php } else { ?>
                      <option value="<?php echo $option_value['option_value_id']; ?>"><?php echo $option_value['name']; ?></option>
                      <?php } ?>
                      <?php } ?>
                      <?php } ?>
                    </select>
                    <input type="hidden" name="product_option[<?php echo $option_row; ?>][product_option_value][<?php echo $option_value_row; ?>][product_option_value_id]" value="<?php echo $product_option_value['product_option_value_id']; ?>" /></td>
                
                
                  <td class="right"><select name="product_option[<?php echo $option_row; ?>][product_option_value][<?php echo $option_value_row; ?>][price_prefix]">
                      <?php if ($product_option_value['price_prefix'] == '+') { ?>
                      <option value="+" selected="selected">+</option>
                      <?php } else { ?>
                      <option value="+">+</option>
                      <?php } ?>
                      <?php if ($product_option_value['price_prefix'] == '-') { ?>
                      <option value="-" selected="selected">-</option>
                      <?php } else { ?>
                      <option value="-">-</option>
                      <?php } ?>
                    </select>
                    <input type="text" name="product_option[<?php echo $option_row; ?>][product_option_value][<?php echo $option_value_row; ?>][price]" value="<?php echo $product_option_value['price']; ?>" size="5" /></td>
                 
               
                  <td class="left"><a onclick="$('#option-value-row<?php echo $option_value_row; ?>').remove();" class="button">Удалить</a></td>
                </tr>
              </tbody>
              <?php $option_value_row++; ?>
              <?php } ?>
              <tfoot>
                <tr>
                  <td colspan="2"></td>
                  <td class="left"><a onclick="addOptionValue('<?php echo $option_row; ?>');" class="button">Добавить значение опции</a></td>
                </tr>
              </tfoot>
            </table>
            <select id="option-values<?php echo $option_row; ?>" style="display: none;">
              <?php if (isset($this->option_values[$product_option['option_id']])) { ?>
              <?php foreach ($this->option_values[$product_option['option_id']] as $option_value) { ?>
              <option value="<?php echo $option_value['option_value_id']; ?>"><?php echo $option_value['name']; ?></option>
              <?php } ?>
              <?php } ?>
            </select>
            <?php } ?>
          </div>
          <?php $option_row++; ?>
          <?php } ?>
			</div>
		
			
	</div>
		<div>
		<?php echo $this->form->submit; ?>
		</div>
            
    </div>
	</form>
<br>
</div>

<script>
$(document).ready(function() {
var attribute_row = <?php echo $attribute_row; ?>;
var product_id = <?php echo $this->product_id; ?>;

    $('#add').click(function(){
        var html = '';
        html += '<table id="attribute" class="table table-hover"><tbody id="attribute-row' + attribute_row + '"><tr><td>';
        html += '<select type="select" name="product_attribute[' + attribute_row + '][attribute_id]" class="span5" >';
        <?php foreach ($this->attributes as $attribute): ?>
        html += '      <option value="<?php echo $attribute['attribute_id'] ?>"><?php echo $attribute['attribute_name'] ?></option>';
        <?php endforeach; ?>
        html += '</select><input type="hidden" name="product_attribute[' + attribute_row + '][product_id]" value="'+ product_id +'"/></td>';
        html += '<td><input type="text" name="product_attribute[' + attribute_row + '][text]" class="span8" /></td>';
    //    html += '<td><textarea name="product_attribute[' + attribute_row + '][text]" class="span6" cols="60" rows="4"></textarea></td>'; 
        html += '<td><a onclick="$(\'#attribute-row' + attribute_row + '\').remove();" class="btn btn-danger pull-left">Удалить</a></td><tr></tbody></table>';
   
        $('#DynamicExtraField').append(html);
        attribute_row++;    
    });
	
	$.widget('custom.catcomplete', $.ui.autocomplete, {
		_renderMenu: function(ul, items) {
			var self = this, currentCategory = '';
			
			$.each(items, function(index, item) {
			//	if (item.category != currentCategory) {
				//	ul.append('<li class="ui-autocomplete-category">' + item.category + '</li>');
					
				//	currentCategory = item.category;
			//	}
				
				self._renderItem(ul, item);
			});
		}
	});
	
	$( function() {
		var availableTags = [
		  <?php   foreach($this->options as $option) { ?>
		  "<?php echo $option['name']; ?>",
		  <?php } ?>
		];
	//	alert(availableTags); 
		var option_row = <?php echo $option_row; ?>;
		$('input[name=\'option\']').catcomplete({
	//	  source: availableTags,
		delay: 500,
		source: function(request, response) {
			$.ajax({
				url: '/admin/adminoptions/autocomplete?filter_name=' +  encodeURIComponent(request.term),
				dataType: 'json',
				success: function(json) {
					response($.map(json, function(item) {
						return {
						//	category: item.category,
							label: item.name,
							value: item.option_id,
							type: item.type,
							option_value: item.option_value
						}
					}));
				}
			});
		},   	
			select: function(event, ui) {
					
				html  = '<div id="tab-option-' + option_row + '" class="vtabs-content">';
				html += '	<input type="hidden" name="product_option[' + option_row + '][product_option_id]" value="" />';
				html += '	<input type="hidden" name="product_option[' + option_row + '][name]" value="' + ui.item.label + '" />';
				html += '	<input type="hidden" name="product_option[' + option_row + '][option_id]" value="' + ui.item.value + '" />';
				html += '	<input type="hidden" name="product_option[' + option_row + '][type]" value="' + ui.item.type + '" />';
				
				if (ui.item.type == 'select') {
					html += '  <table id="option-value' + option_row + '" class="list">';
					html += '  	 <thead>'; 
					html += '      <tr>';
					html += '        <td class="left">Значение опции</td>';
					html += '        <td class="right">Цена</td>';
					html += '        <td></td>';
					html += '      </tr>';
					html += '  	 </thead>';
					html += '    <tfoot>';
					html += '      <tr>';
					html += '        <td colspan="2"></td>';
					html += '        <td class="left"><a onclick="addOptionValue(' + option_row + ');" class="btn btn-primary pull-left">Добавить значение опции</a></td>';
					html += '      </tr>';
					html += '    </tfoot>';
					html += '  </table>';
					html += '  <select id="option-values' + option_row + '" style="display: none;">';
			
					for (i = 0; i < ui.item.option_value.length; i++) {
						html += '  <option value="' + ui.item.option_value[i]['option_value_id'] + '">' + ui.item.option_value[i]['name'] + '</option>';
					}

					html += '  </select>';
					html += '</div>';
				}
				$('#tab-option').append(html);
				$('#option-addadd').before('<a href="#tab-option-' + option_row + '" id="option-' + option_row + '">' + ui.item.label + '&nbsp;<img src="/images/admin/delete.png" alt="" onclick="$(\'#option-' + option_row + '\').remove(); $(\'#tab-option-' + option_row + '\').remove(); $(\'#vtab-option a:first\').trigger(\'click\'); return false;" /></a>');
				$('#vtab-option a').tabs();
		
				$('#option-' + option_row).trigger('click');
				option_row++;
				return false;
				
			},
			focus: function(event, ui) {
				return false;
			}
		});
	});
    
});
</script>
<script type="text/javascript"><!--	
var option_value_row = <?php echo $option_value_row; ?>;

function addOptionValue(option_row) {	
	html  = '<tbody id="option-value-row' + option_value_row + '">';
	html += '  <tr>';
	html += '    <td class="left"><select name="product_option[' + option_row + '][product_option_value][' + option_value_row + '][option_value_id]">';
	html += $('#option-values' + option_row).html();
	html += '    </select><input type="hidden" name="product_option[' + option_row + '][product_option_value][' + option_value_row + '][product_option_value_id]" value="" /></td>';
	html += '    <td class="right"><select name="product_option[' + option_row + '][product_option_value][' + option_value_row + '][price_prefix]">';
	html += '      <option value="+">+</option>';
	html += '      <option value="-">-</option>';
	html += '    </select>';
	html += '    <input type="text" name="product_option[' + option_row + '][product_option_value][' + option_value_row + '][price]" value="" size="5" /></td>';
	html += '    <td class="left"><a onclick="$(\'#option-value-row' + option_value_row + '\').remove();" class="button">Удалить</a></td>';
	html += '  </tr>';
	html += '</tbody>';
	
	$('#option-value' + option_row + ' tfoot').before(html);

	option_value_row++;
}
//--></script>
