<?php 
    echo $this->headTitle("Добавить продукт"); 

    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tinymce/jscripts/tiny_mce/tiny_mce.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );
    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tiny_mce_init.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );
    echo $this->inlineScript();
?> 
<div class=""> 
    <h1 class="page-title">Продукты</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/adminproducts">Продукты</a> </li> &gt;&gt;
		<li class="active">добавление продукта</li>
    </ul>
</div>
<div class="">
<div class="col-md-10">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-general" data-toggle="tab">Данные</a></li>
        <li><a href="#tab-attribute" data-toggle="tab">Атрибуты</a></li>
		<li><a href="#tab-option" data-toggle="tab">Опции</a></li>
    <!--    <li><a href="#tab-image" data-toggle="tab">Изображения</a></li> -->
    </ul>
    <p align = "center" ><font size="3" color="" face="Arial"><?php echo $this->errMessage; ?></p> 
	<form action="<?php $this->form->getAction()?>" method="post" enctype = "multipart/form-data">
    <div id="myTabContent" class="tab-content">
		
        <div class="tab-pane active in" id="tab-general">
			<table id="" class="">
			<tr>
                <td>
					<?php echo $this->form->product_id; ?>
					<label for="title"><strong>Категории: </strong></label>
					<?php echo $this->form->category_id; ?>
				</td>
			</tr>
			<?php if($this->form->manufacturer_id) { ?>
			<tr>
				<td>
					<label for="title"><strong>Производители: </strong></label>	
					<?php echo $this->form->manufacturer_id; ?>
				</td>
			</tr>
			<?php } ?>
			<tr>	
				<td>
					<label for="title"><strong>Порядок сортировки: </strong></label>
					<?php echo $this->form->sort_order; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>Название товара: </strong></label>
					<?php echo $this->form->product_model; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>SEO Url: </strong></label>
					<?php echo $this->form->url_seo; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>Артикул: </strong></label>
					<?php echo $this->form->vendor_code; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>Цена за штуку: </strong></label>
					<?php echo $this->form->price; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>Цена за упаковку: </strong></label>
					<?php echo $this->form->price_per_unit; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>Единица измерения цены: </strong></label>
					<?php echo $this->form->price_unit; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>Кол-во в упаковке: </strong></label>
					<?php echo $this->form->amount; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>Наличие товара: </strong></label>
					<?php echo $this->form->status_in_out_of_stock; ?>
				</td>
			</tr>
		<!--	<tr>	
				<td>
					<label for="title"><strong>Наличие на складе в Ростове: </strong></label>
					<?php echo $this->form->stock_availability_01; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>Наличие на складе в Краснодаре: </strong></label>
					<?php echo $this->form->stock_availability_02; ?>
				</td>
			</tr>-->
			<tr>	
				<td>
					<label for="title"><strong>Новинка: </strong></label>
					<?php echo $this->form->latest; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>Специальное предложение: </strong></label>
					<?php echo $this->form->special; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>Рекомендуемые товары: </strong></label>
					<?php echo $this->form->recommended; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>title: </strong></label>
					<?php echo $this->form->header_tags_title; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>description: </strong></label>
					<?php echo $this->form->header_tags_description; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>keywords: </strong></label>
					<?php echo $this->form->header_tags_keywords; ?>
				</td>
			</tr>
			<tr>	
				<td> 
					<label for="title"><strong>Краткое описание продукта: </strong></label>
					<?php echo $this->form->intro_text; ?>
				</td>
			</tr>
			<tr>	
				<td> 
					<label for="title"><strong>Описание продукта: </strong></label>
					<?php echo $this->form->product_description; ?>
				</td>
			</tr>
			<tr>	
				<td> 
					<label for="title"><strong>Характеристики: </strong></label>
					<?php echo $this->form->product_characteristics; ?>
				</td>
			</tr>
			<tr>	
				<td> 
					<label for="title"><strong>Видео: </strong></label>
					<?php echo $this->form->product_configurations; ?>
				</td>
			</tr>
			<tr>	
				<td> 
					<label for="title"><strong>Рекомендации по установке карниза: </strong></label>
					<?php echo $this->form->product_overlook; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<?php echo $this->form->image; ?>
				</td>
			</tr>
			</table>
        </div>
        <div class="tab-pane fade" id="tab-attribute">
			<div>
				<a class="btn btn-primary pull-right" id="add" ><i class="btn-icon-only icon-plus-sign"></i>Добавить атрибут</a>
			</div> 
                <div id="DynamicExtraField">
                    
                </div>
        </div>
        <div class="tab-pane fade" id="tab-image">
		<!--	<div>
				<a class="btn btn-primary pull-right" id="addimage" ><i class="btn-icon-only icon-plus-sign"></i>Добавить изображение</a>
			</div> 
            <div id="DynamicImageExtraField">
                    
			</div> -->
			<table>
			<tr>	
				<td>
					<?php //echo $this->form->image_additional; ?>
				</td>
			</tr>
			</table>
        </div>
		<div class="tab-pane fade" id="tab-option">	
			<div id="vtab-option" class="vtabs">
				<span id="option-addadd">
					<input name="option" value="" style="width: 130px;" />
				</span>
			</div>
		</div>
			
		</div>
		<div>
		<?php echo $this->form->submit; ?>
		</div>
	<!--	<input type="submit" class="btn btn-primary pull-left" value="Сохранить"/> -->
    </div>
	</form>
<br>
</div>
</div>

<script>
$(document).ready(function() {
var attribute_row = 0;

    $('#add').click(function(){
        var html = '';
        html += '<table id="attribute" class="table table-hover"><tbody id="attribute-row' + attribute_row + '"><tr><td>';
        html += '<select type="select" name="product_attribute[' + attribute_row + '][attribute_id]" class="span5" >';
        <?php foreach ($this->attributes as $attribute): ?>
        html += '      <option value="<?php echo $attribute['attribute_id'] ?>"><?php echo $attribute['attribute_name'] ?></option>';
        <?php endforeach; ?>
        html += '</select></td>';
        html += '<td><input type="text" name="product_attribute[' + attribute_row + '][text]" class="span8" /></td>';
    //    html += '<td><textarea name="product_attribute[' + attribute_row + '][text]" class="span6" cols="60" rows="4"></textarea></td>'; 
        html += '<td><a onclick="$(\'#attribute-row' + attribute_row + '\').remove();" class="btn btn-danger pull-left">Удалить</a></td><tr></tbody></table>';
   
        $('#DynamicExtraField').append(html);
        attribute_row++;    
    });
	
	$.widget('custom.catcomplete', $.ui.autocomplete, {
		_renderMenu: function(ul, items) {
			var self = this, currentCategory = '';
			
			$.each(items, function(index, item) {
			//	if (item.category != currentCategory) {
				//	ul.append('<li class="ui-autocomplete-category">' + item.category + '</li>');
					
				//	currentCategory = item.category;
			//	}
				
				self._renderItem(ul, item);
			});
		}
	});
	
	$( function() {
		var availableTags = [
		  <?php   foreach($this->options as $option) { ?>
		  "<?php echo $option['name']; ?>",
		  <?php } ?>
		];
	//	alert(availableTags); 
		var option_row = 0;
		$('input[name=\'option\']').catcomplete({
	//	  source: availableTags,
		delay: 500,
		source: function(request, response) {
			$.ajax({
				url: '/admin/adminoptions/autocomplete?filter_name=' +  encodeURIComponent(request.term),
				dataType: 'json',
				success: function(json) {
					response($.map(json, function(item) {
						return {
						//	category: item.category,
							label: item.name,
							value: item.option_id,
							type: item.type,
							option_value: item.option_value
						}
					}));
				}
			});
		},   	
			select: function(event, ui) {
					
				html  = '<div id="tab-option-' + option_row + '" class="vtabs-content">';
				html += '	<input type="hidden" name="product_option[' + option_row + '][product_option_id]" value="" />';
				html += '	<input type="hidden" name="product_option[' + option_row + '][name]" value="' + ui.item.label + '" />';
				html += '	<input type="hidden" name="product_option[' + option_row + '][option_id]" value="' + ui.item.value + '" />';
				html += '	<input type="hidden" name="product_option[' + option_row + '][type]" value="' + ui.item.type + '" />';
				
				if (ui.item.type == 'select') {
					html += '  <table id="option-value' + option_row + '" class="list">';
					html += '  	 <thead>'; 
					html += '      <tr>';
					html += '        <td class="left">Значение опции</td>';
					html += '        <td class="right">Цена</td>';
					html += '        <td class="right">Сорт.</td>';
					html += '        <td></td>';
					html += '      </tr>';
					html += '  	 </thead>';
					html += '    <tfoot>';
					html += '      <tr>';
					html += '        <td colspan="3"></td>';
					html += '        <td class="left"><a onclick="addOptionValue(' + option_row + ');" class="btn btn-primary pull-left">Добавить значение опции</a></td>';
					html += '      </tr>';
					html += '    </tfoot>';
					html += '  </table>';
					html += '  <select id="option-values' + option_row + '" style="display: none;">';
			
					for (i = 0; i < ui.item.option_value.length; i++) {
						html += '  <option value="' + ui.item.option_value[i]['option_value_id'] + '">' + ui.item.option_value[i]['name'] + '</option>';
					}

					html += '  </select>';
					html += '</div>';
				}
				$('#tab-option').append(html);
				$('#option-addadd').before('<a href="#tab-option-' + option_row + '" id="option-' + option_row + '">' + ui.item.label + '&nbsp;<img src="/images/admin/delete.png" alt="" onclick="$(\'#option-' + option_row + '\').remove(); $(\'#tab-option-' + option_row + '\').remove(); $(\'#vtab-option a:first\').trigger(\'click\'); return false;" /></a>');
				$('#vtab-option a').tabs();
		
				$('#option-' + option_row).trigger('click');
				option_row++;
				return false;
				
			},
			focus: function(event, ui) {
				return false;
			}
		});
	});
	

	
}); 

</script>
<script type="text/javascript"><!--		
var option_value_row = 0;

function addOptionValue(option_row) {	
	html  = '<tbody id="option-value-row' + option_value_row + '">';
	html += '  <tr>';
	html += '    <td class="left"><select name="product_option[' + option_row + '][product_option_value][' + option_value_row + '][option_value_id]">';
	html += $('#option-values' + option_row).html();
	html += '    </select><input type="hidden" name="product_option[' + option_row + '][product_option_value][' + option_value_row + '][product_option_value_id]" value="" /></td>';
	html += '    <td class="right"><select name="product_option[' + option_row + '][product_option_value][' + option_value_row + '][price_prefix]">';
	html += '      <option value="+">+</option>';
	html += '      <option value="-">-</option>';
	html += '    </select>';
	html += '    <input type="text" name="product_option[' + option_row + '][product_option_value][' + option_value_row + '][price]" value="" size="5" /></td>';
	html += '    <td class="right"><input type="text" name="product_option[' + option_row + '][product_option_value][' + option_value_row + '][sort_order]" value="" size="1" /></td>';
	html += '    <td class="left"><a onclick="$(\'#option-value-row' + option_value_row + '\').remove();" class="button">Удалить</a></td>';
	html += '  </tr>';
	html += '</tbody>';
	
	$('#option-value' + option_row + ' tfoot').before(html);

	option_value_row++;
}
//--></script>
