<?php echo $this->headTitle('Продукты'); ?>
    <?php $filter = new Zend_Filter_StringTrim();?>
 
<div class="header"> 
    <h1 class="page-title">Продукты</h1>
    <ul class="breadcrumb">
        <li class="active">Продукты</li>
    </ul>
</div>  
<div class="box"> 
<div class="box-content">
<a class="btn btn-primary" href="<?php echo '/admin/adminproducts/addproduct';?>" title=""><i class="btn-icon-only icon-plus-sign"></i>Добавить продукт</a>
<div class="search-form-admin"> 
<form action="/admin/adminproducts/search" method="get">
    <?php echo $this->form->query; ?>
</form> 
</div>
<table class="table table-hover">
    <thead>
        <tr> 
            <th width="14%">Фото</th>
            <th width="35%">Название продукта</th>
            <th width="8%">Категория</th> 
            <th width="7%">Цена за штуку</th>
			<th width="7%">Цена за упаковку</th>
			<th width="6%">Фото</th>
            <th width="7%">Статус</th>
            <th width="6%">Редакт.</th> 
            <th width="6%">Удалить</th> 
        </tr> 
    </thead>
    <tbody>
   
<?php foreach ($this->paginator as $product) { ?>
    <tr>
        <td>
            <?php if($product['image']) { ?>
                <img src="<?php echo $this->host;?>/media/photos/products/small_<?php 
                echo $product['image']; ?>" border = "0" height = "100" WIDTH = "140" > 
            <?php } else { ?>
                <img src="<?php echo $this->host;?>/media/photos/no_photo.jpeg" border = "0" height = "100" WIDTH = "140" >
            <?php } ?> 
        </td>
        <td>
            <a href="<?php echo '/admin/adminproducts/editproduct/product_id/'.$product['product_id']; ?>" ><?php echo $product['product_model']; ?></a>
        </td>
        <td align="center">
            <?php echo $product['category_name']; ?>
        </td>
        <td align="center"><?php echo number_format($product->price, 2, '.', ''); ?></td>
		<td align="center"><?php echo number_format($product->price_per_unit, 2, '.', ''); ?></td>
		<td align="center"><a href="<?php echo '/admin/adminproductsphoto/index/product_id/'.$product->product_id; ?>" class="btn btn-small btn-info" title="<?php echo "Фото"; ?>"><i class="fbtn-icon-only icon-camera"></i></a></td>
        <td align="center">
            <div id="response_product<?php echo $product->product_id; ?>"><?php if($product->status == 0) { ?><p style="color:red;">Отключено</p> <?php } 
else { ?><p>Включено</p><?php } ?></div>
        
        <div id="status_on_product<?php echo $product->product_id; ?>"><a href="#" class="status_on product_on btn btn-small btn-info" data-status-product="<?php 
echo $product->product_id; ?>" ><i class="btn-icon-only icon-ok"></i></a></div>
        <div id="status_off_product<?php echo $product->product_id; ?>"><a href="#" class="status_off product_off btn btn-small btn-danger" 
data-status-product="<?php echo $product->product_id; ?>" ><i class="btn-icon-only icon-remove"></i></a></div>  
        </td>  
        <td align="center"><a href="<?php echo '/admin/adminproducts/editproduct/product_id/'.$product['product_id']; ?>" class="btn btn-small btn-info" title="<?php echo 
"Редактировать";?>"><i class="btn-icon-only icon-edit"></i></a></td>
        <td align="center"><a href="<?php echo '/admin/adminproducts/deleteproduct/product_id/'.$product['product_id']; ?>" class="btn btn-small btn-danger" title="<?php echo "Удалить 
продукт"; ?>"><i class="btn-icon-only icon-trash"></i></a></td>
    </tr>
       
        
        <?php } ?>    
       

    <tbody>
</table>
</div> 
</div>
<?php echo $this->paginationControl($this->paginator, 'Elastic', 'controls.phtml'); ?>