<?php   
    echo $this->headTitle("");

    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tinymce/jscripts/tiny_mce/tiny_mce.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );
    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tiny_mce_init.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );
    echo $this->inlineScript(); 
?>
	<div class="header"> 
		<h1 class="page-title">Новости</h1>
		<ul class="breadcrumb">
			<li><a href="/admin/adminnews">Новости</a> </li> &gt;&gt;
			<li class="active">Редактирование новости</li>
		</ul>
	</div>
<form id="" action="<?php $this->form->getAction()?>" method="post">
    <?php echo $this->form->news_id; ?>
    <?php echo $this->form->creation_date; ?>
    <button id="calendar-trigger"><img class="calendar-image" src = "/js/JSCal2/calendar.gif"></button>
    <?php echo $this->form->news_title; ?>
    <?php echo $this->form->intro_text; ?>
    <?php echo $this->form->news_text; ?>
    <?php echo $this->form->url_seo; ?>
    <?php echo $this->form->header_tags_title; ?>
    <?php echo $this->form->header_tags_description; ?>
    <?php echo $this->form->header_tags_keywords; ?>
    <?php echo $this->form->submit; ?>
    
   <!--     <a href="#" id="calendar-trigger">
            <img class="calendar-image" src = "/js/calendar/calendar.gif">
        </a> -->
      
</form>
<br>

<script>
    Calendar.setup({
        showTime: true,
        trigger    : "calendar-trigger",
        inputField : "calendar-inputField",     
        button     : "calendar-trigger",
        onSelect: function() {
            var date = this.selection.get();
            date      = Calendar.intToDate(date);
            date      = Calendar.printDate(date, "%Y-%m-%d");

            document.getElementById('calendar-inputField').value = date;
            this.hide();
        }        
    });
</script>

