<?php
    echo $this->headTitle('Страница администратора - новости');    
    $filter = new Zend_Filter_StringTrim();?> 
<div class="header"> 
    <h1 class="page-title">Новости</h1>
    <ul class="breadcrumb">
        <li class="active">Все новости</li>
    </ul>
</div> 
<div class="box"> 
<div class="box-content">
    <a class="btn btn-primary" href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'adminnews', 'action'=>'additem'));?>" title=""><i class="btn-icon-only icon-plus-sign"></i>Добавить статью</a> 
    <a class="btn btn-primary" href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'adminnews', 'action'=>'seo'));?>" title=""><i class="btn-icon-only icon-plus-sign"></i>Добавить seo теги для основной страницы</a>
<table class="table table-hover">
    <thead>
        <tr>  
            <th width="13%">Фото</th>
            <th width="40%">Заголовок</th> 
			<th width="7%">Статус</th> 
			<th width="10%">Дата</th>
			<th width="10%">Фото</th>
            <th width="10%">Редактир.</th> 
            <th width="10%">Удалить</th> 
        </tr> 
    </thead> 
    <tbody>
<?php foreach($this->paginator as $news) { ?>
    <tr>
        <td>
			<img src="<?php echo $this->host;?>/media/photos/news/main_photos/small_<?php 
            echo $news->main_photo; ?>" border = "0" height = "100" WIDTH = "140" >  
        </td>
        <td align=""><?php echo $news->news_title; ?></td>
		<td align="center">
		<div id="response<?php echo $news->news_id; ?>"><?php if($news->status == 0) { ?><p style="color:red;">Отключено</p> <?php } else { ?><p>Включено</p><?php } ?></div>
		
		<div id="status_on<?php echo $news->news_id; ?>"><a href="#" class="status_on btn btn-small btn-info" data-status="<?php echo $news->news_id; ?>" ><i class="btn-icon-only icon-ok"></i></a></div>
		<div id="status_off<?php echo $news->news_id; ?>"><a href="#" class="status_off btn btn-small btn-danger" data-status="<?php echo $news->news_id; ?>" ><i class="btn-icon-only icon-remove"></i></a></div> 
		
		</td> 
		<td align="center"><?php echo $news->creation_date; ?></td>
		<td align="center"><a href="<?php echo '/admin/adminnewsphoto/index/news_id/'.$news->news_id; ?>" class="btn btn-small btn-info" title="<?php echo "Изображения";?>">
		<i class="btn-icon-only icon-camera"></i></a></td>
		<td align="center"><a href="<?php echo '/admin/adminnews/edititem/news_id/'.$news->news_id; ?>" class="btn btn-small btn-info" title="<?php echo "Редактировать";?>">
		<i class="btn-icon-only icon-edit"></i></a></td>	
        <td align="center"><a href="<?php echo '/admin/adminnews/deleteitem/news_id/'.$news->news_id; ?>" class="btn btn-small btn-danger" title="<?php echo "Удалить"; ?>">
        <i class="btn-icon-only icon-trash"></i></a></td>
    </tr>       
<?php } ?> 
<tbody>
</table>
</div>
</div>
<?php echo $this->paginationControl($this->paginator, 'Elastic', 'controls.phtml'); ?>
</div> 
</div>
</div> 	