<?php
    echo $this->headTitle('Страница администратора');    
    $filter = new Zend_Filter_StringTrim();
?> 
<div class="row"> 
    <h1 class="page-title">Новости</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/adminnews">Все новости</a> </li>
        <li class="active">Seo теги для главной страницы новостей</li>
    </ul>
</div>     
<?php foreach($this->paginator as $newsseo) : ?>
   
<table class="table table-hover">
    <tr>
    <td align="left" width="10%">
        <a href="<?php echo '/admin/adminnews/seoedit/news_seo_id/'.$newsseo->news_seo_id;?>" class="btn btn-small btn-info" title="<?php echo "Редактировать";?>">
        <i class="btn-icon-only icon-edit"></i></a>
    </td>
        <td align="left" width="90%">
                
        </td>
    </tr>
    <tr>
        <th align = "left" width="10%"><?php echo "title:"; ?></th>
        <td><?php if($newsseo->header_tags_title) echo $filter->filter($newsseo->header_tags_title); else echo '<font size="" color="red" face="Arial">Нет данных</font>';?></td>
    </tr>
    <tr>
        <th align = "left" width="10%"><?php echo "description:"; ?></th>
        <td><?php if($newsseo->header_tags_description) echo $filter->filter($newsseo->header_tags_description); else echo '<font size="" color="red" face="Arial">Нет данных</font>';?></td>
    </tr>
    <tr>
        <th align = "left" width="10%"><?php echo "keywords:"; ?></th>
        <td><?php if($newsseo->header_tags_keywords) echo $filter->filter($newsseo->header_tags_keywords); else echo '<font size="" color="red" face="Arial">Нет данных</font>';?></td>
    </tr>
</table>
<hr noshade size="3" /> 
    <?php endforeach; ?>