<?php 
    echo $this->headTitle("Опции - Добавить"); 

    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tinymce/jscripts/tiny_mce/tiny_mce.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );
    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tiny_mce_init.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );
    echo $this->inlineScript();
?> 
<div class=""> 
    <h1 class="page-title">Опции</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/adminoptions">Опции</a> </li> &gt;&gt;
		<li class="active">добавление</li>
    </ul>
</div>
<div class="">
<div class="col-md-10">
    
    <p align = "center" ><font size="3" color="" face="Arial"><?php echo $this->errMessage; ?></p> 
	<form action="<?php $this->form->getAction()?>" method="post" enctype = "multipart/form-data">
    <div id="myTabContent" class="tab-content">
		
        <div class="tab-pane active in" id="tab-general">
			<table id="" class="">
				<tr>	
					<td>
						<?php echo $this->form->option_id; ?>
						<label for="title"><strong>Название опции: </strong></label>
						<?php echo $this->form->name; ?>
					</td>
				</tr>
				<tr>	
					<td>
						<label for="title"><strong>Тип: </strong></label>
						<select name="type">
							<optgroup label="<?php echo 'Выбор'; ?>">
								<option value="select"><?php echo 'Select'; ?></option>
								<option value="radio"><?php echo 'Radio'; ?></option>
								<option value="checkbox"><?php echo 'Checkbox'; ?></option>
								<option value="image"><?php echo 'Image'; ?></option>
							</optgroup>
							<optgroup label="<?php echo 'Ввод'; ?>">
								<option value="text"><?php echo 'Text'; ?></option>
								<option value="textarea"><?php echo 'Textarea'; ?></option>
							</optgroup>
							<optgroup label="<?php echo 'Файл'; ?>">
								<option value="file"><?php echo 'File'; ?></option>
							</optgroup>
							<optgroup label="<?php echo 'Дата'; ?>">
								<option value="date"><?php echo 'Date'; ?></option>
								<option value="time"><?php echo 'Time'; ?></option>
								<option value="datetime"><?php echo 'Datetime'; ?></option>
							</optgroup>
						</select>
					</td>
				</tr>
				<tr>	
					<td>
						<label for="title"><strong>Порядок сортировки: </strong></label>
						<?php echo $this->form->sort_order; ?>
					</td>
				</tr>
			</table>
        </div>
        
		<div>
			<a class="btn btn-primary pull-right" id="add" ><i class="btn-icon-only icon-plus-sign"></i>Добавить значение опции</a>
		</div> 
		<div id="DynamicExtraField">
                    
		</div>
	</div>
		<?php echo $this->form->submit; ?>
	<!--	<input type="submit" class="btn btn-primary pull-left" value="Сохранить"/> -->
    </div>
	</form>
<br>
</div>
</div>

<script>
$(document).ready(function() {
var option_row = 0;

    $('#add').click(function(){
        var html = '';
        html += '<table id="option" class="table table-hover"><tbody id="option-row' + option_row + '"><tr><td>';
        html += '<td><input type="text" name="option_value[' + option_row + '][name]" class="span4" /></td>';
        html += '    <td><input type="file" name="option_value[' + option_row + '][image]" /></td>';
    //    html += '<td><textarea name="product_attribute[' + attribute_row + '][text]" class="span6" cols="60" rows="4"></textarea></td>'; 
        html += '<td><a onclick="$(\'#option-row' + option_row + '\').remove();" class="btn btn-danger pull-left">Удалить</a></td><tr></tbody></table>';
   
        $('#DynamicExtraField').append(html);
        option_row++;    
    });
});
</script>
