<?php 
    echo $this->headTitle("Опции - Редактировать"); 

    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tinymce/jscripts/tiny_mce/tiny_mce.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );
    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tiny_mce_init.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );
    echo $this->inlineScript();
?> 
<div class=""> 
    <h1 class="page-title">Опции</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/adminoptions">Опции</a> </li> &gt;&gt;
		<li class="active"><?php echo $this->option_name; ?></li>
    </ul>
</div>
<div class="">
<div class="col-md-10">
    
  <!--  <p align = "center" ><font size="3" color="" face="Arial"><?php echo $this->errMessage; ?></p> -->
	<!--<form action="/admin/adminproducts/editproduct" method="post" enctype = "multipart/form-data">-->
	<form action="<?php $this->form->getAction()?>" method="post" enctype = "multipart/form-data">
    <div id="myTabContent" class="tab-content">
		
        <div class="tab-pane active in" id="tab-general">
			<table id="" class="">
				<tr>	
					<td>
						<?php echo $this->form->option_id; ?>
						<label for="title"><strong>Название опции: </strong></label>
						<?php echo $this->form->name; ?>
					</td>
				</tr>
				<tr>	
					<td>
						<label for="title"><strong>Тип: </strong></label>
						<select name="type">
							<optgroup label="<?php echo 'Выбор'; ?>">
							<?php if ($this->option['type'] == 'select') { ?>
							<option value="select" selected><?php echo 'Select'; ?></option>
							<?php } else { ?>
							<option value="select"><?php echo 'Select'; ?></option>
							<?php } ?>
							<?php if ($this->option['type'] == 'radio') { ?>
							<option value="radio" selected><?php echo 'Radio'; ?></option>
							<?php } else { ?>
							<option value="radio"><?php echo 'Radio'; ?></option>
							<?php } ?>
							<?php if ($this->option['type'] == 'checkbox') { ?>
							<option value="checkbox" selected><?php echo 'Checkbox'; ?></option>
							<?php } else { ?>
							<option value="checkbox"><?php echo 'Checkbox'; ?></option>
							<?php } ?>
							<?php if ($this->option['type'] == 'image') { ?>
							<option value="image" selected><?php echo 'Image'; ?></option>
							<?php } else { ?>
							<option value="image"><?php echo 'Image'; ?></option>
							<?php } ?>
							</optgroup>
							<optgroup label="<?php echo 'Ввод'; ?>">
							<?php if ($this->option['type'] == 'text') { ?>
							<option value="text" selected><?php echo 'Text'; ?></option>
							<?php } else { ?>
							<option value="text"><?php echo 'Text'; ?></option>
							<?php } ?>
							<?php if ($this->option['type'] == 'textarea') { ?>
							<option value="textarea" selected><?php echo 'Textarea'; ?></option>
							<?php } else { ?>
							<option value="textarea"><?php echo 'Textarea'; ?></option>
							<?php } ?>
							</optgroup>
							<optgroup label="<?php echo 'Файл'; ?>">
							<?php if ($this->option['type'] == 'file') { ?>
							<option value="file" selected><?php echo 'File'; ?></option>
							<?php } else { ?>
							<option value="file"><?php echo 'File'; ?></option>
							<?php } ?>
							</optgroup>
							<optgroup label="<?php echo 'Дата'; ?>">
							<?php if ($this->option['type'] == 'date') { ?>
							<option value="date" selected><?php echo 'Date'; ?></option>
							<?php } else { ?>
							<option value="date"><?php echo 'Date'; ?></option>
							<?php } ?>
							<?php if ($this->option['type'] == 'time') { ?>
							<option value="time" selected><?php echo 'Time'; ?></option>
							<?php } else { ?>
							<option value="time"><?php echo 'Time'; ?></option>
							<?php } ?>
							<?php if ($this->option['type'] == 'datetime') { ?>
							<option value="datetime" selected><?php echo 'Datetime'; ?></option>
							<?php } else { ?>
							<option value="datetime"><?php echo 'Datetime'; ?></option>
							<?php } ?>
							</optgroup>
						</select>
					</td>
				</tr>
				<tr>	
					<td>
						<label for="title"><strong>Порядок сортировки: </strong></label>
						<?php echo $this->form->sort_order; ?>
					</td>
				</tr>
			</table>
        </div>
        
			<div>
                    <a class="btn btn-primary pull-right" id="add" ><i class="btn-icon-only icon-plus-sign"></i>Добавить значение опции</a>
                </div> 
                <div id="DynamicExtraField">
                    <table id="option" class="table table-hover">
                        <?php $option_row = 0; ?>
                    <?php foreach ($this->option_values as $option_value) { ?>
                        <tbody id="option-row<?php echo $option_row; ?>">
                        <tr>
                            <td>
                            <input type="hidden" name="option_value[<?php echo $option_row; ?>][option_value_id]" value="<?php echo $option_value['option_value_id']; ?>" />
							</td>
                            <td align="left">
                            <input type="text" name="option_value[<?php echo $option_row; ?>][name]" class='span4' value="<?php echo $option_value['name']; ?>" />
							</td>
							<td>
                    <?php if($option_value['image']) { ?>
						<div id="response_option_image">      
							<img src="<?php echo $this->host;?>/media/photos/option/small_<?php 
							echo $option_value['image']; ?>" border = "0" height = "100" WIDTH = "140" ><br><br>  
						<!--	<div id="status_remove_option_image">
								<a href="#" class="status_on remove_option_image btn btn-small btn-danger" data-status-option-image="<?php echo $option_value['option_value_id']; ?>" >Удалить</a>
							</div> -->
							<input type="file" name="option_value[<?php echo $option_row; ?>][image]"  value="<?php echo $option_value['image']; ?>" />
							<input type="hidden" name="option_value[<?php echo $option_row; ?>][img]" value="<?php echo $option_value['image']; ?>" />
						</div>
						<?php } else { ?>
							<img src="<?php echo $this->host;?>/media/photos/no_photo.jpeg" border = "0" height = "100" WIDTH = "140" >
							<input type="file" name="option_value[<?php echo $option_row; ?>][image]"  value="" />
						<?php } ?> 
							</td>
							
                            <td>
                                <div>
                                    <a href="#"  
                                       data-status-option-del="<?php echo $option_value['option_value_id']; ?>"
                            data-status-option-del="<?php echo $option_value['option_value_id']; ?>"
                                        data-status-option-row="<?php echo $option_row; ?>"
                                        class="option_value_del btn btn-danger pull-left" >Удалить</a>
                                </div> 
                            </td>
                        </tr>
                        <tbody>
                    <?php $option_row++; ?>
                    <?php } ?>
                    </table>
                </div>
                
      
        
		<input type="submit" class="btn btn-primary pull-left" value="Сохранить"/>
            
    </div>
	</form>
<br>
</div>
</div>

<script>
$(document).ready(function() { 
var option_row = <?php echo $option_row; ?>;
var option_id = <?php echo $this->option['option_id']; ?>;

    $('#add').click(function(){
        var html = '';
        html += '<table id="option" class="table table-hover"><tbody id="option-row' + option_row + '"><tr><td>';
        html += '<td><input type="text" name="option_value[' + option_row + '][name]" class="span4" /></td>';
		html += '    <td><input type="file" name="option_value[' + option_row + '][image]" /></td>';
	//	html += '<td><input type="text" name="option_value[' + option_row + '][sort_order]" class="span1" /></td>';
        html += '<td><a onclick="$(\'#option-row' + option_row + '\').remove();" class="btn btn-danger pull-left">Удалить</a></td><tr></tbody></table>';
   
        $('#DynamicExtraField').append(html);
        option_row++;    
    });
	
});
</script>
