<?php echo $this->headTitle('Опции'); ?>
    <?php $filter = new Zend_Filter_StringTrim();?>
 
<div class="header"> 
    <h1 class="page-title">Опции</h1>
    <ul class="breadcrumb">
        <li class="active">Опции</li>
    </ul>
</div>  
<div class="box"> 
<div class="box-content">
<a class="btn btn-primary" href="<?php echo '/admin/adminoptions/add';?>" title=""><i class="btn-icon-only icon-plus-sign"></i>Добавить</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th width="65%" align="left">Название</th>
            <th width="7%">Сорт.</th>
            <th width="6%">Редакт.</th> 
            <th width="6%">Удалить</th> 
        </tr> 
    </thead>
    <tbody>
   
<?php foreach ($this->paginator as $option) { ?>
    <tr>
        
        <td align="left">
            <a href="<?php echo '/admin/adminoptions/edit/option_id/'.$option['option_id']; ?>" ><?php echo $option['name']; ?></a>
        </td>
		<td align="center">
            <?php echo $option['sort_order']; ?>
        </td>
        
        <td align="center"><a href="<?php echo '/admin/adminoptions/edit/option_id/'.$option['option_id']; ?>" class="btn btn-small btn-info" title="<?php echo 
"Редактировать";?>"><i class="btn-icon-only icon-edit"></i></a></td>
        <td align="center"><a href="<?php echo '/admin/adminoptions/delete/option_id/'.$option['option_id']; ?>" class="btn btn-small btn-danger" title="<?php echo "Удалить"; ?>"><i class="btn-icon-only icon-trash"></i></a></td>
    </tr>        
<?php } ?>    
       

    <tbody>
</table>
</div> 
</div>
<?php echo $this->paginationControl($this->paginator, 'Elastic', 'controls.phtml'); ?>