<?php   
    echo $this->headTitle("Добавление - Статьи");

    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tinymce/jscripts/tiny_mce/tiny_mce.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );
    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tiny_mce_init.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );

    echo $this->inlineScript(); 
?>
	<div class="header"> 
		<h1 class="page-title">Статьи</h1>
		<ul class="breadcrumb">
			<li><a href="/admin/adminarticles">Статьи</a></li> &gt;&gt;
			<li class="active">Добавление</li>
		</ul>
	</div>
<form action="<?php $this->form->getAction()?>" method="post" enctype = "multipart/form-data">
	<table id="" class="">
		<tr>
            <td>
				<?php echo $this->form->article_id; ?>
				<label for="title"><strong>Дата: </strong></label>
				<?php echo $this->form->creation_date; ?>
				<button id="calendar-trigger"><img class="calendar-image" src = "/js/JSCal2/calendar.gif"></button>
			</td>
		</tr>
		<tr>	
			<td>
				<label for="title"><strong>Заголовок: </strong></label>
				<?php echo $this->form->article_title; ?>
			</td>
		</tr>
		<tr>	
			<td>
				<label for="title"><strong>SEO Url: </strong></label>
				<?php echo $this->form->url_seo; ?>
			</td>
		</tr>
		<tr>	
			<td>
				<label for="title"><strong>Короткий текст: </strong></label>
				<?php echo $this->form->intro_text; ?>
			</td>
		</tr>
		<tr>	
			<td>
				<label for="title"><strong>Полный текст: </strong></label>
				<?php echo $this->form->full_text; ?>
			</td>
		</tr>
		<tr>	
			<td>
				<label for="title"><strong>title: </strong></label>
				<?php echo $this->form->header_tags_title; ?>
			</td>
		</tr>
		<tr>	
			<td>
				<label for="title"><strong>description: </strong></label>
				<?php echo $this->form->header_tags_description; ?>
			</td>
		</tr>
		<tr>	
			<td>
				<label for="title"><strong>keywords: </strong></label>
				<?php echo $this->form->header_tags_keywords; ?>
			</td>
		</tr>
		<tr>	
			<td>
				<?php echo $this->form->main_photo; ?>
			</td>
		</tr>
		<tr>	
			<td>
				<label for="title"><strong>alt: </strong></label>
				<?php echo $this->form->alt; ?>
			</td>
		</tr>
		<tr>	
			<td>
				<label for="title"><strong>Показывать изображение в статье(1/0): </strong></label>
				<?php echo $this->form->show_photo_inside; ?>
			</td>
		</tr>
		<tr>	
			<td>
				<label for="title"><strong>Наша работа(1/0): </strong></label>
				<?php echo $this->form->show_our_work; ?>
			</td>
		</tr>
		<tr>	
			<td>
				<?php echo $this->form->submit; ?>
			</td>
		</tr>
    
	</table>
    
   <!--     <a href="#" id="calendar-trigger">
            <img class="calendar-image" src = "/js/calendar/calendar.gif">
        </a> -->
      
</form>
<br>

<script>
    Calendar.setup({
        showTime: true,
        trigger    : "calendar-trigger",
        inputField : "calendar-inputField",     
        button     : "calendar-trigger",
        onSelect: function() {
            var date = this.selection.get();
            date      = Calendar.intToDate(date);
            date      = Calendar.printDate(date, "%Y-%m-%d");

            document.getElementById('calendar-inputField').value = date;
            this.hide();
        }        
    });
</script>