<?php
    $this->title = "Удаление статьи";
    $this->headTitle($this->title);
?>
<div class="header"> 
    <h1 class="page-title">Статьи</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/adminarticles">Статьи</a></li> &gt;&gt;
        <li class="active">Удаление</li>
    </ul>
</div>
</br></br>
<h3>Вы действительно хотите удалить статью 
    '<?php echo $this->escape($this->articles['article_title']); ?>'?
</h3>
<p align = "center" ><font size="4" color="red" face="Arial"><?php echo $this->errMessage; ?></font></p>
<form action="<?php echo $this->url(array('action'=>'deleteitem')); ?>" method="post">
    <div>
        <input type="hidden" name="article_id" value="<?php echo $this->articles['article_id']; ?>" />
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true" name="del" value="No">Нет</button>
        <button class="btn btn-danger" data-dismiss="modal" name="del" value="yes">Удалить</button>  
    </div>
</form>