<?php
    echo $this->headTitle('Страница администратора - Статьи');    
    $filter = new Zend_Filter_StringTrim();?> 
<div class="header"> 
    <h1 class="page-title">Статьи</h1>
    <ul class="breadcrumb">
        <li class="active">Все статьи</li>
    </ul>
</div> 
<div class="box"> 
<div class="box-content">
    <a class="btn btn-primary" href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'adminarticles', 'action'=>'additem'));?>" title=""><i class="btn-icon-only icon-plus-sign"></i>Добавить статью</a> 
    <a class="btn btn-primary" href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'adminarticles', 'action'=>'seo'));?>" title=""><i class="btn-icon-only icon-plus-sign"></i>Добавить seo теги для основной страницы</a>
<table class="table table-hover">
    <thead>
        <tr>  
            <th width="13%">Фото</th>
            <th width="27%">Заголовок</th> 
			<th width="9%">Статус</th> 
			<th width="10%">Дата</th>
			<th width="10%">Фото</th>
			<th width="10%">Изображения для страницы</th>
            <th width="6%">Ред.</th> 
            <th width="6%">Уд.</th>
		<!--	<th width="7%">Топ</th>	-->		
        </tr> 
    </thead> 
    <tbody>
<?php foreach($this->paginator as $article) { ?>
    <tr>
		<td>
            <?php if($article->main_photo) { ?>
                <img src="<?php echo $this->host;?>/media/photos/articles/main_photos/small_<?php 
            echo $article->main_photo; ?>" border = "0" height = "100" WIDTH = "140" >  
            <?php } else { ?>
                <img src="<?php echo $this->host;?>/media/photos/no_photo.jpeg" border = "0" height = "100" WIDTH = "140" >
            <?php } ?> 
        </td>
        <td align=""><?php echo $article->article_title; ?></td>
		<td align="center">
		<div id="response_article<?php echo $article->article_id; ?>"><?php if($article->status == 0) { ?><p style="color:red;">Отключено</p> <?php } else { ?><p>Включено</p><?php } ?></div>
		
		<div id="status_article_on<?php echo $article->article_id; ?>"><a href="#" class="status_on status_article_on btn btn-small btn-info" data-status-article="<?php echo $article->article_id; ?>" ><i class="btn-icon-only icon-ok"></i></a></div>
		<div id="status_article_off<?php echo $article->article_id; ?>"><a href="#" class="status_off status_article_off btn btn-small btn-danger" data-status-article="<?php echo $article->article_id; ?>" ><i class="btn-icon-only icon-remove"></i></a></div> 
		
		</td> 
		<td align="center"><?php echo $article->creation_date; ?></td>
		<td align="center"><a href="<?php echo '/admin/adminarticlesphoto/index/article_id/'.$article->article_id; ?>" class="btn btn-small btn-info" title="<?php echo "Фото"; ?>"><i class="fbtn-icon-only icon-camera"></i></a></td>
		<td align="center"><a href="<?php echo '/admin/adminarticlesphotoforpage/index/article_id/'.$article->article_id; ?>" class="btn btn-small btn-info" title="<?php echo "Изображения";?>">
		<i class="btn-icon-only icon-picture"></i></a></td>
		<td align="center"><a href="<?php echo '/admin/adminarticles/edititem/article_id/'.$article->article_id; ?>" class="btn btn-small btn-info" title="<?php echo "Редактировать";?>">
		<i class="btn-icon-only icon-edit"></i></a></td>	
        <td align="center"><a href="<?php echo '/admin/adminarticles/deleteitem/article_id/'.$article->article_id; ?>" class="btn btn-small btn-danger" title="<?php echo "Удалить"; ?>">
        <i class="btn-icon-only icon-trash"></i></a></td>
    
	<!--	<td align="center">
		<div id="response_article_prime<?php echo $article->article_id; ?>"><?php if($article->prime == 0) { ?><p style="color:red;">Отключено</p> <?php } else { ?><p>Включено</p><?php } ?></div>
		
		<div id="status_on_article_prime<?php echo $article->article_id; ?>"><a href="#" class="status_on article_prime_on btn btn-small btn-info" data-status-article-prime="<?php echo $article->article_id; ?>" ><i class="btn-icon-only icon-ok"></i></a></div>
		<div id="status_off_article_prime<?php echo $article->article_id; ?>"><a href="#" class="status_off article_prime_off btn btn-small btn-danger" data-status-article-prime="<?php echo $article->article_id; ?>" ><i class="btn-icon-only icon-remove"></i></a></div> 
		
		</td>-->
	</tr> 
<?php } ?> 
<tbody>
</table>
</div>
</div>
<?php echo $this->paginationControl($this->paginator, 'Elastic', 'controls.phtml'); ?>
</div> 
</div>
</div> 	