<?php
    echo $this->headTitle('Страница администратора');    
    $filter = new Zend_Filter_StringTrim();
?> 
<div class="row"> 
    <h1 class="page-title">Статьи</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/adminarticles">Все статьи</a> </li> &gt;&gt;
        <li class="active">Seo теги для главной страницы статтей</li>
    </ul>
</div>     
<?php foreach($this->paginator as $seo) : ?>
   
<table class="table table-hover">
    <tr>
    <td align="left" width="10%">
        <a href="<?php echo '/admin/adminarticles/seoedit/id/'.$seo->id;?>" class="btn btn-small btn-info" title="<?php echo "Редактировать";?>">
        <i class="btn-icon-only icon-edit"></i></a>
    </td>
        <td align="left" width="90%">
                
        </td>
    </tr>
    <tr>
        <th align = "left" width="10%"><?php echo "title:"; ?></th>
        <td><?php if($seo->header_tags_title) echo $filter->filter($seo->header_tags_title); else echo '<font size="" color="red" face="Arial">Нет данных</font>';?></td>
    </tr>
    <tr>
        <th align = "left" width="10%"><?php echo "description:"; ?></th>
        <td><?php if($seo->header_tags_description) echo $filter->filter($seo->header_tags_description); else echo '<font size="" color="red" face="Arial">Нет данных</font>';?></td>
    </tr>
    <tr>
        <th align = "left" width="10%"><?php echo "keywords:"; ?></th>
        <td><?php if($seo->header_tags_keywords) echo $filter->filter($seo->header_tags_keywords); else echo '<font size="" color="red" face="Arial">Нет данных</font>';?></td>
    </tr>
</table>
<hr noshade size="3" /> 
    <?php endforeach; ?>