<div class="container">
	<div class="news_wrap">
		<?php foreach($this->paginator as $news) { ?>
			<div class="single_new">
				<div class="news_img">
					<img src="<?php echo $this->host;?>/media/photos/news/main_photos/small_<?php echo $news->main_photo; ?>" alt="<?php echo $news->alt; ?>" />
				</div>
				<div class="right_news_info">
					<h3 class="news_title"><a href="/news_single/<?php echo $news->url_seo; ?>"><?php echo $news->news_title; ?></a></h3>
					<div class="news_date"><?php echo Date('Y-m-d', strtotime($news->creation_date)); ?></div>
					<p><?php echo $news->intro_text; ?></p>
				</div>
			</div>	
		<?php } ?> 	
	</div>
    <?php echo $this->paginationControl($this->paginator, 'Elastic', 'controls_index.phtml'); ?>
</div>