<div class="container">
	<div class="breadcrumbs">
		<a href="/news">Новости</a> <span>/</span> <span><?php echo $this->news_title; ?></span>
	</div>
	<div class="news_wrap">
		<?php foreach($this->paginator as $newstext) : ?>
			<div class="single_new">
				<div class="news_img">
							<img src="<?php echo $this->host;?>/media/photos/news/main_photos/small_<?php 
			echo $newstext->main_photo; ?>"/>
				</div>
				<div class="right_news_info">
					<h3 class="news_title"><?php echo $newstext->news_title; ?></h3>
					<div class="news_date"><?php echo Date('Y-m-d', strtotime($newstext->creation_date)); ?></div>
					<?php echo $newstext->news_text; ?>	
				</div>
			</div>
		<?php endforeach; ?>			
	</div>
</div>