<?php 
    $translate = Zend_Registry::get('Zend_Translate');  
?>

<div id="rt-feature"> 
				<div class="rt-container">
										<div class="clear"></div>
				</div>
			</div>
			<div id="rt-main" class="mb12">
			<div class="rt-container">
    <p align = "center" ><font size="3" color="red" face="Arial"><?php echo $this->errMessage; ?></font></p>
                
	<h2><?php echo $translate->translate('password recovery'); ?></h2>
    <?php echo $this->form_fogotpass; ?>
		                               
	</div>
</div>

  
