<?php
    echo $this->headTitle("Добавить фото");  
?>
<div class="header"> 
    <h1 class="page-title">Статьи</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/adminarticles">Все статьи</a></li> &gt;&gt;
        <li class="active">Добавление фото для статьи: <?php echo $this->articles_object['article_title']?></li>
    </ul>
</div>

    <?php echo $this->form; ?>
	