<?php echo $this->headTitle("Статьи"); ?>
<div class="header"> 
    <h1 class="page-title">Статьи</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/adminarticles">Все статьи</a></li> &gt;&gt;
        <li class="active">Удаление фото для статьи: <?php echo $this->articles_object['article_title']?></li>
    </ul>
</div>
<h3>Вы действительно хотите удалить фото
<img src="<?php echo $this->host;?>/media/photos/articles/photos/small_<?php echo $this->photo['photo_file']; ?>" border = "1" height = "" width = "160" > ?
</h3>
<form action="<?php echo $this->url(array('action'=>'delete')); ?>" method="post">
    <div>
        <input type="hidden" name="photo_id" value="<?php echo $this->photo['photo_id']; ?>" />
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true" name="del" value="No">Нет</button>
        <button class="btn btn-danger" data-dismiss="modal" name="del" value="yes">Удалить</button> 
    </div>
</form>