<?php
    $this->title = "Страница администратора - удаление сообщения";
    $this->headTitle($this->title);
?>
<div class="header"> 
    <h1 class="page-title">Сообщения</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/adminmessages">Сообщения</a> </li> &gt;&gt;
        <li class="active">Удалить сообщение</li>
    </ul>
</div>
<div class="box"> 
<div class="box-content">
</br></br>
	<h3>Вы действительно хотите удалить сообщение от
		<?php echo $this->escape($this->message['name']); ?> ?
	</h3>
	<form action="<?php echo $this->url(array('action'=>'delete')); ?>" method="post">
		<div>
			<input type="hidden" name="message_id" value="<?php echo $this->message['message_id']; ?>" />
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true" name="del" value="No">Нет</button>
			<button class="btn btn-danger" data-dismiss="modal" name="del" value="yes">Удалить</button>
		</div>
	</form>
<div>
<div>