<?php echo $this->headTitle("Сообщения"); ?>
<div class="header"> 
    <h1 class="page-title">Сообщения</h1>
    <ul class="breadcrumb">
        <li class="active">Сообщения</li>
    </ul>
</div> 
<div class="panel panel-default">

<table border="0" class="table table-hover">
    <thead>
		<tr>
			<th>Имя</th>
			<th>Телефон</th>
			<th>E-mail
			<th>Сообщение</th>
			<th>Дата</th>
			<th>Уд</th>
		</tr>
    </thead>
    <?php foreach($this->paginator as $message) : ?>
    <tr>
        <th align="left" width="5%"><?php echo $this->escape($message->name); ?></th>
        <th width="10%"><?php echo $this->escape($message->phone);?></th>
		<th width="20%"><?php echo $this->escape($message->email);?></th>
        <th align="left" width="25%"><?php echo $this->escape($message->message);?></th>
		
        <th width="15%"><?php echo $this->escape($message->creation_date); ?></th>
        
        <th align="center" width="5%">
            <a href="<?php echo 'adminmessages/delete/message_id/'.$message->message_id; ?>" class="btn btn-small btn-danger"><i class="btn-icon-only icon-trash"></i></a>      
        </th>   
    </tr>
    <?php endforeach; ?> 
</table>
</div>
</br>
<?php echo $this->paginationControl($this->paginator, 'Elastic', 'controls.phtml'); ?>