<?php 
	$pieces = explode("/", $_SERVER['REQUEST_URI']); 
	$pieces_02 = explode("?", $_SERVER['REQUEST_URI']);	
//	echo @$pieces_02[1]; 
	//echo @$pieces[3];
	if (isset($_GET['limit'])) { 
		$url = '&limit=' . $_GET['limit'];
	}
?>
<form action="#" method="get" >
	<input type="hidden" name="category_id" value="<?php echo $this->category_id; ?>" />
	<input type="hidden" name="url_seo" value="<?php echo $this->url_seo_get; ?>" />
    <select onchange="location = this.value;">
 <!--   <?php if ($_GET['sort'] == 'popularity') { ?>
        <option value="<?php echo $pieces_02[0].'?'.'&sort=popularity'. @$url ?>" selected="selected">популярности</option>
	<?php } else { ?>
		<option value="<?php echo $pieces_02[0].'?'.'&sort=popularity'. @$url ?>">популярности</option>
	<?php } ?> -->
	<option value="" >выбрать</option>
	<?php if ($_GET['sort'] == 'cheap') { ?>
	
        <option value="<?php echo '?'.@$pieces_02[1].'&sort=cheap&order=ASC'. @$url ?>" selected="selected">от дешевых к дорогим</option>
	
	<?php } else { ?>
		<option value="<?php echo '?sort=cheap&order=ASC'. @$url ?>">от дешевых к дорогим</option>
	<?php } ?>
	<?php if ($_GET['sort'] == 'expensive') { ?>
	
        <option value="<?php echo '&sort=expensive&order=DESC'. @$url ?>" selected="selected">от дорогих к дешевым</option>
	<?php } else {?>

		<option value="<?php echo '?sort=expensive&order=DESC'. @$url ?>">от дорогих к дешевым</option>
	<?php } ?>
<!--	<?php if ($_GET['sort'] == 'action') { ?>
        <option value="<?php echo @$pieces_02[0].'?'.@$pieces_02[1].'&sort=action'. @$url ?>" selected="selected">акциям</option>
	<?php } else { ?>
		<option value="<?php echo @$pieces_02[0].'?'.@$pieces_02[1].'&sort=action'. @$url ?>">акциям</option>
	<?php } ?> -->
	<?php if ($_GET['sort'] == 'novelty') { ?>
	
        <option value="<?php echo '?'.@$pieces_02[1].'&sort=novelty'. @$url ?>" selected="selected">новинкам</option>
	
	<?php } else { ?>
		<option value="<?php echo '?sort=novelty'. @$url ?>">новинкам</option>
	<?php } ?>
	</select>
</form>