<div id="under_main_text" class="block_under_main_text">
<h2>Ремонт 4-х комнатной квартиры по адресу Ленинский проспект д.20</h2>
<p style="text-align: justify;">Как говорят специалисты нашей компании, нет «правильных» или «неправильных» стилистических направлений интерьера – главное, чтобы сущность дизайна полностью отражала внутреннее состояние владельца квартиры, для того, чтобы он испытывал полное чувство комфорта и гармонии. Так как наш клиент – это романтическая личность, которая ценит изящество и утонченность, мы выполнили <strong>ремонт квартиры у метро Ленинский проспект</strong> во французском стиле.</p>
<p style="text-align: justify;">Это направление в оформлении интерьеров, которое базируется на классике – здесь присутствуют высокие потолки, прямоугольное пространство, обилие естественного и искусственного света. Однако, если классика – это роскошь, то французский стиль – это роскошь, облаченная в простую оболочку. Очень важна цветовая гамма – однотонные оттенки мягко перетекают в яркие акценты в виде картин и декора. Решения, которые добавляют помещениям уюта – это обилие текстиля, а также натуральных материалов в виде древесины, камня, металла, мягкие подсветки.</p>
<p style="text-align: justify;">Владельцы квартиры были очень довольны решениям дизайнеров компании – они почувствовали себя не в российской квартире на Ленинском проспекте, а в парижских апартаментах. Надеемся, что это ощущение не пропадет!</p>
<h3>Фотоотчет ремонта квартиры метро Ленинский проспект</h3> 
</div>
								
<div class="demo-gallery">
    <ul>
		<!--
        <?php foreach($this->gallery as $gallery) { ?>
            <li data-src="<?php echo $this->host;?>/media/photos/gallery/big_<?php 
                echo $gallery['image']; ?>" >
                <a href="">
                    <img class="img-responsive" src="<?php echo $this->host;?>/media/photos/gallery/small_<?php echo $gallery['image']; ?>">
                    <div class="demo-gallery-poster">
                        <img src="../../../../../../media/photos/pages/zoom.png">
                    </div> 
                </a>
            </li>
        <?php } ?>
        -->    
                 
                <li>
                    <a href="../../../../../../media/photos/pages/big_20170417_9053.JPG" data-lightbox="group-1">
                        <img class="img-responsive" src="../../../../../../media/photos/pages/small_20170417_9053.JPG">
                        <div class="demo-gallery-poster">
                                <img src="../../../../../../media/photos/pages/zoom.png">
                        </div> 
                    </a>
                </li>
                <li>
                    <a href="../../../../../../media/photos/pages/big_20170417_9053.JPG" data-lightbox="group-1">
                        <img class="img-responsive" src="../../../../../../media/photos/pages/small_20170417_9053.JPG">
                        <div class="demo-gallery-poster">
                                <img src="../../../../../../media/photos/pages/zoom.png">
                        </div> 
                    </a>
                </li>
                <li>
                    <a href="../../../../../../media/photos/pages/big_20170417_9053.JPG" data-lightbox="group-1">
                        <img class="img-responsive" src="../../../../../../media/photos/pages/small_20170417_9053.JPG">
                        <div class="demo-gallery-poster">
                                <img src="../../../../../../media/photos/pages/zoom.png">
                        </div> 
                    </a>
                </li>
                
                
    </ul>
</div>

                
<div id="under_main_text" class="block_under_main_text">
<h2>Ремонт 4-х комнатной квартиры по адресу Ленинский проспект д.20</h2>
<p style="text-align: justify;">Как говорят специалисты нашей компании, нет «правильных» или «неправильных» стилистических направлений интерьера – главное, чтобы сущность дизайна полностью отражала внутреннее состояние владельца квартиры, для того, чтобы он испытывал полное чувство комфорта и гармонии. Так как наш клиент – это романтическая личность, которая ценит изящество и утонченность, мы выполнили <strong>ремонт квартиры у метро Ленинский проспект</strong> во французском стиле.</p>
<p style="text-align: justify;">Это направление в оформлении интерьеров, которое базируется на классике – здесь присутствуют высокие потолки, прямоугольное пространство, обилие естественного и искусственного света. Однако, если классика – это роскошь, то французский стиль – это роскошь, облаченная в простую оболочку. Очень важна цветовая гамма – однотонные оттенки мягко перетекают в яркие акценты в виде картин и декора. Решения, которые добавляют помещениям уюта – это обилие текстиля, а также натуральных материалов в виде древесины, камня, металла, мягкие подсветки.</p>
<p style="text-align: justify;">Владельцы квартиры были очень довольны решениям дизайнеров компании – они почувствовали себя не в российской квартире на Ленинском проспекте, а в парижских апартаментах. Надеемся, что это ощущение не пропадет!</p>
<h3>Фотоотчет ремонта квартиры метро Ленинский проспект</h3> 
</div>                
<div class="demo-gallery">
    <ul>                
               <li>
                    <a href="../../../../../../media/photos/slider/big_20170228_7591.jpg" data-lightbox="group-2">
                        <img class="img-responsive" src="../../../../../../media/photos/slider/small_20170228_7591.jpg">
                        <div class="demo-gallery-poster">
                                <img src="../../../../../../media/photos/pages/zoom.png">
                        </div> 
                    </a>
                </li>
                <li>
                    <a href="../../../../../../media/photos/slider/big_20170228_7591.jpg" data-lightbox="group-2">
                        <img class="img-responsive" src="../../../../../../media/photos/slider/small_20170228_7591.jpg">
                        <div class="demo-gallery-poster">
                                <img src="../../../../../../media/photos/pages/zoom.png">
                        </div> 
                    </a>
                </li>
                <li>
                    <a href="../../../../../../media/photos/slider/big_20170228_7591.jpg" data-lightbox="group-2">
                        <img class="img-responsive" src="../../../../../../media/photos/slider/small_20170228_7591.jpg">
                        <div class="demo-gallery-poster">
                                <img src="../../../../../../media/photos/pages/zoom.png">
                        </div> 
                    </a>
                </li>
                <li>
                    <a href="../../../../../../media/photos/slider/big_20170228_7591.jpg" data-lightbox="group-2">
                        <img class="img-responsive" src="../../../../../../media/photos/slider/small_20170228_7591.jpg">
                        <div class="demo-gallery-poster">
                                <img src="../../../../../../media/photos/pages/zoom.png">
                        </div> 
                    </a>
                </li>
                <li>
                    <a href="../../../../../../media/photos/slider/big_20170228_7591.jpg" data-lightbox="group-2">
                        <img class="img-responsive" src="../../../../../../media/photos/slider/small_20170228_7591.jpg">
                        <div class="demo-gallery-poster">
                                <img src="../../../../../../media/photos/pages/zoom.png">
                        </div> 
                    </a>
                </li>
                <li>
                    <a href="../../../../../../media/photos/slider/big_20170228_7591.jpg" data-lightbox="group-2">
                        <img class="img-responsive" src="../../../../../../media/photos/slider/small_20170228_7591.jpg">
                        <div class="demo-gallery-poster">
                                <img src="../../../../../../media/photos/pages/zoom.png">
                        </div> 
                    </a>
                </li>
                <li>
                    <a href="../../../../../../media/photos/slider/big_20170228_7591.jpg" data-lightbox="group-2">
                        <img class="img-responsive" src="../../../../../../media/photos/slider/small_20170228_7591.jpg">
                        <div class="demo-gallery-poster">
                                <img src="../../../../../../media/photos/pages/zoom.png">
                        </div> 
                    </a>
                </li>
                
                
    </ul>
</div>