<?php foreach($this->gallery as $gallery) { ?>
	<div id="under_main_text" class="block_under_main_text">
		<h2><?php echo $gallery['title']; ?></h2>
		<?php echo $gallery['text']; ?>
	</div>
	<div class="demo-gallery">
		<ul>
			<?php foreach($this->gallery_photo[ $gallery['gallery_id']] as $photo) { ?>
				<li data-src="<?php echo $this->host;?>/media/photos/gallery/big_<?php 
					echo $photo['image']; ?>" >
					<a href="<?php echo $this->host;?>/media/photos/gallery/big_<?php echo $photo['image']; ?>" data-lightbox="group-<?php echo $gallery['gallery_id'];?>">
						<img class="img-responsive" src="<?php echo $this->host;?>/media/photos/gallery/small_<?php echo $photo['image']; ?>">
						<div class="demo-gallery-poster">
							<img src="../../../../../../media/photos/pages/zoom.png">
						</div> 
					</a>
				</li>
			<?php } ?>
		</ul>
	</div>
<?php } ?>