<?php $filter = new Zend_Filter_StringTrim();?>

		
		    <?php if($this->user["avatar_file"]) { ?>
			<div id="response_avatar_image"> 
             <img src="<?php echo $this->webhost;?>/media/photos/user_avatar/<?php echo $this->user["avatar_file"]; ?>" border = "0" height = "90"  ><br><br>  
       <!--     <div id="status_remove_avatar_image"><a href="#" class="remove_avatar_image" data-status-avatar-image="<?php echo $this->user["user_id"]; ?>" >Удалить</a></div> -->
             <?php } else {?>
			 <img src="<?php echo $this->webhost;?>/media/photos/user_avatar/nophoto_user_thumb_icon.jpg" border = "1" height = "90" WIDTH = "90" >
             <?php } ?><br /><br />
			 <footer>
			 <nav>
		    <ul>
			<li><a class="" href="/add-avatar/user_id/<?php echo $this->user["user_id"]; ?>"><?php echo "Добавить аватар"; ?></a></li><br />
			
			<li><a class="" href="/delete-avatar/user_id/<?php echo $this->user["user_id"]; ?>"><?php echo "Удалить аватар"; ?></a></li><br />

    <!--        <li><a class="" href="<?php echo $this->url(array('module'=>'user', 'controller'=>'account', 'action'=>'subscription', 'user_id' => $this->user["user_id"] ), 'default', 
true);?>"><?php echo "Настройка оповещений"; ?></a></li><br /> -->
			
			<li><a class="" href="/updatepass/user_id/<?php echo $this->user["user_id"]; ?>"><?php echo "Изменить пароль"; ?></a></li><br /><br />
			
			<li><a class="" href="/delete-account/user_id/<?php echo $this->user["user_id"]; ?>"><?php echo "Удалить аккаунт"; ?></a></li>
			</ul>
			</nav>
			</footer>

 	
    
