<?php
    $translate = Zend_Registry::get('Zend_Translate');   
?>

        <table border="0" width="60%" align="center">	
	        <tr>
                <td>
		            <?php if(isset($this->user["avatar_file"]) and !empty($this->user["avatar_file"]) and $this->user["avatar_file"] != NULL) { ?>
                    &nbsp;  <img src="<?php echo $this->webhost;?>/media/photos/user_avatar/<?php echo $this->user["avatar_file"]; ?>" border = "1" height = "90">
                    <?php } else {?>
			        <img src="<?php echo $this->webhost;?>/media/photos/user_avatar/nophoto_user_thumb_icon.jpg" border = "1" height = "90"  >
                    <?php } ?>
					
                </td>
            </tr> 
		    <tr>
                <td><p align = "center" ><font size="4" color="red" face="Arial"><?php echo $this->errMessage; ?></font></p>
                    
                       <?php echo $this->form; ?>
                    
                </td>
            </tr> 
        </table>  