<?php
    echo $this->headTitle('Страница администратора');   
    $filter = new Zend_Filter_StringTrim();
?>
<div class="right_col" role="main">         

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="dashboard_graph">

            <!--    <div class="row x_title">
                  <div class="col-md-6">
                    <h3>Личный кабинет</h3>
                  </div>
                  <div class="col-md-6">                 
                  </div>
                </div> -->
                <div class="col-md-12 col-sm-12 col-xs-12">
                  Личный кабинет
                </div>
                <div class="clearfix"></div>
              </div>
            </div>

          </div>
         
</div>    