<?php
    $translate = Zend_Registry::get('Zend_Translate');   
?>
<br />
<br /><br />
<div id="rt-feature">
				<div class="rt-container">
										<div class="clear"></div>
				</div>
			</div>
			<div id="rt-main" class="mb12">
			<div class="rt-container">
	    <table width="50%"  border="0" align = "center">
            <tr>
		        <td align="left"><p align = "center" ><font size="4" color="red" face="Arial"><?php echo $this->errMessage; ?></font></p>
                    <div id="signupform">
		                <div class="itemHeader"><h2 class="itemTitle"><?php echo $translate->translate('Change your password'); ?></h2></div>
                      <?php echo $this->form_passwup; ?>&nbsp;
                    </div>
                </td>
		    </tr>
	    </table>
</div></div>
