<style>
	.error{
		color: #f00;
		font-size:12px;
	}
	.account_success{
		color: #f00;
		font-size:14px;
	}
</style>


<form action="#" class="cd-form" method="post" >
	<input type="hidden" name="user_role" value="member" />
	<p class="fieldset">
		<label class="image-replace cd-username" for="signup-username">Имя</label>
	<!--	<input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Имя">-->
		<?php echo $this->form_account->realname; ?>
		<span class="cd-error-message">Здесь сообщение об ошибке!</span>
	</p>
                    
    <p class="fieldset">
		<label class="image-replace cd-userlastname" for="signup-userlastname">Фамилия</label>
	<!--	<input class="full-width has-padding has-border" id="signup-userlastname" type="text" placeholder="Фамилия"> -->
		<?php echo $this->form_account->surname; ?>
		<span class="cd-error-message">Здесь сообщение об ошибке!</span>
	</p>
                    
    <p class="fieldset">
		<label class="image-replace cd-usercity" for="signup-usercity">Город</label>
	<!--	<input class="full-width has-padding has-border" id="signup-usercity" type="text" placeholder="Город">-->
		<?php echo $this->form_account->town; ?>
		<span class="cd-error-message">Здесь сообщение об ошибке!</span>
	</p>

	<p class="fieldset">
		<label class="image-replace cd-email" for="signup-email">E-mail</label>
	<!--	<input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail">-->
		<?php echo $this->form_account->email; ?>
		<span class="cd-error-message">Здесь сообщение об ошибке!</span>
	</p>

	<p class="fieldset">
		<label class="image-replace cd-password" for="signup-password">Пароль</label>
	<!--	<input class="full-width has-padding has-border" id="signup-password" type="text"  placeholder="Пароль">-->
		<?php echo $this->form_account->password; ?>
		<span class="cd-error-message">Здесь сообщение об ошибке!</span>
	</p>
		
	<p class="fieldset">
		<label class="image-replace cd-password" for="signup-password">Повторите пароль</label>
	<!--	<input class="full-width has-padding has-border" id="signup-passwordconf" type="text"  placeholder="Повторите пароль">-->
		<?php echo $this->form_account->passconf; ?>
		<span class="cd-error-message">Здесь сообщение об ошибке!</span>
	</p>
                    
    <p class="fieldset captcha">
        <p>Введите число с картинки</p>
        <?php echo $this->form_account->captcha; ?>
		<div id="captcha-info"></div>
	</p>
                         
	<p class="fieldset">
		<input class="full-width has-padding submit_account" type="submit" value="Создать аккаунт">
	</p>
</form>
