<?php 
    $filter = new Zend_Filter_StringTrim(); ?>

<?php	
foreach ($this->categories_01 as $category) { ?>
	<?php if ($category[0]['children']) { ?>
    <div class="item"><?php echo $category[0]['category_name']; ?></div>
	<?php } else { ?>
	<div class="item">
		<a href="/catalog/<?php echo $category[0]['url_seo']; ?>">
            <img src="<?php echo $this->host;?>/media/photos/categories/big_<?php 
            echo $category[0]['main_photo']; ?>" alt=""/>
    				    <p><?php echo $category[0]['category_name']; ?></p>
        </a>
	</div>
	<?php } ?>
        <?php if ($category[0]['children']) { ?>
       <?php for ($i = 0; $i < count($category[0]['children']);) { ?>
        <ul>
        <?php $j = $i + count($category[0]['children']); ?>
        <?php for (; $i < $j; $i++) { ?>
        <?php if (isset($category[0]['children'][$i])) { ?>
            <li>
                <a href="/catalog/<?php echo $category[0]['children'][$i]['url_seo']; ?>" title="<?php echo $category[0]['children'][$i]['category_name']; ?>" ><?php echo $category[0]['children'][$i]['category_name']; ?></a>
            </li>
        <?php } ?>    
        <?php } ?>
        
        </ul>
       <?php } ?>
        <?php } ?>
    </li>
<?php } ?>



                