<?php $i = 1; foreach ($this->categories_bags as $category) { ?>
	<div class="item">
		<a href="/catalog/<?php echo $category['url_seo']; ?>">
			<img src="images/ruksaki-sd-<?php echo $i;?>.png"/>
			<p><?php echo $category['category_name']; ?></p>
		</a>
	</div>
<?php $i++;} ?>