<?php foreach ($this->categories_01 as $category) { ?>
		<?php if( $category[0]['category_name'] == 'Стоматология') { ?>
			<?php $nofollow = false; ?>
			<ul class="menu-col-1">
		<?php } else { ?>
			<?php $nofollow = true; ?>
			<ul class="menu-col-2">
		<?php } ?>
			<?php if ($category[0]['children']) { ?>
			<li><a <?=$nofollow ? 'rel="nofollow"' : '' ?> href="/<?php echo $category[0]['url_seo']; ?>"><?php echo $category[0]['category_name']; ?></a>
			<?php } else { ?>
			<li><a <?=$nofollow ? 'rel="nofollow"' : '' ?> href="/category/<?php echo $category[0]['url_seo']; ?>"><?php echo $category[0]['category_name']; ?></a>
			<?php } ?>
				<?php if ($category[0]['children']) { ?>
			   <?php for ($i = 0; $i < count($category[0]['children']);) { ?>

				<?php $j = $i + count($category[0]['children']); ?>
				<?php for (; $i < $j; $i++) { ?>
				<?php if (isset($category[0]['children'][$i])) { ?>
					<li>
						<?php $pieces = explode("-", $category[0]['children'][$i]['category_name']); ?>

						<a <?=$nofollow ? 'rel="nofollow"' : '' ?> href="/category/<?php echo $category[0]['children'][$i]['url_seo']; ?>">
							<?php echo $pieces[0]; ?><?php// if( $pieces[1] ) { echo ' <span> - '.$pieces[1].'</span>'; } ?>
						</a>
					</li>
				<?php } ?>
				<?php } ?>


			   <?php } ?>
				<?php } ?>
			</li>
		</ul>
<?php } ?>
