<!-- <style>
    .error{
        color: #f00;
        font-size:12px;
    }
    .callback-success{
        color: #f00;
        font-size: 14px;
        text-align: center;
    }
</style>

<form id="form111" class="cd-form -visor-no-click" action="<?php $this->form->getAction()?>" method="post"> 
    <label>ФИО</label>
        <?php //echo $this->form->name; ?>         
    <label>Телефон</label>
        <?php //echo $this->form->phone; ?>
    <label>Email</label>
        <?php //echo $this->form->email; ?> 
    <label>Комментарий</label>
        <?php //echo $this->form->message; ?>        
        <div class="clear"></div>
    <div class="checkbox">
        <input type="checkbox" name="check" checked="" value="Я соглашаюсь с политикой защиты персональных данных" id="check1">
        <label for="check1">Согласиться с <a href="" target="_blank">политикой защиты персональных данных</a></label>
    </div>
    <div class="clear"></div>
    <input type="submit" name="submit" id="submit-contact" class="submit-button" value="Записаться">
    <div class="clear"></div>
</form>    -->
<form method="post" id="form1" action="">
    <label>ФИО</label>
    <input type="text" name="name" id="contact_name" value="" size="30" class="name" placeholder="">
    <div id="error__name" class="error__block"></div>       
    <label>Телефон</label>
    <input type="text" name="phone" id="phone" value="" class="phone hidden" placeholder="">
    <input type="text" name="phn" id="contact_phone" value="" class="phone" placeholder="">
    <div id="error__phn" class="error__block"></div>        
    <!-- <label>Email</label>
    <input type="email" name="email" id="contact_email" value="" class="email" placeholder="">  -->
    <label id="comment-label">Комментарий</label>
    <textarea id="comment" name="comment" class="comment"></textarea>         
    <div class="clear"></div>
    <div class="checkbox">
    <input type="checkbox" name="check" checked="" value="Я соглашаюсь с политикой защиты персональных данных" id="check1">
    <label for="check1">Согласиться с <a href="/politica-zashity-persinalnyh-dannyh" target="_blank">политикой защиты персональных данных</a></label>
    </div>
    <div class="clear"></div>
    <input type="submit" name="submit" class="submit-button" value="Записаться">
    <div class="clear"></div>
</form>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
