<style>
	.error{
		color: #f00;
		font-size:12px;
	}
	.login_success{
		color: #f00;
		font-size:14px;
	}
</style>

<form class="cd-form" action="#" method="post" >
	<p class="fieldset">
		<label class="image-replace cd-email" for="reset-email">E-mail</label>
		<!--	<input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">-->
		<?php echo $this->form_fogotpass->email; ?>
		<span class="cd-error-message">Здесь сообщение об ошибке!</span>
	</p>

	<p class="fieldset">
		<input class="full-width has-padding" id="submit_fogotpass" type="submit" value="Восстановить пароль">
	</p>
</form>
				
