<div class="footer_item_1">
    <div class="ft_logo_block">
        <a href="/" class="logo"><img src="/images/logo-f.png" alt=""/></a>
    </div>

    <div class="ft_logo_text_block">
        <p class="h5"><a href="/">Стоматологическая клиника в Ростове-на-Дону «Триумф-Элит»</a><br /> Все права защищены.</p>
    </div>
</div>

<div class="footer_item_2">
    <ul>
        <li><a href="/stomatologiya">Услуги</a></li>
        <li><a href="/reception-hours">Часы приема врачей</a></li>
        <li><a href="/about">О клинике</a></li>
        <li><a href="/stocks">Акции и новости</a></li>
        <li><a href="/news">Полезная информация</a></li>
        <li><a href="/legal-information">Юридическая информация</a></li>
        <li><a href="/contacts">Контакты</a></li>
    </ul>
</div>

<div class="footer_item_3">
    <div class="social">
        <a href="<?php echo $this->action('instagram', 'index', 'settings');?>" target="_blank"><img src="/images/soc-instag.png" alt=""/></a>
        <!-- <a href="<?php echo $this->action('vk', 'index', 'settings');?>" target="_blank"><img src="/images/soc-vk.png" alt=""/></a> -->
        <a href="<?php echo $this->action('youtube', 'index', 'settings');?>" target="_blank"><img src="/images/soc-yt.png" alt=""/></a>
    </div>
	<div class="otz">
			<p>отзывы о нас</p>
			<!--<a rel="nofollow" href="https://prodoctorov.ru/rostov-na-donu/lpu/30117-triumf-elit/#newrate_tab_container" target="_blank"><img src="/images/prodoctorov.png" alt=""/></a>-->
			<a rel="nofollow" href="https://rostov.zoon.ru/medical/tsentr_stomatologii_i_kosmetologii_triumf-elit_na_prospekte_korolyova/" target="_blank"><img src="/images/zoon_logo.png" alt=""/></a>
	</div>
</div>

<div class="footer_item_4">
    <div class="politika">
        <a href="/politica-zashity-persinalnyh-dannyh" class="polit">Политика защиты персональных данных</a>
    </div>
</div>

<div class="clear"></div>

<div class="bottom">
    <div class="rf"><img src="/images/rf.png" alt=""/></div>
    <div class="rules">
        Все материалы, размещенные на сайте являются авторскими, копирование запрещено.
        <br />Имеются противопоказания, необходима консультация специалиста.
    </div>
    <div class="sr"><a href="https://bondsoft.ru" target="_blank">Продвижение <br />сайта</a></div>
</div>
<div id="top">&nbsp;</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116846483-17"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116846483-17');
</script>
</div>
<script src="//cdn.callibri.ru/callibri.js" type="text/javascript" charset="utf-8"></script>
