<style>
	.error{
		color: #f00;
		font-size:12px;
	}
	.getprice-success{
		color: #f00;
		font-size: 14px;
		text-align: center;
	}
</style>

<form method="post" id="main-form" action="<?php $this->form->getAction()?>">
    <h3>Получить прайс</h3>
	<div id="response-getprice" class="getprice-success"></div>
    <div class="inputs">
        <?php echo $this->form->name; ?>
        <?php echo $this->form->phone; ?>
        <?php echo $this->form->email; ?>				
        <input class="btn submit-getprice"  type="submit" value="получить">
    </div>
</form>

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
