<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="cmsmagazine" content="4bf03bcf7bc0f800e72a856df3c272ec">
    <link rel="stylesheet" href="/css/shop/style.css?v=12">
    <link rel="stylesheet" href="/css/shop/bootstrap.css">
    <link rel="stylesheet" href="/js/site/slick-theme.css">
    <link rel="stylesheet" href="/js/site/slick.css">
    <link rel="stylesheet" href="/js/site/fancybox/jquery.fancybox.min.css">
	<link rel="stylesheet" href="/css/jquery.mmenu.all.css">
	<?php $cur_page='https://'.$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI'];?>
	<?php if($cur_page=='https://triumf-elite.ru/stocks/page/2')
		{
			echo '<link rel="canonical" href="https://triumf-elite.ru/stocks>';
		}
	?>

	<!-- <noindex><script async src="https://stats.lptracker.ru/code/new/43112"></script></noindex> -->

	<?php

		$cur_page = 'https://'.$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI'];
		$no_pages=array();
		array_push($no_pages,'https://triumf-elite.ru/kosmetologiya');
		array_push($no_pages,'https://triumf-elite.ru/category/apparatnaya-kosmetologiya');
		array_push($no_pages,'https://triumf-elite.ru/category/udalenie-novoobrazovanij');
		array_push($no_pages,'https://triumf-elite.ru/category/inekcionnaya-kosmetologiya');
		array_push($no_pages,'https://triumf-elite.ru/category/biorevitalizaciya-lica');
		array_push($no_pages,'https://triumf-elite.ru/category/inekcii-disporta-dlya-lica-v-rostove-na-donu');
		array_push($no_pages,'https://triumf-elite.ru/category/ukoly-botoksa-dlya-lica-v-rostove');
		array_push($no_pages,'https://triumf-elite.ru/category/lechenie-gipergidroza');
		array_push($no_pages,'https://triumf-elite.ru/category/podtyazhka-lica-mezonityami-v-rostove');
		array_push($no_pages,'https://triumf-elite.ru/category/konturnaya-plastika-gub-lica-v-rostove');
		array_push($no_pages,'https://triumf-elite.ru/category/vrach-trixolog-v-rostove-lechenie-vypadeniya-volos');
		array_push($no_pages,'https://triumf-elite.ru/category/kosmeticheskie-procedury-dlya-lica-i-tela');
		array_push($no_pages,'https://triumf-elite.ru/category/himicheskij-piling-lica');
		array_push($no_pages,'https://triumf-elite.ru/category/lechenie-kuperoza');
		array_push($no_pages,'https://triumf-elite.ru/category/lechenie-postakne');
		array_push($no_pages,'https://triumf-elite.ru/category/kosmeticheskij-massazh-lica');

		foreach($no_pages as $no_page)
		{
			if($no_page==$cur_page)
			{
				echo('<meta name="googlebot" content="noindex">');
				break;
			}
		}

	?>



	<?php $piecesHead = explode("/", $_SERVER['REQUEST_URI']); ?>
  <?php $bsPage = explode("/news/page/", $_SERVER['REQUEST_URI']);
  $bsTail = '';
  $bsTitleTail = '';
  if($piecesHead[1] == 'news-single') {
		$bsTitleTail .= ' - «Триумф-Элит»';
  }
  if(isset($bsPage[1]) && !empty($bsPage[1]) && $bsPage[1] > 0) {
  	$bsTail .= ' | Страница ' . $bsPage[1];
  }?>






	<?php if($this->page) {

        foreach($this->page as $page)
		{
			if ( $piecesHead[1] != 'our_work' )
			if($page->header_tags_title) {
				echo $this->headTitle( $page->header_tags_title . $bsTail . $bsTitleTail) ."\n";
			} elseif($page->category_name) {
				echo $this->headTitle( $page->category_name ) ."\n";
			} elseif($page->product_model) {
				echo $this->headTitle( $page->product_model ) ."\n";
			}
			if ( $piecesHead[1] != 'our_work' )
			if($page->header_tags_description) {
				$this->headMeta()->appendName('description', $page->header_tags_description . $bsTail);
			} elseif($page->category_name) {
				$this->headMeta()->appendName('description', $page->category_name);
			} elseif($page->product_model) {
				$this->headMeta()->appendName('description', $page->product_model);
			}
			if ( $piecesHead[1] != 'our_work' )
			if($page->header_tags_keywords) {
				$this->headMeta()->appendName('keywords', $page->header_tags_keywords . $bsTail);
			} elseif($page->category_name) {
				$this->headMeta()->appendName('keywords', $page->category_name);
			} elseif($page->product_model) {
				$this->headMeta()->appendName('keywords', $page->product_model);
			}

			if ( $piecesHead[1] != 'our_work' )
            echo $this->headMeta();
        }
		}
    ?>

    <?php

	// правка мета для раздела наши работы
		if ( $piecesHead[1] == 'our_work' ) {

			echo $this->headTitle( str_replace(array('статьи','Статьи'),array('работы','Работы'), $page->header_tags_title ) . $bsTail ) ."\n";
			$this->headMeta()->appendName('description', str_replace(array('статьи','Статьи'),array('работы','Работы'), $page->header_tags_description . $bsTail ) );
			$this->headMeta()->appendName('keywords', str_replace(array('статьи','Статьи'),array('работы','Работы'), $page->header_tags_keywords . $bsTail ) );

			echo $this->headMeta();

		} else {


		if($piecesHead[1] == 'stomatologiya' || $piecesHead[1] == 'kosmetologiya' || $piecesHead[1] == 'prices' || ($piecesHead[1] == 'about' && $piecesHead[2] == 'videos') && isset($piecesHead)) {
    	echo $this->headTitle( $this->page->header_tags_title ) ."\n";
			$this->headMeta()->appendName('description', $this->page->header_tags_description);
			$this->headMeta()->appendName('keywords', $this->page->header_tags_keywords);
    	echo $this->headMeta();

		}
    } ?>
