<div class="logo-h">
    <a href="/"><img src="/images/logo-h.png"></a>
</div>
                
<div class="point-1">
    <div class="adress"><span>Ростов-на-Дону,</span> <br /> пр. Космонавтов, 26</div><br>
    <a href="tel:<?php echo $this->action('configtelephone01', 'index', 'settings');?>" class="tel-number kosmonavtovPhone">
	    <div class="tel-number"><?php echo $this->action('configtelephone01', 'index', 'settings');?></div>
	    <div class="tel-number"><?php echo $this->action('configtelephone02', 'index', 'settings');?></div>
    </a>
</div>
                
<div class="point-2">
    <div class="adress"><span>Ростов-на-Дону,</span> <br /> пр. Королева, 18</div><br>
    <a href="tel:+78633033957" class="tel-number korolevaPhone">+7 (863) 303-39-57
	    <!--<div class="tel-number"><?php //echo $this->action('configtelephone03', 'index', 'settings');?></div>
	    <div class="tel-number"><?php //echo $this->action('configtelephone04', 'index', 'settings');?></div>-->
	  </a>
</div>
            
<div class="work-clock">
    <span>Режим работы:</span> <br /> ПН-ПТ 9.00-19.00 <br /> СБ с 9.00-16.00 <br /> ВС -выходной
</div>  