<?php 
	$filter = new Zend_Filter_StringTrim();
 
    foreach($this->page as $homepage) { 
       echo $filter->filter($homepage->intro_text);
	   echo $filter->filter($homepage->text);
	}
?>
<!--
<h1>"Триумф-Элит" - центр стоматологии & косметологии в Ростове-на-Дону</h1>
                                                       
                        
                            <p class="pad30">
                            Центр стоматологии & косметологии "Триумф-Элит"оказывает медицинские услуги европейского уровня качества по доступным ценам 
                            благодаря первоклассному оборудованию современным материалам и квалифицированные специалистам, оказывающим с высокой ответственностью качественную медицинскую помощь.
                            </p>
                            
                            <p><b>Наши преимущества:</b></p>
        
                            <ol>
                             <li>Комплексный подход при оказании медицинских услуг.</li>
                             <li>В работе центра используется программа антиСПИД/ антигепатит.</li>
                             <li>Расчет стоимости лечения осуществляется на первичной консультации.</li>
                             <li>Применяются альтернативные методы лечения.</li>
                             <li>Высокое качество услуг достигается профессионализмом врачей с использованием новейшего оборудования, современных материалов, имеющих государственную регистрацию и сертификаты Минздрава РФ.</li>
                             <li>Гибкая система скидок и бонусов.</li>
                            </ol> -->
    
       
