<?php $pieces = explode("/", $_SERVER['REQUEST_URI']); ?>
<?php 
	$active_element = $pieces[2];
	foreach ($this->parent_info as $parent_info_key => $parent_info_value) {
		$active_parent = $parent_info_value['url_seo'];
  }
?>
<?php foreach ($this->categories_01 as $category) { ?>
		<?php if( $category[0]['category_name'] == 'Косметология') { ?>
			<?php if($pieces[1] != 'services' && $pieces[2] != '') {?>
				<div class="kosTitle"><a href="/kosmetologiya">Косметология</a></div>
			<?php } ?>
			<div class="pageMenu red">
				<ul class="bs-accordion-menu">
					<?php if ($category[0]['children']) { ?>
						<?php foreach($category[0]['children'] as $bsMenuLvl2Key => $bsMenuLvl2Value) {?>
							<li class="<?php if($bsMenuLvl2Value['url_seo'] == $active_element || $bsMenuLvl2Value['url_seo'] == $active_parent) { ?>current nav-open<?php } else { ?>nav-close<?php }?>">
								<?php $pieces = explode("-", $bsMenuLvl2Value['category_name']); ?>
								<div>
									<a href="/category/<?php echo $bsMenuLvl2Value['url_seo']; ?>" >
										<span><?php echo mb_strtoupper(mb_substr(mb_strtolower($pieces[0]), 0, 1, 'UTF-8'), 'UTF-8') . mb_substr(mb_strtolower($pieces[0]), 1, null, 'UTF-8'); ?></span>
									</a>
								<?php if(!$bsMenuLvl2Value['children_lv3']) {?>
									</div>
								<?php }?>
								<?php if($bsMenuLvl2Value['children_lv3']) {?>
									<span class="sb_showchild"></span>
									</div>
									<ul class="<?php if($bsMenuLvl2Value['url_seo'] == $active_element || $bsMenuLvl2Value['url_seo'] == $active_parent) { ?>open<?php } ?>">
										<?php foreach($bsMenuLvl2Value['children_lv3'] as $bsMenuLvl3Key => $bsMenuLvl3Value) {?>
											<?php $pieces = explode("-", $bsMenuLvl3Value['category_name']); ?>
											<li class="<?php if($bsMenuLvl3Value['url_seo'] == $active_element) { ?>item-selected<?php } ?>">
												<a href="/category/<?php echo $bsMenuLvl3Value['url_seo']; ?>" >
													<span><?php echo mb_strtoupper(mb_substr(mb_strtolower($pieces[0]), 0, 1, 'UTF-8'), 'UTF-8') . mb_substr(mb_strtolower($pieces[0]), 1, null, 'UTF-8'); ?></span>
												</a>
											</li>
										<?php }?>
									</ul>
								<?php } ?>
							</li>
						<?php } ?>
					<?php } ?>
				</ul>
			</div>
		<?php } ?>
<?php } ?>