<style>
	.error{
		color: #f00;
		font-size:12px;
	}
	.login_success{
		color: #f00;
		font-size:14px;
	}
</style>


<form class="cd-form" action="#" method="post" >
	<p class="fieldset">
		<label class="image-replace cd-email" for="signin-email">E-mail</label>
	<!--	<input class="full-width has-padding has-border" id="signin-email" type="email" name="email" placeholder="E-mail">-->
		<?php echo $this->form_login->email; ?>
		<span class="cd-error-message">Здесь сообщение об ошибке!</span>
	</p>

	<p class="fieldset">
		<label class="image-replace cd-password" for="signin-password">Пароль</label>
	<!--	<input class="full-width has-padding has-border" id="signin-password" type="text"  placeholder="Пароль">-->
		<?php echo $this->form_login->password; ?>
		<span class="cd-error-message">Здесь сообщение об ошибке!</span>
	</p>

	<p class="fieldset">
		<input class="full-width submit_login" type="submit" value="Войти">
	</p>
</form>

<!-- <form>

		  <input type="email" placeholder="E-mail">

		  <input type="password" placeholder="Пароль">

		  <label>
		  	<input type="checkbox" class="login_checkbox"> Запомнить меня
		  	<span class="checkbox_icon"></span>
		  </label> <br>

		  <button type="submit"> Войти </button>

		  <span class="login_registration" id="reg"> Зарегистрироваться </span>

		</form> -->