<?php $pieces = explode("/", $_SERVER['REQUEST_URI']); ?>
<!-- top -->


<div id="top_w">
  <!-- navi -->
  <div id="nav" class="container">
  <!-- <div style="padding: 5px 0 0 0; text-align: center;"><a href="/stock-single/grafik-raboty-v-novogodnie-prazdniki">ГРАФИК РАБОТЫ В НОВОГОДНИЕ ПРАЗДНИКИ</a></div> -->
    <div class="navbar">
		  <div class="container-fluid">
				<div class="navbar-header">
					<div class="mobile-header">
					
						<a class="call" href="tel:+78632310303"></a>
								<div class="logo_m">
									<a class="logo__link" href="/">
										<img alt="" class="logo-image" src="">
									</a>
									<span class="logo__text">
										<div class="sl"></div>
									</span>
								</div>	
								<div class="mobile_menu" id="open_meny">
								</div>
					
					</div>
				</div>
				<div class="collapse navbar-collapse" id="navbar">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="/stomatologiya" data-target="#" class="<?php if($pieces[1] == 'stomatologiya' || $pieces[1] == 'kosmetologiya' || $pieces[1] == 'category') { ?>active <?php } ?>dropdown-toggle">Услуги <b class="caret"></b></a>
							<div class="dropdown-menu">
								<?php echo $this->action('categories', 'index', 'index');?> 
							</div>
						</li>
						<li class="dropdown"><a class="<?php if($pieces[1] == 'about') { ?>active <?php } ?>dropdown-toggle" href="/about">О клинике <b class="caret"></b></a>
							<div class="dropdown-menu dropdown-menu-small">
								<ul class="menu-col">
									<li><a href="/about/videos">НАШИ ВИДЕО</a></li>
									<li><a href="/clinic-tour-1">ВИРТУАЛЬНЫЙ ТУР (КОСМОНАВТОВ, 26)</a></li>
									<li><a href="/clinic-tour-2">ВИРТУАЛЬНЫЙ ТУР (КОРОЛЕВА, 18)</a></li>
								</ul>
							</div>
						</li>
						<li><a href="/reception-hours" class="<?php if($pieces[1] == 'reception-hours') { ?>active <?php } ?>">Часы приема врачей</a></li>
						<li><a href="/prices" class="<?php if($pieces[1] == 'prices') { ?>active <?php } ?>">Цены</a></li>
						<li><a href="/stocks" class="<?php if($pieces[1] == 'stocks' || $pieces[1] == 'stock-single') { ?>active <?php } ?>">Акции и новости</a></li>                                                                                      
						<li class="dropdown"><a href="/news" class="<?php if($pieces[1] == 'news' || $pieces[1] == 'news-single' || $pieces[1] == 'our_work') { ?>active <?php } ?>dropdown-toggle">Статьи <b class="caret"></b></a>
							<div class="dropdown-menu dropdown-menu-small">
								<ul class="menu-col">
									<li><a href="/our_work">НАШИ РАБОТЫ</a></li>
								</ul>
							</div>
						</li>                                                                                      
						<li><a href="/contacts" class="<?php if($pieces[1] == 'contacts') { ?>active <?php } ?>">Контакты</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><div class="but-callback">Записаться на прием</div></li>
					</ul>
				</div>
				<div id="for_mobile_meny">
				<ul>
						<li>
							<a href="/stomatologiya" data-target="#" class="<?php if($pieces[1] == 'stomatologiya' || $pieces[1] == 'kosmetologiya' || $pieces[1] == 'category') { ?>active <?php } ?>dropdown-toggle">Услуги <b class="caret"></b></a>
							<ul>
								<li><a href="/stomatologiya">Стоматология</a>
								<ul><li>
												
						<a href="/category/lechenie-kariesa-pulpita-desen-kisty-v-rostove">
							ЭСТЕТИЧЕСКОЕ ЛЕЧЕНИЕ ЗУБОВ						</a>
					</li>
				    
													<li>
												
						<a href="/category/implantaciya-zubov-v-rostove-na-donu">
							ИМПЛАНТАЦИЯ ЗУБОВ						</a>
					</li>
				    
													<li>
												
						<a href="/category/lechenie-i-protezirovanie-zubov-v-rostove">
							ПРОТЕЗИРОВАНИЕ ЗУБОВ						</a>
					</li>
				    
													<li>
												
						<a href="/category/hirurgiya">
							ХИРУРГИЯ						</a>
					</li>
				    
													<li>
												
						<a href="/category/lechenie-desen">
							ПАРОДОНТОЛОГИЯ						</a>
					</li>
				    
													<li>
												
						<a href="/category/ispravlenie-prikusa-vyravnivanie-zubov-v-rostove">
							ОРТОДОНТИЯ						</a>
					</li>
				    
													<li>
												
						<a href="/category/gigiena-polosti-rta">
							ГИГИЕНА ПОЛОСТИ РТА						</a>
					</li>
								</ul>
								</li>
								<li><a href="/kosmetologiya">Косметология</a>
								<ul><li>
												
						<a href="/category/apparatnaya-kosmetologiya">
							АППАРАТНАЯ КОСМЕТОЛОГИЯ						</a>
					</li>
				    
													<li>
												
						<a href="/category/inekcionnaya-kosmetologiya">
							ИНЪЕКЦИОННАЯ КОСМЕТОЛОГИЯ						</a>
					</li>
				    
													<li>
												
						<a href="/category/podtyazhka-lica-mezonityami-v-rostove">
							МЕЗОНИТИ						</a>
					</li>
				    
													<li>
												
						<a href="/category/konturnaya-plastika-gub-lica-v-rostove">
							КОНТУРНАЯ ПЛАСТИКА ГУБ, ЛИЦА						</a>
					</li>
				    
													<li>
												
						<a href="/category/kosmeticheskie-procedury-dlya-lica-i-tela">
							КОСМЕТИЧЕСКИЕ ПРОЦЕДУРЫ ДЛЯ ЛИЦА И ТЕЛА						</a>
					</li>
				    
													<li>
												
						<a href="/category/vrach-trixolog-v-rostove-lechenie-vypadeniya-volos">
							ЛЕЧЕНИЕ ВОЛОС 						</a>
					</li>
								</ul>
								</li>
							</ul>
						</li>
						<li><a class="<?php if($pieces[1] == 'about') { ?>active <?php } ?>dropdown-toggle" href="/about">О клинике <b class="caret"></b></a>
							<ul>
									<li><a href="/about/videos">НАШИ ВИДЕО</a></li>
									<li><a href="/clinic-tour-1">ВИРТУАЛЬНЫЙ ТУР (КОСМОНАВТОВ, 26)</a></li>
									<li><a href="/clinic-tour-2">ВИРТУАЛЬНЫЙ ТУР (КОРОЛЕВА, 18)</a></li>
							</ul>
						</li>
						<li><a href="/reception-hours" class="<?php if($pieces[1] == 'reception-hours') { ?>active <?php } ?>">Часы приема врачей</a></li>
						<li><a href="/prices" class="<?php if($pieces[1] == 'prices') { ?>active <?php } ?>">Цены</a></li>
						<li><a href="/stocks" class="<?php if($pieces[1] == 'stocks' || $pieces[1] == 'stock-single') { ?>active <?php } ?>">Акции и новости</a></li>                                                                                      
						<li><a href="/news" class="<?php if($pieces[1] == 'news' || $pieces[1] == 'news-single' || $pieces[1] == 'our_work') { ?>active <?php } ?>dropdown-toggle">Статьи <b class="caret"></b></a>
							<ul>
									<li><a href="/our_work">НАШИ РАБОТЫ</a></li>
							</ul>
						</li>                                                                                      
						<li><a href="/contacts" class="<?php if($pieces[1] == 'contacts') { ?>active <?php } ?>">Контакты</a></li>
				</ul>
				</div>
		  </div>
 		</div>
  	<div class="clear"></div>
	</div>
</div><!-- end top -->