<?php $translate = Zend_Registry::get('Zend_Translate'); ?>
<h1><?php echo $translate->translate('contact information'); ?></h1>
<p style="font-size: 18px;"><span style="line-height: 1.5em;">E-mail: rustarostov@gmail.com</span></p>
<p style="font-size: 18px;"><?php echo $translate->translate('telephone lable'); ?>: <span style="line-height: 1.5em;">8 (863)229-25-52</span></p>
<p style="font-size: 18px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>8-863-248-50-70</span></p>
<p style="font-size: 18px;"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>8-918-571-97-60 (Viber, WhatsApp)</span></span></p>
<p style="font-size: 18px;"><?php echo $translate->translate('address'); ?>: <span><?php echo $translate->translate('config_address'); ?></span></p>
<script charset="utf-8" type="text/javascript" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=vzhX54LFqD8ueSHD9W8IOsOoAIMpB4rl&amp;width=600&amp;height=450"></script>