<form action="#" method="post" >
			<div class="container">
				<div class="filter_col_1">
					<h3>Бренд</h3>
					
					<div class="input_row checkbox_row">
						<input data-role="none" type="checkbox" name="brend" id="brend"/>
						<label for="brend"><span></span> Across</label>
					</div>
					
					<div class="input_row checkbox_row">
						<input data-role="none" type="checkbox" name="brend" id="brend1"/>
						<label for="brend1"><span></span> Hummingbird</label>
					</div>

					<div class="input_row checkbox_row">
						<input data-role="none" type="checkbox" name="brend" id="brend2"/>
						<label  for="brend2"><span></span> Ufo People</label>
					</div>	

					<div class="inputs_filer_hidden">
						<div class="input_row checkbox_row">
							<input data-role="none" type="checkbox" name="brend" id="brend3"/>
							<label  for="brend3"><span></span> Ufo People</label>
						</div>	

						<div class="input_row checkbox_row">
							<input data-role="none" type="checkbox" name="brend" id="brend4"/>
							<label  for="brend4"><span></span> Ufo People</label>
						</div>

						<div class="input_row checkbox_row">
							<input data-role="none" type="checkbox" name="brend" id="brend5"/>
							<label  for="brend5"><span></span> Ufo People</label>
						</div>						
					</div>					
					
					<a href="#" class="more_filter">еще</a>
				</div>
				
				<div class="filter_col_2">
					<h3>цена</h3>


				<div class="labels-wrap">
					<div class="leftLabel"></div>
					<div class="rightLabel"></div>					
				</div>
				
				<div class="nstSlider" data-range_min="500" data-range_max="7000" data-cur_min="900"  data-cur_max="6000">

					<div class="bar"></div>
					<div class="leftGrip"></div>
					<div class="rightGrip"></div>
				</div>
					


					
					
				</div>		


				<div class="filter_col_3">
					<h3>пол</h3>
					
					<div class="input_row checkbox_row">
						<input data-role="none" type="checkbox" name="gender[]" id="gender-male"/>
						<label for="gender-male"><span></span> Мальчикам</label>
					</div>
					
					<div class="input_row checkbox_row">
						<input data-role="none" type="checkbox" name="gender[]" id="gender-female"/>
						<label for="gender-female"><span></span> Девочкам</label>
					</div> 

				</div>	


				<div class="filter_col_4">
					<h3>размер</h3>
					
					<div class="input_row checkbox_row">
						<input data-role="none" type="checkbox" name="size[]" id="size-small"/>
						<label for="size-small"><span></span> Маленький</label>
					</div>
					
					<div class="input_row checkbox_row">
						<input data-role="none" type="checkbox" name="size[]" id="size-medium"/>
						<label for="size-medium"><span></span> Средний</label>
					</div>

					<div class="input_row checkbox_row">
						<input data-role="none" type="checkbox" name="size[]" id="size-big"/>
						<label for="size-big"><span></span> Большой</label>
					</div>					
				</div>	


				<div class="filter_col_5">
			
				<!--	<input data-role="none" type="submit" id="submit" value="подобрать" name="submit"/> -->
					<?php echo $this->form->submit; ?>
					<input data-role="none" type="submit" id="reset" value="сбросить" name="reset"/>					
				</div>					
				
			</div>
		</form>