<?php 
	$pieces = explode("/", $_SERVER['REQUEST_URI']); 
	$pieces_02 = explode("?", $_SERVER['REQUEST_URI']);		
	//echo @$pieces_02[1];
	if (isset($_GET['sort'])) { 
		$url = '&sort=' . $_GET['sort'];
	}
?>
<form action="#" method="get" >
	<input type="hidden" name="category_id" value="<?php echo $this->category_id; ?>" />
	<input type="hidden" name="url_seo" value="<?php echo $this->url_seo_get; ?>" />
    <select onchange="location = this.value;">
    <?php if ($_GET['limit'] == '12') { ?>
        <option value="<?php echo '?'.@$pieces_02[1]. @$url .'&limit=12' ?>" selected="selected">12</option>
	<?php } else { ?>
		<option value="<?php echo '?'.@$pieces_02[1]. @$url .'&limit=12' ?>">12</option>
	<?php } ?>
	<?php if ($_GET['limit'] == '24') { ?>
        <option value="<?php echo '?'.@$pieces_02[1]. @$url .'&limit=24' ?>" selected="selected">24</option>
	<?php } else { ?>
		<option value="<?php echo '?'.@$pieces_02[1]. @$url .'&limit=24' ?>">24</option>
	<?php } ?>
	<?php if ($_GET['limit'] == '48') { ?>
        <option value="<?php echo '?'.@$pieces_02[1]. @$url .'&limit=48' ?>" selected="selected">48</option>
	<?php } else { ?>
		<option value="<?php echo '?'.@$pieces_02[1]. @$url .'&limit=48' ?>">48</option>
	<?php } ?>
	</select>
</form> 