<?php
    $this->title = "Удаление";
    $this->headTitle($this->title);
?>
<div class="header"> 
    <h1 class="page-title">Наша команда</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/sliderthree">Наша команда</a> </li> &gt;&gt;
        <li class="active">Удалить</li>
    </ul>
</div>
<div class="box"> 
<div class="box-content">
</br></br>
<h3>Вы действительно хотите удалить 
    <?php echo $this->escape($this->slider_object['slider_title']); ?>?
</h3>
<p align = "center" ><font size="4" color="red" face="Arial"><?php echo $this->errMessage; ?></font></p>
<form action="<?php echo $this->url(array('action'=>'delete')); ?>" method="post">
    <div>
        <input type="hidden" name="slider_id" value="<?php echo $this->slider_object['slider_id']; ?>" />
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true" name="del" value="No">Нет</button>
        <button class="btn btn-danger" data-dismiss="modal" name="del" value="yes">Удалить</button>  
    </div>
</form>
<div>
<div>