<?php 
    echo $this->headTitle("Редактировать"); 

    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tinymce/jscripts/tiny_mce/tiny_mce.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );
    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tiny_mce_init.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );
    echo $this->inlineScript();
?> 
<div class=""> 
    <h1 class="page-title">Наша команда</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/sliderthree">Наша команда</a> </li> &gt;&gt;
        <li class="active"><?php echo $this->slider['slider_title']; ?></li>
    </ul>
</div>
<div class="">
<div class="col-md-10">
   
  <!--  <p align = "center" ><font size="3" color="" face="Arial"><?php echo $this->errMessage; ?></p> -->
	<!--<form action="/admin/adminproducts/editproduct" method="post" enctype = "multipart/form-data">-->
	<form action="<?php $this->form->getAction()?>" method="post" enctype = "multipart/form-data">
    <div id="myTabContent" class="tab-content">
		
        <div class="tab-pane active in" id="tab-general">
			<table id="" class="">
			<tr>
                <td>
					<input type="hidden" name="slider_id" value="<?php echo $this->slider_id; ?>" />
					<label for="title"><strong>Фамилия: </strong></label>
					<?php echo $this->form->slider_title; ?>
				</td>
			</tr>
			<tr>
                <td>
					<label for="title"><strong>url: </strong></label>
					<?php echo $this->form->slider_url; ?>
				</td>
			</tr>
			<tr>
                <td>
					<label for="title"><strong>Имя: </strong></label>
					<?php echo $this->form->slider_title_extra; ?>
				</td>
			</tr>
			<tr>
                <td>
					<label for="title"><strong>Должность: </strong></label>
					<?php echo $this->form->slider_title_01; ?>
				</td>
			</tr>
			<tr>
                <td>
					<label for="title"><strong>Текст: </strong></label>
					<?php echo $this->form->slider_text; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>Время работы(в одну строчку через ;): </strong></label>
					<?php echo $this->form->slider_worktime; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>Отдел(0-стоматология, 1-косметология, 2-администрация): </strong></label>
					<?php echo $this->form->department; ?>
				</td>
			</tr>
			<tr>
        <td>
					<label for="title"><strong>Клиника (0-не указана, 1-Космонавтов, 2-Королева): </strong></label>
					<?php echo $this->form->clinic_number; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>Порядок сортировки: </strong></label>
					<?php echo $this->form->sort_order; ?>
				</td>
			</tr>
			<tr>	
			<td>
				<label for="title"><strong>title: </strong></label>
				<?php echo $this->form->header_tags_title; ?>
			</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>description: </strong></label>
					<?php echo $this->form->header_tags_description; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>keywords: </strong></label>
					<?php echo $this->form->header_tags_keywords; ?>
				</td>
			</tr>
			<tr>
                <td>
                    <?php if($this->slider['image']) { ?>
						<div id="response_sliderthree_image">      
							<img src="<?php echo $this->host;?>/media/photos/slider/small_<?php 
							echo $this->slider['image']; ?>" border = "0" height = "100" WIDTH = "140" ><br><br>  
							<div id="status_remove_sliderthree_image">
								<a href="#" class="status_on remove_sliderthree_image btn btn-small btn-danger" data-status-sliderthree-image="<?php echo $this->slider_id; ?>" >Удалить</a>
							</div>
						</div>
						<?php } else { ?>
							<img src="<?php echo $this->host;?>/media/photos/no_photo.jpeg" border = "0" height = "100" WIDTH = "140" >
						<?php } ?> 
                </td>
            </tr> 
			<tr>	
				<td>
					<?php echo $this->form->image; ?>
				</td>
			</tr>
			<tr>
                <td>
					<label for="title"><strong>Alt: </strong></label>
					<?php echo $this->form->alt; ?>
				</td>
			</tr>
			</table>
        </div>
        
		<input type="submit" class="btn btn-primary pull-left" value="Сохранить"/>
            
    </div>
	</form>
<br>
</div>
</div>