<?php echo $this->headTitle('Наша команда'); ?>
    <?php $filter = new Zend_Filter_StringTrim();?>
 
<div class="header"> 
    <h1 class="page-title">Наша команда</h1>
    <ul class="breadcrumb">
        <li class="active">Наша команда</li>
    </ul>
</div>  
<div class="box"> 
<div class="box-content">
<a class="btn btn-primary" href="<?php echo '/admin/sliderthree/add';?>" title=""><i class="btn-icon-only icon-plus-sign"></i>Добавить слайдер</a>

<table class="table table-hover">
    <thead>
        <tr> 
            <th width="24%">Фото</th>
            <th width="12%">Фамилия</th>
			<th width="12%">Имя</th>
			<th width="15%">Должность</th>
            <th width="8%">Сорт.</th>
			<th width="10%">Фото</th>
			<th width="10%">Изображения для страницы</th>
            <th width="10%">Статус</th>
            <th width="6%">Редакт.</th> 
            <th width="6%">Удалить</th> 
        </tr> 
    </thead>
    <tbody>
   
<?php foreach ($this->paginator as $slider) { ?>
    <tr>
        <td>
            <?php if($slider['image']) { ?>
                <img src="<?php echo $this->host;?>/media/photos/slider/small_<?php 
                echo $slider['image']; ?>" border = "0" height = "100" WIDTH = "140" > 
            <?php } else { ?>
                <img src="<?php echo $this->host;?>/media/photos/no_photo.jpeg" border = "0" height = "100" WIDTH = "140" >
            <?php } ?> 
        </td>
        <td>
            <a href="<?php echo '/admin/sliderthree/edit/slider_id/'.$slider['slider_id']; ?>" ><?php echo $slider['slider_title']; ?></a>
        </td>
		<td align="center">
            <?php echo $slider['slider_title_extra']; ?>
        </td>
		<td align="center">
            <?php echo $slider['slider_title_01']; ?>
        </td>
		<td align="center">
            <?php echo $slider['sort_order']; ?>
        </td>
		<td align="center">
			<a href="<?php echo '/admin/sliderthreephoto/index/slider_id/'.$slider['slider_id']; ?>" class="btn btn-small btn-info" title="<?php echo "Фото"; ?>"><i class="fbtn-icon-only icon-camera"></i></a>
		</td>
		<td align="center">
			<a href="<?php echo '/admin/sliderthreephotoforpage/index/slider_id/'.$slider['slider_id']; ?>" class="btn btn-small btn-info" title="<?php echo "Изображения";?>"><i class="btn-icon-only icon-picture"></i></a>
		</td>
        <td align="center">
            <div id="response_sliderthree<?php echo $slider->slider_id; ?>"><?php if($slider->status == 0) { ?><p style="color:red;">Отключено</p> <?php } 
else { ?><p>Включено</p><?php } ?></div>
        
        <div id="status_on_sliderthree<?php echo $slider->slider_id; ?>"><a href="#" class="status_on sliderthree_on btn btn-small btn-info" data-status-sliderthree="<?php 
echo $slider->slider_id; ?>" ><i class="btn-icon-only icon-ok"></i></a></div>
        <div id="status_off_sliderthree<?php echo $slider->slider_id; ?>"><a href="#" class="status_off sliderthree_off btn btn-small btn-danger" 
data-status-sliderthree="<?php echo $slider->slider_id; ?>" ><i class="btn-icon-only icon-remove"></i></a></div>  
        </td>  
        <td align="center"><a href="<?php echo '/admin/sliderthree/edit/slider_id/'.$slider['slider_id']; ?>" class="btn btn-small btn-info" title="<?php echo 
"Редактировать";?>"><i class="btn-icon-only icon-edit"></i></a></td>
        <td align="center"><a href="<?php echo '/admin/sliderthree/delete/slider_id/'.$slider['slider_id']; ?>" class="btn btn-small btn-danger" title="<?php echo "Удалить"; ?>"><i class="btn-icon-only icon-trash"></i></a></td>
    </tr>
       
        
        <?php } ?>    
       

    <tbody>
</table>
</div> 
</div>
<?php echo $this->paginationControl($this->paginator, 'Elastic', 'controls.phtml'); ?>