<?php
    $translate = Zend_Registry::get('Zend_Translate');
    echo $this->headTitle($translate->translate('Your message has been sent successfully.'));    
?>
<br/>
<br/><br/>
<div id="content-bg">
<div class="content-interchapter"></div>
	<div class="content-container">
        <?php echo $translate->translate('Your message has been sent successfully.'); ?> 		
	</div>
</div>	

