<?php
    echo $this->headTitle('Страница администратора - контакты');   
    $filter = new Zend_Filter_StringTrim();
?>
<div class="header"> 
    <h1 class="page-title">Контакты</h1>
    <ul class="breadcrumb">
        <li class="active">Контакты</li>
    </ul>
</div>
 
<!--<div class="panel panel-default"> -->           
<div class="box"> 
<div class="box-content">
<div class="">
  <div class="col-md-10">
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane active in" id="home">
            <?php foreach($this->page_text as $contacts) : ?>
    <table border="0" width="95%" >
    <tr>
    <td align="center" width="10%"></td>
        <td align="right" width="90%">  
            <a href="<?php echo '/admin/admincontactsphoto/index/';?>" class="btn btn-small btn-info" title="<?php echo "Загрузить фото";?>"><i class="btn-icon-only icon-camera"></i></a>
            <a href="<?php echo '/admin/admincontacts/edit/contacts_id/'.$contacts->contacts_id;?>" class="btn btn-small btn-info" title="<?php echo "Редактировать";?>"><i class="btn-icon-only icon-edit"></i></a>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <hr noshade size="3" />  
        </td>
    </tr>
    <tr>
        <th align = "left" width="10%"><?php echo "Текст:"; ?></th>
        <td><?php if($contacts->text) echo $filter->filter($contacts->text); else echo '<font size="" color="red" face="Arial">Нет данных</font>';?></td>
    </tr>
    <tr>
        <td>-------------</td>
        <td>--------------------------------------------------------------------------------------------</td> 
    </tr>
    <tr>
        <th align = "left" width="10%"><?php echo "title:"; ?></th>
        <td><?php if($contacts->header_tags_title) echo $filter->filter($contacts->header_tags_title); else echo '<font size="" color="red" face="Arial">Нет данных</font>';?></td>
    </tr>
    <tr>
        <td>-------------</td> 
        <td>--------------------------------------------------------------------------------------------</td> 
    </tr>
    <tr>
        <th align = "left" width="10%"><?php echo "description:"; ?></th>
        <td><?php if($contacts->header_tags_description) echo $filter->filter($contacts->header_tags_description); else echo '<font size="" color="red" face="Arial">Нет данных</font>';?></td>
    </tr>
    <tr>
        <td>-------------</td> 
        <td>--------------------------------------------------------------------------------------------</td> 
    </tr>
    <tr>
        <th align = "left" width="10%"><?php echo "keywords:"; ?></th>
        <td><?php if($contacts->header_tags_keywords) echo $filter->filter($contacts->header_tags_keywords); else echo '<font size="" color="red" face="Arial">Нет данных</font>';?></td>
    </tr>
    <tr>
        <td>-------------</td> 
        <td>--------------------------------------------------------------------------------------------</td> 
    </tr>
    </table>
<?php endforeach; ?>
</div>

</div>
</div>
</div>
</div>
</div>

    