<?php 
    $filter = new Zend_Filter_StringTrim(); ?>

<?php	
foreach ($this->categories_01 as $category) { ?>
	<?php if ($category[0]['children']) { ?>
    <li><?php echo $category[0]['category_name']; ?></li>
	<?php } else { ?>
	<li><a href="/category/<?php echo $category[0]['url_seo']; ?>" title="<?php echo $category[0]['category_name']; ?>" ><?php echo $category[0]['category_name']; ?></a>
	<?php } ?>
        <?php if ($category[0]['children']) { ?>
       <?php for ($i = 0; $i < count($category[0]['children']);) { ?>
        <ul class="list-unstyled-in">
        <?php $j = $i + count($category[0]['children']); ?>
        <?php for (; $i < $j; $i++) { ?>
        <?php if (isset($category[0]['children'][$i])) { ?>
            <li>
                <a href="/category/<?php echo $category[0]['children'][$i]['url_seo']; ?>" title="<?php echo $category[0]['children'][$i]['category_name']; ?>" ><?php echo $category[0]['children'][$i]['category_name']; ?></a>
            </li>
        <?php } ?>    
        <?php } ?>
        
        </ul>
       <?php } ?>
        <?php } ?>
    </li>
<?php } ?>
