<div class="container">                       
    <a href="/" >
        <img class="profile-image img-responsive pull-left" width="180"src="/assets/images/profile.png" alt="Alexander Kovalchuk" />
        <div class="profile-content pull-left">
            <h1 class="name">Alexander Kovalchuk</h1>
            <h2 class="desc">Web App Developer</h2>   
            <ul class="social list-inline">
                <!--    <li><a href="#"><i class="fa fa-twitter"></i></a></li>                   
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
                <!--    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>-->
                <!--    <li><a href="#"><i class="fa fa-github-alt"></i></a></li>                  
                    <li class="last-item"><a href="#"><i class="fa fa-hacker-news"></i></a></li>-->                 
            </ul> 
        </div><!--//profile-->
	</a>
            <a class="btn btn-cta-primary pull-right" href="/contacts" ><i class="fa fa-paper-plane"></i> Contact Me</a>              
</div><!--//container-->