<!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
 <!--   <link rel="shortcut icon" href="favicon.ico">  -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
    <!-- Global CSS -->
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.css">
    
    <!-- github calendar css -->
    <link rel="stylesheet" href="/assets/plugins/github-calendar/dist/github-calendar.css"
/>
    <!-- github acitivity css -->
    <link rel="stylesheet" href="/assets/plugins/github-activity/src/github-activity.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="/assets/css/styles.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  
	<?php if($this->page) {
        foreach($this->page as $page)
		{
			if($page->header_tags_title) {
				echo $this->headTitle( $page->header_tags_title ) ."\n"; 
			} elseif($page->category_name) {
				echo $this->headTitle( $page->category_name ) ."\n";
			} elseif($page->product_model) {
				echo $this->headTitle( $page->product_model ) ."\n";
			}
			if($page->header_tags_description) {
				$this->headMeta()->appendName('description', $page->header_tags_description); 
			} elseif($page->category_name) {
				$this->headMeta()->appendName('description', $page->category_name); 
			} elseif($page->product_model) {
				$this->headMeta()->appendName('description', $page->product_model); 
			}
			if($page->header_tags_keywords) {
				$this->headMeta()->appendName('keywords', $page->header_tags_keywords);
			} elseif($page->category_name) {
				$this->headMeta()->appendName('keywords', $page->category_name);
			} elseif($page->product_model) {
				$this->headMeta()->appendName('keywords', $page->product_model);
			}
                
            echo $this->headMeta();
        }
		}
    ?>

