<?php foreach($this->paginator as $article) { ?>
	<div class="news-item">
        <div class="news-img">
            <a href="/article-single/<?php echo $article->url_seo; ?>"><img src="<?php echo $this->host;?>/media/photos/articles/main_photos/small_<?php echo $article->main_photo; ?>" alt="<?php echo $article->alt; ?>"></a>
        </div>
                        
        <div class="news-text">
            <div class="news-date"><?php echo Date('d-m-Y', strtotime($article->creation_date)); ?></div>
                            
            <div class="news-title">
                <h5><?php echo $article->article_title; ?></h5>
            </div>
                            
            <div class="news-discrip">
                <?php echo $article->intro_text; ?>
            </div>
                            
            <a href="/article-single/<?php echo $article->url_seo; ?>" class="news-more">Подробнее</a>
        </div>
	</div>
<?php } ?>
<div class="clear"></div>
<?php echo $this->paginationControl($this->paginator, 'Elastic', 'controls_index.phtml'); ?>