<?php foreach($this->articles as $article) { ?>
	<div class="item row">
        <a class="col-md-4 col-sm-4 col-xs-12" href="/article/<?php echo $article['url_seo']; ?>" >
			<img class="img-responsive project-image" src="/media/photos/articles/main_photos/small_<?php echo $article->main_photo; ?>" alt="<?php echo $article->alt; ?>" />
        </a>
        <div class="desc col-md-8 col-sm-8 col-xs-12">
            <h3 class="title">
				<a href="/article/<?php echo $article['url_seo']; ?>" ><?php echo $article['article_title']; ?></a>
			</h3>
            <?php echo $article['intro_text']; ?>
			<p><a class="more-link" href="/article/<?php echo $article['url_seo']; ?>" ><i class="fa fa-external-link"></i> read more</a></p>
        </div><!--//desc-->                          
    </div><!--//item-->
<?php } ?>