<style>
	.error{
		color: #f00;
		font-size:12px;
	}
	#response-sendmessage{
		color: #f00;
		font-size: 14px;
		text-align: center;
	}
</style>

<form action='<?php $this->form->getAction()?>' method='post' class='contact-form commentsblock'>
	<div id="response-sendmessage"></div>  
	<div>
		<label for='g1324-name' class='grunion-field-label name'>Name<span>(required)</span></label>
		<?php echo $this->form->name_sendmessage; ?>
	</div>

	<div>
		<label for='g1324-email' class='grunion-field-label email'>Email<span>(required)</span></label>
		<?php echo $this->form->email; ?>
	</div>

	<div>
		<label for='contact-form-comment-g1324-message' class='grunion-field-label textarea'>Message<span>(required)</span></label>
		<?php echo $this->form->message_sendmessage; ?>
	</div>
	<br>
	<p class='contact-submit'>
		<input type='submit' id="submit_sendmessage" value='Submit &#187;' class='pushbutton-wide'/>
	</p>
</form>