<?php echo $this->headTitle("Смена пароля"); ?>
<div class="header"> 
    <h1 class="page-title">Смена пароля</h1>
    <ul class="breadcrumb">
        <li class="active">Смена пароля</li>
    </ul>
</div> 
<div class="dialog">
    <p align = "center" ><font size="4" color="red" face="Arial"><?php echo $this->errMessage; ?></font></p>
    <div class="panel panel-default">
        <div class="panel-body">
            <form method="post" action="<?php $this->form_passwup->getAction()?>" enctype="multipart/form-data">
                <div class="form-group">
                    <?php echo $this->form_passwup->password; ?>
                </div>
                <div class="form-group">
                    <?php echo $this->form_passwup->passconf; ?>
                </div>
                <div class="clearfix"></div>
                <?php echo $this->form_passwup->submit; ?>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>