
		<section class="pageContainer container clearfix">
			<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">  
				<div class="row">
					<div class="form-mess"> 
						<div class="form-mess-icon"></div>
						<p class="form-mess-text">
							Ваш заказ успешно обработан и отправлен на сервер! 
							В скором времени наши менеджеры свяжутся с Вами для подтверждения и уточнения деталей.
						</p>
						<div class="req-id">Номер Вашего заказа: <span class="req-id-value"><?php echo $this->orders_id; ?></span></div>
						<hr class="yellow">
						<div class="pageFooter">
							<p>Если у Вас возникли какие-либо вопросы, позвоните по телефону <a href="tel:+78129419978" class="page-tel">+7 (812) 941-99-78 </a>или напишите на мейл <a href="mailto:info@absoluttouch.ru" class="page-email">info@absoluttouch.ru</a> или воспользуйтесь <a href="" class="page-link">формой обратной связи</a></p>
						</div>
					</div>
				</div>
			</div>
		</section>
		