<ul id="da-thumbs" class="da-thumbs catalog-thumbs">
<?php foreach ($this->products as $product) { ?>
    <li class="">
        <a href="/product/<?php echo $product['url_seo']; ?>">
            <img src="<?php echo $this->host;?>/media/photos/products/small_<?php echo $product['image']; ?>">
            <span><?php echo $product['product_model']; ?></span>        
        </a>
    </li>
<?php } ?>					
</ul>