<form id="" action="<?php $this->form->getAction()?>" method="post" >
<div class="left_back_in_cart">
	<div class="one_single_step">
		<h2 class="step_header"><span>1</span>Контактные данные</h2>
					
		<label for="name_last_name">Имя и фамилия<span>*</span></label>
		<?php echo $this->form->user_name; ?>
									
				<label for="mobile">Мобильный телефон<span>*</span></label>
				<?php echo $this->form->user_phone; ?>						
							
				<label for="mail">Электронная почта<span>*</span></label>
				<?php echo $this->form->user_email; ?>							
			          
			
		
	</div>
    
    <div class="one_single_step">
        <h2 class="step_header"><span>2</span>Как получить</h2>
    
            
				<label for="mail">Город</label>
				<?php echo $this->form->city; ?>							
			
			
				<label for="mail">Улица</label>
				<?php echo $this->form->street_delivery; ?>							
		
				<label for="mail">Дом</label>
				<?php echo $this->form->house_delivery; ?>							
			
				<label for="mail">Квартира</label>
				<?php echo $this->form->room_delivery; ?>							
			
    
    </div>
    
    <div class="one_single_step">
    
    <!--	<a href="#" class="send_order">отправить заказ</a> -->
	<?php echo $this->form->submit; ?>
        
        
        <div class="third_step">
			<h1>	Спасибо, Ваш заказ принят </h1>
			<div id="response_submit_card_cash"></div>	
			<div id="payment-info"></div>
            <h2 class="step_header"><span>3</span>Способ оплаты</h2>            
				
            <form name="card_cash" method="post" action="#">
				<input type="radio" name="payment" id="card" value="" class="valid"><label for="card">Оплата пластиковой картой(ВНИМАНИЕ! ТЕСТОВЫЙ РЕЖИМ!)</label>
				<input type="radio" name="payment" id="cash" value="Оплата наличными при получении" class="valid"><label for="cash">Оплата наличными при получении</label>
				<input type="hidden" id="orderNumber" name="orderNumber" value=""/>
				<input type="hidden" id="amount" name="amount" value=""/>
                
                <input type="submit" class="submit_card_cash" value="Оплатить сейчас">
            </form>
                
        </div>							
			
    
    </div>
		
					
</div>
<style>
	.error{
		color: #f00;
		font-size:12px;
	}
	.order-success{
		color: #f00;
		font-size: 16px;
		font-weight: bold;
		text-align: center;
	}
</style>				
<div class="right_back_in_cart">
<h2><div id="order-response" class="order-success"></div></h2>
<h2>Ваш заказ</h2>

<?php if($this->products_cart) { ?>

<?php foreach ($this->products_cart as $product) { ?>
<div class="single_cart_item">
	<div class="cart_icon_wrap"><img src="<?php echo $this->host;?>/media/photos/products/small_<?php echo $product['image']; ?>" alt=""/></div>
						
	<div class="cart_icon_right_content">
		<div class="cart_col_1">
			<h4><a href="/product/<?php echo $product['url_seo']; ?>"><?php echo $product['product_model']; ?></a></h4>
			<p><?php echo $this->need_measure; ?></p>
			<?php if($this->individual_fastening) { ?>
			<p>Индивидуальное крепление<br/>(подходит под все типы карнизов)<br/>+3000 руб.</p>
			<?php } ?>
			<?php foreach ($product['option'] as $option) { ?>
                - <small><?php echo $option['name']; ?>: <?php echo $option['option_value']; ?></small><br />
                <?php } ?>
			<p><?php echo $product['intro_text']; ?></p>
			
			<a href="<?php echo '/basket/index/removeproductfrombasket/key/'.$product['remove']; ?>" class="cart_remove " >Удалить</a>
				
		</div>
							
		<div class="cart_col_2"> 
			<div class="book_qty">Кол-во: <?php echo $product['quantity']; ?></div> 
			<span class="price_cart"><?php  echo number_format(@$product['quantity'] * $product['price'], 2, ',', ' '); ?> <span class="price_sing">руб.</span></span>
				
			<div class="price_by_one"><?php echo number_format($product['price'], 2, ',', ' '); ?> <span class="price_sing">руб.</span> за шт.</div>
			
		</div>
		
	</div>
</div>    <?php $sum[] = @$product['quantity'] * $product['price']; @$sum_cart = number_format(array_sum($sum), 2, ',', ' ');?>
<?php } ?>
<?php } ?>
	
</form>
	
	<div class="all_price_cart">
		<p>Общая стоимость, без учета доставки: <strong><?php if(@$sum_cart) { echo @$sum_cart; } else { ?>0<?php } ?> руб.</strong></p>	
	</div>

					
					
</div>
</form>
				