<div id="cat">
    <div class="item-list">          
<?php foreach($this->paginator as $catalog_object) : ?>         
        <div class="col-xs-4 col-sm-3 page-col">
            <div id="<?php echo $catalog_object->kiosks_id; ?>" class="product-item">
                <div class="item-price"><?php echo number_format($catalog_object->price, 0, '', ''); ?>р.</div>
                    <div class="item-characteristics">
                        <div class="hiden-hover-block">
                            <div class="chr-row clearfix">
                                <div class="chr-title">Тип: </div>
                                <div class="chr-desc"><?php echo $catalog_object->kiosks_types_name; ?></div> 
                            </div>
                            <div class="chr-row clearfix">
                                <div class="chr-title">Материал: </div>
                                <div class="chr-desc"><?php echo $catalog_object->material; ?></div>
                            </div>
                            <div class="chr-row clearfix">
                                <div class="chr-title">Особенности: </div>
                                <div class="chr-desc"><?php echo $catalog_object->features; ?></div>
                            </div>
                            <div class="chr-row clearfix">
                                <div class="chr-title">В/Ш/Г: </div>
                                <div class="chr-desc"><?php echo $catalog_object->dimensions; ?> (мм)</div>
                            </div>
                        </div>
                    </div><a href="<?php echo '/kiosk/'.$catalog_object->kiosk_seo; ?>" class="item-body">
                        <div class="item-image-wrapp"><img src="<?php echo $this->host;?>/media/main_photos/l_<?php echo $catalog_object->main_photo; ?>"></div></a>
                        <div class="item-title-holder">
                            <div class="item-title"><?php echo $catalog_object->kiosks_model; ?></div>
                            <div class="item-compare" data-id="<?php echo $catalog_object->kiosks_id; ?>"></div>
                                
                        </div>
            </div>
        </div> 
<?php endforeach; ?>              
    </div> 
    <div class="col-xs-12 cat-footer"><?php echo $this->paginationControl($this->paginator, 'Elastic', 'index/controls.phtml'); ?>
        <a href="" id="compare-link">Смотреть <br> выбранные (0)</a>
    </div>
</div>
               