<?php if($this->products_cart) { ?>
<form method="POST" action="/basket/index/recountsumbasket">
<?php foreach ($this->products_cart as $product) { ?>
<div class="single_cart_item">
	<div class="cart_icon_wrap"><img src="<?php echo $this->host;?>/media/photos/products/small_<?php echo $product['image']; ?>" alt=""/></div>
						
	<div class="cart_icon_right_content">
		<div class="cart_col_1">
			<h4><a href="/product/<?php echo $product['url_seo']; ?>"><?php echo $product['product_model']; ?></a></h4>
		<!--	<p>Артикул   <span>ACR-13-195-4</span></p> -->
			<p><?php echo $product['intro_text']; ?></p>
			<?php foreach ($product['option'] as $option) { ?>
                - <small><?php echo $option['name']; ?>: <?php echo $option['option_value']; ?></small><br />
                <?php } ?>
				
				<a href="<?php echo '/basket/index/removeproductfrombasket/key/'.$product['remove']; ?>" class="cart_remove " >Удалить</a>
		</div>
							
		<div class="cart_col_2"> 
			<span class="price_cart"><?php  echo number_format(@$product['quantity'] * $product['price'], 2, ',', ' '); ?> <span class="price_sing">&#8381;</span></span>
			<div class="price_by_one"><?php echo number_format($product['price'], 2, ',', ' '); ?> <span class="price_sing">&#8381;</span> за шт.</div>
			
		</div>
							
		<div class="cart_col_3">
				<div class="product_item_option">
					<input type="hidden" name="product_id" value="<?php echo $product['product_id']; ?>"/>	
					<div class="book_qty">Кол-во: <input type="number" id="qty-<?php echo @$product->product_id; ?>" name="quantity[<?php echo $product['key']; ?>]" value="<?php echo $product['quantity']; ?>" min="1" max="200" step="1"> шт.</div> 					
				</div>
		</div>
	</div>
</div>    <?php $sum[] = @$product['quantity'] * $product['price']; @$sum_cart = number_format(array_sum($sum), 2, ',', ' ');?>
<?php } ?>
<?php } ?>

<input class="recalculate" type="submit" value="Пересчитать"/></form>
	<div class="all_price">
		<p>Общая стоимость, без учета доставки: <strong><?php if(@$sum_cart) { echo @$sum_cart; } else { ?>0<?php } ?> <span class="price_sing">&#8381;</span></strong></p>
		<a href="/checkout" class="oformit_order">оформить заказ</a>
	</div>
