<?php foreach ($this->paginator as $product) { ?>
    
<h2><?php echo $product['product_model']; ?></h2>
			
			<div class="single_product_blocks">
				<div class="left_single_product_block">
					<div class="single_product_gallery">
						<div class="single_main_img">
							<a rel="group" href="<?php echo $this->host;?>/media/photos/products/big_<?php 
                echo $product['image']; ?>" class="fancybox"><img src="<?php echo $this->host;?>/media/photos/products/big_<?php 
                echo $product['image']; ?>" alt=""/></a>
						</div>
						
						<div class="additional_images">
							<?php foreach ($this->photos as $photo) { ?>
								<a rel="group" href="<?php echo $this->host;?>/media/photos/products/big_<?php echo $photo->photo_file; ?>" class="fancybox">
									<img src="<?php echo $this->host;?>/media/photos/products/small_<?php echo $photo->photo_file; ?>" alt=""/>
								</a>
							<?php } ?>				
						</div>
					</div>
				</div>
				
				<div class="right_single_product_content">        
        
<table cellspacing="0">
								<tr>
									<td>
										Характеристики
									</td>
									
									<td>
										
									</td>
								</tr>
								<?php foreach ($this->product_attributes as $attribute) { ?>
								<tr>
									<td>
										<?php echo $attribute['attribute_name']; ?>
									</td>
									
									<td>
										<?php echo $attribute['text']; ?>
									</td>	
								</tr>
								<?php } ?>
														
					</table>
					
					<a data-reveal-id="order_modal" href="#" class="order_product_single">Заказать пленку</a>
				</div>
				<div class="clear"></div>
				
				<div class="left_single_product_text">
					<h3>Описание</h3>
					
					<?php echo $product['product_description']; ?>
				</div>
				
				<div class="right_single_product_text">
					

					<?php if($this->attributes_text != 'нет') { ?>
						<p>Для данной пленки возможна флексопечать</p>
						<a data-reveal-id="order_modal" href="#" class="order_width_flexo">Заказать пленку с флексопечатью</a>
					<?php } ?>
					
					<p>Если Ваши объемы превышают 1000 тонн в месяц <br> Мы предложим Вам специальные условия!</p>
					<a data-reveal-id="order_modal_agreement" href="" class="get_agreement">Получить условия</a>					
				</div>
				</div>
		</div>
<?php } ?>