<?php foreach ($this->paginator as $product) { ?>
	<div class="list-item" id="id-item-7">
		<div class="list-item-image-preview">
		<img src="<?php echo $this->host;?>/media/photos/products/small_<?php echo $product['image']; ?>" alt="" id="id-gphoto-7">
		<a class="quick_view big_more ulightbox" href="<?php echo $this->host;?>/media/photos/products/big_<?php echo $product['image']; ?>">Увеличить</a>
		</div>
	<div class="list-item-title">
		<a href="/product/<?php echo $product['url_seo']; ?>"><?php echo $product['product_model']; ?></a>
	</div>
	<div class="list-item-descr"><?php echo $product['intro_text']; ?></div>
	<div class="list-item-price"><span class="id-good-7-price"><?php echo number_format($product->price_rub, 0, '', ''); ?>р.</span> </div>
	<div class="list-item-buttons">
	<a href="#" class="big_more addTooBasket" data-product-id="<?php echo $product->product_id; ?>" data-price-rub="<?php echo number_format($product->price_rub, 0, '', ''); ?>">В корзину</a>
	<a href="/product/<?php echo $product['url_seo']; ?>" class="big_more_inverse">Подробнее</a>
	</div></div>
<?php } ?>

