<?php foreach($this->paginator as $catalog_object) : ?>
    <div class="col-xs-6 col-sm-4 col-md-3 page-col hidden-xs hidden-sm">
        <div id="prodID_4" class="product-item">
            <div id="collapse4"> 
                <div class="item-price"><?php echo number_format($catalog_object->price, 0, '', ''); ?>р.</div>
                <div class="item-characteristics">
                    <div class="hiden-hover-block">
                        <div class="chr-row clearfix">
                            <div class="chr-title">Тип: </div>
                            <div class="chr-desc">Внутренний, отдельностоящий</div>
                        </div>
                        <div class="chr-row clearfix">
                            <div class="chr-title">Материал: </div>
                            <div class="chr-desc"><?php echo $catalog_object->material; ?></div>
                        </div>
                        <div class="chr-row clearfix">
                            <div class="chr-title">Особенности: </div>
                            <div class="chr-desc"><?php echo $catalog_object->features; ?></div>
                        </div>
                        <div class="chr-row clearfix">
                            <div class="chr-title">В/Ш/Г: </div>
                            <div class="chr-desc"><?php echo $catalog_object->dimensions; ?> (мм)</div>
                        </div>
                    </div>
                </div><a href="/kiosk/<?php echo $catalog_object->kiosk_seo; ?>" class="item-body">
                    <div class="item-image-wrapp"><img src="<?php echo $this->host;?>/media/main_photos/l_<?php echo $catalog_object->main_photo; ?>"/></div></a>
            </div>
            <div class="item-title-holder">
                <div class="item-title"><?php echo $catalog_object->model; ?></div>
                <div class="item-compare hidden-xs"></div>
                <!--.item-rate -->
                <!--  .rate-divide.p20-->
                <!--  .rate-divide.p40-->
                <!--  .rate-divide.p60-->
                <!--  .rate-divide.p80-->
                <!--  div(style="width: #{20 + id * 5 }%").rate-percent -->
            </div>
        </div>
    </div>
<?php endforeach; ?>                     