<div class="left_product_content">
			<img src="/images/product.png" alt=""/>
		</div>
		
		<div class="right_product_content">
			<h2>Уникальное торговое предложение <br> предложение</h2>
			<h3>Пленка для сельского хозяйства</h3>
			<a data-reveal-id="order_modal" href="#">Заказать</a>
		</div>