<?php 
    echo $this->headTitle("Добавить - Галерея"); 

    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tinymce/jscripts/tiny_mce/tiny_mce.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );
    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tiny_mce_init.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );
    echo $this->inlineScript();
?> 
<div class=""> 
    <h1 class="page-title">Галерея</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/gallery">Галерея</a> </li> &gt;&gt;
		<li class="active">добавление</li>
    </ul>
</div>
<div class="">
<div class="col-md-10">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-general" data-toggle="tab">Данные</a></li>
    </ul>
    <p align = "center" ><font size="3" color="" face="Arial"><?php echo $this->errMessage; ?></p> 
	<form action="<?php $this->form->getAction()?>" method="post" enctype = "multipart/form-data">
    <div id="myTabContent" class="tab-content">
		
        <div class="tab-pane active in" id="tab-general">
			<table id="" class="">
				<tr>	
					<td>
						<label for="title"><strong>Порядок сортировки: </strong></label>
						<?php echo $this->form->sort_order; ?>
					</td>
				</tr>
				<tr>	
					<td>
						<label for="title"><strong>Заголовок: </strong></label>
						<?php echo $this->form->title; ?>
					</td>
				</tr>
				<tr>	
					<td>
						<label for="title"><strong>Текст: </strong></label>
						<?php echo $this->form->text; ?>
					</td>
				</tr>
			</table>
        </div>
       
		<?php echo $this->form->submit; ?>
	<!--	<input type="submit" class="btn btn-primary pull-left" value="Сохранить"/> -->
    </div>
	</form>
<br>
</div>
</div>