<?php
    $this->title = "Удаление - Галерея";
    $this->headTitle($this->title);
?>
<div class="header"> 
    <h1 class="page-title">Галерея</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/gallery">Галерея</a> </li> &gt;&gt;
        <li class="active">Удалить </li>
    </ul>
</div>
<div class="box"> 
<div class="box-content">
</br></br>
<h3>Вы действительно хотите удалить фото
<img src="<?php echo $this->host;?>/media/photos/gallery/small_<?php echo $this->gallery_object['image']; ?>" border = "1" height = "140" width = "190" > ?
</h3>
<p align = "center" ><font size="4" color="red" face="Arial"><?php echo $this->errMessage; ?></font></p>
<form action="<?php echo $this->url(array('action'=>'delete')); ?>" method="post">
    <div>
        <input type="hidden" name="photo_id" value="<?php echo $this->gallery_object['photo_id']; ?>" />
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true" name="del" value="No">Нет</button>
        <button class="btn btn-danger" data-dismiss="modal" name="del" value="yes">Удалить</button>  
    </div>
</form>
<div>
<div>