<?php 
    echo $this->headTitle("Редактировать - Галерея"); 

    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tinymce/jscripts/tiny_mce/tiny_mce.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );
    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tiny_mce_init.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );
    echo $this->inlineScript();
?> 
<div class=""> 
    <h1 class="page-title">Галерея</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/gallery">Галерея</a> </li>&gt;&gt;
        <li class="active">редактирование</li>
    </ul>
</div>
<div class="">
<div class="col-md-10">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-general" data-toggle="tab">Данные</a></li>
    </ul>
  <!--  <p align = "center" ><font size="3" color="" face="Arial"><?php echo $this->errMessage; ?></p> -->
	<!--<form action="/admin/adminproducts/editproduct" method="post" enctype = "multipart/form-data">-->
	<form action="<?php $this->form->getAction()?>" method="post" enctype = "multipart/form-data">
    <div id="myTabContent" class="tab-content">
		
        <div class="tab-pane active in" id="tab-general">
			<table id="" class="">
			<tr>	
				<td>
					<?php echo $this->form->photo_id; ?>
					<label for="title"><strong>Порядок сортировки: </strong></label>
					<?php echo $this->form->sort_order; ?>
				</td>
			</tr>
			<tr>
                <td>
                    <?php if($this->gallery['image']) { ?>
						<div id="response_gallery_image">      
							<img src="<?php echo $this->host;?>/media/photos/gallery/small_<?php 
							echo $this->gallery['image']; ?>" border = "0" height = "100" WIDTH = "140" ><br><br>  
							<div id="status_remove_gallery_image">
								<a href="#" class="status_on remove_gallery_image btn btn-small btn-danger" data-status-gallery-image="<?php echo $this->photo_id; ?>" >Удалить</a>
							</div>
						</div>
						<?php } else { ?>
							<img src="<?php echo $this->host;?>/media/photos/no_photo.jpeg" border = "0" height = "100" WIDTH = "140" >
						<?php } ?> 
                </td>
            </tr> 
			<tr>	
				<td>
					<?php echo $this->form->image; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>alt: </strong></label>
					<?php echo $this->form->alt; ?>
				</td>
			</tr>
			</table>
        </div>
		<?php echo $this->form->submit; ?>
    </div>   
	</form>
<br>
</div>
</div>