<?php echo $this->headTitle('Галерея'); ?>
    <?php $filter = new Zend_Filter_StringTrim();?>
 
<div class="header"> 
    <h1 class="page-title">Галерея</h1>
    <ul class="breadcrumb">
        <li class="active">Галерея</li>
    </ul>
</div>  
<div class="box"> 
<div class="box-content">
<a class="btn btn-primary" href="<?php echo '/admin/gallery/add';?>" title=""><i class="btn-icon-only icon-plus-sign"></i>Добавить</a>
<a class="btn btn-primary" href="<?php echo '/admin/gallery/seo';?>" title=""><i class="btn-icon-only icon-plus-sign"></i>Добавить seo теги для основной страницы</a>
<table class="table table-hover">
    <thead>
        <tr> 
            <th width="15%">Заголовок</th>
            <th width="55%">Текст</th>
			<th width="5%">Сорт</th>
			<th width="6%">Фото</th> 
            <th width="8%">Статус</th>
            <th width="6%">Ред.</th> 
            <th width="6%">Уд.</th> 
        </tr> 
    </thead>
    <tbody>
   
<?php foreach ($this->paginator as $gallery) { ?>
    <tr>
        <td>
            <?php echo $gallery['title']; ?>
        </td> 
        <td align="">
            <?php echo $gallery['text']; ?>
        </td>
		<td align="center">
            <?php echo $gallery['sort_order']; ?>
        </td>
		<td align="center">
			<a href="<?php echo '/admin/gallery/photo/gallery_id/'.$gallery->gallery_id; ?>" class="btn btn-small btn-info" title="<?php echo "Изображения";?>"><i class="btn-icon-only icon-camera"></i></a>
		</td>
        <td align="center">
            <div id="response_gallery<?php echo $gallery->gallery_id; ?>">
				<?php if($gallery->status == 0) { ?><p style="color:red;">Отключено</p> <?php } 
else { ?><p>Включено</p><?php } ?>
			</div>
        
        <div id="status_on_gallery<?php echo $gallery->gallery_id; ?>">
			<a href="#" class="status_on gallery_on btn btn-small btn-info" data-status-gallery="<?php 
echo $gallery->gallery_id; ?>" ><i class="btn-icon-only icon-ok"></i></a>
		</div>
        <div id="status_off_gallery<?php echo $gallery->gallery_id; ?>">
			<a href="#" class="status_off gallery_off btn btn-small btn-danger" 
data-status-gallery="<?php echo $gallery->gallery_id; ?>" ><i class="btn-icon-only icon-remove"></i></a>
		</div>  
        </td>
		
        <td align="center">
			<a href="<?php echo '/admin/gallery/edit/gallery_id/'.$gallery['gallery_id']; ?>" class="btn btn-small btn-info" title="<?php echo "Редактировать";?>"><i class="btn-icon-only icon-edit"></i></a>
		</td>
        <td align="center">
			<a href="<?php echo '/admin/gallery/delete/gallery_id/'.$gallery['gallery_id']; ?>" class="btn btn-small btn-danger" title="<?php echo "Удалить"; ?>"><i class="btn-icon-only icon-trash"></i></a>
		</td>
    </tr> 
        <?php } ?>    
    <tbody>
</table>
</div> 
</div>
<?php echo $this->paginationControl($this->paginator, 'Elastic', 'controls.phtml'); ?>