<?php echo $this->headTitle('Галерея'); ?>
    <?php $filter = new Zend_Filter_StringTrim();?>
 
<div class="header"> 
    <h1 class="page-title">Галерея</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/gallery">Галерея</a> </li>&gt;&gt;
        <li class="active">фото</li>
    </ul>
</div>  
<div class="box"> 
<div class="box-content">
<a class="btn btn-primary" href="<?php echo '/admin/gallery/addphoto/gallery_id/'.$this->gallery_id;?>" title=""><i class="btn-icon-only icon-plus-sign"></i>Добавить фото</a>
<table class="table table-hover">
    <thead>
        <tr> 
            <th width="20%">Фото</th>
            <th width="40%">alt</th>
			<th width="15%">Сорт</th>
            <th width="8%">Статус</th>
            <th width="6%">Ред.</th> 
            <th width="6%">Уд.</th> 
        </tr> 
    </thead>
    <tbody>
   
<?php foreach ($this->paginator as $gallery) { ?>
    <tr>
        <td>
            <?php if($gallery['image']) { ?>
                <img src="<?php echo $this->host;?>/media/photos/gallery/small_<?php 
                echo $gallery['image']; ?>" border = "0" height = "100" WIDTH = "140" > 
            <?php } else { ?>
                <img src="<?php echo $this->host;?>/media/photos/no_photo.jpeg" border = "0" height = "100" WIDTH = "140" >
            <?php } ?> 
        </td>
        
        <td align="">
            <?php echo $gallery['alt']; ?>
        </td>
		<td align="center">
            <?php echo $gallery['sort_order']; ?>
        </td>
        <td align="center">
            <div id="response_gallery_photo<?php echo $gallery->photo_id; ?>">
				<?php if($gallery->status == 0) { ?><p style="color:red;">Отключено</p> <?php } 
else { ?><p>Включено</p><?php } ?>
			</div>
        
        <div id="status_on_photo<?php echo $gallery->photo_id; ?>">
			<a href="#" class="status_on photo_on btn btn-small btn-info" data-status-photo="<?php 
echo $gallery->photo_id; ?>" ><i class="btn-icon-only icon-ok"></i></a>
		</div>
        <div id="status_off_photo<?php echo $gallery->photo_id; ?>">
			<a href="#" class="status_off photo_off btn btn-small btn-danger" 
data-status-photo="<?php echo $gallery->photo_id; ?>" ><i class="btn-icon-only icon-remove"></i></a>
		</div>  
        </td>  
        <td align="center">
			<a href="<?php echo '/admin/gallery/editphoto/photo_id/'.$gallery['photo_id'].'/gallery_id/'.$this->gallery_id; ?>" class="btn btn-small btn-info" title="<?php echo "Редактировать";?>"><i class="btn-icon-only icon-edit"></i></a>
		</td>
        <td align="center">
			<a href="<?php echo '/admin/gallery/deletephoto/photo_id/'.$gallery['photo_id']; ?>" class="btn btn-small btn-danger" title="<?php echo "Удалить"; ?>"><i class="btn-icon-only icon-trash"></i></a>
		</td>
    </tr> 
        <?php } ?>    
    <tbody>
</table>
</div> 
</div>
<?php echo $this->paginationControl($this->paginator, 'Elastic', 'controls.phtml'); ?>