<?php 
    echo $this->headTitle("Страница администратора"); 
?>
<div class="header"> 
    <h1 class="page-title">Галерея</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/gallery">Галерея</a> </li> &gt;&gt;
        <li class="active">Редактирование Seo тегов для главной страницы</li>
    </ul>
</div> 
    <p align = "center" ><font size="3" color="red" face="Arial"><?php echo $this->errMessage; ?></font></p>
   
    <?php echo $this->form; ?>
<br>
  

