<?php
    $this->title = "Отзывы удаление";
    $this->headTitle($this->title);
?>
<div class=""> 
    <h1 class="page-title">Здоровье и красота</h1>
    <ul class="breadcrumb">
        <li><a href="/members/healthreviews">Отзывы</a> </li> &gt;&gt;
        <li class="active">Удаление</li>
    </ul>
</div>
<div class="box"> 
<div class="box-content">
</br></br>
<h3>Вы действительно хотите удалить отзыв от 
    '<?php echo $this->escape($this->reviews['author']); ?>'?
</h3>
<p align = "center" ><font size="4" color="red" face="Arial"><?php echo $this->errMessage; ?></font></p>
<form action="<?php echo $this->url(array('action'=>'deletereview')); ?>" method="post">
    <div>
        <input type="hidden" name="review_id" value="<?php echo $this->reviews['review_id']; ?>" />
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true" name="del" value="No">Нет</button>
        <button class="btn btn-danger" data-dismiss="modal" name="del" value="yes">Удалить</button>  
    </div>
</form>
<div>
<div>