<?php 
    echo $this->headTitle("Отзывы - редактирование"); 

    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tinymce/jscripts/tiny_mce/tiny_mce.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );
    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tiny_mce_init.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );
    echo $this->inlineScript();
?>

<div class=""> 
    <h1 class="page-title">Здоровье и красота</h1>
    <ul class="breadcrumb">
        <li><a href="/members/healthreviews">Отзывы</a> </li> &gt;&gt;
        <li class="active"><?php echo $this->author; ?></li>
    </ul>
</div>
<div class="box"> 
<div class="box-content">
<div class="">
    <div class="col-md-10">
        <table border="0" width="60%" align="center">	
		    <tr>
                <td>
					<p align = "center" ><font size="4" color="red" face="Arial"><?php echo $this->errMessage; ?></font></p>
					<?php echo $this->form; ?>
                </td>
            </tr> 
        </table> 
</div>
<br>
</div>
</div>