<?php echo $this->headTitle('Отзывы'); ?>
    <?php $filter = new Zend_Filter_StringTrim();?>
 
<div class="header"> 
    <h1 class="page-title">Здоровье и красота</h1> 
    <ul class="breadcrumb">
        <li class="active">Отзывы</li>
    </ul>
</div>  
<div class="box"> 
<div class="box-content">

<table class="table table-hover">
    <thead>
        <tr>
            <th width="33%" align="left">Продукт</th> 
            <th width="30%" align="left">Автор</th>
            <th width="10%">Рейтинг</th>
            <th width="10%">Дата</th>
            <th width="7%">Статус</th>
            <th width="5%">Редакт.</th> 
            <th width="5%">Удалить</th> 
        </tr> 
    </thead>
    <tbody>
   
<?php foreach ($this->paginator as $review) { ?>
    <tr>
        <td>
            <?php echo $review['object_title']; ?>
        </td>
        <td>
            <?php echo $review['author']; ?>
        </td>
        <td align="center">
            <?php echo $review['rating']; ?>
        </td>
        <td>
            <?php echo $review['date_added']; ?>
        </td>
        <td align="center">
            <div id="response_review_health<?php echo $review->review_id; ?>"><?php if($review->status == 0) { ?><p style="color:red;">Отключено</p> <?php } 
else { ?><p>Включено</p><?php } ?></div>
        
        <div id="status_on_review_health<?php echo $review->review_id; ?>"><a href="#" class="status_on review_health_on btn btn-small btn-info" data-status-review-health="<?php 
echo $review->review_id; ?>" ><i class="btn-icon-only icon-ok"></i></a></div>
        <div id="status_off_review_health<?php echo $review->review_id; ?>"><a href="#" class="status_off review_health_off btn btn-small btn-danger" 
data-status-review-health="<?php echo $review->review_id; ?>" ><i class="btn-icon-only icon-remove"></i></a></div>  
        </td> 
        <td align="center"><a href="<?php echo '/members/healthreviews/editreview/token/'.$review['token']; ?>" class="btn btn-small btn-info" 
title="<?php echo "Редактировать";?>"><i class="btn-icon-only icon-edit"></i></a></td>
        <td align="center"><a href="<?php echo '/members/healthreviews/deletereview/token/'.$review['token']; ?>" class="btn btn-small btn-danger"><i 
class="btn-icon-only icon-trash"></i></a></td>
    </tr>
       
          
    
<?php } ?> 

    <tbody>
</table>
</div> 
</div>
<?php echo $this->paginationControl($this->paginator, 'Elastic', 'controls.phtml'); ?>