<?php $pieces = explode("/", $_SERVER['REQUEST_URI']); ?>
<?php foreach($this->articles as $article) { ?>
	<li <?php if(@$pieces[2] == $article->url_seo) { ?> class="active"<?php } ?>><a href="/article/<?php echo $article->url_seo; ?>"><?php echo $article->article_title; ?></a></li>
<?php } ?>