<?php foreach($this->paginator as $article) { ?>
<div id="box_11_w">
	<div class="container">
		<div class="breadcrumbs" style="margin-bottom: 20px; margin-top: 20px;">
      <a href="/">Главная</a> <span>/</span> <a href="/news">Статьи</a> <span>/</span> <span><?php echo $article->article_title; ?></span>
		</div>
	</div>
</div>
<div id="box_12_w" class="pb-0">
	<h1 class="title-box-12 "><?php echo $article->article_title; ?></h1>
	<div id="box_12" class="container pb-0">
		<div class="about_text_cont">
			<div class="about_text">
				<?php if($article->show_photo_inside == 0) {?>
					<div style="padding-left: 15px; padding-bottom: 15px; float: right; max-width: 400px;">
						<img class="img-thumbnail" src="<?php echo $this->host;?>/media/photos/articles/main_photos/small_<?php echo $article->main_photo; ?>" alt="<?php echo $article->alt; ?>" />
					</div>
				<?php } ?>
				<?php //echo $article->intro_text; ?>
				<?php echo $article->full_text; ?>
    	</div>
    </div>         
	</div>
</div>
<?php } ?>