<?php foreach($this->articles as $article) { ?>
	<div  class="slick-slide">
        <div class="stock-news-item">
            <a href="/news-single/<?php echo $article->url_seo; ?>"><img src="<?php echo $this->host;?>/media/photos/articles/main_photos/small_<?php echo $article->main_photo; ?>" alt="" /></a>                            
            <div class="stock-news-title"><?php echo $article->article_title; ?></div>                            
            <div class="stock-news-disc"><?php echo $article->intro_text; ?></div>                            
            <a class="stock-news-more" href="/news-single/<?php echo $article->url_seo; ?>">Подробнее</a>                        
        </div>
    </div>
<?php } ?> 