<?php foreach($this->paginator as $article) { ?>
	<div class="single_new">
		<div class="news_img">
			<a href="/news-single/<?php echo $article->url_seo; ?>"><img src="<?php echo $this->host;?>/media/photos/articles/main_photos/small_<?php echo $article->main_photo; ?>" alt="<?php echo $article->alt; ?>"/></a>
        </div>
        <div class="right_news_info">
            <a href="/news-single/<?php echo $article->url_seo; ?>"><h3 class="news_title"><?php echo $article->article_title; ?></h3></a>
            <?php /*<div class="news_date"><?php echo Date('d-m-Y', strtotime($article->creation_date)); ?></div>*/?>
                <?php echo $article->intro_text; ?>
        </div>
    </div>
<?php } ?> 
<div class="clear"></div>
<?php echo $this->paginationControl($this->paginator, 'Elastic', 'controls_index.phtml'); ?>