<?php $pieces = explode("/", $_SERVER['REQUEST_URI']); ?>
<?php if ($this->pageCount) { ?>
 
<div class="pagination">
	
                        <!-- Previous page link -->
			<?php if (isset($this->previous)) { ?>
			<?php if ($this->previous == 1) { ?>
    
                <a href="<?php echo '/'.$pieces[1] ?>" >«</a>
				<?php } else { ?>
				<a href="<?php echo '/'.$pieces[1].'/page/'.$this->previous?>" >«</a>
			<?php } ?>
            <?php } ?>
    
            
    
                    <!-- Numbered page links -->
    
				<?php foreach ($this->pagesInRange as $page) { ?>
    
                <?php if ($page != $this->current) { ?>
				<?php if ($page == 1) { ?>
					
					<a href="<?php echo '/'.$pieces[1] ?>" ><?php echo Zend_Locale_Format::toNumber($page); ?></a>
					
				<?php } else { ?>
					
					<a href="<?php echo '/'.$pieces[1].'/page/'.$page?>" ><?php echo Zend_Locale_Format::toNumber($page); ?></a>
					
				<?php } ?>
                <?php } else { ?>
    
                    <a class="active" href="#"><?php echo $page; ?></a>
    
                <?php } ?>
    
                <?php } ?>
    
                <?php //Now put the last page link
    
                if($this->current != $this->last && $this->last > $this->lastPageInRange){ ?>
    
                    <a href="<?php echo '/'.$pieces[1].'/page/'.$this->last?>" >...</a>
    
                <?php } ?>
    
                    <!-- Next page link -->
    
                <?php if (isset($this->next)){ ?>
    
                    <a href="<?php echo '/'.$pieces[1].'/page/'.$this->next?>" >»</a>
    
                <?php } ?>
               
       
</div>
<?php } ?>
