<?php foreach($this->paginator as $stock) { ?>
	<div class="single_new">
		<div class="news_img">
			<a href="/stock-single/<?php echo $stock->url_seo; ?>"><img src="<?php echo $this->host;?>/media/photos/stocks/main_photos/small_<?php echo $stock->main_photo; ?>" alt="<?php echo $stock->alt; ?>"/></a>
        </div>
        <div class="right_news_info">
            <a href="/stock-single/<?php echo $stock->url_seo; ?>"><h3 class="news_title"><?php echo $stock->stock_title; ?></h3></a>
            <div class="news_date"><?php echo Date('d-m-Y', strtotime($stock->creation_date)); ?></div>
                <?php echo $stock->intro_text; ?>
        </div>
    </div>
<?php } ?> 
<div class="clear"></div>
<?php echo $this->paginationControl($this->paginator, 'Elastic', 'controls_index.phtml'); ?>