<div class="manual_text">
    <?php echo $this->intro_text; ?>
                
               <!--     <div class="col-lg-1-md-12 st-center">
                        <a href="#" class="manual_more">Подробнее</a>
                    </div> -->
                
</div>