<?php foreach($this->stocks as $stock) { ?>
	<div  class="slick-slide">
        <div class="stock-news-item">
            <a href="/stock-single/<?php echo $stock->url_seo; ?>"><img src="<?php echo $this->host;?>/media/photos/stocks/main_photos/small_<?php echo $stock->main_photo; ?>" alt="" /></a>                            
            <div class="stock-news-title"><?php echo $stock->stock_title; ?></div>                            
            <div class="stock-news-disc"><?php echo $stock->intro_text; ?></div>                            
            <a class="stock-news-more" href="/stock-single/<?php echo $stock->url_seo; ?>">Подробнее</a>                        
        </div>
    </div>
<?php } ?> 