<?php foreach($this->paginator as $stock) { ?>
<div id="box_11_w">
	<div class="container">
		<div class="breadcrumbs" style="margin-bottom: 20px; margin-top: 20px;">
			<a href="/">Главная</a> <span>/</span> <a href="/stocks">Акции и новости</a> <span>/</span> <span><?php echo $stock->stock_title; ?></span>
		</div>
	</div>
</div>
<div id="box_12_w" class="pb-0">
	<h1 class="title-box-12 "><?php echo $stock->stock_title; ?></h1>
	<div id="box_12" class="container pb-0">
		<div class="about_text_cont">
			<div class="about_text">
				<?php //echo $stock->intro_text; ?>
				<?php if($stock->show_photo_inside == 0) {?>
					<div style="padding-left: 15px; padding-bottom: 15px; float: right; max-width: 400px;">
						<img class="img-thumbnail" src="<?php echo $this->host;?>/media/photos/stocks/main_photos/small_<?php echo $stock->main_photo; ?>" alt="<?php echo $stock->alt; ?>" />
					</div>
				<?php } ?>
				<?php echo $stock->full_text; ?>
    	</div>
    </div>         
	</div>
</div>
<?php } ?>

		