<?php $pieces = explode("/", $_SERVER['REQUEST_URI']); ?>
<?php foreach($this->stocks as $stock) { ?>
	<li <?php if(@$pieces[2] == $stock->url_seo) { ?> class="active"<?php } ?>><a href="/stock-single/<?php echo $stock->url_seo; ?>"><?php echo $stock->stock_title; ?></a></li>
<?php } ?>