<?php 
    echo $this->headTitle("Редактировать категорию"); 

    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tinymce/jscripts/tiny_mce/tiny_mce.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );
    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tiny_mce_init.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );
    echo $this->inlineScript();
?>
<div class="header"> 
    <h1 class="page-title">Категории</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/categores">Категории</a> </li>
        <li class="active"><?php echo $this->category_name_ru; ?></li>
    </ul>
</div>
<div class="row">
  <div class="col-md-10">
    <br>
<div id="tabs" class="col-md-8">
    <ul>
        <li><a href="#tabs-1">Русский</a></li>
        <li><a href="#tabs-2">Английский</a></li>
    </ul>
    <div id="tabs-1">
        <form action="<?php $this->form->getAction()?>" method="post">
        <?php echo $this->form->category_id; ?>
        <?php echo $this->form->parent_id; ?>
        <?php echo $this->form->sort_order; ?>
        <?php echo $this->form->category_name_ru; ?>
        <?php echo $this->form->category_text_ru; ?>
        <?php echo $this->form->category_seo; ?>
        <?php echo $this->form->header_tags_title_ru; ?>
        <?php echo $this->form->header_tags_description_ru; ?>
        <?php echo $this->form->header_tags_keywords_ru; ?>
    </div>
    <div id="tabs-2">
        <?php echo $this->form->category_name_en; ?>
        <?php echo $this->form->category_text_en; ?>
        <?php echo $this->form->header_tags_title_en; ?>
        <?php echo $this->form->header_tags_description_en; ?>
        <?php echo $this->form->header_tags_keywords_en; ?>
    </div>
    <?php echo $this->form->submit; ?>
    </form>
</div>
</div>
</div>
