<!--<form action="/search" method="get" >
	<input type="text" class="search_keyword" name="query" value="Поиск по товарам" onblur="if(this.value=='') this.value='Поиск по товарам';" onfocus="if(this.value=='Поиск по товарам') this.value='';" />
	<input type="submit" class="search_submit" value="" />
</form> -->

<form action="/search" method="get" >
	<input type="text" class="search_keyword" name="query" placeholder="Поиск">
</form>