<?php
	$pieces = explode("/", $_SERVER['REQUEST_URI']);
	@$pieces_01 = explode("?", $pieces[1]); 
	@$pieces_02 = explode("?", $pieces[2]); 
//	@$pieces_02 = explode("?", $_SERVER['REQUEST_URI']);	
	$pieces_03 = explode("?", $_SERVER['REQUEST_URI']);// echo $pieces_01[0];
?>
<?php if ($this->pageCount) { ?>
		<div class="pagination">
			<div class="container">
				<div class="pagination_left">
					<p>Страницы: </p> 
                    <!-- Previous page link -->
    
            <?php if (isset($this->previous)) { ?>
            <?php if(@$pieces[2] != 'page') { ?>
                <a href="<?php echo '/'.$pieces[1].'/'.$pieces_02[0].'/page/'.$this->previous.'?'.@$pieces_03[1]?>" >«</a>
			<?php } else { ?>
				<a href="<?php echo '/'.$pieces[1].'/page/'.$this->previous.'?'.@$pieces_03[1]?>" >«</a>
			<?php } ?>
    
            <?php } ?>
            
    
            <?php //Now put the first page link
    
                if($this->current > 1 && $this->firstPageInRange > 1) { ?>
    
                    <a href="<?php echo $this->url(array('page' => 1), 'default', false); ?>" ><?php echo Zend_Locale_Format::toNumber(1)?></a>
    
                <?php } ?>
    
                    <!-- Numbered page links -->
    
                <?php foreach ($this->pagesInRange as $page) { ?>
    
                <?php if ($page != $this->current) { ?>
                <?php if(@$pieces[2] != 'page') { ?>
                    <a href="<?php echo $pieces_01[0].'/page/'.$page.'?'.@$pieces_03[1]?>" ><?php echo Zend_Locale_Format::toNumber($page); ?></a>
				<?php } else { ?>
					<a href="<?php echo '/'.$pieces[1].'/page/'.$page.'?'.@$pieces_03[1]?>" ><?php echo Zend_Locale_Format::toNumber($page); ?></a>
				<?php } ?>
                <?php } else { ?>
    
                    <a class="active" href="#"><?php echo $page; ?></a>
    
                <?php } ?>
    
                <?php } ?>
    
                <?php //Now put the last page link
    
                if($this->current != $this->last && $this->last > $this->lastPageInRange){ ?>
				<?php if(@$pieces[2] != 'page') { ?>
                    <a href="<?php echo $pieces_01[0].'/page/'.$this->last.'?'.@$pieces_03[1] ?>" ><?php echo Zend_Locale_Format::toNumber($this->last);?></a>
				<?php } else { ?>
					<a href="<?php echo '/'.$pieces[1].'/page/'.$this->last.'?'.@$pieces_03[1] ?>" ><?php echo Zend_Locale_Format::toNumber($this->last);?></a>
				<?php } ?>
    
                <?php } ?>
		
                    <!-- Next page link -->
    
                <?php if (isset($this->next)) { ?>
				<?php if(@$pieces[2] != 'page') { ?>
                   <a href="<?php echo $pieces_01[0].'/page/'.$this->next.'?'.@$pieces_03[1]?>" >»</a>
				<?php } else { ?>
					<a href="<?php echo '/'.$pieces[1].'/page/'.$this->next.'?'.@$pieces_03[1]?>" >»</a>
				<?php } ?>
    
                <?php } ?>
				
			</div>
			<p class="all_pages"><?php echo Zend_Locale_Format::toNumber($this->firstItemNumber)?> - <?php echo Zend_Locale_Format::toNumber($this->lastItemNumber)?>
        <?php echo "из"; ?> <?php echo Zend_Locale_Format::toNumber($this->totalItemCount)?></p>
        </div>	
		</div>
<?php } ?>
