<?php foreach ($this->paginator as $product) { ?>
<?php if($product['latest'] == 1) { ?>
	<div class="prod-cnt vertical_single new_horizontal">
<?php } else { ?>	
		<div class="prod-cnt vertical_single">
<?php } ?>
					
					<div class="vertical_col_1">
						<h3><a href="/products/<?php echo $product['url_seo']; ?>"><?php echo $product['product_model']; ?></a></h3>
                        <p>Артикул: <?php echo $product['vendor_code']; ?></p>
					</div>	                    
                    
                    <div class="vertical_img">
						<img src="<?php echo $this->host;?>/media/photos/products/small_<?php echo $product['image']; ?>" alt=""/>
						<?php if($product['manufacturer_id'] == 1) { ?>
							<img class="made_in" src="<?php echo $this->host;?>/images/logos/turkey.png" alt=""/>
						<?php } elseif($product['manufacturer_id'] == 2) { ?>
							<img class="made_in" src="<?php echo $this->host;?>/images/logos/russia.png" alt=""/>
						<?php } elseif($product['manufacturer_id'] == 3) { ?>
							<img class="made_in" src="<?php echo $this->host;?>/images/logos/china.png" alt=""/>
						<?php } ?>
					</div>
			
					
					<div class="horizontal_col_3">
						<div class="vertical_col_2">
                            <div class="char_cat"><span class="name_char red">Цена за 1 шт.: </span> <span class="number_char red"><?php echo number_format($product->price, 0, '', ''); ?> руб.</span></div>
                            <div class="char_cat"><strong><span class="name_char">Цена за упаковку: </span> <span class="number_char"><?php echo number_format($product->price_per_unit, 0, '', ''); ?> руб.</span></strong></div>
							<?php foreach ($this->product_attributes[$product->product_id] as $attribute) { ?>
							<div class="char_cat"><span class="name_char"><?php echo $attribute['attribute_name'];  ?>: </span> <strong><span class="number_char"><?php echo $attribute['text'];  ?></span></strong></div>
							<?php } ?>
                                                       
                            
                            <div class="char_cat">
							<?php if(count($this->product_option[$product->product_id])) { ?>
                                <strong><span class="color_option">Цвет: </span></strong> 
                                <span class="ch_color">
                                    <select id="single-<?php echo @$product->product_id; ?>">
									<?php foreach ($this->product_option[$product->product_id] as $option) { ?>
					<option value="<?php echo @$option->option_value_id; ?>"><?php echo @$option->name; ?></option>
				<?php } ?>
                                   </select>
                               </span>
							<?php } ?>
                            </div>
                            
                            <div class="char_cat">
                                <strong><span class="qty_option">Кол-во: </span></strong> 
                                <span class="ch_qty"><input type="number" id="qty-<?php echo @$product->product_id; ?>" name="qty" value="1" min="1" max="100" step="1"></span>
                            </div>
                               
						</div>
						
						<div class="vertical_col_3">
							<a href="#" class="buy addTooBasket" data-product-id="<?php echo $product->product_id; ?>" data-price-rub="<?php echo number_format($product->price, 0, '', ''); ?>">ЗАКАЗАТЬ УПАКОВОК</a>
						</div>
					</div>
					
				</div>
<?php } ?>
<?php echo $this->paginationControl($this->paginator, 'Elastic', 'index/controls_index.phtml'); ?>
