<form id="search_form" action="/search" method="get" class="search_form" >
    <?php echo $this->form->query; ?> 
    <input type="submit" name="" value=""/>
</form> 

<!--	<input type="text" placeholder="Поиск"/>
		<input type="submit" value=""/> -->

