<?php
    echo $this->headTitle("Добавить фото для акции");  
?>
<div class="header"> 
    <h1 class="page-title">Акции</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/adminstocks">Все акции</a> </li> &gt;&gt;
        <li class="active">Добавление фото для акции: <?php echo $this->stocks_object['stock_title']?></li>
    </ul>
</div>

    <?php echo $this->form; ?>
	