<?php echo $this->headTitle("Акции"); ?>
<div class="header"> 
    <h1 class="page-title">Акции</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/adminstocks">Все акции</a> </li> &gt;&gt;
        <li class="active">Редактирование фото для акции: <?php echo $this->stocks_object['stock_title']?></li>
    </ul>
</div>
        <table border="0" width="60%" align="center">	
	        <tr>
                <td>
		            <img src="<?php echo $this->webhost;?>/media/photos/stocks/pages/small_<?php echo $this->photo["photo_file"]; ?>" border = "0" height = "" WIDTH = "" >
                </td>
            </tr> 
		    <tr>
                <td><p align = "center" ><font size="4" color="red" face="Arial"><?php echo $this->errMessage; ?></font></p>
                    <div>
                       <?php echo $this->form; ?>
                    </div>
                </td>
            </tr> 
        </table>  