<?php $pieces = explode("/", $_SERVER['REQUEST_URI']); ?>
<?php if ($this->pageCount): ?>
 
        <ul class="pagination">
                    <!-- Previous page link -->
    
            <?php if (isset($this->previous)): ?>
    
                <li><a href="<?php echo '/'.$pieces[1].'/'.$pieces[2].'/page/'.$this->previous?>" >&laquo;</a></li>
    
            <?php endif; ?>
    
            <?php //Now put the first page link
    
                if($this->current > 1 && $this->firstPageInRange > 1){ ?>
    
                    <li><a href="<?php echo $this->url(array('page' => 1), 'default', false); ?>" ><?php echo Zend_Locale_Format::toNumber(1)?></a></li>
    
                <?php } ?>
    
                    <!-- Numbered page links -->
    
                <?php foreach ($this->pagesInRange as $page): ?>
    
                <?php if ($page != $this->current): ?>
    
                    <li><a href="<?php echo '/'.$pieces[1].'/'.$pieces[2].'/page/'.$page?>" ><?php echo Zend_Locale_Format::toNumber($page); ?></a></li>
    
                <?php else: ?>
    
                    <li class="disabled"><span class=""><?php echo $page; ?></span></li>
    
                <?php endif; ?>
    
                <?php endforeach; ?>
    
                <?php //Now put the last page link
    
                if($this->current != $this->last && $this->last > $this->lastPageInRange){ ?>
    
                    <li><a href="<?php echo '/'.$pieces[1].'/'.$pieces[2].'/page/'.$this->last?>" ><?php echo Zend_Locale_Format::toNumber($this->last);?></a></li>
    
                <?php } ?>
    
                    <!-- Next page link -->
    
                <?php if (isset($this->next)): ?>
    
                    <li><a href="<?php echo '/'.$pieces[1].'/'.$pieces[2].'/page/'.$this->next?>" >&raquo;</a></li>
    
                <?php endif; ?>
               
        </ul>
<?php endif; ?>
