<?php 
    echo $this->headTitle("Группы атрибутов - редактирование"); 

    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tinymce/jscripts/tiny_mce/tiny_mce.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );
    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tiny_mce_init.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );
    echo $this->inlineScript();
?>

<div class=""> 
    <h1 class="page-title">Производители</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/adminattributesgroup">Группы атрибутов</a> </li> &gt;&gt;
        <li class="active"><?php echo $this->attributesgroup_name; ?></li>
    </ul>
</div>
<div class="box"> 
<div class="box-content">
<div class="">
    <div class="col-md-10">
        <table border="0" width="60%" align="center">	
		    <tr>
                <td><p align = "center" ><font size="4" color="red" face="Arial"><?php echo $this->errMessage; ?></font></p>
                    <div id="poetryform">
                       <?php echo $this->form; ?>
                    </div>
                </td>
            </tr> 
        </table> 
</div>
<br>
</div>
</div>