<?php echo $this->headTitle('Группы атрибутов'); ?>
    <?php $filter = new Zend_Filter_StringTrim();?>
 
<div class="header"> 
    <h1 class="page-title">Группы атрибутов</h1> 
    <ul class="breadcrumb">
        <li class="active">Группы атрибутов</li>
    </ul>
</div>  
<div class="box"> 
<div class="box-content">
<a class="btn btn-primary" href="<?php echo '/admin/adminattributesgroup/addattributesgroup';?>" title=""><i class="btn-icon-only icon-plus-sign"></i>Добавить группу атрибутов</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th width="68%" align="left">Название группы атрибутов</th> 
            <th width="10%">П-к сорт.</th> 
            <th width="6%">Редакт.</th> 
            <th width="6%">Удалить</th> 
        </tr> 
    </thead>
    <tbody>
   
<?php foreach ($this->paginator as $attributesgroup) { ?>
    <tr>
        <td>
            <?php echo $attributesgroup['attribute_group_name']; ?>
        </td>
        <td align="center"><?php echo $attributesgroup['sort_order']; ?></td>
        <td align="center"><a href="<?php echo '/admin/adminattributesgroup/editattributesgroup/attribute_group_id/'.$attributesgroup['attribute_group_id']; ?>" class="btn btn-small btn-info" 
title="<?php echo "Редактировать";?>"><i class="btn-icon-only icon-edit"></i></a></td>
        <td align="center"><a href="<?php echo '/admin/adminattributesgroup/deleteattributesgroup/attribute_group_id/'.$attributesgroup['attribute_group_id']; ?>" class="btn btn-small btn-danger"><i 
class="btn-icon-only icon-trash"></i></a></td>
    </tr>
       
          
    
<?php } ?> 

    <tbody>
</table>
</div> 
</div>
<?php echo $this->paginationControl($this->paginator, 'Elastic', 'controls.phtml'); ?>