<ul id="menu-navigation" class="main-navigation-menu">

<?php	
foreach ($this->categories_01 as $category) { ?>
<li class="menu-item-object-page menu-item-has-children" aria-haspopup="true" aria-expanded="true">
	<?php if ($category[0]['children']) { ?>
    <span class="submenu-dropdown-toggle"></span><a href="/"><?php echo $category[0]['category_name']; ?></a>
	<?php } else { ?>
	<span class="submenu-dropdown-toggle"></span><a href="/"><?php echo $category[0]['category_name']; ?></a>
	<?php } ?>
        <?php if ($category[0]['children']) { ?>
       <?php for ($i = 0; $i < count($category[0]['children']);) { ?>
        <ul class="sub-menu">
        <?php $j = $i + count($category[0]['children']); ?>
		
        <?php for (; $i < $j; $i++) { ?>
        <?php if (isset($category[0]['children'][$i])) { ?>
			<?php if (stristr($category[0]['children'][$i]['url_seo'], 'http')) { ?>
				<li class="menu-item menu-item-type-post_type menu-item-object-page">
					<a href="<?php echo $category[0]['children'][$i]['url_seo']; ?>"><?php echo $category[0]['children'][$i]['category_name']; ?></a>
				</li>
			<?php } else { ?>
				<li class="menu-item menu-item-type-post_type menu-item-object-page">
					<a href="/page/<?php echo $category[0]['children'][$i]['url_seo']; ?>"><?php echo $category[0]['children'][$i]['category_name']; ?></a>
				</li>
			<?php } ?>
			<?php if (@$category[$i]['children_lv3']) { ?>
       <?php for ($k = 0; $k < count($category[$i]['children_lv3']);) { ?>
        <ul class="catalog__list">
        <?php $y = $k + count($category[$i]['children_lv3']); ?>
        <?php for (; $k < $y; $k++) { ?>
        <?php if (isset($category[$i]['children_lv3'][$k])) { ?>
            <li>
                <a href="/catalog/<?php echo $category[$i]['children_lv3'][$k]['url_seo']; ?>" title="<?php echo $category[$i]['children_lv3'][$k]['category_name']; ?>" ><?php echo $category[$i]['children_lv3'][$k]['category_name']; ?></a>
            </li>
        <?php } ?>    
        <?php } ?>
        
        </ul>
       <?php } ?>
        <?php } ?>
        <?php } ?>    
        <?php } ?>
        </ul>
        
       <?php } ?>
        <?php } ?>
    
</li>
<?php } ?>
</ul>