<?php
    $this->title = "Атрибуты удаление";
    $this->headTitle($this->title);
?>
<div class=""> 
    <h1 class="page-title">Атрибуты</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/adminattributes">Атрибуты</a> </li> &gt;&gt;
        <li class="active">Удаление</li>
    </ul>
</div>
<div class="box"> 
<div class="box-content">
</br></br>
<h3>Вы действительно хотите удалить атрибут
    '<?php echo $this->escape($this->attributes['attribute_name']); ?>'?
</h3>
<p align = "center" ><font size="4" color="red" face="Arial"><?php echo $this->errMessage; ?></font></p>
<form action="<?php echo $this->url(array('action'=>'deleteattribute')); ?>" method="post">
    <div>
        <input type="hidden" name="attribute_id" value="<?php echo $this->attributes['attribute_id']; ?>" />
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true" name="del" value="No">Нет</button>
        <button class="btn btn-danger" data-dismiss="modal" name="del" value="yes">Удалить</button>  
    </div>
</form>
<div>
<div>