<?php
    echo $this->headTitle('Страница администратора - Акции');    
    $filter = new Zend_Filter_StringTrim();?> 
<div class="header"> 
    <h1 class="page-title">Акции</h1>
    <ul class="breadcrumb">
        <li class="active">Все акции</li>
    </ul>
</div> 
<div class="box"> 
<div class="box-content">
    <a class="btn btn-primary" href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'adminstocks', 'action'=>'additem'));?>" title=""><i class="btn-icon-only icon-plus-sign"></i>Добавить акцию</a> 
    <a class="btn btn-primary" href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'adminstocks', 'action'=>'seo'));?>" title=""><i class="btn-icon-only icon-plus-sign"></i>Добавить seo теги для основной страницы</a>
<table class="table table-hover">
    <thead>
        <tr>  
            <th width="13%">Фото</th>
            <th width="27%">Заголовок</th> 
			<th width="9%">Статус</th> 
			<th width="10%">Дата</th>
			<th width="10%">Фото</th>
			<th width="10%">Изображения для страницы</th>
            <th width="6%">Ред.</th> 
            <th width="6%">Уд.</th>
		<!--	<th width="7%">Топ</th>	-->		
        </tr> 
    </thead> 
    <tbody>
<?php foreach($this->paginator as $stock) { ?>
    <tr>
		<td>
            <?php if($stock->main_photo) { ?>
                <img src="<?php echo $this->host;?>/media/photos/stocks/main_photos/small_<?php 
            echo $stock->main_photo; ?>" border = "0" height = "100" WIDTH = "140" >  
            <?php } else { ?>
                <img src="<?php echo $this->host;?>/media/photos/no_photo.jpeg" border = "0" height = "100" WIDTH = "140" >
            <?php } ?> 
        </td>
        <td align=""><?php echo $stock->stock_title; ?></td>
		<td align="center">
		<div id="response_stock<?php echo $stock->stock_id; ?>"><?php if($stock->status == 0) { ?><p style="color:red;">Отключено</p> <?php } else { ?><p>Включено</p><?php } ?></div>
		
		<div id="status_stock_on<?php echo $stock->stock_id; ?>"><a href="#" class="status_on status_stock_on btn btn-small btn-info" data-status-stock="<?php echo $stock->stock_id; ?>" ><i class="btn-icon-only icon-ok"></i></a></div>
		<div id="status_stock_off<?php echo $stock->stock_id; ?>"><a href="#" class="status_off status_stock_off btn btn-small btn-danger" data-status-stock="<?php echo $stock->stock_id; ?>" ><i class="btn-icon-only icon-remove"></i></a></div> 
		
		</td> 
		<td align="center"><?php echo $stock->creation_date; ?></td>
		<td align="center"><a href="<?php echo '/admin/adminstocksphoto/index/stock_id/'.$stock->stock_id; ?>" class="btn btn-small btn-info" title="<?php echo "Фото"; ?>"><i class="fbtn-icon-only icon-camera"></i></a></td>
		<td align="center"><a href="<?php echo '/admin/adminstocksphotoforpage/index/stock_id/'.$stock->stock_id; ?>" class="btn btn-small btn-info" title="<?php echo "Изображения";?>">
		<i class="btn-icon-only icon-picture"></i></a></td>
		<td align="center"><a href="<?php echo '/admin/adminstocks/edititem/stock_id/'.$stock->stock_id; ?>" class="btn btn-small btn-info" title="<?php echo "Редактировать";?>">
		<i class="btn-icon-only icon-edit"></i></a></td>	
        <td align="center"><a href="<?php echo '/admin/adminstocks/deleteitem/stock_id/'.$stock->stock_id; ?>" class="btn btn-small btn-danger" title="<?php echo "Удалить"; ?>">
        <i class="btn-icon-only icon-trash"></i></a></td>
    
	<!--	<td align="center">
		<div id="response_stock_prime<?php echo $stock->stock_id; ?>"><?php if($stock->prime == 0) { ?><p style="color:red;">Отключено</p> <?php } else { ?><p>Включено</p><?php } ?></div>
		
		<div id="status_on_stock_prime<?php echo $stock->stock_id; ?>"><a href="#" class="status_on stock_prime_on btn btn-small btn-info" data-status-stock-prime="<?php echo $stock->stock_id; ?>" ><i class="btn-icon-only icon-ok"></i></a></div>
		<div id="status_off_stock_prime<?php echo $stock->stock_id; ?>"><a href="#" class="status_off stock_prime_off btn btn-small btn-danger" data-status-stock-prime="<?php echo $stock->stock_id; ?>" ><i class="btn-icon-only icon-remove"></i></a></div> 
		
		</td>-->
	</tr> 
<?php } ?> 
<tbody>
</table>
</div>
</div>
<?php echo $this->paginationControl($this->paginator, 'Elastic', 'controls.phtml'); ?>
</div> 
</div>
</div> 	