<?php
    echo $this->headTitle("Добавить фото для Наша команда");  
?>
<div class="header"> 
    <h1 class="page-title">Наша команда</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/sliderthree">Наша команда</a> </li> &gt;&gt;
        <li class="active">Добавление фото для: <?php echo $this->slider_object['slider_title']; ?></li>
    </ul>
</div>

    <?php echo $this->form; ?>
	