<?php echo $this->headTitle("Фото для Наша команда"); ?>
<div class="header"> 
    <h1 class="page-title">Фото для Наша команда</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/sliderthree">Наша команда</a> </li> &gt;&gt;
        <li class="active">Фото для: <?php echo $this->slider_object['slider_title']; ?></li>
    </ul>
</div>
<?php $filter = new Zend_Filter_StringTrim();?>
</br>
<a class="btn btn-primary" href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'sliderthreephotoforpage', 'action'=>'addphoto'));?>" ><i class="btn-icon-only icon-plus-sign"></i>Добавить фото для страницы</a> 
<br><br>
<table class="table table-hover">
    <tr>
        <th width="20%"><?php echo "Фото для страницы"; ?></th>
        <th width="30%"><?php echo "Адрес для редактора<br>( скопировать и вставить )"; ?></th>
        <th width="15%"><?php echo "Вставить ссылку"; ?></th>
		<th width="15%"><?php echo "Редактировать"; ?></th>
		<th width="15%"><?php echo "Удалить"; ?></th>      
    </tr>
   
	<?php foreach($this->paginator as $photo) { ?>
    <tr>
	    <td>
            <img src="<?php echo $this->host;?>/media/photos/slider/small_<?php echo $photo->photo_file; ?>" border = "1" height = "" WIDTH = "130" >
        </td>
		<td>
            <?php echo $this->host;?>/media/photos/slider/big_<?php echo $photo->photo_file; ?>
        </td>
        <td align="center"><a href="<?php echo '/admin/sliderthree/edit/slider_id/'.$photo->slider_id; ?>" class="btn btn-small btn-info"><i class="btn-icon-only icon-camera"></i></a></td>
		<td align="center"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'sliderthreephotoforpage', 'action'=>'editphoto', 'photo_id' => $photo->photo_id));?>" class="btn btn-small btn-info"><i class="btn-icon-only icon-edit"></i></a></td>
		
        <td align="center"><a href="<?php echo $this->url(array('module'=>'admin', 'controller' => 'sliderthreephotoforpage', 'action' => 'delete', 'photo_id' => $photo->photo_id)); 
?>" class="btn btn-small btn-danger"><i class="btn-icon-only icon-trash"></i></a></td>
    </tr>
	<?php } ?>
</table>
</br>
<?php echo $this->paginationControl($this->paginator, 'Elastic', 'controls.phtml'); ?>
