﻿<?php 
    $filter = new Zend_Filter_StringTrim();
          
    foreach($this->paginator as $realestateobject) : 
        if($this->lang == 'lv') { 
        ?> 
        <div class="content-list-block">
            <div class="content-list-photo"><a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => $realestateobject->category_id, 'realestate_id' => $realestateobject->realestate_id, 
'lang' => 'lv'), 'default', true) ?>">
            <?php if(isset($realestateobject->main_photo) and !empty($realestateobject->main_photo) and $realestateobject->main_photo != NULL) {       ?><img src="<?php echo 
$this->host;?>/images/main_photos/<?php echo $realestateobject->main_photo; ?>" border = "1" height = "187" WIDTH = "280">
            <?php } else {?>
                <img src="<?php echo $this->webhost;?>/images/main_photos/no_photo.jpeg" border = "1" height = "" width = "" >
                <?php } ?>
            </a></div>
            
            <div class="content-list-group"><?php echo $realestateobject->category_name_lv; ?></div>
            <table class="content-list-title" cellpadding="0" cellspacing="0"><tr><td>
                <a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => $realestateobject->category_id, 'realestate_id' => $realestateobject->realestate_id, 'lang' => 'lv'), 'default', 
true) ?>"><?php echo $realestateobject->title_lv; ?></a></td></tr></table>
            <div class="content-list-price"><?php echo $realestateobject->price; ?></div>
        </div>
        <?php       
        } elseif ($this->lang == 'ru'){
        ?> 
        <div class="content-list-block">
            <div class="content-list-photo"><a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => $realestateobject->category_id, 'realestate_id' => $realestateobject->realestate_id, 'lang' => 'lv'), 'default', true) ?>">
            <?php if(isset($realestateobject->main_photo) and !empty($realestateobject->main_photo) and $realestateobject->main_photo != NULL) {       ?><img src="<?php echo 
$this->host;?>/images/main_photos/<?php echo $realestateobject->main_photo; ?>" border = "1" height = "187" WIDTH = "280">
            <?php } else {?>
                <img src="<?php echo $this->webhost;?>/images/main_photos/no_photo.jpeg" border = "1" height = "" width = "" >
                <?php } ?>
            </a></div>  
            <div class="content-list-group"><?php echo $realestateobject->category_name_ru; ?></div>
            <table class="content-list-title" cellpadding="0" cellspacing="0"><tr><td>
                <a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => $realestateobject->category_id, 'realestate_id' => $realestateobject->realestate_id, 'lang' => 'lv'), 'default', 
true) ?>"><?php echo $realestateobject->title_ru; ?></a></td></tr></table>
            <div class="content-list-price"><?php echo $realestateobject->price; ?></div>
        </div>
        <?php   
        } elseif ($this->lang == 'en'){
        ?> 
        <div class="content-list-block">
            <div class="content-list-photo"><a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => $realestateobject->category_id, 'realestate_id' => $realestateobject->realestate_id, 
'lang' => 'lv'), 'default', true) ?>">
            <?php if(isset($realestateobject->main_photo) and !empty($realestateobject->main_photo) and $realestateobject->main_photo != NULL) {       ?><img src="<?php echo 
$this->host;?>/images/main_photos/<?php echo $realestateobject->main_photo; ?>" border = "1" height = "187" WIDTH = "280">
            <?php } else {?>
                <img src="<?php echo $this->webhost;?>/images/main_photos/no_photo.jpeg" border = "1" height = "" width = "" >
                <?php } ?>
            </a></div>  
            
            <div class="content-list-group"><?php echo $realestateobject->category_name_en; ?></div>
            <table class="content-list-title" cellpadding="0" cellspacing="0"><tr><td>
                <a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => $realestateobject->category_id, 'realestate_id' => $realestateobject->realestate_id, 'lang' => 'lv'), 'default', 
true) ?>"><?php echo $realestateobject->title_en; ?></a></td></tr></table>
            <div class="content-list-price"><?php echo $realestateobject->price; ?></div>
        </div>
        <?php     
        } elseif ($this->lang == 'ch'){
        ?> 
        <div class="content-list-block">
            <div class="content-list-photo"><a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => $realestateobject->category_id, 'realestate_id' => $realestateobject->realestate_id, 
'lang' => 'lv'), 'default', true) ?>">
            <?php if(isset($realestateobject->main_photo) and !empty($realestateobject->main_photo) and $realestateobject->main_photo != NULL) {       ?><img src="<?php echo 
$this->host;?>/images/main_photos/<?php echo $realestateobject->main_photo; ?>" border = "1" height = "187" WIDTH = "280">
            <?php } else {?>
                <img src="<?php echo $this->webhost;?>/images/main_photos/no_photo.jpeg" border = "1" height = "" width = "" >
                <?php } ?>
            </a></div>
            
            <div class="content-list-group"><?php echo $realestateobject->category_name_ch; ?></div>
            <table class="content-list-title" cellpadding="0" cellspacing="0"><tr><td>
                <a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => $realestateobject->category_id, 'realestate_id' => $realestateobject->realestate_id, 'lang' => 'lv'), 'default', 
true) ?>"><?php echo $realestateobject->title_ch; ?></a></td></tr></table>
            <div class="content-list-price"><?php echo $realestateobject->price; ?></div>
        </div>
        <?php           
        } else {
        ?> 
        <div class="content-list-block">
            <div class="content-list-photo"><a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => $realestateobject->category_id, 'realestate_id' => $realestateobject->realestate_id, 
'lang' => 'lv'), 'default', true) ?>">
            <?php if(isset($realestateobject->main_photo) and !empty($realestateobject->main_photo) and $realestateobject->main_photo != NULL) {       ?><img src="<?php echo 
$this->host;?>/images/main_photos/<?php echo $realestateobject->main_photo; ?>" border = "1" height = "187" WIDTH = "280">
            <?php } else {?>
                <img src="<?php echo $this->webhost;?>/images/main_photos/no_photo.jpeg" border = "1" height = "" width = "" >
                <?php } ?>
            </a></div>  
            
            <div class="content-list-group"><?php echo $realestateobject->category_name_lv; ?></div>
            <table class="content-list-title" cellpadding="0" cellspacing="0"><tr><td>
                <a href="<?php echo $this->url(array('module'=>'real_estate', 'controller'=>'index', 'action'=>'lot', 'category_id' => $realestateobject->category_id, 'realestate_id' => $realestateobject->realestate_id, 'lang' => 'lv'), 'default', 
true) ?>"><?php echo $realestateobject->title_lv; ?></a></td></tr></table>
            <div class="content-list-price"><?php echo $realestateobject->price; ?></div>
        </div>
        <?php   
        } 
    endforeach; 
?>  
<div class="clear"></div>
                <?php echo $this->paginationControl($this->paginator, 'Elastic', 'controls.phtml'); ?>              