<?php foreach ($this->paginator as $product) { ?>
<?php if($product['latest'] == 1) { ?>
	<div class="prod-cnt vertical_single new_horizontal">
<?php } else { ?>	
		<div class="prod-cnt vertical_single">
<?php } ?>
					<div class="vertical_img">
						<a href="/product/<?php echo $product['url_seo']; ?>"><img src="<?php echo $this->host;?>/media/photos/products/small_<?php echo $product['image']; ?>" alt=""/></a>
					</div>

					<div class="vertical_col_1">
						<h3><a href="/product/<?php echo $product['url_seo']; ?>"><?php echo $product['product_model']; ?></a></h3>
						<?php if($product['status_in_out_of_stock'] == '1') { ?>
						<div class="availibility">В наличии</div>
						<?php } ?>
					</div>
					
					<div class="horizontal_col_2">
						<p><?php echo $product['intro_text']; ?></p>
					</div>
					<div class="horizontal_col_3">
						<div class="vertical_col_2">
							<div class="vertical_price"><?php echo number_format($product->price_rub, 0, '', ''); ?> <span class="price_sing">&#8381;</span></div>
						</div>
						
						<div class="vertical_col_3">
							<a href="#" class="buy addTooBasket" data-product-id="<?php echo $product->product_id; ?>" data-price-rub="<?php echo number_format($product->price_rub, 0, '', ''); ?>">КУПИТЬ</a>
						</div>
					</div>
				</div>
<?php } ?>
<?php echo $this->paginationControl($this->paginator, 'Elastic', 'index/controls_index.phtml'); ?>