<form action="<?php $this->form->getAction()?>" method="post" >
			<div class="container">
				<div class="filter_col_1">
					<h3>Бренд</h3>
					
					<div class="input_row checkbox_row">
						<input data-role="none" type="checkbox" <?php if(@in_array("ACROSS", @$this->brend)) { ?> checked="checked" <?php } ?> name="brend[]" value="ACROSS" id="brend"/>
						<label for="brend"><span></span> Across</label>
					</div>
					
					<div class="input_row checkbox_row">
						<input data-role="none" type="checkbox" <?php if(@in_array("Hummingbird", @$this->brend)) { ?> checked="checked" <?php } ?> name="brend[]" value="Hummingbird" id="brend1"/>
						<label for="brend1"><span></span> Hummingbird</label>
					</div>

					<div class="input_row checkbox_row">
						<input data-role="none" type="checkbox" <?php if(@in_array("STERNBAUER", @$this->brend)) { ?> checked="checked" <?php } ?> name="brend[]" value="STERNBAUER" id="brend2"/>
						<label  for="brend2"><span></span> STERNBAUER</label>
					</div>	

				<!--	<div class="inputs_filer_hidden">
						<div class="input_row checkbox_row">
							<input data-role="none" type="checkbox" name="brend" id="brend3"/>
							<label  for="brend3"><span></span> Ufo People</label>
						</div>							
					</div>					
					
					<a href="#" class="more_filter">еще</a> -->
				</div>
				
				<div class="filter_col_2">
					<h3>цена</h3>


				<div class="labels-wrap">
					<div class="leftLabel" id="leftLabel"></div>
					<div class="rightLabel" id="rightLabel"></div>
					<input type="hidden" name="price_from" id="price_from" />
					<input type="hidden" name="price_to" id="price_to" />
				</div>
				<?php if($this->price_from) { ?>
					<div class="nstSlider" data-range_min="500" data-range_max="7000" data-cur_min="<?php echo @$this->price_from; ?>"  data-cur_max="<?php echo @$this->price_to; ?>">
				<?php } else { ?>
				<div class="nstSlider" data-range_min="500" data-range_max="7000" data-cur_min="900"  data-cur_max="6000">
				<?php } ?>

					<div class="bar"></div>
					<div class="leftGrip"></div>
					<div class="rightGrip"></div>
				</div>
					


					
					
				</div>		


				<div class="filter_col_3">
					<h3>пол</h3>
					
					<div class="input_row checkbox_row">
						<input data-role="none" type="checkbox" <?php if(@in_array("male", @$this->gender)) { ?> checked="checked" <?php } ?> name="gender[]" value="male" id="gender-male"/>
						<label for="gender-male"><span></span> Мальчикам</label>
					</div>
					
					<div class="input_row checkbox_row">
						<input data-role="none" type="checkbox" <?php if(@in_array("female", @$this->gender)) { ?> checked="checked" <?php } ?> name="gender[]" value="female" id="gender-female"/>
						<label for="gender-female"><span></span> Девочкам</label>
					</div> 

				</div>	


				<div class="filter_col_4">
					<h3>размер</h3>
					
					<div class="input_row checkbox_row">
						<input data-role="none" type="checkbox" <?php if(@in_array("small", @$this->size)) { ?> checked="checked" <?php } ?> name="size[]" value="small" id="size-small"/>
						<label for="size-small"><span></span> Маленький</label>
					</div>
					
					<div class="input_row checkbox_row">
						<input data-role="none" type="checkbox" <?php if(@in_array("medium", @$this->size)) { ?> checked="checked" <?php } ?> name="size[]" value="medium" id="size-medium"/>
						<label for="size-medium"><span></span> Средний</label>
					</div>

					<div class="input_row checkbox_row">
						<input data-role="none" type="checkbox" <?php if(@in_array("big", @$this->size)) { ?> checked="checked" <?php } ?> name="size[]" value="big" id="size-big"/>
						<label for="size-big"><span></span> Большой</label>
					</div>					
				</div>	


				<div class="filter_col_5">
			
					<?php echo $this->form->submit; ?>
					<input data-role="none" type="reset" id="reset" value="сбросить" name="reset"/>					
				</div>					
				
			</div>
		</form>