<?php  
    $translate = Zend_Registry::get('Zend_Translate');
?>        
	<form id="searching" action="<?php $this->form->getAction()?>" method="post">       
		<table id="content-realty-search-table" cellpadding="0" cellspacing="0">
            <tr>
            <td class="content-realty-search-label-long"><?php echo $translate->translate('Type of deal'); ?></td>
            <td class="content-realty-search-value-long">
                <?php echo $this->form->transaction_type_id; ?>
            </td>
            <td class="content-realty-search-label-long"><?php echo $translate->translate('Rooms'); ?></td>
            <td class="content-realty-search-label-short"><?php echo $translate->translate('from'); ?></td>
            <td class="content-realty-search-value-short"><?php echo $this->form->rooms_from; ?></td>
            <td class="content-realty-search-label-short"><?php echo $translate->translate('to'); ?></td>
            <td class="content-realty-search-value-short"><?php echo $this->form->rooms_to; ?></td>
            </tr>
            <tr>
            <td class="content-realty-search-label-long"><?php echo $translate->translate('Real Estate'); ?></td>
            <td class="content-realty-search-value-long">
                 <?php echo $this->form->category_id; ?>
            </td>
            <td class="content-realty-search-label-long"><?php echo $translate->translate('Area, m'); ?><sup>2</sup></td>
            <td class="content-realty-search-label-short"><?php echo $translate->translate('from'); ?></td>
            <td class="content-realty-search-value-short"><?php echo $this->form->area_from; ?></td>
            <td class="content-realty-search-label-short"><?php echo $translate->translate('to'); ?></td>
            <td class="content-realty-search-value-short"><?php echo $this->form->area_from; ?></td>
            </tr>
            <tr>
            <td class="content-realty-search-label-long"><?php echo $translate->translate('Region'); ?></td>
            <td class="content-realty-search-value-long">
                <?php echo $this->form->region_id; ?>
            </td>
            <td class="content-realty-search-label-long"><?php echo $translate->translate('Price'); ?></td>
            <td class="content-realty-search-label-short"><?php echo $translate->translate('from'); ?></td>
            <td class="content-realty-search-value-short"><?php echo $this->form->price_from; ?></td>
            <td class="content-realty-search-label-short"><?php echo $translate->translate('to'); ?></td>
            <td class="content-realty-search-value-short"><?php echo $this->form->price_from; ?></td>
            </tr>
            <tr><td colspan="7"></td></tr>
            <tr>
            <td class="content-realty-search-label-long"></td>
            <td class="content-realty-search-value-long"></td>
            <td class="content-realty-search-label-long"></td>
            <td class="content-realty-search-label-short"></td>
            <td colspan="3"><?php echo $this->form->search; ?></td>
            </tr>
        </table>
	</form>		