<?php
    echo $this->headTitle("Добавить фото");  
?>
<div class="header"> 
    <h1 class="page-title">Продукты</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/adminproducts">Все продукты</a></li> &gt;&gt;
        <li class="active">Добавление фото для продукта: <?php echo $this->products_object['product_model']?></li>
    </ul>
</div>

    <?php echo $this->form; ?>
	