<?php echo $this->headTitle("Редактировать главное фото для статьи"); ?>
<div class="header"> 
    <h1 class="page-title">Новости</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/adminnews">Все новости</a> </li>
        <li class="active">Редактирование главного фото для статьи: <?php echo $this->news_object['news_title']?></li>
    </ul>
</div>
        <table border="0" width="60%" align="center">	
	        <tr>
                <td>
		            <img src="<?php echo $this->webhost;?>/media/photos/news/main_photos/small_<?php echo $this->news_main_photo_file; ?>" border = "0" height = "" WIDTH = "" >
                </td>
            </tr> 
		    <tr>
                <td><p align = "center" ><font size="4" color="red" face="Arial"><?php echo $this->errMessage; ?></font></p>
                    <div id="poetryform">
                       <?php echo $this->form; ?>
                    </div>
                </td>
            </tr> 
        </table>  