<?php echo $this->headTitle("Фото для продукта"); ?>
<div class="header"> 
    <h1 class="page-title">Фото для продукта</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/adminproducts">Все продукты</a> </li> &gt;&gt;
        <li class="active">Фото для продукта: <?php echo $this->products_object['product_model']?></li>
    </ul>
</div>
<?php $filter = new Zend_Filter_StringTrim();?>
</br>
<a class="btn btn-primary" href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'adminproductsphoto', 'action'=>'addphoto'));?>" ><i class="btn-icon-only icon-plus-sign"></i>Добавить фото</a> 
<table>
    <tr>
        <th width="70%">Фото</th>
		<th width="15%">Редактировать</th>
		<th width="15%">Удалить</th>      
    </tr>
   
	<?php foreach($this->paginator as $photo) { ?>
    <tr>
	    <td>
            <img src="<?php echo $this->host;?>/media/photos/products/small_<?php echo $photo->photo_file; ?>" border = "1" height = "111" width = "111" >
        </td>
		<td align="center"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'adminproductsphoto', 'action'=>'editphoto', 'photo_id' => $photo->photo_id));?>" class="btn btn-small btn-info"><i class="btn-icon-only icon-edit"></i></a></td>
		
        <td align="center"><a href="<?php echo $this->url(array('module'=>'admin', 'controller' => 'adminproductsphoto', 'action' => 'delete', 'photo_id' => $photo->photo_id)); 
?>" class="btn btn-small btn-danger"><i class="btn-icon-only icon-trash"></i></a></td>
    </tr>
	<?php } ?>
</table>
</br>
<?php echo $this->paginationControl($this->paginator, 'Elastic', 'controls.phtml'); ?>
