<?php
    echo $this->headTitle("Добавить фото для категории");  
?>
<div class="header"> 
    <h1 class="page-title">Категории</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/admincategories">Все категории</a> </li> &gt;&gt;
        <li class="active">Добавление фото для категории: <?php echo $this->categories_object['category_name']; ?></li>
    </ul>
</div>

    <?php echo $this->form; ?>
	