<?php
    echo $this->headTitle("Фото для страницы - Часы приема врачей");
    $filter = new Zend_Filter_StringTrim();
?>

<div class="header"> 
    <h1 class="page-title">Часы приема врачей</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/adminpage01">Часы приема врачей</a></li> &gt;&gt; 
        <li class="active">Фото для страницы</li> 
    </ul>
</div>
<div class="box"> 
<div class="box-content">
<a class="btn btn-primary" href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'adminpage01photo', 'action'=>'addphotoforpage'));?>"><i class="btn-icon-only icon-plus-sign"></i>Добавить фото для страницы</a> 

<table border="0" class="table table-hover">
    <thead>
    <tr>
        <th width="25%"><?php echo "Фото"; ?></th>
        <th width="30%"><?php echo "Адрес для редактора<br>( скопировать и вставить )"; ?></th>
        <th width="15%"><?php echo "Вставить ссылку"; ?></th>
        <th width="15%"><?php echo "Редактировать фото"; ?></th>
        <th width="15%"><?php echo "Удалить фото"; ?></th>     
    </tr>
    </thead>
	<?php foreach($this->paginator as $photo) : ?>
    <tr>
	    <th>
            <img src="<?php echo $this->host;?>/media/photos/pages/small_<?php echo $photo->photo_file; ?>" border = "1" height = "140" WIDTH = "190" >
        </th>
		<th>
            <?php echo $this->host;?>/media/photos/pages/big_<?php echo $photo->photo_file; ?>
        </th>
        <th align="center"><a href="<?php echo '/admin/adminpage01/edit/page_id/1';?>" class="btn btn-small btn-info"><i class="btn-icon-only icon-camera"></i></a></th>
		<th align="center"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'adminpage01photo', 'action'=>'editphotoforpage', 'photo_id' => 
$photo->photo_id));?>" class="btn btn-small btn-info"><i class="btn-icon-only icon-edit"></i></a></th>
		
        <th align="center"><a href="<?php echo $this->url(array('module'=>'admin', 'controller' => 'adminpage01photo', 'action' => 'deletephotoforpage', 'photo_id' => 
$photo->photo_id)); ?>" class="btn btn-small btn-danger"><i class="fbtn-icon-only icon-trash"></i></a></th>
    </tr>
	<?php endforeach; ?>
</table>
</div>
</div>
<?php echo $this->paginationControl($this->paginator, 'Elastic', 'controls.phtml'); ?>
