﻿<?php
    $translate = Zend_Registry::get('Zend_Translate');
    echo $this->headTitle($translate->translate('Create Account'));    
?>
<p align = "center" ><font size="4" color="red" face="Arial"><?php echo $this->errMessage; ?></font></p>
    <div class="signupform">
		<h3 class="first"><?php echo $translate->translate('Create Account'); ?></h3>
        <?php echo $this->form_account; ?>&nbsp;
    </div>
            
		
