<?php 
  echo $this->headTitle("Додати нову статтю"); 
 // echo $this->headScript()->appendFile($this->baseUrl().'/js/ckeditor/ckeditor.js'); 
?>
   <p align = "center" ><font size="3" color="red" face="Arial"><?php echo $this->errMessage; ?></font></p>
   <div id="poetryform">
       <?php echo $this->form; ?>
   </div>
