<?php
    $this->title = "Видалення статті";
    $this->headTitle($this->title);
?>
</br></br>
<h1>Перед видалення статті треба видалити сторінки</h1>
<h1>Ви дійсно хочете видалити статтю
    '<?php echo $this->escape($this->article['article_name']); ?>'?
</h1>
<form action="<?php echo $this->url(array('action'=>'delete')); ?>" method="post">
    <div>
        <input type="hidden" name="article_id" value="<?php echo $this->article['article_id']; ?>" />
        <button type="submit" name="del" value="yes" >Так</button>
        <button type="submit" name="del" value="No" >Ні</button>
    </div>
</form>