<?php   
    echo $this->headTitle("Настройки - редактирование");
?>    
<div class="row"> 
    <h1 class="page-title">Настройки - редактировать</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/settings">Настройки</a> </li> &gt;&gt;
        <li class="active"><?php echo $this->setting_name; ?></li>
    </ul>
</div> 
<div class="box"> 
<div class="box-content">
<div class="">
    <div class="col-md-10">
        <table border="0" width="60%" align="center">	
		    <tr>
                <td>
					<p align = "center" ><font size="4" color="red" face="Arial"><?php echo $this->errMessage; ?></font></p>
					<?php echo $this->form; ?>
                </td>
            </tr> 
        </table> 
</div>
<br>
</div>
</div>

