<?php echo $this->headTitle("Настройки"); ?>
<div class="header"> 
    <h1 class="page-title">Настройки</h1>
    <ul class="breadcrumb">
        <li class="active">Настройки</li>
    </ul>
</div> 
<div class="panel panel-default">

<table border="0" class="table table-hover">
    <?php foreach($this->paginator as $setting) : ?>
    <tr>
        <th align="" width="30%"><?php echo $setting->setting_name.':'; ?></th>
        <th width="50%"><?php echo $this->escape($setting->setting_value); ?></th>
        <th align="center" width="20%">
            <a href="<?php echo 'settings/editsetting/setting_id/'.$setting->setting_id;?>" class="btn btn-small btn-info" title="<?php echo "Редактировать";?>"><i class="btn-icon-only icon-edit"></i></a>      
        </th>   
    </tr>
    <?php endforeach; ?> 
</table>
</div>

