<?php
    $this->title = "Удаление - заказы";
    $this->headTitle($this->title);
?>
<div class="header"> 
    <h1 class="page-title">Заказы</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/admincategories">Заказы</a> </li> &gt;&gt;
        <li class="active">Удалить заказ</li>
    </ul>
</div>
<div class="box"> 
<div class="box-content">
</br></br>
<h3>Вы действительно хотите удалить заказ -
    <?php echo $this->escape($this->order_object['order_id']); ?>?
</h3>
<p align = "center" ><font size="4" color="red" face="Arial"><?php echo $this->errMessage; ?></font></p>
<form action="<?php echo $this->url(array('action'=>'deleteorder')); ?>" method="post">
    <div>
        <input type="hidden" name="order_id" value="<?php echo $this->order_object['order_id']; ?>" />
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true" name="del" value="No">Нет</button>
        <button class="btn btn-danger" data-dismiss="modal" name="del" value="yes">Удалить</button>  
    </div>
</form>
<div>
<div>