<?php
    echo $this->headTitle('Страница администратора - заказы');   
    $filter = new Zend_Filter_StringTrim();
?>
<div class="header"> 
    <h1 class="page-title">Заказы</h1>
    <ul class="breadcrumb">
        <li class="active">Заказы</li>
    </ul>
</div>

<div class="box"> 
<div class="box-content">
<div class="">
	<div class="col-md-10">
		<div id="myTabContent" class="tab-content">
			<div class="tab-pane active in" id="home">
		<table border="0" class="table table-hover">
    <thead>
    <tr>
      <th>Имя</th>
      <th>Телефон</th>
	  <th>E-mail</th>
	  <th>Сумма</th>
	  <th>Дата</th>
      <th></th>
	  <th></th>
    </tr>
    </thead>
    <?php foreach($this->paginator as $order) { ?>
    <tr>
        <th align="" width="25%"><?php echo $order->user_name; ?></th>
        <th width="20%"><?php echo $order->user_phone; ?></th>
		<th width="15%"><?php echo $order->user_email; ?></th>
		<th width="10%"><?php echo $order->sum_cart; ?></th>
		<th width="15%"><?php echo $order->creation_date; ?></th>
        
		<th align="center" width="5%">
            <a href="<?php echo '/members/orders/orderdetails/token/'.$order->token;?>" class="btn btn-small btn-info" title="<?php echo "Смотреть детали";?>"><i class="btn-icon-only icon-th-list"></i></a>
        </th> 
<!--		<th align="center" width="5%">
            <a href="<?php echo '/members/orders/edit/order_id/'.$order->order_id;?>" class="btn btn-small btn-info" title="<?php echo "Редактировать";?>"><i class="btn-icon-only icon-edit"></i></a>
        </th> -->
   <!--     <th align="center" width="5%">
            <a href="<?php echo '/members/orders/deleteorder/order_id/'.$order->order_id; ?>" class="btn btn-small btn-danger" title="<?php echo "Удалить"; ?>"><i class="btn-icon-only icon-trash"></i></a>     
        </th>   -->
    </tr>
    <?php } ?> 
</table>   
			</div>
		</div>
	</div>
</div>
<?php echo $this->paginationControl($this->paginator, 'Elastic', 'controls.phtml'); ?>
</div>
</div> 

    