<?php
    echo $this->headTitle('Страница администратора - заказы');   
    $filter = new Zend_Filter_StringTrim();
?>
<div class="header"> 
    <h1 class="page-title">Заказы</h1>
    <ul class="breadcrumb">
		<li><a href="/members/orders">Заказы</a> </li> &gt;&gt;
        <li class="active">Заказ от <?php echo $this->creation_date; ?></li>
    </ul>
</div>

<div class="col-md-10" id="tabs">
    <ul class="nav nav-tabs">
        <li><a href="#tab-general" data-toggle="tab">Данные заказа</a></li>
        <li><a href="#tab-attribute" data-toggle="tab">Продукты</a></li>
    <!--    <li><a href="#tab-image" data-toggle="tab">Изображения</a></li> -->
    </ul>
<div id="myTabContent" class="tab-content">
	<div class="tab-pane" id="tab-general">
		
		<p><b>Покупатель:</b> <?php echo $this->order_object_01['user_name']; ?></p>
		<p><b>Телефон:</b> <?php echo $this->order_object_01['user_phone']; ?></p>
		<p><b>E-mail:</b> <?php echo $this->order_object_01['user_email']; ?></p>
		<p><b>Способ доставки:</b> <?php echo $this->order_object_01['delivery']; ?></p>
		<?php if($this->order_object_01['address']) { ?>
			<p><b>Адрес отделения доставки:</b> <?php echo $this->order_object_01['address']; ?></p>
		<?php } ?>
		<?php if($this->order_object_01['city']) { ?>
			<p><b>Город доставки:</b> <?php echo $this->order_object_01['city']; ?></p>
			<p><b>Улица:</b> <?php echo $this->order_object_01['street_delivery']; ?></p>
			<p><b>Дом:</b> <?php echo $this->order_object_01['house_delivery']; ?></p>
			<p><b>Квартира:</b> <?php echo $this->order_object_01['room_delivery']; ?></p>
		<?php } ?>
		<?php if($this->order_object_01['samovivoz_city']) { ?>
			<p><b>Город доставки:</b> <?php echo $this->order_object_01['samovivoz_city']; ?></p>
		<?php } ?>
		<?php if($this->order_object_01['payment']) { ?>
		<p><b>Способ оплаты:</b> <?php echo $this->order_object_01['payment']; ?></p>
		<?php } ?>
		<b>Общая стоимость, без учета доставки:</b> <span id="cart-total-admin"><?php echo $this->order_object_01['sum_cart']; ?> р. </span>
		<br><br><br>
	</div>
		
	<div class="tab-pane" id="tab-attribute">
		<table border="0" class="table table-hover">
			<thead>
			<tr>
			<th></th>
			<th>Продукт</th>
			<th>Артикул</th>
			<th>Колич</th>
			<th>Цвет</th>
			<th>Цена</th>
			<th>Сумма</th>
			</tr>
			</thead>
			
			<?php $product_row = 0; ?>
			<?php foreach($this->orders as $order) { ?>
			<tbody id="product-row<?php echo $product_row; ?>">
			<tr>
				<th width="20%">
					<img src="<?php echo $this->host;?>/media/photos/products/small_<?php 
                echo $order->image; ?>" border = "0" height = "100" WIDTH = "140" > 
				</th>
				<th align="left" width="20%"><?php echo $order->product_model; ?></th>
				<th align="" width="5%"><?php echo $order->vendor_code; ?></th>
				<th width="8%"><?php echo $order->quantity; ?></th>
				<th width="15%"><?php echo $order->name; ?></th>
				<th width="10%"><?php echo number_format($order->price, 2, ',', ''); ?></th>
				<th width="10%"><?php echo number_format($order->total, 2, ',', ''); ?></th>
				  
			</tr>
			<tbody>
            <?php $product_row++; ?>
			<?php } ?>
			
		</table> 
	<!--	<b>Добавить продукт</b> 
		
		<form action="/admin/adminorders/addorderproductajax" method="post" >
			<input type="hidden" name="order_id" value="<?php echo $this->order_object_01['order_id']; ?>" />
			<?php echo $this->form->product_id; ?>
			<?php echo $this->form->quantity; ?>
			<?php echo $this->form->submit; ?>
		</form> -->
		<br>
	</div>
</div>
</div>
<script>
$(function() {
    var index = 'key_tab';
    var dataStore = window.sessionStorage;
    try {
        var oldIndex = dataStore.getItem(index);
    } catch(e) {
        var oldIndex = 0;
    }
    $('#tabs').tabs({
        active : oldIndex,
        activate : function( event, ui ){
            var newIndex = ui.newTab.parent().children().index(ui.newTab);
            dataStore.setItem( index, newIndex ) 
        }
    }); 
}); (jQuery)
</script>
    