<?php 
    echo $this->headTitle("Добавить"); 

    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tinymce/jscripts/tiny_mce/tiny_mce.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );
    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tiny_mce_init.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );
    echo $this->inlineScript();
?> 
<div class=""> 
    <h1 class="page-title">Видео</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/videolessons">Видео</a> </li> &gt;&gt;
		<li class="active">добавление</li>
    </ul>
</div>
<div class="">
<div class="col-md-10">
    
    <p align = "center" ><font size="3" color="" face="Arial"><?php echo $this->errMessage; ?></p> 
	<form action="<?php $this->form->getAction()?>" method="post" enctype = "multipart/form-data">
    <div id="myTabContent" class="tab-content">
		
        <div class="tab-pane active in" id="tab-general">
			<table id="" class="">
			<tr>
                <td>
					<label for="title"><strong>Название: </strong></label>
					<?php echo $this->form->video_title; ?>
				</td>
			</tr>
			<tr>
                <td>
					<label for="title"><strong>HTML-код: </strong></label>
					<?php echo $this->form->html_code; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>Порядок сортировки: </strong></label>
					<?php echo $this->form->sort_order; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<?php echo $this->form->image; ?>
				</td>
			</tr>
			<tr>
                <td>
					<label for="title"><strong>Alt: </strong></label>
					<?php echo $this->form->alt; ?>
				</td>
			</tr>
			</table>
        </div>
       
       
		<?php echo $this->form->submit; ?>
    </div>
	</form>
<br>
</div>
</div>