<?php 
    echo $this->headTitle("Редактировать"); 

    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tinymce/jscripts/tiny_mce/tiny_mce.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );
    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tiny_mce_init.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );
    echo $this->inlineScript();
?> 
<div class=""> 
    <h1 class="page-title">Видео</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/videolessons">Видео</a> </li> &gt;&gt;
        <li class="active"><?php echo $this->name; ?></li>
    </ul>
</div>
<div class="">
<div class="col-md-10">
   
  <!--  <p align = "center" ><font size="3" color="" face="Arial"><?php echo $this->errMessage; ?></p> -->
	<!--<form action="/admin/adminproducts/editproduct" method="post" enctype = "multipart/form-data">-->
	<form action="<?php $this->form->getAction()?>" method="post" enctype = "multipart/form-data">
    <div id="myTabContent" class="tab-content">
		
        <div class="tab-pane active in" id="tab-general">
			<table id="" class="">
			<tr>
                <td>
					<input type="hidden" name="video_id" value="<?php echo $this->video_id; ?>" />
					<label for="title"><strong>Название: </strong></label>
					<?php echo $this->form->video_title; ?>
				</td>
			</tr>
			<tr>
                <td>
					<label for="title"><strong>HTML-код: </strong></label>
					<?php echo $this->form->html_code; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>Порядок сортировки: </strong></label>
					<?php echo $this->form->sort_order; ?>
				</td>
			</tr>
			<tr>
                <td>
                    <?php if($this->video['image']) { ?>
						<div id="response_videolessons_image">      
							<img src="<?php echo $this->host;?>/media/photos/videolessons/small_<?php 
							echo $this->video['image']; ?>" border = "0" height = "100" WIDTH = "140" ><br><br>  
							<div id="status_remove_sliderfour_image">
								<a href="#" class="status_on remove_videolessons_image btn btn-small btn-danger" data-status-videolessons-image="<?php echo $this->video_id; ?>" >Удалить</a>
							</div>
						</div>
						<?php } else { ?>
							<img src="<?php echo $this->host;?>/media/photos/no_photo.jpeg" border = "0" height = "100" WIDTH = "140" >
						<?php } ?> 
                </td>
            </tr> 
			<tr>	
				<td>
					<?php echo $this->form->image; ?>
				</td>
			</tr>
			<tr>
                <td>
					<label for="title"><strong>Alt: </strong></label>
					<?php echo $this->form->alt; ?>
				</td>
			</tr>
			</table>
        </div>
        
		<input type="submit" class="btn btn-primary pull-left" value="Сохранить"/>
            
    </div>
	</form>
<br>
</div>
</div>