<?php echo $this->headTitle('Видео отчётного концерта'); ?>
    <?php $filter = new Zend_Filter_StringTrim();?>
 
<div class="header"> 
    <h1 class="page-title">Видео</h1>
    <ul class="breadcrumb">
        <li class="active">Видео</li>
    </ul>
</div>  
<div class="box"> 
<div class="box-content">
<a class="btn btn-primary" href="<?php echo '/admin/videolessons/add';?>" title=""><i class="btn-icon-only icon-plus-sign"></i>Добавить</a>

<table class="table table-hover">
    <thead>
        <tr> 
            <th width="24%">Фото</th>
            <th width="35%">Название</th>
            <th width="19%">Сорт.</th>
            <th width="7%">Статус</th>
            <th width="6%">Редакт.</th> 
            <th width="6%">Удалить</th> 
        </tr> 
    </thead>
    <tbody>
   
<?php foreach ($this->paginator as $video) { ?>
    <tr>
        <td>
            <?php if($video['image']) { ?>
                <img src="<?php echo $this->host;?>/media/photos/videolessons/small_<?php 
                echo $video['image']; ?>" border = "0" height = "100" WIDTH = "140" > 
            <?php } else { ?>
                <img src="<?php echo $this->host;?>/media/photos/no_photo.jpeg" border = "0" height = "100" WIDTH = "140" >
            <?php } ?> 
        </td>
        <td>
            <a href="<?php echo '/admin/videolessons/edit/video_id/'.$video['video_id']; ?>" ><?php echo $video['video_title']; ?></a>
        </td>
		<td align="center">
            <?php echo $video['sort_order']; ?>
        </td>
        <td align="center">
            <div id="response_videolessons<?php echo $video->video_id; ?>"><?php if($video->status == 0) { ?><p style="color:red;">Отключено</p> <?php } 
else { ?><p>Включено</p><?php } ?></div>
        
        <div id="status_on_videolessons<?php echo $video->video_id; ?>"><a href="#" class="status_on videolessons_on btn btn-small btn-info" data-status-videolessons="<?php 
echo $video->video_id; ?>" ><i class="btn-icon-only icon-ok"></i></a></div>
        <div id="status_off_videolessons<?php echo $video->video_id; ?>"><a href="#" class="status_off videolessons_off btn btn-small btn-danger" 
data-status-videolessons="<?php echo $video->video_id; ?>" ><i class="btn-icon-only icon-remove"></i></a></div>  
        </td>  
        <td align="center"><a href="<?php echo '/admin/videolessons/edit/video_id/'.$video['video_id']; ?>" class="btn btn-small btn-info" title="<?php echo 
"Редактировать";?>"><i class="btn-icon-only icon-edit"></i></a></td>
        <td align="center"><a href="<?php echo '/admin/videolessons/delete/video_id/'.$video['video_id']; ?>" class="btn btn-small btn-danger" title="<?php echo "Удалить"; ?>"><i class="btn-icon-only icon-trash"></i></a></td>
    </tr>
       
        <?php } ?>    
       

    <tbody>
</table>
</div> 
</div>
<?php echo $this->paginationControl($this->paginator, 'Elastic', 'controls.phtml'); ?>