<?php echo $this->headTitle("Редактирование фото"); ?>
<div class="header"> 
    <h1 class="page-title">Юридическая информация</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/adminpage02">Юридическая информация</a></li> &gt;&gt;
        <li><a href="/admin/adminpage02photo/index">Фото</a></li> &gt;&gt;
        <li class="active">Редактирование фото</li>
    </ul>
</div>
<div class="box"> 
<div class="box-content">
    <table border="0" width="60%" align="center">	
	    <tr>
            <td>
		        <img src="<?php echo $this->webhost;?>/media/photos/pages/small_<?php echo $this->photo["photo_file"]; ?>" border = "0" height = "" WIDTH = "" >
            </td>
        </tr> 
		<tr>
            <td><p align = "center" ><font size="4" color="red" face="Arial"><?php echo $this->errMessage; ?></font></p>
                <div>
                    <?php echo $this->form; ?>
                </div>
            </td>
        </tr> 
    </table>  
</div>
</div>