<?php echo $this->headTitle("Фото для акций"); ?>
<div class="header"> 
    <h1 class="page-title">Фото для акций</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/adminstocks">Все акции</a> </li> &gt;&gt;
        <li class="active">Фото для акции: <?php echo $this->stocks_object['stock_title']?></li>
    </ul>
</div>
<?php $filter = new Zend_Filter_StringTrim();?>
</br>
<a class="btn btn-primary" href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'adminstocksphoto', 'action'=>'addphoto'));?>" ><i class="btn-icon-only icon-plus-sign"></i>Добавить фото</a> 
<table>
    <tr>
        <th width="70%">Фото</th>
		<th width="15%">Редактировать</th>
		<th width="15%">Удалить</th>      
    </tr>
   
	<?php foreach($this->paginator as $photo) { ?>
    <tr>
	    <td>
            <img src="<?php echo $this->host;?>/media/photos/stocks/photos/small_<?php echo $photo->photo_file; ?>" border = "1" height = "" width = "160" >
        </td>
		<td align="center"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'adminstocksphoto', 'action'=>'editphoto', 'photo_id' => $photo->photo_id));?>" class="btn btn-small btn-info"><i class="btn-icon-only icon-edit"></i></a></td>
		
        <td align="center"><a href="<?php echo $this->url(array('module'=>'admin', 'controller' => 'adminstocksphoto', 'action' => 'delete', 'photo_id' => $photo->photo_id)); 
?>" class="btn btn-small btn-danger"><i class="btn-icon-only icon-trash"></i></a></td>
    </tr>
	<?php } ?>
</table>
</br>
<?php echo $this->paginationControl($this->paginator, 'Elastic', 'controls.phtml'); ?>
