<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="layout" content="main"/>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="/js/jquery/jquery-1.8.2.min.js" type="text/javascript" ></script>

    <?php echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/admin/customize-template.css')
								->prependStylesheet($this->baseUrl().'/lib/font-awesome/css/font-awesome.css')
                                ->prependStylesheet($this->baseUrl().'/js/JSCal2/css/jscal2.css')
                                ->prependStylesheet($this->baseUrl().'/js/JSCal2/css/gold.css')
                                ->prependStylesheet($this->baseUrl().'/js/JSCal2/css/border-radius.css')
								->prependStylesheet($this->baseUrl().'/js/jquery/ui/themes/ui-lightness/jquery-ui-1.8.16.custom.css')
								->prependStylesheet($this->baseUrl().'/css/admin/stylesheet.css');
    ?>
    <link rel="stylesheet" href="/css/smoothness/jquery-ui-1.8.2.custom.css">
    <?php echo $this->headScript()->appendFile('/lib/jquery-1.11.1.min.js')
                                  //  ->appendFile('/externals/jquery/jquery-migrate.min.js')
                                    ->appendFile('/bootstrap/js/bootstrap.js')
                                    ->appendFile('/js/jquery-ui.js')
									->appendFile('/js/jquery/jquery-1.7.1.min.js')
									->appendFile('/js/jquery/ui/jquery-ui-1.8.16.custom.min.js')
									->appendFile('/js/jquery/tabs.js')
									->appendFile('/js/jquery/superfish/js/superfish.js')
                                    ->appendFile('/js/JSCal2/js/jscal2.js')
                                    ->appendFile('/js/JSCal2/js/en.js')
                                    ->appendFile('/js/translite.js')
                                    ->appendFile('/js/admincustom.js');
    ?>
	<?php echo $this->jQuery()
                        ->setVersion('1.4.2')
                        ->setUiVersion('1.8.2'); ?>
    <script>
    $(function() {
        $( "#tabs" ).tabs({
        collapsible: true
        });
    });
    </script>

</head>
<?php
     // Применяем метод для проверки авторизации пользователя
    $auth = Zend_Auth::getInstance();
    $userdata = $auth->getIdentity();//Zend_Debug::dump($userdata);exit;
    @$this->user_role = $userdata->user_role;
    if ($this->user_role == 'admin') {
        $url = '/logout';
    $url_nav = explode("/",$_SERVER['REQUEST_URI']);

	require_once('idna_convert.class.php');
	$idn = new idna_convert(array('idn_version'=>2008));
	$punycode=isset($_SERVER['SERVER_NAME']) ? stripslashes($_SERVER['SERVER_NAME']) : '';
	$punycode=(stripos($punycode, 'xn--')!==false) ? $idn->decode($punycode) : $idn->encode($punycode);
?>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button class="btn btn-navbar" data-toggle="collapse" data-target="#app-nav-top-bar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/admin" class="brand"><i class="icon-leaf"><?php echo $punycode;?></i></a>
                    <div id="app-nav-top-bar" class="nav-collapse">
                        <ul class="nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Страницы
                                        <b class="caret hidden-phone"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="/admin/adminpage01">Часы приема врачей</a>
                                        </li>
                                        <li>
                                            <a href="/admin/adminpage02">Юридическая информация</a>
                                        </li>
                                        <li>
                                            <a href="/admin/adminpage03">Тур по клинике</a>
                                        </li>
                                        <li>
                                            <a href="/admin/adminpage05">Политика защиты персональных данных</a>
                                        </li>
                                        <li>
                                            <a href="/admin/adminpage06">Услуги</a>
                                        </li>
                                        <li>
                                            <a href="/admin/admincontacts">Контакты</a>
                                        </li>
										<li>
                                            <a href="/admin/adminabout">О клинике</a>
                                        </li>
                                    </ul>
                                </li>
								<li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Модули
                                        <b class="caret hidden-phone"></b>
                                    </a>
                                    <ul class="dropdown-menu">
										<li>
                                            <a href="/admin/adminarticles">Статьи</a>
                                        </li>
                                        <li>
                                            <a href="/admin/adminstocks">Акции и новости</a>
                                        </li>
									<!--	<li>
											<a href="/admin/gallery">Галерея</a>
										</li>-->
										<li>
											<a href="/admin/sliderthree">Наша команда</a>
										</li>
										<li>
											<a href="/admin/videolessons">Видео</a>
										</li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Каталог
                                        <b class="caret hidden-phone"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="/admin/admincategories">Категории</a>
                                        </li>
                                        <li>
                                            <a href="/admin/adminproducts">Продукты</a>
                                        </li>
                                        <li>
                                            <a href="/admin/adminattributesgroup">Группы атрибутов</a>
                                        </li>
                                        <li>
                                            <a href="/admin/adminattributes">Атрибуты</a>
                                        </li>
                                        <li>
                                            <a href="/admin/adminmanufacturers">Производители</a>
                                        </li>
										<li>
                                            <a href="/admin/adminoptions">Опции</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Продажи
                                        <b class="caret hidden-phone"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="/admin/adminorders">Заказы</a>
                                        </li>
                                  <!--     <li>
                                            <a href="/admin/admincustomers">Покупатели</a>
                                        </li>-->
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Система
                                        <b class="caret hidden-phone"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="/admin/settings">Настройки</a>
                                        </li>
                                        <li>
                                            <a href="/admin/adminusers">Администраторы</a>
                                        </li>
                                        <li>
                                            <a href="/admin/pass/updatepass">Смена пароля</a>
                                        </li>
                                     <!--   <li>
                                            <a href="/admin/admintowns">Города</a>
                                        </li>
                                        <li>
                                            <a href="/admin/lang">Языковые файлы</a>
                                        </li> -->
                                    </ul>
                                </li>
                        </ul>
                        <ul class="nav pull-right">
                            <li>
                                <a href="/adminlogout">Выход</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div id="body-container">
            <div id="body-content">
                    <div class="body-nav body-nav-horizontal body-nav-fixed">
                        <div class="container">
                            <ul>
                                <li>
                                    <a href="/admin">
                                        <i class="icon-dashboard icon-large"></i> Главная
                                    </a>
                                </li>
                            <!--    <li>
                                    <a href="/admin">
                                        <i class="icon-envelope icon-large"></i> E-mail
                                    </a>
                                </li>-->
                            <!--    <li>
                                    <a href="/admin/adminorders">
                                        <i class="icon-book icon-large"></i> Заказы
                                    </a>
                                </li>-->
                            <!--    <li>
                                    <a href="/admin/admincustomers">
                                        <i class="icon-group icon-large"></i> Покупатели
                                    </a>
                                </li>-->
							<!--	<li>
                                    <a href="/admin/adminmemberlist">
                                        <i class="icon-group icon-large"></i> Пользователи
                                    </a>
                                </li>-->
                                <li>
                                    <a href="/admin/settings">
                                        <i class="icon-cogs icon-large"></i> Настройки
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/adminmessages"><i class="icon-list-alt icon-large"></i> Сообщения
                                    </a>
                                </li>
                                <li>
                                    <a href="<?php echo '/admin/adminusers';?>">
                                        <i class="icon-user icon-large"></i> Админы
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

    <?php if(@$url_nav[2] == 'users') { ?>
    <section class="nav-page">
            <div class="container">
                <div class="row">
                    <div class="span7">
                        <header class="page-header">
                            <h3>Пользователи<br/>
                                <small>Список пользователей</small>
                            </h3>
                        </header>
                    </div>
                    <div class="page-nav-options">
                        <div class="span9">
                            <ul class="nav nav-pills">
                                <li>
                                    <a href="<?php echo 'users/addusers';?>" rel="tooltip" data-placement="left" title="Добавить пользователя">
                                        <i class="icon-user icon-large"></i>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-tabs">
                            <li <?php if(@$url_nav[2] == '') { ?> class="active" <?php } ?>>
                                <a href="<?php echo $this->url(array('module'=>'admin'), 'default', true); ?>"><i class="icon-home"></i>Home</a>
                            </li>
                            <li><a href="<?php echo $this->url(array('controller'=>''), 'default', true) ?>" target="_blank">На главную сайта</a></li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <?php } else { ?>
    <section class="nav nav-page">
        <div class="container">
            <div class="row">
                <div class="span7">
                    <header class="page-header">
                        <h3><?php echo $punycode;?><br/>
                            <small>Страница администратора</small>
                        </h3>
                    </header>
                </div>
                <div class="page-nav-options">
                    <div class="span9">
                        <ul class="nav nav-pills">
                            <li>
                                <a href="<?php echo $this->url(array('module'=>'admin'), 'default', true); ?>"><i class="icon-home icon-large"></i></a>
                            </li>
                        </ul>
                        <ul class="nav nav-tabs">
                            <li <?php if(@$url_nav[2] == '') { ?> class="active" <?php } ?>>
                                <a href="<?php echo $this->url(array('module'=>'admin'), 'default', true); ?>"><i class="icon-home"></i>Home</a>
                            </li>
                            <li><a href="<?php echo $this->url(array('controller'=>''), 'default', true) ?>" target="_blank">На главную сайта</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <?php } ?>
    <section class="page container">
        <?php echo $this->layout()->content; ?>
    </section>
            </div>
        </div>

        <footer class="application-footer">
            <div class="container">
                <p><?php echo $punycode;?></p>
                <div class="disclaimer">
                    <p>Copyright © <?php echo $punycode;?></p>
                </div>
            </div>
        </footer>

        <script src="/js/bootstrap/bootstrap-transition.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-alert.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-modal.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-dropdown.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-scrollspy.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-tab.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-tooltip.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-popover.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-button.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-collapse.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-carousel.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-typeahead.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-affix.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-datepicker.js" type="text/javascript" ></script>
        <script src="/js/jquery/jquery-tablesorter.js" type="text/javascript" ></script>
        <script src="/js/jquery/jquery-chosen.js" type="text/javascript" ></script>
        <script src="/js/jquery/virtual-tour.js" type="text/javascript" ></script>
        <script type="text/javascript">
        $(function() {
            $('#sample-table').tablesorter();
            $('#datepicker').datepicker();
            $(".chosen").chosen();
        });
    </script>

</body>
</html>

<?php } else {
header('Location: https://'.$_SERVER['SERVER_NAME'].'/login'); /*
echo 'Доступ запрещён'; ?><br><?php
$urllogin = '/login';
echo "<a href=\"{$urllogin}\"><span class=\"badge badge-inverse\">Авторизация</span></a>"; */
}
?>