<!doctype html>
<html lang="en">
<head>
    <?php echo $this->headTitle('Услуги стоматологической клиники и центра эстетической косметологии в Ростове-на-Дону');
    $this->headMeta()->appendName('description', 'Приходите в нашу частную стоматологическую и косметологическую клинику на Северном в Ростове-на-Дону. Вас ждет много интересных предложений, а также разнообразные скидки и акции. Записаться на прием можно по телефону или заполнив онлайн-заявку. Ждем вас!');
    $this->headMeta()->appendName('keywords', 'Страница услуг');
    echo $this->headMeta();
    ?>
    <?php echo $this->action('head', 'index', 'index');?>
</head>
<?php $pieces = explode("/", $_SERVER['REQUEST_URI']); ?>
<body>
<!-- page -->
    <div id="page"><div id="body-inner">
        <!-- top -->
        <?php echo $this->action('mainheadmenu', 'index', 'index');?>
        <!-- end top -->
        <!-- header -->
        <div id="header_w">
            <div id="header" class="container">
                <?php echo $this->action('header', 'index', 'index');?>
            </div>
        </div><!-- end header -->
        <div class="clear"></div>
        <!-- box-10 -->
        <div id="box_10_w">
            <div class="inner-top-slider slider slick-slider">
                <div class="slick-slide">
                     <a data-fancybox="inner-top-gallery" href="/images/inner-slide-1.jpg"><img src="/images/inner-slide-1.jpg" alt="" /></a>
                </div>

                <div class="slick-slide">
                     <a data-fancybox="inner-top-gallery" href="/images/inner-slide-2.jpg"><img src="/images/inner-slide-2.jpg" alt="" /></a>
                </div>

                <div class="slick-slide">
                     <a data-fancybox="inner-top-gallery" href="/images/inner-slide-3.jpg"><img src="/images/inner-slide-3.jpg" alt="" /></a>
                </div>

                <div class="slick-slide">
                     <a data-fancybox="inner-top-gallery" href="/images/inner-slide-4.jpg"><img src="/images/inner-slide-4.jpg" alt="" /></a>
                </div>

                <div class="slick-slide">
                     <a data-fancybox="inner-top-gallery" href="/images/inner-slide-5.jpg"><img src="/images/inner-slide-5.jpg" alt="" /></a>
                </div>

                <div class="slick-slide">
                     <a data-fancybox="inner-top-gallery" href="/images/inner-slide-6.jpg"><img src="/images/inner-slide-6.jpg" alt="" /></a>
                </div>

                <div class="slick-slide">
                     <a data-fancybox="inner-top-gallery" href="/images/inner-slide-1.jpg"><img src="/images/inner-slide-1.jpg" alt="" /></a>
                </div>

                <div class="slick-slide">
                     <a data-fancybox="inner-top-gallery" href="/images/inner-slide-2.jpg"><img src="/images/inner-slide-2.jpg" alt="" /></a>
                </div>

                <div class="slick-slide">
                     <a data-fancybox="inner-top-gallery" href="/images/inner-slide-3.jpg"><img src="/images/inner-slide-3.jpg" alt="" /></a>
                </div>

                <div class="slick-slide">
                     <a data-fancybox="inner-top-gallery" href="/images/inner-slide-4.jpg"><img src="/images/inner-slide-4.jpg" alt="" /></a>
                </div>

                <div class="slick-slide">
                     <a data-fancybox="inner-top-gallery" href="/images/inner-slide-5.jpg"><img src="/images/inner-slide-5.jpg" alt="" /></a>
                </div>

                <div class="slick-slide">
                     <a data-fancybox="inner-top-gallery" href="/images/inner-slide-6.jpg"><img src="/images/inner-slide-6.jpg" alt="" /></a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <!-- box-11 -->
        <div id="box_11_w">
            <div class="container">
                <div class="breadcrumbs" style="margin-bottom: 20px; margin-top: 20px;">
                    <a href="/">Главная</a> <span>/</span> <span>Услуги</span>
                </div>
            </div>
        </div>

        <div class="clear"></div>

        <!-- box-12 -->
        <div id="box_12_w">
            <div class="tabs">
            <div class="title-box-12" style="padding: 0;">
                <ul class="tabs__caption">
                    <li class="active tabs__st">Стоматология</li>
                    <li class="tabs__kos">Косметология</li>
                  </ul>
            </div>
            <div id="box_12" class="container tabs__content active">
                <div class="about_text_cont">
                    <div class=" about_text">
                        <div class="row">
                            <div class="col-md-4">
                                <?php echo $this->action('servmenu', 'index', 'index');?>
                            </div>
                            <div class="col-md-8 servicePage">
                                <div class="services">
                                    <div class="services-col-1" style="width: 100%!important; float: none!important; display: flex; flex-wrap: wrap; justify-content: center; width: 100%;  align-items: center;">
                                        <div class="services-cell-1">
                                            <img src="/images/services-cell-1.jpg" />
                                            <a href="/category/lechenie-kariesa-pulpita-desen-kisty-v-rostove">
                                                <div class="services-cell-discr">
                                                    <div class="services-cell-discr-title">Эстетическая стоматология</div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="services-cell-2">
                                            <img src="/images/services-cell-2.jpg" />
                                            <a href="/category/lechenie-i-protezirovanie-zubov-v-rostove">
                                                <div class="services-cell-discr">
                                                    <div class="services-cell-discr-title">Протезирование зубов</div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="services-cell-3">
                                            <img src="/images/services-cell-3.jpg" />
                                            <a href="/category/udalenie-zubov-v-rostove">
                                                <div class="services-cell-discr">
                                                    <div class="services-cell-discr-title">Хирургия и
                                                        <br /> пародонтология -
                                                        <br /> удаление зубов</div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="services-cell-4">
                                            <img src="/images/services-cell-4.jpg" />
                                            <a href="/category/ispravlenie-prikusa-vyravnivanie-zubov-v-rostove">
                                                <div class="services-cell-discr">
                                                    <div class="services-cell-discr-title">Ортодонтия</div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="services-cell-5">
                                            <img src="/images/services-cell-5.jpg" />
                                            <a href="/category/otbelivanie-zubov-v-rostove">
                                                <div class="services-cell-discr">
                                                    <div class="services-cell-discr-title">Гигиена полости рта
                                                        <br /> -отбеливание зубов</div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="services-cell-6">
                                            <img src="/images/services-cell-6.jpg" />
                                            <a href="/category/implantaciya-zubov-v-rostove-na-donu">
                                                <div class="services-cell-discr">
                                                    <div class="services-cell-discr-title">Имплантация
                                                        <br /> зубов</div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h2>Частная стоматология в Ростове-на-Дону &ndash; лечение с гарантией качества</h2>
                                <p>Обязательные составляющие качественного стоматологического лечения &ndash; высокотехнологичная медицинская помощь, строгое соблюдение стандартов безопасности, лояльный прайс без скрытых расходов. Наш центр стоматологии на Королёва и Космонавтов предлагает услуги на основе последних научных разработок, которые доказали свою эффективность на мировом уровне.</p>
                                <p>Профессиональные стоматологи с успехом проводят:</p>
                                <ul>
                                    <li>Лечение зубов без боли с использованием пломбировочных материалов последнего поколения;</li>
                                    <li>Лечение десен (гингивит, пародонтит, пародонтоз) консервативными и оперативными методами;</li>
                                    <li>Протезирование всеми видами съемных и несъемных протезов;</li>
                                    <li>Удаление зубов и хирургические операции (в том числе зубосохраняющие);</li>
                                    <li>Наращивание зубов, установка виниров, зубных украшений (косметическая стоматология);</li>
                                    <li>Имплантацию надёжными системами (Корея, Швейцария, Германия и т.д.) с приживаемостью, близкой к 98-100%;</li>
                                    <li>Исправление прикуса брекетами, пластинами;</li>
                                    <li>Отбеливание зубов кабинетными или домашними методиками без повреждения эмали;</li>
                                    <li>Профилактику заболеваний челюстно-лицевой области (помощь в подборе гигиенических средств, обучение правильной технике чистке зубов, профессиональная гигиена полости рта).</li>
                                </ul>
                                <p>Немногие платные стоматологии на Северном в Ростове-на-Дону могут похвастать столь широким набором услуг, которые оказываются с расчетом на долгосрочный результат. На все виды работ дается гарантия (ее срок зависит от вида конкретного лечения и соблюдения пациентом всех правил по уходу за ротовой полостью). Мы с гордостью носим звание одной из лучших клиник семейной стоматологии в городе, где с удовольствием лечатся и взрослые, и дети. Отдельного внимания заслуживает стоимость услуг частной стоматологии, которая позволяет подобрать оптимальный вариант с учетом финансовых возможностей пациента, причем качество лечения остается неизменно высоким. Приходите в нашу стоматологическую клинику в Ростове-на-Дону, где вас ждет много интересных предложений, а также разнообразные скидки и акции. Записаться на приём можно по тел. <a href="tel:+78632182424">218-24-24</a>, <a href="tel:+78632310303">231-03-03</a>, или заполнив онлайн-заявку. Ждем вас!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="box_12" class="container tabs__content">

                <div class="about_text_cont">
                    <div class=" about_text">
                        <div class="row">
                            <div class="col-md-4">
                                <?php echo $this->action('kosmenu', 'index', 'index');?>
                            </div>
                            <div class="col-md-8 servicePage">
                                <div class="services">
                                    <div class="services-col-2" style="width: 100%!important; float: none!important; display: flex; flex-wrap: wrap; justify-content: center; width: 100%;  align-items: center;">
                                        <div class="services-cell-7">
                                            <img src="/images/services-cell-7-tall.jpg" />
                                            <a href="/category/apparatnaya-kosmetologiya">
                                                <div class="services-cell-discr">
                                                    <div class="services-cell-discr-title">Аппаратная косметология</div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="services-cell-9">
                                            <img src="/images/services-cell-9.jpg" />
                                            <a href="/category/inekcionnaya-kosmetologiya">
                                                <div class="services-cell-discr">
                                                    <div class="services-cell-discr-title">Инъекционная
                                                        <br /> косметология -
                                                        <br />диспорт, ботокс</div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="services-cell-10">
                                            <img src="/images/services-cell-11.jpg" />
                                            <a href="/category/podtyazhka-lica-mezonityami-v-rostove">
                                                <div class="services-cell-discr">
                                                    <div class="services-cell-discr-title">Мезонити</div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="services-cell-11">
                                            <img src="/images/services-cell-10.jpg" />
                                            <a href="/category/konturnaya-plastika-gub-lica-v-rostove">
                                                <div class="services-cell-discr">
                                                    <div class="services-cell-discr-title">Контурная
                                                        <br /> пластика
                                                        <br /> губ, лица</div>
                                                    <div class="services-cell-discr-txt"></div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="services-cell-12">
                                            <img src="/images/services-cell-12.jpg" />
                                            <a href="/category/vrach-trixolog-v-rostove-lechenie-vypadeniya-volos">
                                                <div class="services-cell-discr">
                                                    <div class="services-cell-discr-title">Лечение волос
                                                        <br /> Трихология </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h2>Клиника медицинской косметологии &laquo;Триумф-Элит&raquo; - ваш путеводитель к молодости и красоте</h2>
                                <p>Возможности современной медицинской косметологии поразительны &ndash; безоперационным путем можно добиться результатов, сопоставимых с эффектом традиционной пластики. Если возрастные изменения стали явными, кожа утратила тонус, а волосы &ndash; блеск, то самое время обратиться в клинику эстетической косметологии, где быстро и недорого можно избавиться от имеющихся несовершенств, преобразившись на глазах. К вашим услугам &ndash; эффективные anti-age методики, новейшие многофункциональные платформы с настройкой под каждого пациента и, конечно, значительный опыт грамотных специалистов.</p>
                                <p>Мы успешно решаем следующие проблемы:</p>
                                <ul>
                                    <li>Морщины любой степени выраженности, птоз, утрата четких контуров овала лица;</li>
                                    <li>&laquo;Усталый&raquo; вид, темные круги и мешки под глазами, глубокие носогубные и другие складки;</li>
                                    <li>Черные точки, расширенные поры, акне и постакне, излишняя активность сальных желез;</li>
                                    <li>Гиперпигментация, растяжки, рубцовые изменения, шрамы;</li>
                                    <li>Фотостарение со снижением эластичности кожи, появлением сухости;</li>
                                    <li>&laquo;Сосудистые звездочки&raquo;, розацеа, неровный тон лица;</li>
                                    <li>Целлюлит, дряблость кожи на лице и теле, локальные жировые отложения;</li>
                                    <li>Себорея, выпадение волос, зуд волосистой части головы.</li>
                                </ul>
                                <p>Основным достоинством косметологических процедур является их малотравматичность с коротким периодом восстановления, в то время как при хирургических операциях неизбежны разрезы, швы и реабилитация. Наш центр эстетической косметологии в СЖМ работает исключительно по новейшим программам, которые позволяют свести временные и иные затраты к минимуму, но показывают превосходные результаты, превосходя ожидания пациентов. Мы используем инновационные лазерные и фотосистемы зарубежного производства, выбираем гипоаллергенные препараты от надежных производителей, уделяя особое внимание вопросам безопасности. Для каждого пациента разрабатывается индивидуальный протокол лечения в зависимости от существующих проблем, типа кожи и общего состояния здоровья. Специальные предложения дают возможность снизить цены на самые популярные услуги: контурная пластика, фотоомоложение, &laquo;уколы красоты&raquo;, плазмолифтинг и др. Записаться на прием можно прямо сейчас &ndash; не откладывайте ваше преображение!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <div class="clear"></div>
        <?php if($pieces[1] == 'about') { ?>
        <!-- box-5 -->
        <div id="box_5_w">
            <div id="box_5" class="container">

                <div class="title-box-5">Лицензии</div>

                <div class="licenses">
                        <div class="licenses-item">
                            <a data-fancybox="gallery" href="/images/mini-license-1.jpg"><img src="/images/license-1.jpg" />
                                <div class="gallery-zoom">
        							<img src="/images/zoom.png">
        						</div>
                            </a>
                        </div>

                        <div class="licenses-item">
                            <a data-fancybox="gallery" href="/images/mini-license-2.jpg"><img src="/images/license-1.jpg" />
                                <div class="gallery-zoom">
        							<img src="/images/zoom.png">
        						</div>
                            </a>
                        </div>

                        <div class="licenses-item">
                            <a data-fancybox="gallery" href="/images/mini-license-3.jpg"><img src="/images/license-1.jpg" />
                                <div class="gallery-zoom">
        							<img src="/images/zoom.png">
        						</div>
                            </a>
                        </div>

                </div>

            </div>
        </div>
		<?php } ?>
		<?php if($pieces[1] == 'reception-hours') { ?>
		<!-- box-3 -->
        <div id="box_3_w">
            <div id="box_3" class="container">

                <div class="title-box-3">Наша команда</div>

                <div class="team slider slick-slider">

                    <div  class="slick-slide">
                            <a href="/"><img src="/images/team-1.jpg"/></a>
                            <div class="fio">
                                <div class="first-name">Савельева</div>
                                <div class="full-name">Ольга Викторовна</div>
                            </div>
                            <div class="career">Главный врач</div>
                            <div class="but-callback button-3 but3-1">Записаться <br /> на консультацию</div>
                    </div>

                    <div  class="slick-slide">
                            <a href="/"><img src="/images/team-1.jpg"/></a>
                            <div class="fio">
                                <div class="first-name">Савельева</div>
                                <div class="full-name">Ольга Викторовна</div>
                            </div>
                            <div class="career">Главный врач</div>
                            <div class="but-callback button-3 but3-1">Записаться <br /> на консультацию</div>
                    </div>

                    <div  class="slick-slide">
                            <a href="/"><img src="/images/team-1.jpg"/></a>
                            <div class="fio">
                                <div class="first-name">Савельева</div>
                                <div class="full-name">Ольга Викторовна</div>
                            </div>
                            <div class="career">Главный врач</div>
                            <div class="but-callback button-3 but3-1">Записаться <br /> на консультацию</div>
                    </div>

                    <div  class="slick-slide">
                            <a href="/"><img src="/images/team-1.jpg"/></a>
                            <div class="fio">
                                <div class="first-name">Савельева</div>
                                <div class="full-name">Ольга Викторовна</div>
                            </div>
                            <div class="career">Главный врач</div>
                            <div class="but-callback button-3 but3-1">Записаться <br /> на консультацию</div>
                    </div>

                    <div  class="slick-slide">
                            <a href="/"><img src="/images/team-1.jpg"/></a>
                            <div class="fio">
                                <div class="first-name">Савельева</div>
                                <div class="full-name">Ольга Викторовна</div>
                            </div>
                            <div class="career">Главный врач</div>
                            <div class="but-callback button-3 but3-1">Записаться <br /> на консультацию</div>
                    </div>

                </div>

            </div>
        </div>
		<?php } ?>

        <div class="clear"></div>






        <!-- box-8 -->
        <div id="box_8_w">
            <div id="box_8" class="container">

                <div class="title-box-8">Контакты</div>

                <div class="contact-box">
                    <div class="contact-col-1">
                        <div class="contact-title">“Триумф-элит”<br /><span>на Королева</span></div>
                        <div class="contact-adress">Ростов-на-Дону, 344113<br /> пр. Королева, 18</div>
                        <a href="tel:+78633033957" class="contact-tel">+7 (863) 303-39-57</a>
                        <div class="contact-clock"><span class="bold">Режим работы:</span><br />ПН-ПТ с 9:00 до 19:00<br /> СБ с 9:00 до 16:00<br /> <span class="red">ВС -выходной</span></div>
                    </div>
                    <div class="contact-col-2">
                        <div id="mymap"></div>
                    </div>
                    <div class="contact-col-3">
                        <div class="contact-title">“Триумф-элит”<br /><span>на Космонавтов</span></div>
                        <div class="contact-adress">Ростов-на-Дону, 344113<br /> пр. Космонавтов, 26</div>
                        <a href="tel:+78632182424" class="kosmonavtovPhone contact-tel">+7 (863) 218-24-24<br /> +7 (863) 218-24-34</a>
                        <div class="contact-clock"><span class="bold">Режим работы:</span><br />ПН-ПТ с 9:00 до 19:00<br /> СБ с 9:00 до 16:00<br /> <span class="red">ВС -выходной</span></div>
                    </div>
                </div>

            </div>
        </div>

        <div class="clear"></div>

        <!-- footer -->
        <div id="footer_w">
            <div id="footer" class="container">
                <?php echo $this->action('footer', 'index', 'index');?>
            </div>
        </div>



    </div>
<!-- end page -->


<!-- pop-up -->
<div class="wrapper"></div>

<div id="zb1" class="z-box">
    <div class="close"></div>
    <p class="h2">Записаться на приём</p>
    <div class="formbox">
        <?php echo $this->action('contact', 'index', 'index');?>
    </div>
<div class="clear"></div>
</div>


<!-- thnx -->
<div class="thnx">
    <div class="close"></div>
    <div class="okay"></div>
    <a href="/" class="logo"><img src="/images/logo-f.png" alt=""/></a>
    <h2><span>Спасибо за обращение!</span><br>Мы свяжемся с Вами в течении 24 часов.</h2>
</div>



<!-- script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/jquery.mmenu.all.js" type="text/javascript"></script>
<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src="/js/site/placemark.js"></script>
<script src="/js/site/bootstrap.min.js"></script>
<script src="/js/site/fancybox/jquery.fancybox.min.js"></script>
<script src="/js/site/slick.min.js"></script>
<script src="/js/site/jquery.inputmask.js"></script>
<script src="/js/site/jquery.validate.js"></script>
<script src="/js/site/js.js?v=7"></script>
<?php echo $this->action('configyandexmetrika', 'index', 'settings');?>
</body>
</html>