<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "https://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
  <head>
    <title>Сбербанк</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/x-icon" href="/checkout/img/favicon.ico"/>
    <link rel="stylesheet" href="/checkout/css/styles.css" type="text/css"/>
    <script type="text/javascript" src="/js/checkout/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/js/checkout/jquery.timers-1.2.js"></script>
	<script type="text/javascript" src="/js/checkout/jsurl/url.js"></script>
	<script type="text/javascript" src="/js/checkout/jquery.payment_new.js"></script>
	<script>
	$(document).payment({
	language: "ru",
	messageAjaxError: " . .",
	messageTimeRemaining: " #MIN#:#SEC#",
	visualValidationEnabled: true,
	agreementCheckboxEnabled: true,
	bindingCheckboxEnabled: true,
	getFeeEnabled:true
	});
	</script>
    <script type="text/javascript">
      $(function() {
      	$('input.styled').checkbox();
      	$("#modal-binding").dialog({
      		resizable: false,
      		modal: true,
      		autoOpen: false,
      		buttons: {
      			"DeleteBinding" : {
      				text: "OK",
      				id: "deactiveBinding",
      				class: "btn-white",
      				click: function(){
      				   $( this ).dialog( "close" );
      				}
      			},
      			"Отмена": {
      				class: "btn-white",
      				text: "Отмена",
      				click: function() {
      					$( this ).dialog( "close" );
      				}
      			}
      		}
      	});
      	$("#delete-binding").click(function(e) {
      		e.preventDefault();
      		$("#modal-binding").dialog('open');
      	});
      });
      $(document).payment({
      	getFeeEnabled: true,
      	messageTimeRemaining:"#HOU#:#MIN#:#SEC#",
      	bindingCheckboxEnabled: true,
      	agreementCheckboxEnabled: true,
        language: "ru",
      	emailEnabled: true,
      	onReady: function () {
      		$(document).ready(function () {
      			initMain();
      			initBindings();
      		});
      	}
      });
    </script>
  </head>
  <body>
    <!--#if expr="$request_uri = /\/([a-zA-Z]+)\//" -->
    <!--#set var="context" value="$1" -->
    <!--#endif -->
    <!--#if expr="$request_uri = /mdOrder=([a-zA-Z0-9-]+)/" -->
    <!--#set var="mdOrder" value="$1" -->
    <!--#endif -->
    <!--#include virtual="/$context/rest/merchantlogin.do?mdOrder=$mdOrder" set="merchantLogin" -->
    <div class="container">
      <div class="row">
        <div class="logo col2"><img src="/checkout/img/main-logo-ru.png" alt="Сбербанк" class="logo-bank"/></div>
        <div class="merchant-logo col2"><img src="../<!--#echo var="merchantLogin" -->/custom/logo.png" height="64" alt="" onerror='$(this).parent().hide()'/></div>
      </div>
		<?php echo $this->layout()->content; ?>
      
      <div class="footer">
        <div class="system-logos">
          <div class="logo mir"></div>
          <div class="logo visa"></div>
          <div class="logo mastercard"></div>
          <div class="logo verify-visa"></div>
          <div class="logo verify-mastercard"></div>
          <div class="logo pci"></div>
        </div>
        <div class="security-text">Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается ПАО "Сбербанк России". Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платежных систем Visa Int. и MasterCard Europe Sprl.</div>
      </div>
    </div>
  </body>
</html>