<!doctype html>
<html lang="en">

<head>
    <?php echo $this->action('head', 'index', 'index');?>
</head>
<?include 'Mobile_Detect.php';
$detect = new Mobile_Detect();?>
<body>
    <!-- page -->
    <div id="page"><div id="body-inner">

        <!-- top -->
        <?php echo $this->action('mainheadmenu', 'index', 'index');?>
        <!-- end top -->

        <!-- header -->
        <div id="header_w">
            <div id="header" class="container">
                <?php echo $this->action('header', 'index', 'index');?>
            </div>
        </div>
        <!-- end header -->

        <div class="clear"></div>

        <!-- slider -->
        <?if (!($detect->isMobile())) {?>

            <div id="slider_w">
            <div class="banner slick-slider">
				<!--<div class="item_ban">
                    <img src="/images/slide-3.jpg" />
                    <div class="title">
                        <h2>ДАРИМ НОВОГОДНИЕ СКИДКИ!</h2>
                        <br/>
                        <a class="but-callback-3 but-callback-slider" href="/stocks">Подробнее</a>
                    </div>
                </div>-->
                <!-- <div class="item_ban first-banner">
                    <img src="/images/ny.jpg" />
                    <div class="title">
                        <h2>График работы в новогодние праздники</h2>
                        <br/>
                        <a class="but-callback-3 but-callback-slider" href="https://triumf-elite.ru/stock-single/grafik-raboty-v-novogodnie-prazdniki-2019">Подробнее</a>
                    </div>
                </div> -->
				<div class="item_ban first-banner">
                    <img src="/images/slide-4.jpg" />
                    <div class="title">
                        <h2>1 посещение на отбеливание - скидка 20%</h2>
                        <br/>
                        <a class="but-callback-3 but-callback-slider" href="https://triumf-elite.ru/stock-single/bezopasnoe-otbelivanie-zubov-za-1-poseshenie">Подробнее</a>
                    </div>
                </div>
                <div class="item_ban">
                    <img src="/images/slide-2.jpg" />
                    <div class="title">
                        <h2>Безболезненное лечение зубов - в ногу со временем</h2>
                        <br/>
                        <div class="but-callback but-callback-slider">Записаться на прием</div>
                    </div>
                    <a class="tour" href="/clinic-tour-1"><img src="/images/tour.png" /></a>
                </div>
                <div class="item_ban">
                    <img src="/images/slide-1.png" />
                    <div class="title">
                        <h2>Опытные врачи-стоматологи</h2>
                        <br/>
                        <div class="but-callback but-callback-slider">Записаться на прием</div>
                    </div>
                    <a class="tour" href="/clinic-tour-2"><img src="/images/tour.png" /></a>
                </div>
            </div>

        </div>

        <?}else
        {?>

          <!-- <div class="item_ban slick-slide"style="width: 360px; display: block;">
                    <img src="/images/ny.jpg">
                    <div class="title">
                        <h2>График работы в новогодние праздники</h2>
                        <br>
                        <a class="but-callback-3 but-callback-slider" href="https://triumf-elite.ru/stock-single/grafik-raboty-v-novogodnie-prazdniki-2019">Подробнее</a>
                    </div>
                </div> -->

        <?}
        ?>


        <div class="clear"></div>

        <!-- box-2 -->
        <div id="box_2_w">
            <div id="services">
                <div id="box_2" class="container">

                    <div class="title-box-2">Наши услуги</div>

                    <div class="services">
                        <div class="services-col-1">

                            <div class="services-col-1-title"><a href="/stomatologiya">Стоматология</a></div>

                            <div class="services-cell-1">
                                <img src="/images/services-cell-1.jpg" />
                                <a href="/category/lechenie-kariesa-pulpita-desen-kisty-v-rostove">
                                    <div class="services-cell-discr">
                                        <div class="services-cell-discr-title">Эстетическая стоматология</div>
                                        <div class="services-cell-discr-txt">Лечение кариеса, пульпита,
                                            <br /> кист, гранулем, лечение
                                            <br /> каналов зубов</div>
                                    </div>
                                </a>
                            </div>
                            <div class="services-cell-2">
                                <img src="/images/services-cell-2.jpg" />
                                <a href="/category/lechenie-i-protezirovanie-zubov-v-rostove">
                                    <div class="services-cell-discr">
                                        <div class="services-cell-discr-title">Протезирование зубов</div>
                                        <div class="services-cell-discr-txt">Несъемное протезирование
                                            <br /> зубов, съемное и бюгельное
                                            <br /> протезирование</div>
                                    </div>
                                </a>
                            </div>
                            <div class="services-cell-3">
                                <img src="/images/services-cell-3.jpg" />
                                <a href="/category/udalenie-zubov-v-rostove">
                                    <div class="services-cell-discr">
                                        <div class="services-cell-discr-title">Хирургия и
                                            <br /> пародонтология -
                                            <br /> удаление зубов</div>
                                        <div class="services-cell-discr-txt">Удаление зуба мудрости, лечение
                                            <br /> воспаления десен, лечение
                                            <br /> пародонта, плазмолифтинг</div>
                                    </div>
                                </a>
                            </div>
                            <div class="services-cell-4">
                                <img src="/images/services-cell-4.jpg" />
                                <a href="/category/ispravlenie-prikusa-vyravnivanie-zubov-v-rostove">
                                    <div class="services-cell-discr">
                                        <div class="services-cell-discr-title">Ортодонтия</div>
                                        <div class="services-cell-discr-txt">Исправление прикуса,
                                            <br /> выравнивание зубов</div>
                                    </div>
                                </a>
                            </div>
                            <div class="services-cell-5">
                                <img src="/images/services-cell-5.jpg" />
                                <a href="/category/otbelivanie-zubov-v-rostove">
                                    <div class="services-cell-discr">
                                        <div class="services-cell-discr-title">Гигиена полости рта
                                            <br /> -отбеливание зубов</div>
                                        <div class="services-cell-discr-txt">Профессиональная
                                            <br /> ультразвуковая чистка,
                                            <br /> отбеливание зубов</div>
                                    </div>
                                </a>
                            </div>
                            <div class="services-cell-6">
                                <img src="/images/services-cell-6.jpg" />
                                <a href="/category/implantaciya-zubov-v-rostove-na-donu">
                                    <div class="services-cell-discr">
                                        <div class="services-cell-discr-title">Имплантация
                                            <br /> зубов</div>
                                        <div class="services-cell-discr-txt">Установка имплантантов,
                                            <br /> синуслифтинг</div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="services-col-2">

                            <div class="services-col-2-title"><a rel="nofollow" href="/kosmetologiya">Косметология</a></div>

                            <div class="services-cell-7">
                                <img src="/images/services-cell-7.jpg" />
                                <a rel="nofollow" href="/category/apparatnaya-kosmetologiya">
                                    <div class="services-cell-discr">
                                        <div class="services-cell-discr-title">Аппаратная косметология</div>
                                        <div class="services-cell-discr-txt">безинъекционная биоревитализация, эпиляция,
                                            <br /> пилинги, уходовые процедуры, массаж лица</div>
                                    </div>
                                </a>
                            </div>
                            <div class="services-cell-9">
                                <img src="/images/services-cell-9.jpg" />
                                <a rel="nofollow" href="/category/inekcionnaya-kosmetologiya">
                                    <div class="services-cell-discr">
                                        <div class="services-cell-discr-title">Инъекционная
                                            <br /> косметология -
                                            <br />диспорт, ботокс</div>
                                        <div class="services-cell-discr-txt">коррекция мимических морщин-инъекции Ботокс,
                                            <br />Диспорт; лечение гипергидроза, биоревитализация
                                            <br />гиалуроновой кислотой, плазмолифтинг лица</div>
                                    </div>
                                </a>
                            </div>
                            <div class="services-cell-10">
                                <img src="/images/services-cell-11.jpg" />
                                <a rel="nofollow" href="/category/podtyazhka-lica-mezonityami-v-rostove">
                                    <div class="services-cell-discr">
                                        <div class="services-cell-discr-title">Мезонити</div>
                                        <div class="services-cell-discr-txt">Подтяжка лица
                                            <br /> мезонитями</div>
                                    </div>
                                </a>
                            </div>
                            <div class="services-cell-11">
                                <img src="/images/services-cell-10.jpg" />
                                <a rel="nofollow" href="/category/konturnaya-plastika-gub-lica-v-rostove">
                                    <div class="services-cell-discr">
                                        <div class="services-cell-discr-title">Контурная
                                            <br /> пластика
                                            <br /> губ, лица</div>
                                        <div class="services-cell-discr-txt"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="services-cell-12">
                                <img src="/images/services-cell-12.jpg" />
                                <a rel="nofollow" href="/category/vrach-trixolog-v-rostove-lechenie-vypadeniya-volos">
                                    <div class="services-cell-discr">
                                        <div class="services-cell-discr-title">Лечение волос
                                            <br /> Трихология </div>
                                        <div class="services-cell-discr-txt">Лечение облысения,
                                            <br /> выпадение волос, мезотерапия,
                                            <br />плазмолифтинг кожи головы</div>
                                    </div>
                                </a>
                            </div>
							<div class="services-cell-13">
                                <img src="/images/services-cell-13.jpg" />
                                <a rel="nofollow" href="/category/kosmeticheskie-procedury-dlya-lica-i-tela">
                                    <div class="services-cell-discr">
                                        <div class="services-cell-discr-title">КОСМЕТИЧЕСКИЕ ПРОЦЕДУРЫ
                                            <br /> ДЛЯ ЛИЦА И ТЕЛА </div>
                                        <div class="services-cell-discr-txt">Пилинг,
                                            <br /> Процедуры восковой эпиляции,
                                            <br />Patch Caviar</div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>

        <div class="clear"></div>


        <!-- box-1 -->
        <div id="box_1_w">
            <div id="box_1" class="container">

                <div class="title-box-1">Почему выбирают нас?</div>

                <div class="advantages">
                    <div class="advantage-item">
                        <div class="advantage-icon-01"></div>
                        <div class="advantage-disc-01"><span>Более 8 лет</span>
                            <br /> профессионального обслуживания пациентов</div>
                    </div>
                    <div class="advantage-item">
                        <div class="advantage-icon-02"></div>
                        <div class="advantage-disc-02"><span>Скидка 50% на повторную чистку</span>
                            <br /> полости рта 1 раз в 6 месяцев</div>
                    </div>
                    <div class="advantage-item">
                        <div class="advantage-icon-03"></div>
                        <div class="advantage-disc-03"><span>Бесплатные<br /> повторные осмотры</span>
                            <br /> через каждые
                            <br />6 месяцев</div>
                    </div>
                    <div class="advantage-item">
                        <div class="advantage-icon-04"></div>
                        <div class="advantage-disc-04"><span>Программа<br /> лояльности</span> - скидка 10% пациентам
                            <br /> центра</div>
                    </div>
                    <div class="advantage-item">
                        <div class="advantage-icon-05"></div>
                        <div class="advantage-disc-05">Скидка 10% при
                            <br /> оплате <span>курсовых процедур</span></div>
                    </div>
                    <div class="advantage-item">
                        <div class="advantage-icon-06"></div>
                        <div class="advantage-disc-06"><span>Сертифицированное оборудование</span> нового поколения</div>
                    </div>
                    <div class="advantage-item">
                        <div class="advantage-icon-07"></div>
                        <div class="advantage-disc-07">Наши врачи - участники <span>международных конференций</span></div>
                    </div>
                    <div class="advantage-item">
                        <div class="advantage-icon-08"></div>
                        <div class="advantage-disc-08">Программа
                            <br /><span>антиСПИД/<br />антигепатит</span></div>
                    </div>
                    <div class="advantage-item">
                        <div class="advantage-icon-09"></div>
                        <div class="advantage-disc-09"><span>Безинъекционные</span> методы лечения</div>
                    </div>
                    <div class="advantage-item">
                        <div class="advantage-icon-10"></div>
                        <div class="advantage-disc-10"><span>Лечение волос</span> проводит кандидат
                            <br /> медицинских наук</div>
                    </div>
                </div>

            </div>
        </div>

        <div class="clear"></div>


        <!-- box-3 -->
		<noindex>
        <div id="box_3_w">
            <div id="box_3" class="container">

                <div class="title-box-3">Наша команда</div>

                <div class="team slider slick-slider">
                    <?php echo $this->action('index', 'index', 'sliderthree');?>
                </div>

            </div>
        </div>

        <div class="clear"></div>

        <!-- box-4 -->
        <div id="box_4_w">
            <div id="box_4" class="container">

                <div class="title-box-4">Полезная информация</div>

                <div class="stock-news slider slick-slider">
                    <?php echo $this->action('articlesfront', 'index', 'articles');?>
                </div>

            </div>
        </div>
		</noindex>

        <div class="clear"></div>

        <!-- box-5 -->

        <div class="deck">

            <div id="box_5_w">
                <div id="box_5" class="container">

                    <div class="title-box-5">Лицензии</div>

                    <div class="licenses">
                        <div class="licenses-item">
                            <a data-fancybox="gallery" href="/images/license-1.jpg"><img src="/images/mini-license-1.jpg" />
                                <div class="gallery-zoom">
                                    <img src="/images/zoom.png">
                                </div>
                            </a>
                        </div>

                        <div class="licenses-item">
                            <a data-fancybox="gallery" href="/images/license-2.jpg"><img src="/images/mini-license-2.jpg" />
                                <div class="gallery-zoom">
                                    <img src="/images/zoom.png">
                                </div>
                            </a>
                        </div>

                        <div class="licenses-item">
                            <a data-fancybox="gallery" href="/images/license-3.jpg"><img src="/images/mini-license-3.jpg" />
                                <div class="gallery-zoom">
                                    <img src="/images/zoom.png">
                                </div>
                            </a>
                        </div>

                    </div>

                </div>
            </div>


            <div id="box_6_w">
                <div class="title-box-6">Видео</div>
                <div class="video slider slick-slider">
                    <?php echo $this->action('video', 'index', 'category');?>
                </div>

            </div>

        </div>

        <div class="clear"></div>

        <!-- box-6 -->



        <div class="mob">
            <div id="box_6_w">
                <div class="title-box-6">Видео</div>
                <div class="video slider slick-slider">
                    <?php echo $this->action('video', 'index', 'category');?>
                </div>

            </div>

            <div class="clear"></div>
            <div id="box_5_w">
                <div id="box_5" class="container">

                    <div class="title-box-5">Лицензии</div>

                    <div class="licenses">
                        <div class="licenses-item">
                            <a data-fancybox="gallery2" href="/images/license-1.jpg"><img src="/images/mini-license-1.jpg" />
                                <div class="gallery-zoom">
                                    <img src="/images/zoom.png">
                                </div>
                            </a>
                        </div>

                        <div class="licenses-item">
                            <a data-fancybox="gallery2" href="/images/license-2.jpg"><img src="/images/mini-license-2.jpg" />
                                <div class="gallery-zoom">
                                    <img src="/images/zoom.png">
                                </div>
                            </a>
                        </div>

                        <div class="licenses-item">
                            <a data-fancybox="gallery2" href="/images/license-3.jpg"><img src="/images/mini-license-3.jpg" />
                                <div class="gallery-zoom">
                                    <img src="/images/zoom.png">
                                </div>
                            </a>
                        </div>

                    </div>

                </div>
            </div>

        </div>

        <div class="clear"></div>

        <!-- box-7 -->
        <div id="box_7_w">
            <div id="box_7" class="container">


                <div class="about_text_cont">
                    <div class=" about_text">

                        <?php echo $this->layout()->content; ?>

                    </div>
                    <div class="btn_dropdown_about_text"><span>Далее</span></div>
                </div>


            </div>
        </div>

        <div class="clear"></div>

        <!-- box-8 -->
        <div id="box_8_w">
            <div id="box_8" class="container">

                <div class="title-box-8">Контакты</div>

                <div class="contact-box">
                    <div class="contact-col-1">
                        <div class="contact-title">“Триумф-элит”<br /><span>на Королева</span></div>
                        <div class="contact-adress">Ростов-на-Дону, 344113<br /> пр. Королева, 18</div>
                        <a href="tel:+78633033957" class="contact-tel">+7 (863) 303-39-57</a>
                        <div class="contact-clock"><span class="bold">Режим работы:</span><br />ПН-ПТ с 9:00 до 19:00<br /> СБ с 9:00 до 16:00<br /> <span class="red">ВС -выходной</span></div>
                    </div>
                    <div class="contact-col-2">
                        <div id="mymap"></div>
                    </div>
                    <div class="contact-col-3">
                        <div class="contact-title">“Триумф-элит”<br /><span>на Космонавтов</span></div>
                        <div class="contact-adress">Ростов-на-Дону, 344113<br /> пр. Космонавтов, 26</div>
                        <a href="tel:+78632182424" class="kosmonavtovPhone contact-tel">+7 (863) 218-24-24<br /> +7 (863) 218-24-34</a>
                        <div class="contact-clock"><span class="bold">Режим работы:</span><br />ПН-ПТ с 9:00 до 19:00<br /> СБ с 9:00 до 16:00<br /> <span class="red">ВС -выходной</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clear"></div>

        <!-- footer -->
        <div id="footer_w">
            <div id="footer" class="container">
                <?php echo $this->action('footer', 'index', 'index');?>
            </div>
        </div>



    </div>
    <!-- end page -->


    <!-- pop-up -->
    <div class="wrapper"></div>

    <div id="zb1" class="z-box">
        <div class="close"></div>
        <p class="h2">Записаться на приём</p>
        <div class="formbox">
            <?php echo $this->action('contact', 'index', 'index');?>
        </div>
        <div class="clear"></div>
    </div>


    <!-- thnx -->
    <div class="thnx">
        <div class="close"></div>
        <div class="okay"></div>
        <a href="/" class="logo"><img src="/images/logo-f.png" alt="" /></a>
        <h2><span>Спасибо за обращение!</span><br>Мы свяжемся с Вами в течении 24 часов.</h2>
    </div>



    <!-- script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="/js/jquery-3.3.1.min.js" type="text/javascript"></script>
	<script src="/js/jquery.mmenu.all.js" type="text/javascript"></script>
    <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="js/site/placemark.js"></script>
    <script src="js/site/bootstrap.min.js"></script>
    <script src="js/site/fancybox/jquery.fancybox.min.js"></script>
    <script src="js/site/slick.min.js"></script>
    <script src="/js/site/jquery.inputmask.js"></script>
    <script src="/js/site/jquery.validate.js"></script>
    <script src="/js/jquery.mask.js" type="text/javascript"></script>
	<script src="js/site/js.js?v=7"></script>
    <script src="/js/custom.js"></script>
<script src="//cdn.callibri.ru/callibri.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
        //Блок спрятанного текста

        /*var allHeight = $('.about_text').outerHeight(),
            fixHeight = 290;
        hideText = $('.about_text');

        hideText.addClass('hide');
        hideText.height(fixHeight);

        // спрятать/показать текст
        $('.btn_dropdown_about_text span').on('click', function() {

            if (hideText.hasClass('hide')) {
                hideText.removeClass('hide');
                hideText.height(allHeight);
                $('.about_text_fill').css('display', 'none');
                $("div.btn_dropdown_about_text span").html('Свернуть');

            } else {
                hideText.addClass('hide');
                hideText.height(fixHeight);
                $('.about_text_fill').css('display', 'block');
                $("div.btn_dropdown_about_text span").html('Далее');
            }
        });*/
        $('.btn_dropdown_about_text span').hide();
    </script>
    <?php echo $this->action('configyandexmetrika', 'index', 'settings');?>
</body>

</html>
