<?php echo $this->doctype() ?> <!-- This Line will output the doctype we set inside the bootstrap file -->
<html xmlns="https://www.w3.org/1999/xhtml"> 
<head>  
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<?php echo $this->headTitle() ?> 
  
    <?php echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/admin/customize-template.css')
								->prependStylesheet($this->baseUrl().'/lib/font-awesome/css/font-awesome.css')
                                ->prependStylesheet($this->baseUrl().'/js/JSCal2/css/jscal2.css')
                                ->prependStylesheet($this->baseUrl().'/js/JSCal2/css/gold.css')
                                ->prependStylesheet($this->baseUrl().'/js/JSCal2/css/border-radius.css');
    ?>                
    <?php echo $this->headScript()->appendFile('/lib/jquery-1.11.1.min.js')
                                  //  ->appendFile('/externals/jquery/jquery-migrate.min.js')
                                    ->appendFile('/bootstrap/js/bootstrap.js')
                                    ->appendFile('/js/jquery-ui.js')
                                    ->appendFile('/js/JSCal2/js/jscal2.js')
                                    ->appendFile('/js/JSCal2/js/en.js')
                                    ->appendFile('/js/translite.js')
                                    ->appendFile('/js/admincustom.js');
	require_once('idna_convert.class.php');
	$idn = new idna_convert(array('idn_version'=>2008));
	$punycode=isset($_SERVER['SERVER_NAME']) ? stripslashes($_SERVER['SERVER_NAME']) : '';
	$punycode=(stripos($punycode, 'xn--')!==false) ? $idn->decode($punycode) : $idn->encode($punycode);
    ?>                          
   
    <script>
		$(function() {
			$( "#tabs" ).tabs({
			collapsible: true
			});
		});
    </script> 
   
    
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>                    
</head>

<body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button class="btn btn-navbar" data-toggle="collapse" data-target="#app-nav-top-bar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="brand"><i class="icon-leaf"><?php echo $punycode;?></i></a>
                    <div id="app-nav-top-bar" class="nav-collapse">
                        
                    </div>
                </div>
            </div>
        </div>
        <div id="body-container">
                    <div id="body-content">
                        
                        
            <div class='container'>
                
                <div class="signin-row row">
                    <div class="span4"></div>
                    <div class="span8">
                        <div class="container-signin">
							<?php echo $this->layout()->content; ?>
                        </div>
                    </div>
                    <div class="span3"></div>
                </div>

                
            <div class="span4">

                </div>
            </div>
    

            </div>
        </div>

        <div id="spinner" class="spinner" style="display:none;">
            Loading&hellip;
        </div>

        <footer class="application-footer">
            <div class="container">
                <p><?php echo $punycode;?></p>
                <div class="disclaimer">
                    <p>All right reserved.</p>
                    <p>Copyright © <?php echo $punycode;?></p>
                </div>
            </div>
        </footer>
        <script type="text/javascript">
            $(function(){
                document.forms['loginForm'].elements['j_username'].focus();
                $('body').addClass('pattern pattern-sandstone');
                $("[rel=tooltip]").tooltip();
            });
        </script>
        <script src="/js/bootstrap/bootstrap-transition.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-alert.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-modal.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-dropdown.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-scrollspy.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-tab.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-tooltip.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-popover.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-button.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-collapse.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-carousel.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-typeahead.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-affix.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-datepicker.js" type="text/javascript" ></script>
        <script src="/js/jquery/jquery-tablesorter.js" type="text/javascript" ></script>
        <script src="/js/jquery/jquery-chosen.js" type="text/javascript" ></script>
        <script src="/js/jquery/virtual-tour.js" type="text/javascript" ></script>
        <script type="text/javascript">
        

</body>
</html>

