<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="layout" content="main"/>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="/js/jquery/jquery-1.8.2.min.js" type="text/javascript" ></script>

    <?php echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/admin/customize-template.css')
								->prependStylesheet($this->baseUrl().'/lib/font-awesome/css/font-awesome.css')
                                ->prependStylesheet($this->baseUrl().'/js/JSCal2/css/jscal2.css')
                                ->prependStylesheet($this->baseUrl().'/js/JSCal2/css/gold.css')
                                ->prependStylesheet($this->baseUrl().'/js/JSCal2/css/border-radius.css')
                                ->prependStylesheet($this->baseUrl().'/css/admin/style.css');
    ?>

    <?php echo $this->headScript()->appendFile('/lib/jquery-1.11.1.min.js')
                                  //  ->appendFile('/externals/jquery/jquery-migrate.min.js')
                                    ->appendFile('/bootstrap/js/bootstrap.js')
                                    ->appendFile('/js/jquery-ui.js')
                                    ->appendFile('/js/JSCal2/js/jscal2.js')
                                    ->appendFile('/js/JSCal2/js/en.js')
                                    ->appendFile('/js/translite.js')
                                    ->appendFile('/js/admincustom.js');
    ?>
    <script>
    $(function() {
        $( "#tabs" ).tabs({
        collapsible: true
        });
    });
    </script>

</head>
<?php
     // Применяем метод для проверки авторизации пользователя
    $auth = Zend_Auth::getInstance();
    $userdata = $auth->getIdentity();//Zend_Debug::dump($userdata);exit;
    @$this->user_role = $userdata->user_role;
    if ($this->user_role == 'admin' or $this->user_role == 'member' or $this->user_role == 'client') {
        $url = '/logout';
    $url_nav = explode("/",$_SERVER['REQUEST_URI']);

    require_once('idna_convert.class.php');
	$idn = new idna_convert(array('idn_version'=>2008));
	$punycode=isset($_SERVER['SERVER_NAME']) ? stripslashes($_SERVER['SERVER_NAME']) : '';
	$punycode=(stripos($punycode, 'xn--')!==false) ? $idn->decode($punycode) : $idn->encode($punycode);
?>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button class="btn btn-navbar" data-toggle="collapse" data-target="#app-nav-top-bar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>


                    <div id="mainmenu" class="nav-collapse">

                        <ul class="nav"><a href="/account" class="brand"><i class="icon-leaf"><?php echo $punycode; ?></i></a>
							<?php if($this->user_role == 'admin' or $this->user_role == 'client' or $this->user_role == 'member') { ?>

								<li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Заказы
                                        <b class="caret hidden-phone"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="/members/orders">Заказы</a>
                                        </li>
                                    </ul>
                                </li>
							<?php } ?>
                            <!--    <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Продажи
                                        <b class="caret hidden-phone"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="/admin/adminorders">Заказы</a>
                                        </li>
                                        <li>
                                            <a href="/admin/admincustomers">Покупатели</a>
                                        </li>
                                    </ul>
                                </li> -->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Система
                                    <b class="caret hidden-phone"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/members/personalinformation">Личная информация</a>
                                    </li>
                                </ul>
                            </li>
							<li>
								<a href="/members/personalinformation"><?php echo $userdata->realname; ?></a>
							</li>
                            <li>
								<a href="/memberslogout">Выход</a>
							</li>
						</ul>
                    </div>
                </div>
            </div>
        </div>

        <div id="body-container">
            <div id="body-content">
                    <div class="body-nav body-nav-horizontal body-nav-fixed">
                        <div class="container">
                            <ul>
                                <li>
                                    <a href="/account">
                                        <i class="icon-dashboard icon-large"></i> Главная
                                    </a>
                                </li>
								<li>
                                    <a href="/members/orders">
                                        <i class="icon-book icon-large"></i> Заказы
                                    </a>
                                </li>
                                <li>
                                    <a href="/members/personalinformation">
                                        <i class="icon-cogs icon-large"></i> Настройки
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

    <?php if(@$url_nav[2] == 'users') { ?>
    <section class="nav-page">
            <div class="container">
                <div class="row">
                    <div class="span7">
                        <header class="page-header">
                            <h3>Пользователи<br/>
                                <small>Список пользователей</small>
                            </h3>
                        </header>
                    </div>
                    <div class="page-nav-options">
                        <div class="span9">
                            <ul class="nav nav-pills">
                                <li>
                                    <a href="<?php echo 'users/addusers';?>" rel="tooltip" data-placement="left" title="Добавить пользователя">
                                        <i class="icon-user icon-large"></i>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-tabs">
                            <li <?php if(@$url_nav[2] == '') { ?> class="active" <?php } ?>>
                                <a href="<?php echo $this->url(array('module'=>'account'), 'default', true); ?>"><i class="icon-home"></i>Home</a>
                            </li>
                            <li><a href="<?php echo $this->url(array('controller'=>''), 'default', true) ?>" target="_blank">На главную сайта</a></li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <?php } else { ?>
    <section class="nav nav-page">
        <div class="container">
            <div class="row">
                <div class="span7">
                    <header class="page-header">
                        <h3><?php echo $punycode;?><br/>
                            <small>Личный кабинет</small>
                        </h3>
                    </header>
                </div>
                <div class="page-nav-options">
                    <div class="span9">
                        <ul class="nav nav-pills">
                            <li>
                                <a href="<?php echo $this->url(array('module'=>'account'), 'default', true); ?>"><i class="icon-home icon-large"></i></a>
                            </li>
                        </ul>
                        <ul class="nav nav-tabs">
                            <li <?php if(@$url_nav[2] == '') { ?> class="active" <?php } ?>>
                                <a href="<?php echo $this->url(array('module'=>'account'), 'default', true); ?>"><i class="icon-home"></i>Home</a>
                            </li>
                            <li><a href="<?php echo $this->url(array('controller'=>''), 'default', true) ?>" target="_blank">На главную сайта</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <?php } ?>
    <section class="page container">
        <?php echo $this->layout()->content; ?>
    </section>
            </div>
        </div>

        <footer class="application-footer">
            <div class="container">
                <p><?php echo $punycode;?></p>
                <div class="disclaimer">
                    <p>Copyright © <?php echo $punycode;?></p>
                </div>
            </div>
        </footer>

        <script src="/js/bootstrap/bootstrap-transition.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-alert.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-modal.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-dropdown.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-scrollspy.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-tab.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-tooltip.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-popover.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-button.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-collapse.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-carousel.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-typeahead.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-affix.js" type="text/javascript" ></script>
        <script src="/js/bootstrap/bootstrap-datepicker.js" type="text/javascript" ></script>
        <script src="/js/jquery/jquery-tablesorter.js" type="text/javascript" ></script>
        <script src="/js/jquery/jquery-chosen.js" type="text/javascript" ></script>
        <script src="/js/jquery/virtual-tour.js" type="text/javascript" ></script>
        <script type="text/javascript">
        $(function() {
            $('#sample-table').tablesorter();
            $('#datepicker').datepicker();
            $(".chosen").chosen();
        });
    </script>

</body>
</html>

<?php } else {
header('Location: https://'.$_SERVER['SERVER_NAME'].'/'); /*
echo 'Доступ запрещён'; ?><br><?php
$urllogin = '/login';
echo "<a href=\"{$urllogin}\"><span class=\"badge badge-inverse\">Авторизация</span></a>"; */
}
?>