<!DOCTYPE HTML>

<html>

<head>
	<?php echo $this->action('head', 'index', 'index');?>
</head>
<body>
<div class="fixed_top">
	<header>
		<?php echo $this->action('header', 'index', 'index');?>
	</header>
	
	<nav id="menu_top">
		<div class="container">
			<div class="mega_menu_wrap">
				<a href="#" class="menu_button">Каталог</a>
				
				<div class="mega_menu">
					<div class="nav_col">
					
						<?php echo $this->action('categories', 'index', 'index');?>
					</div>
					
					
					

				</div>
			</div>	
			
		<!--	<a href="#" class="enter">
				Вход
			</a> -->
			
			<ul class="c_menu">
				<li>
					<a href="/wholesale-customers">Оптовым клиентам</a>
				</li>
				
				<li>
					<a href="/payment">Оплата и доставка</a>
				</li>

				<li>
					<a href="/about">О компании</a>
				</li>

				<li>
					<a href="/contacts">Контакты</a>
				</li>
			</ul>
			

		</div>
	</nav>
</div>	
	
	<section id="breadcrumbs">
		<div class="container">
			<ul>
				<li>
					<a href="/">Главная</a>
				</li>
				<li>
					<span>/</span>
				</li>
				<li>
					<span>Корзина</span>
				</li>				
			</ul>
		</div>
	</section>
	
	<section id="main">
		<div class="container">
			<h1 class="m_title cart_title">Моя корзина</h1>
			
			<div class="main_cart_wrap">
			<h3>Товары в наличии:</h3>
				<div class="left_cart">
					<?php echo $this->layout()->content; ?>
				</div>
				
				<div class="right_cart">
					<div class="cart_banner">
						<img src="/images/cart-banner.png" alt=""/>
						<div class="cart_banner_title">Бесплатная <br> доставка  </div>
						<p>до терминала выбранной Вами транспортной компании.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container-bottom"></div>
	</section>


	
	<footer>
		<?php echo $this->action('footer', 'index', 'index');?>	
	</footer>
	
	<div id="form_modal" class="reveal-modal">
		<div class="remove_form">
			<div class="form_modal_title">Чтобы получить обратную связь или задать нам вопрос - воспользуйтесь формой.<br>
			Мы ответим или перезвоним Вам в течении 5 минут.</div>
		 
			<div id="response-callback"></div>
			<?php echo $this->action('callback', 'index', 'index');?>

		</div>

	
		 <a class="close-reveal-modal">ЗАКРЫТЬ</a>
	</div>	
	
	<!-- authorization -->      
	<div id="auth_modal" class="reveal-modal auth">
		<div class="remove_form">
			<div class="auth_modal_title">Вход</div>
		 
			<div id="response"></div>
            
            <form id="auth_form" action="" method="post">    
            <input type="text" name="login" id="login" value="" size="30" class="valid" placeholder="Логин">    
            <input type="text" name="password" id="password" value="" placeholder="Пароль">
            <input type="submit" class="submit_formdata" value="ОТПРАВИТЬ">
            </form>

		</div>
	
		 <a class="close-reveal-modal">ЗАКРЫТЬ</a>
	</div>
    
<!-- new authorization --> 
   	<div class="cd-user-modal"> 
		<div class="cd-user-modal-container">
			<ul class="cd-switcher">
				<li><a href="#0">Вход</a></li>
				<li><a href="#0">Регистрация</a></li>
			</ul>

			<div id="cd-login"> <!-- login form --> 
				<div id="response_login"></div>
				<?php echo $this->action('loginform', 'index', 'index');?>
				
				<p class="cd-form-bottom-message"><a href="#0">Забыли свой пароль?</a></p>
				<!-- <a href="#0" class="cd-close-form">Close</a> -->
			</div> <!-- cd-login -->

			<div id="cd-signup"> <!-- signup form -->
				<div id="response_account"></div>
				<?php echo $this->action('accountform', 'index', 'index');?>

				<!-- <a href="#0" class="cd-close-form">Close</a> -->
			</div> <!-- cd-signup -->

			<div id="cd-reset-password"> <!-- reset password form -->
				<p class="cd-form-message">Забыли пароль? Пожалуйста, введите адрес своей электронной почты. Вы получите ссылку, чтобы создать новый пароль.</p>

				<div id="response_fogotpass"></div>
				<?php echo $this->action('fogotpassform', 'index', 'index');?>

				<p class="cd-form-bottom-message"><a href="#0">Вернуться к входу</a></p>
			</div> <!-- cd-reset-password -->
			<a href="#0" class="cd-close-form">Закрыть</a>
		</div> <!-- cd-user-modal-container -->
	</div> 
 <!-- cd-user-modal -->
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>

<script src="/js/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="/js/jquery.mmenu.all.js" type="text/javascript"></script>
<script src="js/site/bootstrap.min.js"></script>
<script src="js/site/jquery.inputmask.js"></script>
<script src="/js/site/callback_popup.js" type="text/javascript"></script>
<script src="js/site/js.js?v=7"></script>
<script src="js/site/slick.min.js"></script>
<script src="js/site/fancybox/jquery.fancybox.min.js"></script>
<script src="//cdn.callibri.ru/callibri.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>		