<!DOCTYPE HTML>
<head>
    <?php echo $this->action('head', 'index', 'index');?>
</head>
<body>
<!-- page -->
    <div id="page"><div id="body-inner">
        <!-- top -->
        <?php echo $this->action('header', 'index', 'index');?>

        <!-- navi -->
        <div id="main_navi_w">
        
            <div id="nav_w">
                <div class="nav_w_line">
                    <div id="nav" class="container">
                            <div class="navbar" role="navigation">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        </button>
                                        <!--div class="navbar-brand">
                                            <a href="/" class="logo"><img src="./images/logo_menu.png" alt=""></a>
                                        </div-->
                                    </div>
                                    <div class="collapse navbar-collapse" id="navbar">
                                        <ul class="nav navbar-nav">
                                            <li><a class="active" href="/about">О студии--</a></li>
                                            <li><a href="/">Техника тиффани</a></li>
                                            <li><a href="/">Наши работы</a></li>
                                            <li><a href="/">Вопросы и ответы</a></li>
                                            <li><a href="/news">Статьи</a></li>                                        
                                            <li><a href="/contacts">Контакты</a></li>
                                        </ul>
                                    </div>
                                </div>
                         </div>
                                    
                     <div class="clear"></div>
                                
                    </div>
                </div>
            </div>

        <!-- works -->
        <div id="works_w">            
            <div id="works" class="container">
                <div class="title">
     			    <h3>Наши работы</h3>
                </div>
                
                <div class="works_grid">
                    <div class="work-1">
                        <a href="#" class="hover-work-1" onmouseover="document.getElementById('img-work-1').classList.add('hover')" onmouseout="document.getElementById('img-work-1').classList.remove('hover')">Потолочные</br>витражи / лампы</a>
                        <img id="img-work-1" src="images/work-1.jpg" />                        
                    </div>
                    
                    <div class="work-2">
                        <a href="#" class="hover-work-2" onmouseover="document.getElementById('img-work-2').classList.add('hover')" onmouseout="document.getElementById('img-work-2').classList.remove('hover')">Арт-объекты</a>
                        <img id="img-work-2" src="images/work-2.jpg" />                        
                    </div>
                    
                    <div class="work-3">
                        <a href="#" class="hover-work-3" onmouseover="document.getElementById('img-work-3').classList.add('hover')" onmouseout="document.getElementById('img-work-3').classList.remove('hover')">Витражи</br>в нишу</a>
                        <img id="img-work-3" src="images/work-3.jpg" />                        
                    </div>
                    
                    <div class="work-4">
                        <a href="#" class="hover-work-4" onmouseover="document.getElementById('img-work-4').classList.add('hover')" onmouseout="document.getElementById('img-work-4').classList.remove('hover')">Оконные</br>витражи</a>
                        <img id="img-work-4" src="images/work-4.jpg" />                        
                    </div>
                    
                    <div class="work-5">
                        <a href="#" class="hover-work-5" onmouseover="document.getElementById('img-work-5').classList.add('hover')" onmouseout="document.getElementById('img-work-5').classList.remove('hover')">Витражные</br>перегородки</a>
                        <img id="img-work-5" src="images/work-5.jpg" />                        
                    </div>
                    
                    <div class="work-6">
                        <a href="#" class="hover-work-6" onmouseover="document.getElementById('img-work-6').classList.add('hover')" onmouseout="document.getElementById('img-work-6').classList.remove('hover')">Витражи в двери/</br>кухонные фасады</a>
                        <img id="img-work-6" src="images/work-6.jpg" />                        
                    </div>
                    
                
                </div>
                  
            </div>
        </div>
        
        <!-- cooperation -->
        <div id="cooperation_w">
            <div id="cooperation" class="container">
		
        		<div class="title">
        			<h3>Сотрудничаем c дизайнерами и прорабами</h3>
                    <p>Для начала сотрудничества оставьте свои контакты</p>
        		</div>
        		
                <div class="form">
                	<form action="" method="post">			
                		<div class="item">                			
                            <input type="text" name="callback_name" id="name" value="" size="30" class="" placeholder="Имя">		
                        </div>
                
                		<div class="item">                			
                            <input type="text" name="phone" id="phone_mask" value="" class="required phone" placeholder="+7 (___) ___-__-__">		
                        </div>
                
                		<div class="bt">
                			<button type="submit" class="submit_request_call">отправить</button>
                		</div>
                	</form>
                </div>
                
                <div class="clear"></div>
            
            </div>

        </div>
               
        <!-- map -->
        <div id="map_w">            
            <div id="map" class="container">
                <div class="title">
     			    <h3>Как добраться?</h3>
                </div>
            </div>
                
            <div class="map_w_line_1">
               <div class="map_w_line_2">
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0dc86a989007e6b85c59222250a586d3ab184874310d869a482022f243cd80a4&amp;width=100%25&amp;height=500&amp;lang=ru_RU&amp;scroll=true"></script>
               </div>
            </div>
            
            <div class="clear"></div>
            
        </div>
        
          
        <!-- footer -->
        <?php echo $this->action('footer', 'index', 'index');?>	

    </div>
<!-- end page -->


<div class="cd-callback-modal"> 
	<div class="cd-callback-modal-container">
        
		<div id="cd-callback"> <!-- callback form --> 
        	
            <div class="form_modal_title">Заказать звонок</div>
                
            <form id="cont_form" class="cd-form -visor-no-click" action="" method="post">                
             	<p class="fieldset">
            		<label class="image-replace cd-username" for="callback-username">Ваше имя</label>		
                    <input type="text" name="name" id="contact_name" value="" size="30" class="full-width has-padding has-border" placeholder="Ваше имя" />
            	</p>                
               	<p class="fieldset">
            		<label class="image-replace cd-phone" for="callback-phone">Телефон</label>        
                    <input type="text" name="phone" id="contact_phone" value="" class="full-width has-padding has-border required phone" placeholder="Телефон" />
            	</p>                   
            	<p class="fieldset">
            		<input class="full-width has-padding submit_callback" type="submit" value="ОТПРАВИТЬ">
            	</p>  
            </form>	
            			
            <a href="#0" class="cd-close-callback-form">Закрыть</a>                 
                
		</div>

	</div> <!-- cd-callback-modal-container -->
</div>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script src="/js/site/bootstrap.min.js" type="text/javascript"></script>
<script src="/js/site/jquery.maskedinput.min.js" defer="" type="text/javascript"></script>
<script src="/js/site/slick.min.js" type="text/javascript"></script>
<script src="/js/site/scripts.js" type="text/javascript"></script>
<script src="/js/site/callback_popup.js" type="text/javascript"></script>
   <script type="text/javascript">
            $(document).ready(function setHeight() {
            
            $('#slider_w').outerHeight()
            
            var height = $('#slider_w').outerHeight();
            $('#main_navi_w').css('height', height);
            
            });
    </script>
</body>
</html>	