<!doctype html>
<html lang="en">
<head>
    <?php echo $this->action('head', 'index', 'index');?>
</head>
<?php $pieces = explode("/", $_SERVER['REQUEST_URI']); ?>
<body>
<!-- page -->
    <div id="page"><div id="body-inner">
    
        <!-- top -->
        <?php echo $this->action('mainheadmenu', 'index', 'index');?>
        <!-- end top -->
        
        <!-- header -->
        <div id="header_w">
            <div id="header" class="container">
				<?php echo $this->action('header', 'index', 'index');?> 
            </div>        
        </div><!-- end header -->
		
		
        
        <div class="clear"></div>
        
        <!-- box-7 -->
        <div id="box_7_w">            
            <div id="box_7" class="container">
                <?php echo $this->layout()->content; ?>  
            </div>
        </div>
        
        <div class="clear"></div>
        
        
        <?php if($pieces[1] == 'about') { ?>
        <!-- box-5 -->
        <div id="box_5_w">         
            <div id="box_5" class="container">
                    
                <div class="title-box-5">Лицензии</div>
                    
                <div class="licenses">
                        <div class="licenses-item">
                            <a data-fancybox="gallery" href="/images/license-1.jpg"><img src="/images/license-1.jpg" />
                                <div class="gallery-zoom">
        							<img src="/images/zoom.png">
        						</div>
                            </a>
                        </div>
                        
                        <div class="licenses-item">
                            <a data-fancybox="gallery" href="/images/license-1.jpg"><img src="/images/license-1.jpg" />
                                <div class="gallery-zoom">
        							<img src="/images/zoom.png">
        						</div>
                            </a>
                        </div>
                        
                        <div class="licenses-item">
                            <a data-fancybox="gallery" href="/images/license-1.jpg"><img src="/images/license-1.jpg" />
                                <div class="gallery-zoom">
        							<img src="/images/zoom.png">
        						</div>
                            </a>
                        </div>
                    
                </div>
                      
            </div>
        </div>
		<?php } ?>
		
		
        <!-- box-3 -->
        <div id="box_3_w">            
            <div id="box_3" class="container">
                
                <div class="title-box-3">Наша команда</div>
                
                <div class="team slider slick-slider">
					<?php echo $this->action('index', 'index', 'sliderthree');?>
                </div>
                  
            </div>
        </div>
        
        <div class="clear"></div>
                              
        <!-- footer -->
        <div id="footer_w">
            <div id="footer" class="container">
                <?php echo $this->action('footer', 'index', 'index');?>	 
            </div>
        </div>



    </div>
<!-- end page -->


<!-- pop-up -->
<div class="wrapper"></div>

<div id="zb1" class="z-box">
    <div class="close"></div>    
    <p class="h2">Записаться на приём</p>    
    <div class="formbox">
        <?php echo $this->action('contact', 'index', 'index');?>
    </div>    
<div class="clear"></div>
</div>


<!-- thnx -->
<div class="thnx">
    <div class="close"></div>
    <div class="okay"></div>
    <a href="/" class="logo"><img src="/images/logo-f.png" alt=""/></a>
    <h2><span>Спасибо за обращение!</span><br>Мы свяжемся с Вами в течении 24 часов.</h2>
</div>


    
<!-- script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/jquery.mmenu.all.js" type="text/javascript"></script>
<script src="/js/site/bootstrap.min.js"></script>
<script src="/js/site/fancybox/jquery.fancybox.min.js"></script>
<script src="/js/site/slick.min.js"></script>
<script src="/js/site/jquery.inputmask.js"></script>
<script src="/js/site/jquery.validate.js"></script>
<script src="/js/site/js.js?v=7"></script>
    
    
    <script type="text/javascript">
                //Блок спрятанного текста 

            	var allHeight = $('.about_text').outerHeight(),
            		fixHeight = 290;
            		hideText = $('.about_text');
            
            		hideText.addClass('hide');
            		hideText.height(fixHeight);
            
            	// спрятать/показать текст
            	$('.btn_dropdown_about_text span').on('click', function(){
            		
            		if (hideText.hasClass('hide')){
            			hideText.removeClass('hide');
            			hideText.height(allHeight);
            			$('.about_text_fill').css('display', 'none');
                        $( "div.btn_dropdown_about_text span" ).html('Свернуть');
            
            		} else{
            			hideText.addClass('hide');
            			hideText.height(fixHeight);
            			$('.about_text_fill').css('display', 'block');
                        $( "div.btn_dropdown_about_text span" ).html('Далее');
            		}
            	});
            </script>
<?php echo $this->action('configyandexmetrika', 'index', 'settings');?>                       
</body>
</html>