<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="js/site/slick-theme.css">
    <link rel="stylesheet" href="js/site/slick.css">
    <link rel="stylesheet" href="js/site/fancybox/jquery.fancybox.min.css">
	<link rel="stylesheet" href="/css/jquery.mmenu.all.css">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&amp;subset=cyrillic" rel="stylesheet">
    
    <title>DON-MAX</title>
</head>
<body>
<!-- page -->
    <div id="page"><div id="body-inner">
        <!-- top -->
        <div id="top_w">
            <div id="top" class="container">
                
                <div class="top_block_1">
                    <div class="logo_block">
                        <a href="/" class="logo"><img src="./images/logo.png" alt="DON-MAX изделия из нержавеющей стали"></a>
                    </div>
                    
                    <div class="logo_text_block">
                        <h3>Производство карнизов, поручней и полотенцесушителей для ванных комнат из нержавеющей стали</h3>
                    </div>
                </div>
                
                <div class="top_block_2">
                    <div class="contact_block_1">
                        <div class="soc">
                            <a href="#" class="whatsapp"></a>
                            <a href="#" class="viber"></a>
                            <a href="#" class="skype"></a>
                        </div>
                        
                        <div class="lang">
                            <a href="/" class="active">ru</a>
                            <a href="/">en</a>
                        </div>
                    </div>
                    
                    <div class="contact_block_2">                    
                        <div class="contact_item_phone">
                            <a href="tel:+7 (863) 223 80 78">+7 (863) 223-80-78</a>
                        </div>                        
                        <div class="contact_item_phone">
                            <a href="tel:+7 (863) 298 33 31">298-33-31</a>
                        </div>                        
                        <div class="mail_block">
                            <a href="mailto:donmax@donmax.ru">donmax@donmax.ru</a>
                        </div>                        
                    </div>
                </div>
            
            </div>
        </div>

        <!-- navi -->
        <div id="nav_w">
            <div class="nav_w_line">
                <div id="nav" class="container">
                        <div class="navbar">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="collapse navbar-collapse" id="navbar">
                                    <ul class="nav navbar-nav">
                                        <li class="active">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Продукция <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li class="active"><a href="/">Категория #1</a></li>
                                                <li><a href="/">Категория #2</a></li>
                                                <li><a href="/">Категория #3</a></li>
                                                <li><a href="/">Категория #4</a></li>
                                                <li><a href="/">Категория #5</a></li>
                                                <li><a href="/">Категория #6</a></li>
                                                <li><a href="/">Категория #7</a></li>
                                                <li><a href="/">Категория #8</a></li>
                                                <li><a href="/">Категория #9</a></li>
                                                <li><a href="/">Категория #10</a></li>
                                                <li><a href="/">Категория #11</a></li>
                                            </ul>
                                        </li>                                        
                                        <li><a class="active" href="/">Оптовикам</a></li>
                                        <li><a href="/">Оплата и доставка</a></li>
                                        <li>
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Информация <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="/">Категория #1</a></li>
                                                <li><a href="/">Категория #2</a></li>
                                                <li><a href="/">Категория #3</a></li>
                                                <li><a href="/">Категория #4</a></li>
                                                <li><a href="/">Категория #5</a></li>
                                            </ul>
                                        </li>                                        
                                        <li><a href="/">О компании</a></li>                                  
                                        <li><a href="/">Контакты</a></li>
                                    </ul>
                                </div>
                            </div>
                     </div>
                                
                 <div class="clear"></div>
                            
                </div>
            </div>
        </div>
        
        
        <!-- product -->
        <div id="product_w">
            <div id="product" class="container">  
            
            <div class="breadcrumbs">
    				<div class="breadcrumbs__block">
   					    <a href="/">Главная</a> 
                        <span>/</span>
                        <a href="/">Карнизы</a> 
                        <span>/</span>
						Прямой карниз для ванны
     			    </div>
      		</div>
              
            <div class="clear"></div>  
            
            <div class="product_block">
                
                <div class="product_images">
                    
                    <div class="product-main-img">
                        <a href="images/product-big.png" class="" data-fancybox="group"><img src="images/product-small.png" alt=""></a>
                    </div>
                        
                    <div class="product-more-img">
                        <a href="images/product-big.png" class="" data-fancybox="group"><img src="images/product-small.png" alt=""></a>
                        <a href="images/product-big.png" class="" data-fancybox="group"><img src="images/product-small.png" alt=""></a>
                        <a href="images/product-big.png" class="" data-fancybox="group"><img src="images/product-small.png" alt=""></a>
                    </div>
                
                </div>
                
                
                <div class="product_info">
                    
                    <div class="product_title">Прямой карниз для ванны</div>
                    
                    <div class="product_discription">
                        <p>Прямые карнизы применяются для прямоугольных ванн при установке в распор между противоположными стенами. Самый простой и надежный вид карниза.</p>
                    </div>
                    
                    <div class="clear"></div>
                    
                    <div class="product_discription_left">
                        <div class="characteristics">
                            <ul>
                                <li>Тип карниза – Прямой</li>
                                <li>Диаметр трубы - 25мм</li>
                                <li>Материал – нержавеющая сталь</li>
                            </ul>
                            
                            <div class="product_item_option">
                                <div class="select_title">Цвет</div>                                
                                <div class="select">
                                  <select id="select1">
                                      <option selected="selected">Хром(стандарт)</option>
                                      <option>Белый</option>
                                      <option>Черный</option>
                                  </select>
                                </div>
                            </div>                            
                            <div class="product_item_option">
                                <div class="select_title">Размер</div>                                
                                <div class="select">
                                  <select id="select2">
                                      <option selected="selected">1250x1250</option>
                                      <option>1350x1350</option>
                                      <option>1450x1450</option>
                                      <option>1550x1550</option>
                                      <option>1650x1650</option>
                                  </select>
                                </div>
                            </div>
                            <div class="product_item_option">
                                <div class="select_title">Кол-во</div>                                
                                <div class="select">
                                  <select id="select3">
                                      <option selected="selected">1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                  </select>
                                </div>
                            </div>                        
                        </div>
                        
                        <div class="equipment">
                            <div class="equipment_title">
                                Стандатрное крепление (2 шт.)<br /> входит в стоимость комплекта
                            </div>
                            
                            <div class="equipment_item">
                                <img src="images/equipment-1.png" alt="">
                                <div class="equipment_item_text">
                                    Стандартное крепление для дуг 
                                </div>
                            </div>
                            
                            <div class="equipment_item">
                                <img src="images/equipment-2.png" alt="">
                                <div class="equipment_item_text">
                                    Усилиное крепление из нержавеющей стали для Г-обр. карнизов
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                    
                    
                    <div class="product_discription_right">
                    
                        <div class="addition">
                        
                            <div class="checkbox">
                                <input type="checkbox" id="check"><label for="check"><b>Нужен замер и монтаж<br/>по Ростову-на-Дону!</b></label>
                            </div>
                            
                            <div class="checkbox">
                                <input type="checkbox" id="check"><label for="check">Индивидуальное крепление<br/>(подходит под все типы карнизов)<br/>+3000 руб.</label>
                            </div>
                            
                            <div class="addition_images">
                                <div class="addition_image">
                                    <img src="images/addition-1.png" alt="">
                                </div>                                
                                <div class="addition_image">
                                    <img src="images/addition-2.png" alt="">
                                </div>                            
                            </div>
                        
                        </div>
                        
                        <div class="product_price">2300 руб.</div>
                        
                        <div class="product_btn">
                            <a href="#" class="buy addTooBasket">Заказать</a>                      
                        </div>
                    
                    </div>               
                
                
                </div>
            
            </div>
            
            <div class="clear"></div>
              
            </div>
        </div> 
        
        <!-- manual -->
        <div id="manual_w">
            <div id="manual" class="container">
            
                <div class="manual_title">Рекомендации по установке карниза</div>
                
                <div class="manual_video"><img src="images/manual_video.jpg" alt=""></div>
                
                <div class="manual_text">
                    <p>
                    Карнизы рекомендуется устанавливать на высоте 160 см над верхним краем ванны, поскольку стандартные шторки имеют высоту 180 см.
                    </p>
                    <p>
                    Для установки карниза вам понадобится:
                    </p>
                    <p>
                    - дрель или перфоратор;<br/>
                    - бур или сверло, в зависимости от того, чем вы будете сверлить и из чего сделаны стены, диаметром 6 мм;<br/>
                    - крестообразная отвертка или бита (насадка на дрель);<br/>
                    - рулетка, карандаш или маркер.<br/>
                    - Дюбели и саморезы идут в комплекте с карнизом.
                    </p>
                
                    <div class="col-lg-1-md-12 st-center">
                        <a href="#" class="manual_more">Подробнее</a>
                    </div> 
                
                </div>
            
            <div class="clear"></div>
            
            </div>
        </div>                 
        
        
        <!-- footer -->
        <div id="footer_w">
            <div id="footer" class="container">
                <div class="footer_item_1">
                    <div class="ft_logo_block">
                        <a href="/" class="logo"><img src="./images/ft-logo.png" alt="DON-MAX изделия из нержавеющей стали"></a>
                    </div>
                    
                    <div class="ft_logo_text_block">
                        <h5>Copyright © 2017 DON-MAX<br />Все права защищены. </h5>
                    </div>
                </div>
                
                <div class="footer_item_2">
                    <p>Продукция</p>
                    <ul>
                        <li><a href="#">Карнизы</a></li>
                        <li><a href="#">Поручни</a></li>
                        <li><a href="#">Сушки для белья</a></li>
                        <li><a href="#">Полотенцесушители</a></li>
                    </ul>                
                </div>
                
                <div class="footer_item_3">
                    <p>Информация</p>
                    <ul>
                        <li><a href="#">Оптовикам</a></li>
                        <li><a href="#">Оплата и доставка</a></li>
                        <li><a href="#">Информация</a></li>
                        <li><a href="#">О компании</a></li>
                        <li><a href="#">Контакты</a></li>                        
                    </ul>
                
                </div>
                
                <div class="footer_item_4"> 
                    <div class="ft_contacts">                   
                        <div class="contact_item_phone">
                            <a href="tel:+7 (863) 223 80 78">+7 (863) 223-80-78</a>
                        </div>                        
                        <div class="contact_item_phone">
                            <a href="tel:+7 (863) 298 33 31">298-33-31</a>
                        </div>                        
                        <div class="ft_call_back">
                            <a href="#">Заказать звонок</a>
                        </div>
                    </div>
                    <div class="ft_social">
                        <div class="soc">
                            <a href="#" class="whatsapp"></a>
                            <a href="#" class="viber"></a>
                            <a href="#" class="skype"></a>
                        </div>
                    </div>
                                           
                </div>
            </div>
        </div>



    </div>
<!-- end page -->

<div class="cd-callback-modal" style="display: none;"> 
	<div class="cd-callback-modal-container">
        
		<div id="cd-callback"> <!-- callback form --> 
        	
            <div class="form_modal_title">Заказать звонок</div>
                
            <form id="cont_form" class="cd-form -visor-no-click" action="" method="post">                
             	<p class="fieldset">
            		<label class="image-replace cd-username" for="callback-username">Ваше имя</label>		
                    <input type="text" name="name" id="contact_name" value="" size="30" class="full-width has-padding has-border" placeholder="Ваше имя" />
            	</p>                
               	<p class="fieldset">
            		<label class="image-replace cd-phone" for="callback-phone">Телефон</label>        
                    <input type="text" name="phone" id="contact_phone" value="" class="full-width has-padding has-border required phone" placeholder="Телефон" />
            	</p>                   
            	<p class="fieldset">
            		<input class="full-width has-padding submit_callback" type="submit" value="ОТПРАВИТЬ">
            	</p>  
            </form>	
            			
            <a href="#0" class="cd-close-callback-form">Закрыть</a>                 
                
		</div>

	</div> <!-- cd-callback-modal-container -->
</div>

    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script src="/js/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="/js/jquery.mmenu.all.js" type="text/javascript"></script>
<script src="js/site/bootstrap.min.js"></script>
<script src="js/site/jquery.inputmask.js"></script>
<script src="js/site/fancybox/jquery.fancybox.min.js"></script>
<script src="/js/site/jquery.validate.js"></script>
<script src="js/site/js.js?v=7"></script>

<script src="/js/site/callback_popup.js" type="text/javascript"></script>
<script src="//cdn.callibri.ru/callibri.js" type="text/javascript" charset="utf-8"></script>
                     
</body>
</html>