<!doctype html>
<html lang="en">
<head>
    <?php echo $this->action('head', 'index', 'index');?>
</head>
<?php $pieces = explode("/", $_SERVER['REQUEST_URI']); ?>
<body>
<!-- page -->
    <div id="page"><div id="body-inner">

        <!-- top -->
        <?php echo $this->action('mainheadmenu', 'index', 'index');?>
        <!-- end top -->

        <!-- header -->
        <div id="header_w">
            <div id="header" class="container">
				<?php echo $this->action('header', 'index', 'index');?>
            </div>
        </div><!-- end header -->

		<div class="clear"></div>
        <?php /*
        <div class="inner-top-slider slider slick-slider">
            <?php foreach($this->categoryphoto as $photo) { ?>
                    <div class="slick-slide">
                        <a data-fancybox="inner-top-gallery" href="<?php echo $this->host;?>/media/photos/categories/pages/big_<?php echo $photo->photo_file; ?>"><img src="<?php echo $this->host;?>/media/photos/categories/pages/small_<?php echo $photo->photo_file; ?>" alt="" /></a>
                    </div>
            <?php } ?>

        </div>
        */ ?>
        <?php foreach($this->category as $category_item) { ?>

        <!-- box-11 -->
        <div id="box_11_w">
            <div class="container">
                <div class="breadcrumbs" style="margin-bottom: 20px; margin-top: 20px;">
                    <a href="/">Главная</a> <span>/</span>
                    <?php
                        $substringBreadcrumbs = '';
                        foreach ($this->parent_info as $parent_info_key => $parent_info_value) {
                            $bs_title_class = '';
                            $bs_menu_pos = true;
                            if($parent_info_value['category_id'] == 8 || $parent_info_value['parent_id'] == 8) {
                                $bs_title_class = 'red';
                                $bs_menu_pos = false;
                            }
                            if($parent_info_value['category_id'] != '1' && $parent_info_value['category_id'] != '8')
                            $substringBreadcrumbs .= '<a href="/category/'.$parent_info_value['url_seo'].'">'.$parent_info_value['category_name'].'</a> <span>/</span>';
                        }
                    ?>
                    <?php if ($bs_menu_pos) {?>
                        <a href="/stomatologiya">Стоматология</a>
                    <?php } else { ?>
                        <a href="/kosmetologiya">Косметология</a>
                    <?php } ?>
                    <span>/</span>
                    <?php echo $substringBreadcrumbs;?>
                    <span><?php echo $category_item->title_text; ?></span>
                </div>
            </div>
        </div>

        <div class="clear"></div>

        <!-- box-12 -->
        <div id="box_12_w" class="pb-0">
            <h1 class="title-box-12 <?php echo $bs_title_class;?>"><?php echo $category_item->title_text; ?></h1>
            <div id="box_12" class="container pb-0">
                <div class="about_text_cont">
                    <div class=" about_text">
                        <div class="row">
                            <div class="col-md-3">
                                <?php
                                    if($bs_menu_pos) {
                                        echo $this->action('servmenu', 'index', 'index');
                                        echo $this->action('kosmenu', 'index', 'index');
                                    } else {
                                        echo $this->action('kosmenu', 'index', 'index');
                                        echo $this->action('servmenu', 'index', 'index');
                                    }
                                ?>
                            </div>
                            <div class="col-md-9" style="padding-top: 20px;">
                                <?php echo $category_item->category_text; ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

			<?php if(!$bs_menu_pos) { ?>
			<div class="container-fluid ab red">
				<div class="container">
					<div class="row ab__inner">
						<div class="col-md-5 col-xs-12 ab__block-1">
							<div class="ab__sm-text">Остались</div>
							<div class="ab__lg-text">вопросы?</div>

						</div>
						<div class="col-md-2 col-xs-12 ab__block-2">
							<div class="ab__question">
								<i class="icon-help-circled"></i>
							</div>
						</div>
						<div class="col-md-5 col-xs-12 ab__block-3">
							<p class="ab__xs-text">Мы ответим на них по телефону</p>
							<a href="tel:+78633335784" class="ab__phone kosmonavtovPhone">+7 (863) 333-57-84</a><br>
							<a href="tel:+78633033957" class="ab__phone">+7 (863) 303-39-57</a>
							<p class="ab__btn-wrp">или&nbsp;&nbsp;&nbsp;<a href="#" class="but-callback-2">Закажите обратный звонок</a></p>
						</div>
					</div>
				</div>
			</div>
			<?php } else { ?>
			<div class="container-fluid ab blue">
				<div class="container">
					<div class="row ab__inner">
						<div class="col-md-5 col-xs-12 ab__block-1">
							<!--<div class="ab__sm-text">Остались</div>
							<div class="ab__lg-text">вопросы?</div>-->
							<div class="ab__lg-text">Получите скидку 3%</div><br><p class="ab__xs-text">на первый приём, записавшись через сайт</p>
							<p class="ab__btn-wrp"><a href="#" class="but-callback dop">Записаться на приём</a></p>

							<style>
							.but-callback.dop {
								padding: 8px 15px;
								border-radius: 20px;
							}
							.but-callback.dop:hover, .but-callback.dop:focus {
								background: #F2726B;
							}
							</style>

						</div>
						<div class="col-md-2 col-xs-12 ab__block-2">
							<div class="ab__question">
								<i class="icon-help-circled"></i>
							</div>
						</div>
						<div class="col-md-5 col-xs-12 ab__block-3">
							<p class="ab__xs-text">Остались вопросы? Звони!</p>
							<a href="tel:+78633335784" class="ab__phone kosmonavtovPhone">+7 (863) 333-57-84</a><br>
							<a href="tel:+78633033957" class="ab__phone">+7 (863) 303-39-57</a>
							<p class="ab__btn-wrp">или&nbsp;&nbsp;&nbsp;<a href="#" class="but-callback-2">Закажите обратный звонок</a></p>
						</div>
					</div>
				</div>
			</div>
		<?php } ?>
        </div>
        <div class="clear"></div>

        <div  id="box_7" class="container">
            <div class="about_text_cont pb-0">
                <div class="about_text">
                    <div class="h1"><?php echo $category_item->title; ?></div>

                    <?php echo $category_item->category_text_extra; ?>
                </div>
            </div>
        </div>
        <div class="clear"></div>

        <!-- box-4 -->
		<noindex>
        <div id="box_4_w">
            <div id="box_4" class="container">

                <div class="title-box-4">Полезная информация</div>

                <div class="stock-news slider slick-slider">
                    <?php echo $this->action('articlesfront', 'index', 'articles');?>
                </div>

            </div>
        </div>
		</noindex>
        <div class="clear"></div>

        <!-- box-6 -->
        <?php /*?>
        <div class="video slider slick-slider">
            <?php foreach ($this->videos as $video) { ?>
                <div class="slick-slide">
                     <a class="video-link" data-fancybox="reviews-video" href="<?php echo $video['html_code']; ?>"><img src="<?php echo $this->host;?>/media/photos/videolessons/small_<?php
            echo $video['image']; ?>" alt="<?php echo $video['alt']; ?>" />
               <img src="/img/play.png" alt="" class="play-video">
               </a>
                </div>
            <?php } ?>
        </div>
        <div class="clear"></div>
        <?php */?>
        <?php } ?>

        <!-- box-8 -->
        <div id="box_8_w">
            <div id="box_8" class="container">

                <div class="title-box-8">Контакты</div>

                <div class="contact-box">
                    <div class="contact-col-1">
                        <div class="contact-title">“Триумф-элит”<br /><span>на Королева</span></div>
                        <div class="contact-adress">Ростов-на-Дону, 344113<br /> пр. Королева, 18</div>
                        <a href="tel:+78633033957" class="contact-tel">+7 (863) 303-39-57</a>
                        <div class="contact-clock"><span class="bold">Режим работы:</span><br />ПН-ПТ с 9:00 до 19:00<br /> СБ с 9:00 до 16:00<br /> <span class="red">ВС -выходной</span></div>
                    </div>
                    <div class="contact-col-2">
                        <div id="mymap"></div>
                    </div>
                    <div class="contact-col-3">
                        <div class="contact-title">“Триумф-элит”<br /><span>на Космонавтов</span></div>
                        <div class="contact-adress">Ростов-на-Дону, 344113<br /> пр. Космонавтов, 26</div>
                        <a href="tel:+78632182424" class="kosmonavtovPhone contact-tel">+7 (863) 218-24-24<br /> +7 (863) 218-24-34</a>
                        <div class="contact-clock"><span class="bold">Режим работы:</span><br />ПН-ПТ с 9:00 до 19:00<br /> СБ с 9:00 до 16:00<br /> <span class="red">ВС -выходной</span></div>
                    </div>
                </div>

            </div>
        </div>

        <div class="clear"></div>

        <!-- footer -->
        <div id="footer_w">
            <div id="footer" class="container">
                <?php echo $this->action('footer', 'index', 'index');?>
            </div>
        </div>



    </div>
<!-- end page -->


<!-- pop-up -->
<div class="wrapper"></div>

<div id="zb1" class="z-box">
    <div class="close"></div>
    <p class="h2">Записаться на приём</p>
    <div class="formbox">
        <?php echo $this->action('contact', 'index', 'index');?>
    </div>
<div class="clear"></div>
</div>


<!-- thnx -->
<div class="thnx">
    <div class="close"></div>
    <div class="okay"></div>
    <a href="/" class="logo"><img src="/images/logo-f.png" alt=""/></a>
    <h2><span>Спасибо за обращение!</span><br>Мы свяжемся с Вами в течении 24 часов.</h2>
</div>



<!-- script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/jquery.mmenu.all.js" type="text/javascript"></script>
<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src="/js/site/placemark.js"></script>
<script src="/js/site/bootstrap.min.js"></script>
<script src="/js/site/fancybox/jquery.fancybox.min.js"></script>
<script src="/js/site/slick.min.js"></script>
<script src="/js/site/jquery.validate.js"></script>
<script src="/js/site/jquery.inputmask.js"></script>
<script src="/js/site/jquery.validate.js"></script><script src="/js/site/js.js?v=7"></script>
<?php echo $this->action('configyandexmetrika', 'index', 'settings');?>
</body>
</html>