<!doctype html>
<html lang="en">
<head>
    <?php echo $this->action('head', 'index', 'index');?>
</head>
<body>
<?php $pieces = explode("/", $_SERVER['REQUEST_URI']); ?>
<!-- page -->
    <div id="page"><div id="body-inner">
        <!-- top -->
        <div id="top_w">
            <div id="top" class="container">

                <div class="top_block_1">
                    <div class="logo_block">
                        <a href="/" class="logo"><img src="/images/logo.png" alt="DON-MAX изделия из нержавеющей стали"></a>
                    </div>

                    <div class="logo_text_block">
                        <h3>Производство карнизов, поручней и полотенцесушителей для ванных комнат из нержавеющей стали</h3>
                    </div>
                </div>

                <div class="top_block_2">
                    <div class="contact_block_1">
                        <div class="soc">
                            <a href="<?php echo $this->action('configsocialnetwork01', 'index', 'settings');?>" class="whatsapp"></a>
                            <a href="<?php echo $this->action('configsocialnetwork02', 'index', 'settings');?>" class="viber"></a>
                            <a href="<?php echo $this->action('configsocialnetwork03', 'index', 'settings');?>" class="skype"></a>
                        </div>

                        <div class="lang">
                            <a href="/" class="active">ru</a>
                            <a href="/">en</a>
                        </div>
                    </div>

                    <div class="contact_block_2">
                        <div class="contact_item_phone">
                            <a href="tel:+<?php echo $this->action('configtelephone01', 'index', 'settings');?>"><?php echo $this->action('configtelephone01', 'index', 'settings');?></a>
                        </div>
                        <div class="contact_item_phone">
                            <a href="/basket">
								<div class="cart_txt">Корзина</div>

								<div class="cart_icon">
									<span class="cart_count"><?php if($this->quantityCart) { echo $this->quantityCart; } else { ?>0<?php } ?></span>
								</div>
							</a>
                        </div>
                        <div class="mail_block">
                            <a href="mailto:donmax@donmax.ru">donmax@donmax.ru</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- navi -->
        <div id="nav_w">
            <div class="nav_w_line">
                <div id="nav" class="container">
                        <div class="navbar">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="collapse navbar-collapse" id="navbar">
                                    <ul class="nav navbar-nav" id="main-menu">
                                        <li class="dropdown" class="active">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Продукция <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li <?php if($pieces[2] == 'karnizy-dlya-vann-i-dushevyh') { ?> class="active"<?php } ?> ><a href="/catalog/karnizy-dlya-vann-i-dushevyh">Карнизы</a></li>
                                                <li <?php if($pieces[2] == 'pryamoj-karniz') { ?> class="active"<?php } ?>><a href="/product/pryamoj-karniz">Прямые карнизы<br/>Карнизы для поддонов</a></li>
                                                <li <?php if($pieces[2] == 'sushilki-dlya-bel-ya') { ?> class="active"<?php } ?>><a href="/catalog/sushilki-dlya-bel-ya">Сушилки для белья</a></li>
                                                <li <?php if($pieces[2] == 'poruchni-iz-nerzhaveyushej-stali') { ?> class="active"<?php } ?>><a href="/catalog/poruchni-iz-nerzhaveyushej-stali">Поручни</a></li>
                                                <li <?php if($pieces[2] == 'polotencesushiteli') { ?> class="active"<?php } ?>><a href="/catalog/polotencesushiteli">Полотенцесушители</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/wholesale-customers">Оптовикам</a></li>
                                        <li><a href="/payment-and-delivery">Оплата и доставка</a></li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Информация <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <?php echo $this->action('articlemenu', 'index', 'articles');?>
                                            </ul>
                                        </li>
                                        <li><a href="/about">О компании</a></li>
                                        <li><a href="/contacts">Контакты</a></li>
                                    </ul>
                                </div>
                            </div>
                     </div>

                 <div class="clear"></div>

                </div>
            </div>
        </div>


        <!-- product -->
        <div id="product_w">
            <div id="product" class="container">

            <div class="breadcrumbs">
    				<div class="breadcrumbs__block">
   					    <a href="/">Главная</a>
                        <span>/</span>
                        <a href="/catalog/<?php echo $this->url_seo_category; ?>"><?php echo $this->category_name; ?></a>
                        <span>/</span>
						<?php echo $this->product_model; ?>
     			    </div>
      		</div>

            <div class="clear"></div>

            <div class="product_block">

                <?php echo $this->layout()->content; ?>

            </div>

            <div class="clear"></div>

            </div>
        </div>

        <!-- manual -->
		<?php if($this->url_seo_category == 'karnizy-dlya-vann-i-dushevyh') { ?>
        <div id="manual_w">
            <div id="manual" class="container">

                <div class="manual_title">Рекомендации по установке карниза</div>

            <!--    <div class="manual_video"><img src="/images/manual_video.jpg" alt=""></div>-->

                <?php echo $this->action('recommendations', 'index', 'articles');?>

            <div class="clear"></div>

            </div>
        </div>
		<?php } ?>


        <!-- footer -->
        <?php echo $this->action('footer', 'index', 'index');?>



    </div>
<!-- end page -->

<div class="cd-callback-modal">
	<div class="cd-callback-modal-container">

		<div id="cd-callback"> <!-- callback form -->

            <div class="form_modal_title">Обратная связь</div>

            <?php echo $this->action('callback', 'index', 'index');?>

            <a href="#0" class="cd-close-callback-form">Закрыть</a>

		</div>

	</div> <!-- cd-callback-modal-container -->
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script src="/js/jquery.mmenu.all.js" type="text/javascript"></script>
<script src="/js/site/bootstrap.min.js"></script>
<script src="/js/site/jquery.inputmask.js"></script>
<script src="/js/site/callback_popup.js" type="text/javascript"></script>
<script src="/js/site/slick.min.js"></script>
<script src="/js/site/fancybox/jquery.fancybox.min.js"></script><script src="/js/site/js.js?v=7"></script>
<script src="/js/custom.js"></script>
<script src="/js/jquery.mask.js" type="text/javascript"></script>


</body>
</html>