<!doctype html>
<html lang="en">
<head>
    <?php echo $this->action('head', 'index', 'index');?>
</head>
<?php $pieces = explode("/", $_SERVER['REQUEST_URI']); ?>
<?php $bsPage = explode("/news/page/", $_SERVER['REQUEST_URI']);
    $bsTail = '';
    if(isset($bsPage[1]) && !empty($bsPage[1]) && $bsPage[1] > 0) {
    $bsTail = ' | Страница ' . $bsPage[1];
}?>
<body>
<!-- page -->
    <div id="page"><div id="body-inner">

        <!-- top -->
        <?php echo $this->action('mainheadmenu', 'index', 'index');?>
        <!-- end top -->

        <!-- header -->
        <div id="header_w">
            <div id="header" class="container">

                <div class="logo-h">
                    <a href="/"><img src="/images/logo-h.png"></a>
                </div>

                <div class="point-1">
                    <div class="adress"><span>Ростов-на-Дону,</span> <br /> пр. Космонавтов, 26</div>
                    <div class="tel-number">+7 (863) 218-24-24</div>
                    <div class="tel-number">+7 (863) 218-24-34</div>
                </div>

                <div class="point-2">
                    <div class="adress"><span>Ростов-на-Дону,</span> <br /> пр. Королева, 18</div>
                    <div class="tel-number">+7 (863) 231-03-03</div>
                    <div class="tel-number">+7 (863) 278-03-03</div>
                </div>

                <div class="work-clock">
                    <span>Режим работы:</span> <br /> ПН-ПТ 9.00-19.00 <br /> СБ с 9.00-16.00 <br /> ВС -выходной
                </div>

            </div>
        </div><!-- end header -->

		<div class="clear"></div>

        <!-- box-11 -->
        <div id="box_11_w">

            <h1 class="title-box-11">Акции и новости <?php echo $bsTail;?></h1>

            <div id="box_11" class="container">
                <div class="breadcrumbs">
                    <a href="/">Главная</a> <span>/</span> <span>Новости</span>
                </div>
            	<div class="news_wrap">
					<?php echo $this->layout()->content; ?>
            	</div>



            </div>
        </div>

		<div class="clear"></div>




        <?php if($pieces[1] == 'about') { ?>
        <!-- box-5 -->
        <div id="box_5_w">
            <div id="box_5" class="container">

                <div class="title-box-5">Лицензии</div>

                <div class="licenses">
                        <div class="licenses-item">
                            <a data-fancybox="gallery" href="/images/mini-license-1.jpg"><img src="/images/license-1.jpg" />
                                <div class="gallery-zoom">
        							<img src="/images/zoom.png">
        						</div>
                            </a>
                        </div>

                        <div class="licenses-item">
                            <a data-fancybox="gallery" href="/images/mini-license-2.jpg"><img src="/images/license-1.jpg" />
                                <div class="gallery-zoom">
        							<img src="/images/zoom.png">
        						</div>
                            </a>
                        </div>

                        <div class="licenses-item">
                            <a data-fancybox="gallery" href="/images/mini-license-3.jpg"><img src="/images/license-1.jpg" />
                                <div class="gallery-zoom">
        							<img src="/images/zoom.png">
        						</div>
                            </a>
                        </div>

                </div>

            </div>
        </div>
		<?php } ?>
		<?php if($pieces[1] == 'reception-hours') { ?>
		<!-- box-3 -->
        <div id="box_3_w">
            <div id="box_3" class="container">

                <div class="title-box-3">Наша команда</div>

                <div class="team slider slick-slider">

                    <div  class="slick-slide">
                            <a href="/"><img src="/images/team-1.jpg"/></a>
                            <div class="fio">
                                <div class="first-name">Савельева</div>
                                <div class="full-name">Ольга Викторовна</div>
                            </div>
                            <div class="career">Главный врач</div>
                            <div class="but-callback button-3 but3-1">Записаться <br /> на консультацию</div>
                    </div>

                    <div  class="slick-slide">
                            <a href="/"><img src="/images/team-1.jpg"/></a>
                            <div class="fio">
                                <div class="first-name">Савельева</div>
                                <div class="full-name">Ольга Викторовна</div>
                            </div>
                            <div class="career">Главный врач</div>
                            <div class="but-callback button-3 but3-1">Записаться <br /> на консультацию</div>
                    </div>

                    <div  class="slick-slide">
                            <a href="/"><img src="/images/team-1.jpg"/></a>
                            <div class="fio">
                                <div class="first-name">Савельева</div>
                                <div class="full-name">Ольга Викторовна</div>
                            </div>
                            <div class="career">Главный врач</div>
                            <div class="but-callback button-3 but3-1">Записаться <br /> на консультацию</div>
                    </div>

                    <div  class="slick-slide">
                            <a href="/"><img src="/images/team-1.jpg"/></a>
                            <div class="fio">
                                <div class="first-name">Савельева</div>
                                <div class="full-name">Ольга Викторовна</div>
                            </div>
                            <div class="career">Главный врач</div>
                            <div class="but-callback button-3 but3-1">Записаться <br /> на консультацию</div>
                    </div>

                    <div  class="slick-slide">
                            <a href="/"><img src="/images/team-1.jpg"/></a>
                            <div class="fio">
                                <div class="first-name">Савельева</div>
                                <div class="full-name">Ольга Викторовна</div>
                            </div>
                            <div class="career">Главный врач</div>
                            <div class="but-callback button-3 but3-1">Записаться <br /> на консультацию</div>
                    </div>

                </div>

            </div>
        </div>
		<?php } ?>

        <div class="clear"></div>






        <!-- box-8 -->
        <div id="box_8_w">
            <div id="box_8" class="container">

                <div class="title-box-8">Контакты</div>

                <div class="contact-box">
                    <div class="contact-col-1">
                        <div class="contact-title">“Триумф-элит”<br /><span>на Королева</span></div>
                        <div class="contact-adress">Ростов-на-Дону, 344113<br /> пр. Королева, 18</div>
                        <a href="tel:+78633033957" class="contact-tel">+7 (863) 303-39-57</a>
                        <div class="contact-clock"><span class="bold">Режим работы:</span><br />ПН-ПТ с 9:00 до 19:00<br /> СБ с 9:00 до 16:00<br /> <span class="red">ВС -выходной</span></div>
                    </div>
                    <div class="contact-col-2">
                        <div id="mymap"></div>
                    </div>
                    <div class="contact-col-3">
                        <div class="contact-title">“Триумф-элит”<br /><span>на Космонавтов</span></div>
                        <div class="contact-adress">Ростов-на-Дону, 344113<br /> пр. Космонавтов, 26</div>
                        <a href="tel:+78632182424" class="kosmonavtovPhone contact-tel">+7 (863) 218-24-24<br /> +7 (863) 218-24-34</a>
                        <div class="contact-clock"><span class="bold">Режим работы:</span><br />ПН-ПТ с 9:00 до 19:00<br /> СБ с 9:00 до 16:00<br /> <span class="red">ВС -выходной</span></div>
                    </div>
                </div>

            </div>
        </div>

        <div class="clear"></div>

        <!-- footer -->
        <div id="footer_w">
            <div id="footer" class="container">
                <?php echo $this->action('footer', 'index', 'index');?>
            </div>
        </div>



    </div>
<!-- end page -->


<!-- pop-up -->
<div class="wrapper"></div>

<div id="zb1" class="z-box">
    <div class="close"></div>
    <p class="h2">Записаться на приём</p>
    <div class="formbox">
        <?php echo $this->action('contact', 'index', 'index');?>
    </div>
<div class="clear"></div>
</div>


<!-- thnx -->
<div class="thnx">
    <div class="close"></div>
    <div class="okay"></div>
    <a href="/" class="logo"><img src="/images/logo-f.png" alt=""/></a>
    <h2><span>Спасибо за обращение!</span><br>Мы свяжемся с Вами в течении 24 часов.</h2>
</div>



<!-- script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="/js/jquery.mmenu.all.js" type="text/javascript"></script>
<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src="/js/site/placemark.js"></script>
<script src="/js/site/bootstrap.min.js"></script>
<script src="/js/site/fancybox/jquery.fancybox.min.js"></script>
<script src="/js/site/slick.min.js"></script>
<script src="/js/site/jquery.inputmask.js"></script>
<script src="/js/site/jquery.validate.js"></script>
<script src="/js/site/js.js?v=7"></script>


    <script type="text/javascript">
                //Блок спрятанного текста

            	var allHeight = $('.about_text').outerHeight(),
            		fixHeight = 290;
            		hideText = $('.about_text');

            		hideText.addClass('hide');
            		hideText.height(fixHeight);

            	// спрятать/показать текст
            	$('.btn_dropdown_about_text span').on('click', function(){

            		if (hideText.hasClass('hide')){
            			hideText.removeClass('hide');
            			hideText.height(allHeight);
            			$('.about_text_fill').css('display', 'none');
                        $( "div.btn_dropdown_about_text span" ).html('Свернуть');

            		} else{
            			hideText.addClass('hide');
            			hideText.height(fixHeight);
            			$('.about_text_fill').css('display', 'block');
                        $( "div.btn_dropdown_about_text span" ).html('Далее');
            		}
            	});
            </script>
<?php echo $this->action('configyandexmetrika', 'index', 'settings');?>
</body>
</html>