<?php
    echo $this->headTitle('Страница администратора');   
    $filter = new Zend_Filter_StringTrim();
?>
<div class="right_col" role="main">         

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="dashboard_graph">

            <!--    <div class="row x_title">
                  <div class="col-md-6">
                    <h3>Личный кабинет</h3>
                  </div>
                  <div class="col-md-6">                 
                  </div>
                </div> -->
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="col-lg-2">                 
                  </div>
                  <div id="test-folder" class="col-lg-8" style="text-align: center;">Для того, чтобы попасть в нашу  <a href="#">базу лучших заведений Крыма</a>, Вам необходимо ознакомиться с 
                  <a href="#">"Соглашением" (ссылка на Соглашение)</a> и подписать <a href="#">Договор сотрудничества (ссылка на скачивание)</a> </div>
                  <div class="col-lg-2">                 
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>

          </div>
         
</div>    