<?php
    echo $this->headTitle('Страница Личная информация');   
    $filter = new Zend_Filter_StringTrim();
?>
<div class="right_col" role="main">         

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="dashboard_graph">

                <div class="row x_title">
                  <div class="col-md-6">
                    <h3>Личный кабинет</h3>
                  </div>
                  <div class="col-md-6">                 
                  </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="col-lg-2">                 
                  </div>
                  <div id="test-folder" class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                     <div class="x_content">
                        <br />
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
    
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Фамилия <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Имя <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                          </div>
                          
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Дата рождения <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="birthday" class="date-picker form-control col-md-5 col-xs-12" required="required" type="text">
                            </div>
                          </div>
                          
                          <div class="form-group">
                            <label for="city" class="control-label col-md-3 col-sm-3 col-xs-12">Город </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="city" class="form-control col-md-7 col-xs-12" type="text" name="city">
                            </div>
                          </div>
                          
                          <div class="form-group">
                            <label for="email" class="control-label col-md-3 col-sm-3 col-xs-12">E-mail</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="email" class="form-control col-md-7 col-xs-12" type="text" name="email">
                            </div>
                          </div>
                          
                          <div class="form-group">
                            <label for="phone" class="control-label col-md-3 col-sm-3 col-xs-12">Номер телефона </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="phone" class="form-control col-md-7 col-xs-12" type="text" name="phone">
                            </div>
                          </div>
                          
                          <div class="form-group">
                            <label for="password" class="control-label col-md-3 col-sm-3 col-xs-12">Пароль </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="password" class="form-control col-md-7 col-xs-12" type="text" name="password">
                            </div>
                          </div>
                          
                          <div class="form-group">
                            <label for="repassword" class="control-label col-md-3 col-sm-3 col-xs-12">Сменить пароль </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="repassword" class="form-control col-md-7 col-xs-12" type="text" name="repassword">
                            </div>
                          </div>
                          
                          <div class="form-group">
                            <div class="control-label col-md-3 col-sm-3 col-xs-12"><a href="index.html">Восстановить пароль </a></div>
                            <div  class="col-md-6 col-sm-6"></div>                            
                          </div>
                          
                          
                          <div class="ln_solid"></div>
                          <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                              <button type="submit" class="btn btn-success">Сохранить</button>
                            </div>
                          </div>
    
                        </form>
                      </div>
                  </div>
                  <div class="col-lg-2">                 
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>

          </div>
         
</div>

    