<?php
    $translate = Zend_Registry::get('Zend_Translate');   
?>
<br />
<br /><br />
<div id="rt-feature">
				<div class="rt-container">
										<div class="clear"></div>
				</div>
			</div>
			<div id="rt-main" class="mb12">
			<div class="rt-container">
    <h2><?php echo $translate->translate('Are you sure you want to delete your avatar?'); ?></h2>
        <form action="<?php echo $this->url(array('action'=>'deleteavatar')); ?>" method="post">
            <div>
                <input type="hidden" name="user_id" value="<?php echo $this->user['user_id']; ?>" />
                <button type="submit" name="del" value="yes" ><?php echo $translate->translate('Yes'); ?></button>
                <button type="submit" name="del" value="No" ><?php echo $translate->translate('No'); ?></button>
            </div>
        </form>
</div></div>