
<div id="rt-feature">
				
			
			
	    <table width="50%"  border="0" align = "center">
            <tr>
		        <td align="left"><p align = "center" ><font size="4" color="red" face="Arial"><?php echo $this->errMessage; ?></font></p>
                    <div id="signupform">
		                
                      <?php echo $this->form; ?>&nbsp;
                    </div>
                </td>
		    </tr>
	    </table>
</div>
