<?php $filter = new Zend_Filter_StringTrim();?>

		
		    <?php if($this->user["avatar_file"]) { ?>
			<div id="response_avatar_image"> 
             <img src="<?php echo $this->webhost;?>/media/photos/user_avatar/<?php echo $this->user["avatar_file"]; ?>" border = "0" height = "90"  ><br><br>  
       <!--     <div id="status_remove_avatar_image"><a href="#" class="remove_avatar_image" data-status-avatar-image="<?php echo $this->user["user_id"]; ?>" >Удалить</a></div> -->
             <?php } else {?>
			 <img src="<?php echo $this->webhost;?>/media/photos/user_avatar/nophoto_user_thumb_icon.jpg" border = "1" height = "90" WIDTH = "90" >
             <?php } ?><br /><br />
		    <ul>
			<li>
				<a class="" href="/members/personalinformation/addavatar">Добавить аватар</a>
			</li><br />
			
			<li>
				<a class="" href="/members/personalinformation/deleteavatar">Удалить аватар</a>
			</li><br />

			<li>
				<a class="" href="/members/personalinformation/updatepass">Изменить пароль</a>
			</li><br />
			
			<li>
				<a class="" href="/members/personalinformation/editaccount">Редактировать аккаунт</a>
			</li>
			</ul>

 	
    
