<?php
    $translate = Zend_Registry::get('Zend_Translate');   
?>
<br />
<br /><br />
<div id="rt-feature">
                <div class="rt-container">
                                        <div class="clear"></div>
                </div>
            </div>
            <div id="rt-main" class="mb12">
            <div class="rt-container">
        <table border="0" width="60%" align="center">
            <tr>
                <td>
                    <p><a class="k2ReadMore" href="<?php echo $this->url(array('module'=>'user', 'controller'=>'account', 'action'=>'updatesubscription', 'user_id' => $this->user["user_id"] ), 
'default', 
true);?>"><?php echo "Редактировать"; ?></a></p><br />
                </td>
            </tr>
            <tr>
                <td>
                    
                       Статус подписки: <?php if($this->user['subscription'] == 0) echo "Включена"; else echo "Отключена";?> 
                    
                </td>
            </tr> 
        </table>  
</div></div>