<?php
    $translate = Zend_Registry::get('Zend_Translate');   
?>
<br />
<br /><br />
<div id="rt-feature">
                <div class="rt-container">
                                        <div class="clear"></div>
                </div>
            </div>
            <div id="rt-main" class="mb12">
            <div class="rt-container">
        <table border="0" width="60%" align="center">  
            <tr>
                <td><p align = "center" ><font size="4" color="red" face="Arial"><?php echo $this->errMessage; ?></font></p>
                    
                       <?php echo $this->form; ?>
                    
                </td>
            </tr> 
        </table>  
</div></div>