<?php foreach ($this->sliders as $slider) { ?>
	<div  class="slick-slide">
	<?php if( $slider['slider_url'] ) { ?>
		<a href="/our-team/<?php echo $slider['slider_url']; ?>"><img src="<?php echo $this->host;?>/media/photos/slider/small_<?php echo $slider['image']; ?>"/></a>
	<?php } else { ?>
		<a href="/"><img src="<?php echo $this->host;?>/media/photos/slider/small_<?php echo $slider['image']; ?>"/></a>
	<?php } ?>
		<div class="fio">
			<div class="first-name"><?php echo $slider['slider_title']; ?></div>
			<div class="full-name"><?php echo $slider['slider_title_extra']; ?></div>
		</div>                            
		<div class="career"><?php echo $slider['slider_title_01']; ?></div>                             
		<div class="but-callback button-3 but3-1">Записаться <br /> на консультацию</div>                
	</div>
<?php } ?> 		
