<?php $counter = 0;?>
<?php foreach ($this->sliders as $slider) { ?>

	<?php if( $slider['department'] == 0) {?>
		<?php if( $counter == 0) {?>
			<h2 class="col-md-12 col-xs-12 docBlockSubTitle st pb-30">Стоматология</h2>
		<?php } ?>
		<div class="docBlock p-15 col-xs-12 col-sm-6 col-md-4 mb-30">
			<a class="d-block text-center h-100" href="/our-team/<?php echo $slider['slider_url']; ?>">
				<img class="img-responsive center-block pb-15" src="<?php echo $this->host;?>/media/photos/slider/small_<?php echo $slider['image']; ?>"/>
				<div class="doctor__specialization">
					<span class="doctor__title-small"><?php echo $slider['slider_title'];?> <?php echo $slider['slider_title_extra'];?></span><br>
					<?php echo $slider['slider_title_01']; ?>
				</div>
				<hr>
				<div class="doctor__worktime">
					<?php if( $slider['slider_worktime'] != '' ) {?>
					<div class="doctor__worktime-title pb-10">Часы приема:</div>
					<ul class="doctor__worktime-list list-inline pl-0">
						<?php 
							$wtArr = explode(';', $slider['slider_worktime']); 
							foreach($wtArr as $wtValue) {
								if($wtValue != '') echo '<li>'.$wtValue.'</li>';
							}
						?>
					</ul><hr>
					<?php }?>
				</div>
			</a>
			<?php if($slider['clinic_number'] == 1) { ?>
				<div class="kos doctor__clinic mt-a pb-10">Клиника на Космонавтов</div>
			<?php } elseif($slider['clinic_number'] == 2) { ?>
				<div class="kos doctor__clinic mt-a pb-10">Клиника на Королева</div>
			<?php }?>
			<div class="but-callback button-3 but3-1 d-inline-block mt-a">Записаться на прием</div>
		</div>
	<?php $counter++; } ?>
<?php } ?>

<?php $counter = 0;?>
<?php foreach ($this->sliders as $slider) { ?>

	<?php if( $slider['department'] == 1) {?>
		<?php if( $counter == 0) {?>
			<h2 class="col-md-12 col-xs-12 docBlockSubTitle kos pb-30">Косметология</h2>
		<?php } ?>
		<div class="docBlock p-15 col-xs-12 col-sm-6 col-md-4 mb-30">
			<a class="d-block text-center h-100" href="/our-team/<?php echo $slider['slider_url']; ?>">
				<img class="img-responsive center-block pb-15" src="<?php echo $this->host;?>/media/photos/slider/small_<?php echo $slider['image']; ?>"/>
				<div class="doctor__specialization">
					<span class="doctor__title-small"><?php echo $slider['slider_title'];?> <?php echo $slider['slider_title_extra'];?></span><br>
					<?php echo $slider['slider_title_01']; ?>
				</div>
				<hr>
				<div class="doctor__worktime">
					<?php if( $slider['slider_worktime'] != '' ) {?>
					<div class="doctor__worktime-title pb-10">Часы приема:</div>
					<ul class="doctor__worktime-list list-inline pl-0">
						<?php 
							$wtArr = explode(';', $slider['slider_worktime']); 
							foreach($wtArr as $wtValue) {
								if($wtValue != '') echo '<li>'.$wtValue.'</li>';
							}
						?>
					</ul><hr>
					<?php }?>
				</div>
			</a>
			<?php if($slider['clinic_number'] == 1) { ?>
				<div class="kos doctor__clinic mt-a pb-10">Клиника на Космонавтов</div>
			<?php } elseif($slider['clinic_number'] == 2) { ?>
				<div class="kos doctor__clinic mt-a pb-10">Клиника на Королева</div>
			<?php }?>
			<div class="but-callback button-3 but3-1 d-inline-block mt-a">Записаться на прием</div>
		</div>
	<?php $counter++; } ?>
<?php } ?>

<?php $counter = 0;?>
<?php foreach ($this->sliders as $slider) { ?>

	<?php if( $slider['department'] == 2) {?>
		<?php if( $counter == 0) {?>
			<h2 class="col-md-12 col-xs-12 docBlockSubTitle adm pb-30">Администраторы</h2>
		<?php } ?>
		<div class="docBlock p-15 col-xs-12 col-sm-6 col-md-4 mb-30">
			<div class="d-block text-center h-100" <?php //href="# //echo $slider['slider_url']; // /our-team/"?>>
				<img class="img-responsive center-block pb-15" src="<?php echo $this->host;?>/media/photos/slider/small_<?php echo $slider['image']; ?>"/>
				<div class="doctor__specialization">
					<span class="doctor__title-small"><?php echo $slider['slider_title'];?> <?php echo $slider['slider_title_extra'];?></span><br>
					<?php echo $slider['slider_title_01']; ?>
				</div>
				<div class="doctor__worktime">
					<?php if( $slider['slider_worktime'] != '' ) {?>
					<div class="doctor__worktime-title pb-10">Часы приема:</div>
					<ul class="doctor__worktime-list list-inline pl-0">
						<?php 
							$wtArr = explode(';', $slider['slider_worktime']); 
							foreach($wtArr as $wtValue) {
								if($wtValue != '') echo '<li>'.$wtValue.'</li>';
							}
						?>
					</ul><hr>
					<?php }?>
				</div>
				<?php if($slider['clinic_number'] == 1) { ?>
					<div class="kos doctor__clinic mt-a pb-10">Клиника на Космонавтов</div>
				<?php } elseif($slider['clinic_number'] == 2) { ?>
					<div class="kos doctor__clinic mt-a pb-10">Клиника на Королева</div>
				<?php }?>
			</div>
		</div>
	<?php $counter++; } ?>
<?php } ?>