<div class="breadcrumbs">
  <a href="/">Главная</a> <span>/</span> <a href="/reception-hours">Сотрудники</a> <span>/</span> <span><?php echo $this->slider['slider_title'];?> <?php echo $this->slider['slider_title_extra'];?></span>
</div>
<div class="doctor__wrapper pb-30 row">
	<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 doctor__left">
		<h1 class="doctor__title mt-0 pb-30"><strong class="<?if($this->slider['department'] == 0):?>st<?elseif($this->slider['department'] == 2):?>adm<?endif?>"><?php echo $this->slider['slider_title'];?> <?php echo $this->slider['slider_title_extra'];?></strong></h1>
		<div class="doctor__text">
			<?php echo $this->slider['slider_text']; ?>
		</div>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 doctor__right text-center">
		<img class="img-responsive center-block pb-15" src="<?php echo $this->host;?>/media/photos/slider/small_<?php echo $this->slider['image']; ?>" alt="<?php echo $this->slider['alt'];?>"/>
		<div class="doctor__specialization">
			
			<?php echo $this->slider['slider_title_01']; ?>
		</div><hr>
		<div class="doctor__worktime">
			<?php if( $this->slider['slider_worktime'] != '' ) {?>
			<div class="doctor__worktime-title pb-10">Часы приема:</div>
			<ul class="doctor__worktime-list list-inline pl-0">
				<?php 
					$wtArr = explode(';', $this->slider['slider_worktime']); 
					foreach($wtArr as $wtValue) {
						if($wtValue != '') echo '<li>'.$wtValue.'</li>';
					}
				?>
			</ul><hr>
			<?php }?>
			<?php if($this->slider['clinic_number'] == 1) { ?>
				<div class="kos doctor__clinic mt-a pb-10">Клиника на Космонавтов</div>
			<?php } elseif($this->slider['clinic_number'] == 2) { ?>
				<div class="kos doctor__clinic mt-a pb-10">Клиника на Королева</div>
			<?php }?>
			<?php if( $this->slider['department'] != 2 ) {?>
				<div class="but-callback button-3 but3-1 d-inline-block">Записаться на прием</div>
			<?php }?>
		</div>
	</div>
	<div class="clear"></div>
	<?php 
	$showPhotos = false;
	foreach($this->slider_photo as $photo) {
		if($photo->photo_file != '') {
			$showPhotos = true;
			break;
		}
	} ?>

	<div class="col-md-12">
	<?php if( $showPhotos ) { ?>
		<h2><b>Личные сертификаты:</b></h2>
			<div class="certificates">
				<?php foreach($this->slider_photo as $photo) { ?>
					<div class="certificate-item">
						<a data-fancybox="gallery" href="<?php echo $this->host;?>/media/photos/slider/big_<?php echo $photo->photo_file; ?>"><img src="<?php echo $this->host;?>/media/photos/slider/small_<?php echo $photo->photo_file; ?>">
							<div class="gallery-zoom">
								<img src="/images/zoom.png">
							</div>
						</a>
					</div>
				<?php } ?>           
		    </div>
		        
		<div class="clear"></div>
	<?php } ?>
	</div>
</div>