<?php   
    echo $this->headTitle("Редактирование - перевод");

    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tinymce/jscripts/tiny_mce/tiny_mce.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );
    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tiny_mce_init.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );
    echo $this->inlineScript();
?>
<div class=""> 
    <h1 class="page-title">Перевод</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/lang">Перевод</a> </li>
    </ul>
</div> 
<?php echo $this->form; ?>
    
       
  

    
    

 
