<!--<a class="btn btn-midle" href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'lang', 'action'=>'add'));?>" title="">Добавить</a>-->
<table id="content-realty-search-table" cellpadding="0" cellspacing="0">
            <tr>
                <td align="left"  width="20%">
                
                </td> 
            </tr>
                
<?php foreach($this->translations_text as $text) { ?> 
            <tr>
                <td  width="90%"> 
                    <a class="btn btn-midle" href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'lang', 'action'=>'edit', 'translation_id' => 
$text->translation_id));?>" title="<?php echo "Редактировать";?>"><img src="<?php echo $this->host;?>/images/adminimages/b_edit.png" border="0"></a>
                    <?php  echo  $text["translations_value"]; ?><br><br>
                </td> 
                
            </tr>    

    <?php } ?> 
</table>
  
  

	
	
