<?php echo $this->headTitle("Перевод"); ?>
<div class="header"> 
    <h1 class="page-title">Перевод</h1>
    <ul class="breadcrumb">
        <li class="active">Перевод</li>
    </ul>
</div> 
<div class="row">
  <div class="col-md-10">  
    <ul class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab">Русский</a></li>
        <li><a href="#profile" data-toggle="tab">Английский</a></li>
    </ul>
    <br>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane active in" id="home">
           <!--<a class="btn btn-midle" href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'lang', 'action'=>'add'));?>" title="">Добавить</a> -->
<table id="content-realty-search-table" cellpadding="0" cellspacing="0">
            <tr>
                <td align="left"  width="20%">
                
                </td> 
            </tr>
                
<?php foreach($this->translations_text_ru as $text) { ?> 
            <tr>
                <td  width="90%"> 
                    <a href="<?php echo '/admin/lang/edit/translation_id/'.$text->translation_id;?>" title="<?php echo "Редактировать";?>" class="btn btn-small btn-info"><i class="btn-icon-only icon-edit"></i></a>&nbsp;&nbsp;
                    <?php  echo  $text["translations_value"]; ?><br><br>
                </td> 
                
            </tr>    

    <?php } ?> 
</table>
</div>
<div class="tab-pane fade" id="profile">
    <!--<a class="btn btn-midle" href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'lang', 'action'=>'add'));?>" title="">Добавить</a>-->
<table id="content-realty-search-table" cellpadding="0" cellspacing="0">
            <tr>
                <td align="left"  width="20%">
                
                </td> 
            </tr>
                
<?php foreach($this->translations_text_en as $text) { ?> 
            <tr>
                <td  width="90%"> 
                    <a href="<?php echo '/admin/lang/edit/translation_id/'.$text->translation_id;?>" title="<?php echo "Редактировать";?>" class="btn btn-small btn-info"><i class="btn-icon-only icon-edit"></i></a>&nbsp;&nbsp;
                    <?php  echo  $text["translations_value"]; ?><br><br>
                </td> 
                
            </tr>    

    <?php } ?> 
</table>
       
</div>
</div>
</div>
</div>
 
  
  

	
	
