<legend>Please Login</legend>
<form method="post" action="<?php $this->form_login->getAction()?>" enctype="multipart/form-data">
	<div class="form-inner">
		<div class="input-prepend">
											
			<span class="add-on" rel="tooltip" title="Username" data-placement="top"><i class="icon-envelope"></i></span>
			<?php echo $this->form_login->username; ?>
		</div>

		<div class="input-prepend">
			<span class="add-on"><i class="icon-key"></i></span>
			<?php echo $this->form_login->password; ?>
		</div>
	</div>
	<footer class="signin-actions">
		<?php echo $this->form_login->submit; ?>
	</footer>
</form>