<?php 
  echo $this->headTitle("Добавить нового администратора");
?> 
<div class="header"> 
    <h1 class="page-title">Добавление пользователя</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/adminusers">Администраторы</a></li> &gt;&gt;
        <li class="active">Добавить</li>
    </ul>
</div>
<div class="dialog">
    <div class="panel panel-default"> 
        <div class="panel-body">
            <form method="post" action="<?php $this->form->getAction()?>" enctype="multipart/form-data">
                <div class="form-group">
                    <?php echo $this->form->user_role; ?>
                </div>
                <div class="form-group">
                    <?php echo $this->form->username; ?>
                </div>
                <div class="form-group">
                    <?php echo $this->form->email; ?>
                </div>
                <div class="form-group">
                    <?php echo $this->form->password; ?>
                </div>
                <div class="form-group">
                    <?php echo $this->form->passconf; ?>
                </div>
                <div class="clearfix"></div>
                <?php echo $this->form->submit; ?>
                <div class="clearfix"></div>
                <div class="form-group">
                    <?php echo $this->form->csrf; ?>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>