<?php echo $this->headTitle("Администраторы");?>
<div class="header"> 
    <h1 class="page-title">Администраторы</h1>
    <ul class="breadcrumb">
        <li class="active">Администраторы</li>
    </ul>
</div> 
<a class="btn btn-primary" href="<?php echo 'adminusers/addusers';?>" title=""><i class="btn-icon-only icon-plus-sign"></i>Добавить администратора</a>

<table class="table table-hover">
    <thead>
        <tr> 
            <th width="25%">Имя</th> 
            <th width="25%">Email</th> 
            <th width="10%">Статус</th> 
            <th width="15%">Добавлено</th> 
            <th width="15%">Последний вход</th> 
            <th width="10%">Редактировать</th> 
            <th width="10%">Удалить</th> 
        </tr> 
    </thead>
    <tbody>
    <?php foreach($this->paginator as $users) : ?>
	<tr>
        <td><?php echo $this->escape($users->username); ?></td>    
    
        <td><?php echo $this->escape($users->email); ?></td>    
    
        <td align="center"><?php echo $this->escape($users->user_role);?></td>    
    
        <td align="center"><?php echo $this->escape($users->last_access); ?></td>    
    
        <td align="center"><?php echo $this->escape($users->creation_date); ?></td>  
        <td align="center">
            <a href="<?php echo 'adminusers/editusers/user_id/'.$users->user_id;?>" title="<?php echo "Редактировать";?>" class="btn btn-small btn-info"><i class="btn-icon-only icon-edit"></i></a>
        </td>
        <td align="center">
            <a href="<?php echo 'adminusers/delete/user_id/'.$users->user_id; ?>" class="btn btn-small btn-danger"><i class="btn-icon-only icon-trash"></i></a>
        </td>
    </tr>
    <?php endforeach; ?>
    </tbody>
</table>
    
</br>
<?php echo $this->paginationControl($this->paginator, 'Elastic', 'controls.phtml'); ?>

