<?php 
$this->inlineScript()->appendFile(
    $this->baseUrl('js/tinymce/jscripts/tiny_mce/tiny_mce.js'),
    'text/javascript', array('charset' => 'UTF-8')
);
$this->inlineScript()->appendFile(
    $this->baseUrl('js/site/tiny_mce_init.js'),
    'text/javascript', array('charset' => 'UTF-8')
);
echo $this->inlineScript();
?>
    <p align = "center" ><font size="3" color="red" face="Arial"><?php echo $this->errMessage; ?></font></p>
   
        <?php echo $this->form; ?>
