<?php
    $this->title = "Удаление фото";
    $this->headTitle($this->title);
?>
</br></br>
<h3>Вы действительно хотите удалить фото 
<img src="<?php echo $this->host;?>/images/main_photos/l_<?php echo $this->main_photo["main_photo"]; ?>" border = "1" height = "140" width = "190" > ?
</h3>
<form action="<?php echo $this->url(array('action'=>'deletemainphoto')); ?>" method="post">
    <div>
        <input type="hidden" name="main_photo" value="<?php echo $this->main_photo["main_photo"]; ?>" />
        <button type="submit" name="del" value="yes" >Да</button>
        <button type="submit" name="del" value="No" >Нет</button>
    </div>
</form>