<?php
    $this->title = "Удаление фото";
    $this->headTitle($this->title);
?>
</br></br>
<h3>Вы действительно хотите удалить фото
<img src="<?php echo $this->host;?>/photos/l_<?php echo $this->photo['photo_file']; ?>" border = "1" height = "140" width = "190" > ?
</h3>
<form action="<?php echo $this->url(array('action'=>'delete')); ?>" method="post">
    <div>
        <input type="hidden" name="photo_id" value="<?php echo $this->photo['photo_id']; ?>" />
        <button type="submit" name="del" value="yes" >Да</button>
        <button type="submit" name="del" value="No" >Нет</button>
    </div>
</form>