<?php echo $this->headTitle(укцукцук"); ?>

        <table border="0" width="60%" align="center">	
	        <tr>
                <td>
		            <img src="<?php echo $this->webhost;?>/images/main_photos/l_<?php echo $this->realestate; ?>" border = "1" height = "200" WIDTH = "280" >
                </td>
            </tr> 
		    <tr>
                <td><p align = "center" ><font size="4" color="red" face="Arial"><?php echo $this->errMessage; ?></font></p>
                    <div id="poetryform">
                       <?php echo $this->form; ?>
                    </div>
                </td>
            </tr> 
        </table>  