<?php $filter = new Zend_Filter_StringTrim();?>
</br><a class="btn btn-midle" href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'photo', 'action'=>'add'));?>" title="">Добавить фото в галлерею</a> 

<table border="0" width="100%" class="poetrylist">

<?php if(isset($this->realestate) and !empty($this->realestate) and $this->realestate != NULL) {       ?>

	<tr>
        <th width="20%"><?php echo "Главное фото"; ?></th>
		<th width="15%"><?php echo "Редактировать"; ?></th>
		<th width="15%"><?php echo "Удалить"; ?></th>      
    </tr>
	
	<tr>
        <input  type = "hidden" name="photo_id" value="<?php echo $this->escape($photo->photo_id); ?>" />
		<input  type = "hidden" name="realestate_id" value="<?php echo $this->escape($photo->realestate_id); ?>" />   
    </tr>
    <tr>
	    <td>
            <img src="<?php echo $this->host;?>/images/main_photos/l_<?php 
			echo $this->realestate; ?>" border = "1" height = "140" WIDTH = "190" >
        </td>
		
		<td align="center"><a class="btn btn-midle" href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'photo', 'action'=>'editmainphoto', 'realestate_id' => 
$this->realestate_id));?>"><img src="<?php echo $this->host;?>/images/adminimages/b_edit.png" border="0"></a></td>
		
        <td align="center"><a class="btn btn-midle" href="<?php echo $this->url(array('module'=>'admin', 'controller' => 'photo', 'action' => 'deletemainphoto', 'realestate_id' => 
$this->realestate_id)); ?>"><img src="<?php echo $this->webhost;?>/images/adminimages/b_drop.png" border="0"></a></td>
    </tr>
<?php } else {?> 
    <a class="btn btn-midle" href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'photo', 'action'=>'addmainphoto'));?>" title="">Добавить главное фото</a>

<?php } ?>	
    </br>
    <tr>
        <th width="20%"><?php echo "Фото в галлерее"; ?></th>
		<th width="15%"><?php echo "Редактировать"; ?></th>
		<th width="15%"><?php echo "Удалить"; ?></th>      
    </tr>
    
	<?php foreach($this->paginator as $photo) : ?>
	<tr>
        <input  type = "hidden" name="photo_id" value="<?php echo $this->escape($photo->photo_id); ?>" />
		<input  type = "hidden" name="realestate_id" value="<?php echo $this->escape($photo->realestate_id); ?>" />   
    </tr>
    <tr>
	    <td>
            <img src="<?php echo $this->host;?>/photos/l_<?php echo $photo->photo_file; ?>" border = "1" height = "140" WIDTH = "190" >
        </td>
		
		<td align="center"><a class="btn btn-midle" href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'photo', 'action'=>'editphoto', 'photo_id' => $photo->photo_id));?>"><img 
src="<?php echo $this->host;?>/images/adminimages/b_edit.png" border="0"></a></td>
		
        <td align="center"><a class="btn btn-midle" href="<?php echo $this->url(array('module'=>'admin', 'controller' => 'photo', 'action' => 'delete', 'photo_id' => $photo->photo_id)); ?>"><img src="<?php echo $this->webhost;?>/images/adminimages/b_drop.png" border="0"></a></td>
    </tr>
	<?php endforeach; ?>
</table>
</br>
<?php echo $this->paginationControl($this->paginator, 'Elastic', 'controls.phtml'); ?>
