<?php 
    echo $this->headTitle("Загрузка фото"); 
?> 
<div class=""> 
    <h1 class="page-title">Загрузка фото</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/admincontacts">Контакты</a></li> &gt;&gt;
        <li> <a href="/admin/admincontactsphoto/index">Фото для страницы</a></li> &gt;&gt;
        <li class="active">Загрузка фото</li>
    </ul>
</div>
<div class="box"> 
<div class="box-content">
<div class="">
  <div class="col-md-5">
    <div class="panel panel-default"> 
        <div class="panel-body">
            <?php echo $this->form; ?>
        </div>
    </div>
</div>
</div><br>
</div>
</div>
