        <div class="page-error">
        <div class="page-error-wr">
            <p>Страница не найдена</p>
            <h4>404</h4>
            <a href="/" class="error-btn">перейти на главную</a>
        </div>
    </div>
  
  <?php if (isset($this->exception)): ?>

  <h3>Exception information:</h3>
  <p>
      <b>Message:</b> <?php echo $this->exception->getMessage() ?>
  </p>

  <h3>Stack trace:</h3>
  <pre><?php echo $this->exception->getTraceAsString() ?>
  </pre>

  <h3>Request Parameters:</h3>
  <pre><?php echo var_export($this->request->getParams(), true) ?>
  </pre>
  <?php endif ?> 