﻿<?php
    $translate = Zend_Registry::get('Zend_Translate');
    echo $this->headTitle($translate->translate('Delete avatar'));    
?>
<br/>
<br/><br/>
<div class="videoform">
    <h2><?php echo $translate->translate('Are you sure you want to delete your avatar?'); ?></h2>
        <form action="<?php echo $this->url(array('action'=>'delavatar')); ?>" method="post">
            <div>
                <input type="hidden" name="user_id" value="<?php echo $this->user['user_id']; ?>" />
                <button type="submit" name="del" value="yes" ><?php echo $translate->translate('Yes'); ?></button>
                <button type="submit" name="del" value="No" ><?php echo $translate->translate('No'); ?></button>
            </div>
        </form>
</div>