﻿<?php
    $translate = Zend_Registry::get('Zend_Translate');
    echo $this->headTitle($translate->translate('Delete Account'));    
?>
<br/>
<br/><br/>
<div class="videoform">
    <h2><?php echo $translate->translate('Are you sure you want to delete your account? Any content you\'ve uploaded in the past will be permanently deleted.'); ?></h2>
    <form action="<?php echo $this->url(array('action'=>'delete')); ?>" method="post">
        <div>
            <input type="hidden" name="user_id" value="<?php echo $this->user['user_id']; ?>" />
            <button type="submit" name="del" value="yes" ><?php echo $translate->translate('Yes'); ?></button>
            <button type="submit" name="del" value="No" ><?php echo $translate->translate('No'); ?></button>
        </div>
    </form>
</div>