﻿<?php
    $translate = Zend_Registry::get('Zend_Translate');
	$lang = Zend_Registry::get('Zend_Lang');
    echo $this->headTitle($translate->translate('Edit My Profile'));    
?>
<?php $filter = new Zend_Filter_StringTrim();?>
<br/>
<br/><br/>

<div class="videoform">
		    <?php if(isset($this->user["avatar_file"]) and !empty($this->user["avatar_file"]) and $this->user["avatar_file"] != NULL) {       ?>
             &nbsp;  <img src="<?php echo $this->webhost;?>/images/user_avatar/<?php echo $this->user["avatar_file"]; ?>" border = "1" height = "90"  >
             <?php } else {?>
			 <img src="<?php echo $this->webhost;?>/images/user_avatar/nophoto_user_thumb_icon.jpg" border = "1" height = "90" WIDTH = "90" >
             <?php } ?><br/><br/>
		    
			<p><button onclick="location.href='<?php echo $this->url(array('module'=>'user', 'controller'=>'account', 'action'=>'add', 'lang' => $lang, 'user_id' => $this->user["user_id"] ), 'default', true);?>'"><?php echo $translate->translate('Edit avatar'); ?></button></p><br/>
			
			<p><button onclick="location.href='<?php echo $this->url(array('module'=>'user', 'controller'=>'account', 'action'=>'delavatar', 'lang' => $lang, 'user_id' => $this->user["user_id"] ), 'default', true);?>'"><?php echo $translate->translate('Delete avatar'); ?></button></p><br/>
			
			<p><button onclick="location.href='<?php echo $this->url(array('module'=>'user', 'controller'=>'account', 'action'=>'updatepass', 'lang' => $lang, 'user_id' => $this->user["user_id"] ), 'default', true);?>'"><?php echo $translate->translate('Change your password'); ?></button></p><br/><br/>
			
			<p><button onclick="location.href='<?php echo $this->url(array('module'=>'user', 'controller'=>'account', 'action'=>'delete', 'lang' => $lang, 'user_id' => $this->user["user_id"] ), 'default', true);?>'"><?php echo $translate->translate('Delete Account'); ?></button></p>
</div>
 	
    
