﻿<?php
    $translate = Zend_Registry::get('Zend_Translate');
    echo $this->headTitle($translate->translate('Change your password'));    
?>
<br/>
<br/><br/>
<div class="videoform">
	    <table width="50%"  border="0" align = "center">
            <tr>
		        <td align="left"><p align = "center" ><font size="4" color="red" face="Arial"><?php echo $this->errMessage; ?></font></p>
                    <div id="signupform">
		                <p align = "center" ><font size="4" face="Arial"><?php echo $translate->translate('Change your password'); ?></font></p>
                      <?php echo $this->form_passwup; ?>&nbsp;
                    </div>
                </td>
		    </tr>
	    </table>
</div>
