<?php echo $this->headTitle("Пользователи");?>
<div class="header"> 
    <h1 class="page-title">Пользователи</h1>
    <ul class="breadcrumb">
        <li class="active">Пользователи</li>
    </ul>
</div> 
<a class="btn btn-primary" href="<?php echo 'adminmemberlist/addusers';?>" title=""><i class="btn-icon-only icon-plus-sign"></i>Добавить</a>

<table class="table table-hover">
    <thead>
        <tr> 
            <th width="15%">Логин</th>
			<th width="15%">Имя</th> 
			<th width="15%">Фамилия</th>
			<th width="15%">Город</th>			
            <th width="15%">Email</th> 
            <th width="8%">Статус</th> 
            <th width="10%">Добавлено</th> 
            <th width="10%">Последний вход</th> 
            <th width="5%">Ред.</th> 
            <th width="5%">Уд.</th> 
        </tr> 
    </thead>
    <tbody>
    <?php foreach($this->paginator as $users) : ?>
	<tr>
        <td align="center"><?php echo $this->escape($users->username); ?></td> 
		<td align="center"><?php echo $this->escape($users->realname); ?></td>
		<td align="center"><?php echo $this->escape($users->surname); ?></td>
		<td align="center"><?php echo $this->escape($users->town); ?></td>
    
        <td><?php echo $this->escape($users->email); ?></td>    
    
        <td align="center"><?php echo $this->escape($users->user_role);?></td>    
    
        <td align="center"><?php echo $this->escape($users->last_access); ?></td>    
    
        <td align="center"><?php echo $this->escape($users->creation_date); ?></td>  
        <td align="center">
            <a href="<?php echo 'adminmemberlist/editusers/user_id/'.$users->user_id;?>" title="<?php echo "Редактировать";?>" class="btn btn-small btn-info"><i class="btn-icon-only icon-edit"></i></a>
        </td>
        <td align="center">
            <a href="<?php echo 'adminmemberlist/delete/user_id/'.$users->user_id; ?>" class="btn btn-small btn-danger"><i class="btn-icon-only icon-trash"></i></a>
        </td>
    </tr>
    <?php endforeach; ?>
    </tbody>
</table>
    
</br>
<?php echo $this->paginationControl($this->paginator, 'Elastic', 'controls.phtml'); ?>

