<?php
    $this->title = "Удаление пользователя";
    $this->headTitle($this->title);
?>
<div class="header"> 
    <h1 class="page-title">Пользователи</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/users">Пользователи</a> </li> &gt;&gt;
        <li class="active">Удалить пользователя</li>
    </ul>
</div>
<div class="box"> 
<div class="box-content">
</br></br>
	<h3>Вы действительно хотите удалить пользователя 
		'<?php echo $this->escape($this->users['username']); ?>'?
	</h3>
	<form action="<?php echo $this->url(array('action'=>'delete')); ?>" method="post">
		<div>
			<input type="hidden" name="user_id" value="<?php echo $this->users['user_id']; ?>" />
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true" name="del" value="No">Нет</button>
			<button class="btn btn-danger" data-dismiss="modal" name="del" value="yes">Удалить</button>    
		</div>
	</form>
<div>
<div>