<?php   
    echo $this->headTitle("Редактирование - пользователи");
?>    
<div class="header"> 
    <h1 class="page-title">Пользователи</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/users">Пользователи</a> </li> &gt;&gt;
        <li class="active">Редактирование статуса</li>
    </ul>
</div> 
<div class="box"> 
<div class="box-content">
<div class="">
    <div class="col-md-10">
        <table border="0" width="60%" align="center">	
		    <tr>
                <td>
					<p align = "center" ><font size="4" color="red" face="Arial"><?php echo $this->errMessage; ?></font></p>
					<?php echo $this->form; ?>
                </td>
            </tr> 
        </table> 
</div>
<br>
</div>
</div>