<?php 
  echo $this->headTitle("");

	$this->inlineScript()->appendFile(
		$this->baseUrl('js/tinymce/jscripts/tiny_mce/tiny_mce.js'),
		'text/javascript', array('charset' => 'UTF-8')
	);
	$this->inlineScript()->appendFile(
		$this->baseUrl('js/tiny_mce_init.js'),
		'text/javascript', array('charset' => 'UTF-8')
	);
	echo $this->inlineScript();
?>
<div class="header"> 
    <h1 class="page-title">Новости</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/adminnews">Все новости</a> </li>
        <li class="active">Добавление страницы</li>
    </ul>
</div> 
    <?php echo $this->form; ?>
 
   
