<?php
    $this->title = "Удаление страницы новостей";
    $this->headTitle($this->title);
?>
<div class="header"> 
    <h1 class="page-title">Новости</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/adminnews">Все новости</a> </li>
        <li class="active">Удаление страницы</li>
    </ul>
</div> 
<h1>Вы действительно хотите удалить страницу ?
</h1>
<form action="<?php echo $this->url(array('action'=>'delete')); ?>" method="post">
    <div>
        <input type="hidden" name="newstext_id" value="<?php echo $this->newstext['newstext_id']; ?>" />
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true" name="del" value="No">Нет</button>
        <button class="btn btn-danger" data-dismiss="modal" name="del" value="yes">Удалить</button>  
    </div>
</form>