<?php echo $this->headTitle("Страница администратора - страницы"); ?>
<div class="header"> 
    <h1 class="page-title">Новости</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/adminnews">Все новости</a> </li>
        <li class="active">Страницы статьи: <?php echo $this->news_object['news_title']?></li>
    </ul>
</div>
<?php $filter = new Zend_Filter_StringTrim();?>
<a class="btn btn-primary" href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'adminnewstext', 'action'=>'add'));?>" title=""><i class="fa fa-plus"></i>Добавить страницу</a> 
<a class="btn btn-primary" href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'adminnewsphoto', 'action'=>'index', 'news_id' => $this->news_id));?>" title="">На страницу фотографий</a> 

<table border="0" width="97%">
	<?php foreach($this->paginator as $newstext) : ?>
	<tr>
        <td>
            <a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'adminnewstext', 'action'=>'edit', 'newstext_id' => $newstext->newstext_id));?>" 
title="<?php echo "Редактировать";?>"><i 
class="fa fa-edit"></i></a>
            <a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'adminnewstext', 'action'=>'delete', 'articletext_id' => $newstext->newstext_id));?>" 
title="<?php echo "Удалить страницу"; ?>"><i class="fa fa-trash-o"></i></a>
        </td>
    </tr>
    <tr>
        <td><?php echo $filter->filter($newstext->news_text);?></td>
    </tr>
    <tr>
        <td>
            <a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'adminnewstext', 'action'=>'edit', 'newstext_id' => $newstext->newstext_id));?>" title="<?php echo "Редактировать";?>"><i class="fa fa-edit"></i></a>
            <a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'adminnewstext', 'action'=>'delete', 'newstext_id' => $newstext->newstext_id));?>" 
title="<?php echo "Удалить страницу"; ?>"><i class="fa fa-trash-o"></i></a>
        </td>
    </tr>
	<?php endforeach; ?>
</table>
<br />
<?php echo $this->paginationControl($this->paginator, 'Elastic', 'adminnewstext/controls.phtml'); ?>
