/*
For site: TRIUMF
Version: 1.0
Author: VK
*/

@font-face {
    font-family: 'Muller-Light';
    src: url('../../fonts/MullerLight.eot?-cemaup');
    src: url('../../fonts/MullerLight.eot?#iefix-cemaup') format('embedded-opentype'),
    url('../../fonts/MullerLight.woff?-cemaup') format('woff'),
    url('../../fonts/MullerLight.ttf?-cemaup') format('truetype'),
    url('../../fonts/MullerLight.svg?-cemaup#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muller-Regular';
    src: url('../../fonts/MullerRegular.eot?-cemaup');
    src: url('../../fonts/MullerRegular.eot?#iefix-cemaup') format('embedded-opentype'),
    url('../../fonts/MullerRegular.woff?-cemaup') format('woff'),
    url('../../fonts/MullerRegular.ttf?-cemaup') format('truetype'),
    url('../../fonts/MullerRegular.svg?-cemaup#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muller-Medium';
    src: url('../../fonts/MullerMedium.eot?-cemaup');
    src: url('../../fonts/MullerMedium.eot?#iefix-cemaup') format('embedded-opentype'),
    url('../../fonts/MullerMedium.woff?-cemaup') format('woff'),
    url('../../fonts/MullerMedium.ttf?-cemaup') format('truetype'),
    url('../../fonts/MullerMedium.svg?-cemaup#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muller-Bold';
    src: url('../../fonts/MullerBold.eot?-cemaup');
    src: url('../../fonts/MullerBold.eot?#iefix-cemaup') format('embedded-opentype'),
    url('../../fonts/MullerBold.woff?-cemaup') format('woff'),
    url('../../fonts/MullerBold.ttf?-cemaup') format('truetype'),
    url('../../fonts/MullerBold.svg?-cemaup#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
  font-family: 'bs_custom';
  src: url('../../fonts/bs_custom.eot?65772848');
  src: url('../../fonts/bs_custom.eot?65772848#iefix') format('embedded-opentype'),
       url('../../fonts/bs_custom.woff2?65772848') format('woff2'),
       url('../../fonts/bs_custom.woff?65772848') format('woff'),
       url('../../fonts/bs_custom.ttf?65772848') format('truetype'),
       url('../../fonts/bs_custom.svg?65772848#bs_custom') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "bs_custom";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-protivopokazaniya:before { content: '\e800'; } /* '' */
.icon-pokazaniya:before { content: '\e801'; } /* '' */
.icon-help-circled:before { content: '\e802'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */

body {
    background: #ffffff;
    font-family: 'Muller-Light', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #000;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #2359c8;
}


a:hover,
a:not(:hover) {
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
    -ms-transition: All 0.2s ease;
    transition: All 0.2s ease;
}

/*
:hover, :not(:hover) {
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
    -ms-transition: All 0.2s ease;
    transition: All 0.2s ease;
}
*/

p {
    text-align: justify;
}

ul {}

ul li {
    list-style-type: none;
}

.clear {
    clear: both;
}

.st-center {
    text-align: center;
}


input,
textarea {
    outline: none;
}

input:active,
textarea:active {
    outline: none;
}

:focus {
    outline: none;
}

textarea {
    resize: none;
}

textarea {
    resize: vertical;
}

textarea {
    resize: horizontal;
}

@media screen and (max-width: 1400px) {
    body {
        zoom: .8;
    }
}

@media screen and (max-width: 1200px) {
    body {
        zoom: 1;
    }
}

/* bs styles */
.bsPokazaniya, .bsProtivopokazaniya {
    background: white;
    position: relative;
    min-height: 65px;
    font-size: 16px;
    padding: 15px;
    margin-bottom: 20px;
}
.bsPokazaniya {
    border: 1px solid rgba(131,195,79,.3);
}
.bsProtivopokazaniya {
    border: 1px solid rgba(195,23,23,.3);
}

.bsPokazaniya .title, .bsProtivopokazaniya .title {
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 0;
}
.bsPokazaniya .title {
    color: #83c34f;
}
.bsProtivopokazaniya .title {
    color: #c31717;
}

.bsPokazaniya:after, .bsProtivopokazaniya:after {
    content: '';
    position: absolute;
    width: 50%;
    height: 0px;
    bottom: 0;
    right: 25%;
    margin: 0px auto;
}
.bsPokazaniya:after {
    border-bottom: solid 4px #83c34f;
}
.bsProtivopokazaniya:after {
    border-bottom: solid 4px #c31717;
}

.bsPokazaniya:before, .bsProtivopokazaniya:before {
    font-family: "bs_custom";
    right: 0px;
    top: 0px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 36px;
    font-size: 35px;
    float: right;
    position: relative;
}
.bsPokazaniya:before {
    color: #83c34f;
    content: '\e801';
}
.bsProtivopokazaniya:before {
    color: #c31717;
    content: '\e800';
}

/* top */

#top_w {
    background: #f5f6f9;
}

.navbar-nav {
    color: #000;
    font-family: 'Muller-Medium';
    font-size: 14px;
    text-transform: uppercase;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown-menu-small {
    min-width: 200px!important;
}

.menu-col {
    width: 110%;
    padding: 30px;
}
.menu-col li > a {
    display: block;
}
.menu-col-1,
.menu-col-2 {
    float: left;
    width: 50%;
    padding: 30px 0 30px 45px;
}
.menu-col li,
.menu-col-1 li,
.menu-col-2 li {
    padding-bottom: 5px;
}

.menu-col-1 li:first-child,
.menu-col-2 li:first-child,
.menu-col-1 li:first-child a,
.menu-col-2 li:first-child a {
    padding: 0 0 20px 0;
    font-family: 'Muller-Bold';
    font-size: 24px;
    text-transform: uppercase;
}

.menu-col-1 li:first-child,
.menu-col-1 li:first-child a {
    color: #225ac8;
}

.menu-col-2 li:first-child,
.menu-col-2 li:first-child a {
    color: #f2463e;
}

.menu-col-1 li a:hover,
.menu-col-2 li a:hover,
.menu-col li a:hover {
    text-decoration: underline;
}

.but-callback,
.but-callback-2,
.but-callback-3 {
    color: #fff;
    cursor: pointer;
    margin-top: 8px;
    padding: 3px 15px;
    background: #f2463e;
    border-radius: 16px;
}
.but-callback-2 {
    padding: 8px 15px;
    border-radius: 20px;
}
.ab.red .but-callback-2 {
    background: #225ac8;
}
.ab.blue .but-callback-2 {
    background: #f2463e;
}
.but-callback-3 {
    padding: 8px 15px;
    border-radius: 20px;
}
.ab.red .but-callback-3 {
    background: #225ac8;
}
.ab.blue .but-callback-3 {
    background: #f2463e;
}
.but-callback:hover,
.but-callback:focus {
    background: #225ac8;
}
.ab.blue .but-callback-2:hover,
.ab.blue .but-callback-2:focus {
    background: #F2726B;
}
.ab.red .but-callback-2:hover,
.ab.red .but-callback-2:focus {
    background: #416EC8;
}
.ab.red .but-callback-3:hover,
.ab.red .but-callback-3:focus {
    background: #416EC8;
}
.ab {
    padding-top: 60px;
    padding-bottom: 60px;
    color: #fff;
}
.ab__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.ab__xs-text {
    font-size: 2.5rem;
    text-align: left;
    line-height: 1;
    display: inline-block;
    margin-bottom: 2rem;
}
.ab__phone {
    font-size: 3.5rem;
    line-height: 1;
    color: #fff;
    font-weight: bold;
    padding-bottom: 1rem;
    display: inline-block;
    margin-bottom: 2rem;
}
.ab__phone:hover,
.ab__phone:focus {
    text-decoration: underline;
}
.ab__sm-text {
    font-size: 5rem;
    line-height: 1;
}
.ab__lg-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
}
.ab__question {
    font-size: 10rem;
}
.ab.red {
    background-color: #f2463e;
}
.ab.blue {
    background-color: #225ac8;
}
.ab__btn-wrp {
    font-size: 2rem;
}
@media screen and (max-width: 991px) {
    .ab__inner, .ab__xs-text, .ab__btn-wrp {
        text-align: center;
    }
    .ab__xs-text {
        display: block;
    }
    .ab__block-1, .ab__block-2 {
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 767px) {
    .ab__xs-text {
        font-size: 2rem;
    }
    .ab__sm-text {
        font-size: 4rem;
    }
    .ab__lg-text {
        font-size: 5rem;
    }
    .ab__question {
        font-size: 7rem;
    }
    .ab__phone {
        font-size: 2.5rem;
    }
    .ab__btn-wrp {
        font-size: 1.6rem;
    }
}
.but-callback:hover,
.but-callback:not(:hover),
.but-callback-2:hover,
.but-callback-2:not(:hover),
.but-callback-3:hover,
.but-callback-3:not(:hover) {
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
    -ms-transition: All 0.2s ease;
    transition: All 0.2s ease;
}

@media screen and (max-width: 992px) {
    .menu-col-1 {
        float: none;
        width: 100%;
        padding: 0px 30px;
    }
    .menu-col-2 {
        float: none;
        width: 100%;
        padding: 15px 15px 10px 30px;
    }

    .menu-col-1 li:first-child,
    .menu-col-2 li:first-child {
        padding: 0 0 5px 0;
    }

    .menu-col-1 li,
    .menu-col-2 li {
        padding: 3px 0;
    }

    .but-callback {
        width: 205px;
        margin: 8px auto;
    }
}

/* header */

#header {
    padding-top: 60px;
	/* padding-top: 100px; для графика работы в выходные */
    padding-bottom: 10px;
}

.logo-h {
    float: left;
    width: 415px;
    margin-right: 65px;
}

.point-1,
.point-2 {
    float: left;
    width: 200px;
    margin-top: 30px;
    padding-left: 35px;
    font-family: 'Muller-Medium';
    font-size: 14px;
    line-height: 18px;
    position: relative;
}

.point-1 span,
.point-2 span {
    font-family: 'Muller-Bold';
    font-size: 14px;
}

.point-1 {
    margin-right: 45px;
}

.point-2 {
    margin-right: 25px;
}

.point-1:before,
.point-2:before {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    width: 24px;
    height: 37px;
    background: url(../../images/point.png) left top no-repeat;
}

.work-clock {
    float: left;
    width: 185px;
    margin-top: 30px;
    padding-left: 50px;
    font-family: 'Muller-Medium';
    font-size: 14px;
    line-height: 18px;
    position: relative;
}

.work-clock span {
    font-family: 'Muller-Bold';
    font-size: 14px;
}

.work-clock:before {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    width: 39px;
    height: 39px;
    background: url(../../images/clock.png) left top no-repeat;
}

@media screen and (max-width: 1200px) {
    .logo-h {
        width: 360px;
        margin-right: 25px;
    }

    .logo-h img {
        width: 100%;
        height: auto;
    }

    .point-1,
    .point-2 {
        margin-right: 10px;
    }
}

@media screen and (max-width: 992px) {
    #header {
        text-align: center;
    }

    .logo-h {
        width: 100%;
        margin-right: 0;
    }

    .logo-h img {
        width: 415px;
        height: auto;
    }

    .point-1,
    .point-2 {
        display: inline-block;
        vertical-align: top;
        float: none;
        margin-right: 50px;
    }

    .work-clock {
        display: inline-block;
        vertical-align: top;
        float: none;
    }
}

@media screen and (max-width: 768px) {
    .point-1,
    .point-2 {
        width: 290px;
        text-align: center;
        margin: 10px auto;
    }

    .point-1 .adress {
        float: none;
        margin-right: 20px;
    }

    .point-2 .adress {
        float: none;
        margin-right: 35px;
    }
    .point-1:before, .point-2:before {
        left: 16%;
    }
    .tel-number {
        position: relative;
        left: -4%;
    }
    .work-clock {
        display: block;
        width: 230px;
        margin: 10px auto;
        text-align: left;
    }
}

@media screen and (max-width: 420px) {
    .logo-h img {
        width: 100%;
    }

    /* .point-1 .adress {
        float: left;
        margin-right: 10px;
    }

    .point-2 .adress {
        float: left;
        margin-right: 20px;
    } */
}



/* main slider */

.item_ban {
    position: relative;
}

.item_ban img {
    width: 100%;
    height: auto;
}

.item_ban .title {
    position: absolute;
    top: 30%;
    left: 60%;
    max-width: 500px;
}

.item_ban .title h2 {
    margin: 0;
    color: #fff;
    font-family: 'Muller-Bold';
    font-size: 44px;
    line-height: 1em;
    text-transform: uppercase;
}

.but-callback.but-callback-slider,.but-callback-3.but-callback-slider {
    margin: 0;
    width: 295px;
    padding: 14px 20px;
    font-family: 'Muller-Bold';
    font-size: 25px;
}
.but-callback-3.but-callback-slider {
    margin: 0;
    width: 295px;
    padding: 14px 20px;
    font-family: 'Muller-Bold';
    font-size: 25px;
}

.item_ban .tour {
    position: absolute;
    bottom: 15px;
    left: 80%;
    width: 179px;
    height: auto;
}

.item_ban .tour img {
    width: 100%;
    height: auto;
}

.item_ban .tour:hover {
    opacity: 0.7;
}

@media screen and (max-width: 1200px) {
    .item_ban .title {
        position: absolute;
        top: 20%;
        left: 60%;
        max-width: 350px;
    }

    .item_ban .title h2 {
        margin: 0;
        color: #fff;
        font-family: 'Muller-Bold';
        font-size: 32px;
        line-height: 1em;
        text-transform: uppercase;
    }

    .but-callback.but-callback-slider,.but-callback-3.but-callback-slider {
        margin: 0;
        width: 245px;
        padding: 10px 20px;
        font-family: 'Muller-Bold';
        font-size: 20px;
    }

    .item_ban .tour {
        position: absolute;
        bottom: 15px;
        left: 80%;
        width: 130px;
        height: auto;
    }
}

@media screen and (max-width: 992px) {

    .item_ban .title h2 {
        margin: 0;
        color: #fff;
        font-family: 'Muller-Bold';
        font-size: 25px;
        line-height: 1em;
        text-transform: uppercase;
    }

    .but-callback.but-callback-slider,.but-callback-3.but-callback-slider {
        width: 225px;
        padding: 5px 20px;
        margin: 0;
        font-family: 'Muller-Bold';
        font-size: 18px;
    }

    .item_ban .tour {
        position: absolute;
        bottom: 15px;
        left: 80%;
        width: 100px;
        height: auto;
    }

    .item_ban .tour img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .item_ban .title {
        position: absolute;
        top: 20%;
        left: 60%;
        max-width: 180px;
    }

    .item_ban .title h2 {
        margin: 0;
        color: #fff;
        font-family: 'Muller-Bold';
        font-size: 16px;
        line-height: 1em;
        text-transform: uppercase;
    }

    .but-callback.but-callback-slider,.but-callback-3.but-callback-slider {
        width: 165px;
        padding: 4px 10px;
        margin: 0;
        font-family: 'Muller-Bold';
        font-size: 14px;
    }

    .item_ban .tour {
        position: absolute;
        bottom: 15px;
        left: 85%;
        width: 70px;
        height: auto;
    }
}

@media screen and (max-width: 520px) {
    .item_ban .title {
        position: absolute;
        top: 10%;
        left: 55%;
        max-width: 40%;
    }

    .item_ban .title h2 {
        margin: 0;
        color: #fff;
        font-family: 'Muller-Bold';
        font-size: 10px;
        line-height: 1em;
        text-transform: uppercase;
    }

    .but-callback.but-callback-slider,.but-callback-3.but-callback-slider {
        width: 110px;
        padding: 0px 4px;
        margin: -15px 0 0 0;
        font-family: 'Muller-Bold';
        font-size: 10px;
    }

    .item_ban .tour {
        position: absolute;
        bottom: 5px;
        left: calc(100% - 70px);
        width: 60px;
        height: auto;
    }

    .slick-dots {
        display: none !important;
    }
}



/* box-1 */

#box_1_w {
    min-height: 500px;
    background: url(../../images/bg-box-1.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title-box-1 {
    width: 540px;
    margin: 60px auto 90px auto;
    font-family: 'Muller-Light';
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    position: relative;
}

.title-box-1:before {
    content: "";
    position: absolute;
    left: -100px;
    top: -10px;
    width: 84px;
    height: 78px;
    background: url(../../images/title-box-1.png) left top no-repeat;
}

.advantage-item {
    float: left;
    width: 212px;
    min-height: 230px;
    margin: 0 8px 30px 8px;
    font-size: 18px;
    text-align: center;
}

.advantage-item span {
    font-family: 'Muller-Bold';
    font-size: 18px;
}

.advantage-icon-01,
.advantage-icon-02,
.advantage-icon-03,
.advantage-icon-04,
.advantage-icon-05,
.advantage-icon-06,
.advantage-icon-07,
.advantage-icon-08,
.advantage-icon-09,
.advantage-icon-10 {
    width: 113px;
    height: 113px;
    margin: 0 auto 20px auto;
    background-color: #225ac8;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
}

.advantage-icon-01 {
    background-image: url(../../images/icon-01.png);
}

.advantage-icon-02 {
    background-image: url(../../images/icon-02.png);
}

.advantage-icon-03 {
    background-image: url(../../images/icon-03.png);
}

.advantage-icon-04 {
    background-image: url(../../images/icon-04.png);
}

.advantage-icon-05 {
    background-image: url(../../images/icon-05.png);
}

.advantage-icon-06 {
    background-image: url(../../images/icon-06.png);
}

.advantage-icon-07 {
    background-image: url(../../images/icon-07.png);
}

.advantage-icon-08 {
    background-image: url(../../images/icon-08.png);
}

.advantage-icon-09 {
    background-image: url(../../images/icon-09.png);
}

.advantage-icon-10 {
    background-image: url(../../images/icon-10.png);
}

@media screen and (max-width: 768px) {
    .title-box-1 {
        width: 355px;
        margin: 60px auto 90px auto;
        font-family: 'Muller-Light';
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        position: relative;
    }

    .advantages {
        text-align: center;
    }

    .advantage-item {
        display: inline-block;
        vertical-align: top;
        float: none;
        width: 212px;
        min-height: 230px;
        margin: 0 8px 30px 8px;
        font-size: 18px;
        text-align: center;
    }
}

@media screen and (max-width: 580px) {
    .title-box-1 {
        width: auto;
        margin: 60px auto 60px auto;
        font-family: 'Muller-Light';
        font-size: 28px;
        line-height: 28px;
        text-align: center;
        position: relative;
    }

    .title-box-1:before {
        content: none;
    }
}


/* box-2 */

#box_2_w {
    background: #f5f6f9;
    padding-bottom: 60px;
}

.title-box-2 {
    width: 295px;
    margin: 60px auto 60px auto;
    font-family: 'Muller-Light';
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    position: relative;
}

.title-box-2:before {
    content: "";
    position: absolute;
    left: -120px;
    top: -20px;
    width: 108px;
    height: 75px;
    background: url(../../images/title-box-2.png) left top no-repeat;
}

.services-col-1,
.services-col-2 {
    float: left;
    width: 50%;
}

.services-col-1-title,
.services-col-1-title a {
    padding-right: 8px;
    padding-bottom: 20px;
    color: #225ac8!important;
    font-family: 'Muller-Bold';
    font-size: 38px;
    text-transform: uppercase;
    text-align: right;
}

.services-col-2-title,
.services-col-2-title a {
    padding-left: 8px;
    padding-bottom: 20px;
    color: #f53632!important;
    font-family: 'Muller-Bold';
    font-size: 38px;
    text-transform: uppercase;
    text-align: left;
}

.services-col-2-title a:hover,
.services-col-1-title a:hover {
    text-decoration: underline;
}

.services-cell-1,
.services-cell-2,
.services-cell-3,
.services-cell-4,
.services-cell-5,
.services-cell-6 {
    float: left;
    position: relative;
    width: 270px;
    height: 340px;
    margin-right: 15px;
    margin-bottom: 20px;
}
.servicePage img {
    display: block;
    max-width: 100%;
    height: auto;
}
.servicePage .services-cell-1,
.servicePage .services-cell-2,
.servicePage .services-cell-3,
.servicePage .services-cell-4,
.servicePage .services-cell-5,
.servicePage .services-cell-6 {
    float: left;
    position: relative;
    width: 235px;
    height: 290px;
    margin-right: 15px;
    margin-bottom: 20px;
}
.services-cell-7 img {
    max-width: 400px;
    display: block;
    height: auto;
}

.services-cell-7 {
    float: left;
    position: relative;
    overflow: hidden;
    width: 555px;
    height: 340px;
    margin-left: 15px;
    margin-bottom: 20px;
}
.services-cell-7,
.services-cell-8,
.services-cell-9,
.services-cell-10,
.services-cell-11,
.services-cell-12,
.services-cell-13 {
    float: left;
    position: relative;
    width: 270px;
    height: 340px;
    margin-left: 15px;
    margin-bottom: 20px;
}
.servicePage .services-cell-7,
.servicePage .services-cell-8,
.servicePage .services-cell-9,
.servicePage .services-cell-10,
.servicePage .services-cell-11,
.servicePage .services-cell-12,
.servicePage .services-cell-13 {
    float: left;
    position: relative;
    width: 235px;
    height: 290px;
    margin-right: 15px;
    margin-left: 0;
    margin-bottom: 20px;
}
.services-cell-1 .services-cell-discr,
.services-cell-2 .services-cell-discr,
.services-cell-3 .services-cell-discr,
.services-cell-4 .services-cell-discr,
.services-cell-5 .services-cell-discr,
.services-cell-6 .services-cell-discr {
    position: absolute;
    top: 190px;
    height: 147px;
    width: 100%;
    padding: 10px 10px 0px 10px;
    background: rgba(55, 107, 202, 0.85);
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
    -ms-transition: All 0.2s ease;
    transition: All 0.2s ease;
}

.servicePage .services-cell-1 .services-cell-discr,
.servicePage .services-cell-2 .services-cell-discr,
.servicePage .services-cell-3 .services-cell-discr,
.servicePage .services-cell-4 .services-cell-discr,
.servicePage .services-cell-5 .services-cell-discr,
.servicePage .services-cell-6 .services-cell-discr {

    height: 106px;
}

.services-cell-1:hover .services-cell-discr,
.services-cell-2:hover .services-cell-discr,
.services-cell-3:hover .services-cell-discr,
.services-cell-4:hover .services-cell-discr,
.services-cell-5:hover .services-cell-discr,
.services-cell-6:hover .services-cell-discr {
    position: absolute;
    top: 0;
    height: 100%;
    padding: 110px 10px 0px 10px;
    background: rgba(55, 107, 202, 0.85);
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
    -ms-transition: All 0.2s ease;
    transition: All 0.2s ease;
}

.services-cell-1:hover .services-cell-discr-txt,
.services-cell-2:hover .services-cell-discr-txt,
.services-cell-3:hover .services-cell-discr-txt,
.services-cell-4:hover .services-cell-discr-txt,
.services-cell-5:hover .services-cell-discr-txt,
.services-cell-6:hover .services-cell-discr-txt {
    opacity: 1;
}
.servicePage .services-cell-1:hover .services-cell-discr,
.servicePage .services-cell-2:hover .services-cell-discr,
.servicePage .services-cell-3:hover .services-cell-discr,
.servicePage .services-cell-4:hover .services-cell-discr,
.servicePage .services-cell-5:hover .services-cell-discr,
.servicePage .services-cell-6:hover .services-cell-discr {

    height: 102%;
}
.services-cell-7 .services-cell-discr,
.services-cell-8 .services-cell-discr,
.services-cell-9 .services-cell-discr,
.services-cell-10 .services-cell-discr,
.services-cell-11 .services-cell-discr,
.services-cell-12 .services-cell-discr,
.services-cell-13 .services-cell-discr {
    position: absolute;
    top: 190px;
    height: 147px;
    width: 100%;
    padding: 10px 10px 0px 10px;
    background: rgba(253, 68, 68, 0.85);
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
    -ms-transition: All 0.2s ease;
    transition: All 0.2s ease;
}

.servicePage .services-cell-7 .services-cell-discr,
.servicePage .services-cell-8 .services-cell-discr,
.servicePage .services-cell-9 .services-cell-discr,
.servicePage .services-cell-10 .services-cell-discr,
.servicePage .services-cell-11 .services-cell-discr,
.servicePage .services-cell-12 .services-cell-discr,
.servicePage .services-cell-13 .services-cell-discr {
    height: 106px;
}
.services-cell-7:hover .services-cell-discr,
.services-cell-8:hover .services-cell-discr,
.services-cell-9:hover .services-cell-discr,
.services-cell-10:hover .services-cell-discr,
.services-cell-11:hover .services-cell-discr,
.services-cell-12:hover .services-cell-discr,
.services-cell-13:hover .services-cell-discr {
    position: absolute;
    top: 0;
    height: 100%;
    padding: 110px 10px 0px 10px;
    background: rgba(253, 68, 68, 0.85);
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
    -ms-transition: All 0.2s ease;
    transition: All 0.2s ease;
}
.services-cell-7:hover .services-cell-discr-txt,
.services-cell-8:hover .services-cell-discr-txt,
.services-cell-9:hover .services-cell-discr-txt,
.services-cell-10:hover .services-cell-discr-txt,
.services-cell-11:hover .services-cell-discr-txt,
.services-cell-12:hover .services-cell-discr-txt,
.services-cell-13:hover .services-cell-discr-txt {
    opacity: 1;
}

.servicePage .services-cell-7:hover .services-cell-discr,
.servicePage .services-cell-8:hover .services-cell-discr,
.servicePage .services-cell-9:hover .services-cell-discr,
.servicePage .services-cell-10:hover .services-cell-discr,
.servicePage .services-cell-11:hover .services-cell-discr,
.servicePage .services-cell-12:hover .services-cell-discr,
.servicePage .services-cell-13:hover .services-cell-discr {
    height: 102%;
}

.services-col-1 .services-cell-discr-title {
    padding-bottom: 10px;
    color: #fff;
    font-family: 'Muller-Bold';
    font-size: 24px;
    line-height: 26px;
    text-align: right;
    text-transform: uppercase;
}
.servicePage .services-col-1 .services-cell-discr-title {
    font-size: 17px;
}
.services-col-1 .services-cell-discr-txt {
    color: #fff;
    font-family: 'Muller-Regular';
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

.services-col-2 .services-cell-discr-title {
    padding-bottom: 10px;
    color: #fff;
    font-family: 'Muller-Bold';
    font-size: 24px;
    line-height: 26px;
    text-align: left;
    text-transform: uppercase;
}

.services-col-2 .services-cell-discr-txt {
    color: #fff;
    font-family: 'Muller-Regular';
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}
.servicePage .services-col-2 .services-cell-discr-title {
    font-size: 17px;
}

.services-cell-3 .services-cell-discr-title {
    font-size: 20px;
    line-height: 20px;
}

.services-cell-3 .services-cell-discr-txt {
    font-size: 14px;
    line-height: 18px;
}

.services-cell-5 .services-cell-discr-title {
    font-size: 18px;
    line-height: 22px;
}
.tel-number {
    font-size: 16px;
    color: #f2463e;
}
@media (min-width: 991px) {
    .tel-number {
        position: relative;
        left: -10%;
    }
}

@media screen and (max-width: 1200px) {

    .services-col-1,
    .services-col-2 {
        width: 100%;
        text-align: center;
    }

    .services-col-1-title,
    .services-col-2-title {
        text-align: center;
    }

    .services-cell-1,
    .services-cell-2,
    .services-cell-3,
    .services-cell-4,
    .services-cell-5,
    .services-cell-6,
    .services-cell-7,
    .services-cell-8,
    .services-cell-9,
    .services-cell-10,
    .services-cell-11,
    .services-cell-12,
    .services-cell-13 {
        display: inline-block;
        vertical-align: top;
        float: none;
    }
}

@media screen and (max-width: 768px) {
    .title-box-2 {
        width: 200px;
        margin: 60px auto 90px auto;
        font-family: 'Muller-Light';
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        position: relative;
    }
    .services-cell-discr-txt {
        opacity: 1!important;
    }
    .services-cell-9 .services-cell-discr-txt {
        font-size: 12px;
        line-height: 14px;
    }
}

@media screen and (max-width: 620px) {
    .services-cell-7 .services-cell-discr {
        top: 140px;
        height: 197px;
    }
    .services-cell-7,
    .services-cell-7 img {
        /*width: 100%;*/
        width: 270px;
    }

    .services-col-2 .services-cell-7 .services-cell-discr-title {
        overflow-wrap: break-word;
        word-wrap: break-word;
    }
}

@media screen and (max-width: 605px) {
    .services-col-1-title {
        padding-right: 0;
    }

    .services-col-2-title {
        padding-left: 0;
    }

    .services-cell-1,
    .services-cell-2,
    .services-cell-3,
    .services-cell-4,
    .services-cell-5,
    .services-cell-6,
    .services-cell-7,
    .services-cell-8,
    .services-cell-9,
    .services-cell-10,
    .services-cell-11,
    .services-cell-12,
    .services-cell-13 {
        margin: 0 0 15px 0;
    }
}

@media screen and (max-width: 580px) {
    .title-box-2 {
        width: auto;
        margin: 60px auto 60px auto;
        font-family: 'Muller-Light';
        font-size: 28px;
        line-height: 28px;
        text-align: center;
        position: relative;
    }

    .title-box-2:before {
        content: none;
    }
}

/* box-3 */

#box_3_w {
    min-height: 500px;
    padding-bottom: 70px;
    background: url(../../images/bg-box-3.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title-box-3 {
    width: 335px;
    margin: 70px auto 65px auto;
    color: #fff;
    font-family: 'Muller-Light';
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    position: relative;
}

.title-box-3:before {
    content: "";
    position: absolute;
    left: -120px;
    top: -25px;
    width: 97px;
    height: 78px;
    background: url(../../images/title-box-3.png) left top no-repeat;
}

.team .slick-slide {
    text-align: center;
}

.team img {
    width: 240px;
    height: 300px;
}

.team .fio {
    margin: 10px auto 20px auto;
}

.first-name {
    color: #fff;
    font-family: 'Muller-Bold';
    font-size: 24px;
}

.full-name {
    color: #fff;
    font-family: 'Muller-Bold';
    font-size: 18px;
}

.team .career {
    height: 44px;
    margin-bottom: 35px;
    color: #fff;
    font-family: 'Muller-Regular';
    font-size: 18px;
}

.team .button-3 {
    width: 240px;
    height: 55px;
    padding: 12px;
    margin: 0 auto;
    color: #fff;
    font-family: 'Muller-Regular';
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    cursor: pointer;
    background: #f2463e;
    border-radius: 36px;
}

.team .button-3:hover {
    background: #225ac8;
}


@media screen and (max-width: 768px) {
    .title-box-3 {
        width: 230px;
        margin: 70px auto 65px auto;
        color: #fff;
        font-family: 'Muller-Light';
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        position: relative;
    }
}

@media screen and (max-width: 580px) {
    .title-box-3 {
        width: auto;
        margin: 60px auto 60px auto;
        font-family: 'Muller-Light';
        font-size: 28px;
        line-height: 28px;
        text-align: center;
        position: relative;
    }

    .title-box-3:before {
        content: none;
    }
}

/* box-4 */

#box_4_w {
    padding-bottom: 60px;
}

.title-box-4 {
    width: 550px;
    margin: 50px auto 90px auto;
    color: #000;
    font-family: 'Muller-Light';
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    position: relative;
}

.title-box-4:before {
    content: "";
    position: absolute;
    left: -110px;
    top: -10px;
    width: 108px;
    height: 63px;
    background: url(../../images/title-box-4.png) left top no-repeat;
}

.stock-news .slick-slide {
    text-align: center;
}

.stock-news-item {
    width: 310px;
    margin: 0 auto;
    padding-bottom: 15px;
    background: #f5f6f9;
    height: 100%;
}

.stock-news img {
    width: 310px;
    height: 215px;
}

.stock-news-title {
    height: 135px;
    padding: 25px 10px 20px 10px;
    overflow: hidden;
    color: #f2463e;
    font-family: 'Muller-Bold';
    font-size: 20px;
    text-transform: uppercase;
}

.stock-news-disc {
    min-height: 100px;
    padding: 0 10px;
    font-family: 'Muller-Regular';
    font-size: 18px;
}
.stock-news-disc p {
    text-align: center!important;
}
.stock-news-more {
    color: #225ac8;
    font-family: 'Muller-Bold';
    font-size: 18px;
    text-decoration: underline;
}

.stock-news-more:hover {
    color: #f2463e;
}

@media screen and (max-width: 768px) {
    .title-box-4 {
        width: 260px;
        margin: 50px auto 90px auto;
        color: #000;
        font-family: 'Muller-Light';
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        position: relative;
    }
}

@media screen and (max-width: 580px) {
    .title-box-4 {
        width: auto;
        margin: 60px auto 60px auto;
        font-family: 'Muller-Light';
        font-size: 28px;
        line-height: 28px;
        text-align: center;
        position: relative;
    }

    .title-box-4:before {
        content: none;
    }
}

/* box-5 */

#box_5_w {
    padding-bottom: 60px;
    background: #225ac8;
}

.title-box-5 {
    width: 385px;
    margin: 45px auto 70px auto;
    color: #fff;
    font-family: 'Muller-Light';
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    position: relative;
}

.title-box-5:before {
    content: "";
    position: absolute;
    left: -110px;
    top: -13px;
    width: 98px;
    height: 80px;
    background: url(../../images/title-box-5.png) left top no-repeat;
}

.title-box-6 {
    text-align: center;
    color: #000;
    font-family: 'Muller-Light';
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    position: relative;
    margin-bottom: 75px;
}

.licenses {
    text-align: center;
}

.licenses-item {
    width: 275px;
    height: 390px;
    margin: 0 35px 35px 35px;
    vertical-align: top;
    display: inline-block;
}

.licenses-item a {
    display: block;
    overflow: hidden;
    position: relative;
}

.licenses-item a img {
    width: 100%;
    height: auto;
}

.licenses-item a .gallery-zoom {
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
    transition: background-color 0.15s ease 0s;
}

.licenses-item a .gallery-zoom img {
    width: 64px;
    height: 36px;
    left: 50%;
    margin-left: -32px;
    margin-top: -18px;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
}

.licenses-item a:hover .gallery-zoom {
    background-color: rgba(0, 0, 0, 0.5);
}

.licenses-item a:hover .gallery-zoom img {
    opacity: 1;
}



@media screen and (max-width: 1200px) {
    .licenses-item {
        width: 30%;
        height: auto;
        margin: 0 1% 35px 1%;
        vertical-align: top;
        display: inline-block;
    }

    .licenses-item img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .title-box-5 {
        width: 160px;
        margin: 45px auto 70px auto;
        color: #fff;
        font-family: 'Muller-Light';
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        position: relative;
    }
    .title-box-6 {
        font-size: 32px;
        margin-bottom: 40px;
    }
    #box_5_w {
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 580px) {
    .title-box-5 {
        width: auto;
        margin: 60px auto 60px auto;
        font-family: 'Muller-Light';
        font-size: 28px;
        line-height: 28px;
        text-align: center;
        position: relative;
    }

    .title-box-5:before {
        content: none;
    }

    .licenses-item {
        width: 65%;
        height: auto;
        margin: 0 auto 35px auto;
        vertical-align: top;
        display: inline-block;
    }
}


/* box-6 */

#box_6_w {
    background: #fff;
    padding-top: 50px;
}

@media screen and (max-width: 768px) {
    .video a {
        width: 480px;
        margin: 0 auto;
        display: block;
    }
}

/* box-7 */

#box_7_w {
    padding-top: 65px;
    /*margin-bottom: 30px;*/
    background: #f5f6f9;
}

#box_7 h1,
#box_7 .h1{
    color: #f2463e;
    font-family: 'Muller-Bold';
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}
#box_7 .h1 {
    margin-bottom: 10px;
    margin-top: 20px;
}

#box_7 p.pad30 {
    padding: 10px 60px;
}

#box_7 p {
    margin: 0 0 20px;
}

#box_7 p img {
    max-width: 100%;
}

#box_7 b {
    font-family: 'Muller-Bold';
    font-size: 24px;
}

#box_7 ol,
#box_7 ul {
    padding-left: 40px;
    display: block;
    overflow: hidden;
    position: relative;
}

#box_7 ul li {
    list-style-type: disc;
}

#box_7 .legal {
    width: 45%;
    float: left;
}


.about_text_cont {
    position: relative;
    padding-bottom: 35px;
    margin-bottom: 30px;
}

.about_text {
    text-align: justify;
    position: relative;
    transition: all .3s;
    overflow: hidden;
}

.about_text_fill {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.about_text.hide {
    display: block !important;
}

.btn_dropdown_about_text {
    position: absolute;
    bottom: 0;
    left: calc(50% - 83px);
    right: 0;
}

.btn_dropdown_about_text span {
    position: relative;
    background: #f2463e;
    padding: 5px 55px;
    border-radius: 16px;
    color: #fff;
    font-family: 'Muller-Bold';
    font-size: 18px;
    cursor: pointer;
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
    -ms-transition: All 0.2s ease;
    transition: All 0.2s ease;
}

.btn_dropdown_about_text span:hover {
    background: #225ac8;
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
    -ms-transition: All 0.2s ease;
    transition: All 0.2s ease;
}

#box_7 .about_text_cont a {
    color: #f2463e;
    font-family: 'Muller-Bold';
}

#box_7 .about_text_cont a:hover {
    color: #225ac8;
    font-family: 'Muller-Bold';
}

/* box-8 */

#box_8_w {
    padding-bottom: 100px;
}

.title-box-8 {
    width: 220px;
    margin: 50px auto 90px auto;
    color: #000;
    font-family: 'Muller-Light';
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    position: relative;
}

.title-box-8:before {
    content: "";
    position: absolute;
    left: -110px;
    top: -15px;
    width: 99px;
    height: 70px;
    background: url(../../images/title-box-8.png) left top no-repeat;
}

.contact-box {
    text-align: center;
}

.contact-col-1,
.contact-col-3 {
    display: inline-block;
    vertical-align: top;
    width: 215px;
    text-align: left;
}

.contact-col-2 {
    display: inline-block;
    vertical-align: top;
    width: 620px;
    height: 380px;
    margin: 0 35px;
}

.contact-col-2 img {
    max-width: 100%;
}

#mymap {
    width: 100%;
    height: 100%;
}

.contact-title {
    margin-bottom: 40px;
    color: #f2463e;
    font-family: 'Muller-Bold';
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.contact-title span {
    color: #225ac8;
    text-transform: initial;
}

.contact-adress {
    margin-bottom: 20px;
    color: #000;
    font-family: 'Muller-Medium';
    font-size: 18px;
}

.contact-tel {
    margin-bottom: 90px;
    color: #f2463e;
    display: block;
    font-family: 'Muller-Medium';
    font-size: 20px;
}

.contact-clock {
    color: #000;
    font-family: 'Muller-Medium';
    font-size: 18px;
}

.contact-clock .bold {
    font-family: 'Muller-Bold';
}

.contact-clock .red {
    color: #f2463e;
}

.inner-page .inner-top-slider {
    margin-top: -65px;
    background: #F5F6F9;
}

@media screen and (max-width: 1200px) {
    .contact-col-1,
    .contact-col-3 {
        width: 49%;
    }

    .contact-col-3 {
        text-align: right;
    }

    .contact-title {
        margin-bottom: 20px;
    }

    .contact-tel {
        margin-bottom: 20px;
    }

    .contact-col-2 {
        float: left;
        display: block;
        width: 100%;
        margin: 40px auto;
    }

}

@media screen and (max-width: 992px) {
    #box_7 .legal {
        width: 100%;
        float: left;
    }
}

@media screen and (max-width: 768px) {
    .title-box-8 {
        width: 145px;
        margin: 80px auto 70px auto;
        color: #000;
        font-family: 'Muller-Light';
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        position: relative;
    }
}

@media screen and (max-width: 580px) {
    .title-box-8 {
        width: auto;
        margin: 60px auto 60px auto;
        font-family: 'Muller-Light';
        font-size: 28px;
        line-height: 28px;
        text-align: center;
        position: relative;
    }

    .title-box-8:before {
        content: none;
    }

    .contact-col-1 {
        border-right: 1px solid #f5f6f9;
    }

    .contact-title {
        margin-bottom: 10px;
        color: #f2463e;
        font-family: 'Muller-Bold';
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
    }

    .contact-adress {
        margin-bottom: 10px;
        color: #000;
        font-family: 'Muller-Medium';
        font-size: 16px;
    }

    .contact-tel {
        margin-bottom: 10px;
        color: #f2463e;
        font-family: 'Muller-Medium';
        font-size: 16px;
    }

    .contact-clock {
        color: #000;
        font-family: 'Muller-Medium';
        font-size: 16px;
    }
}

@media screen and (max-width: 550px) {
    .inner-page .inner-top-slider a {
        width: 350px;
        margin: 0 auto;
        display: block;
    }
}

@media screen and (max-width: 400px) {
    .contact-title {
        margin-bottom: 10px;
        color: #f2463e;
        font-family: 'Muller-Bold';
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
    }
}

/* box-11 */

#box_11_w {
    background: #f5f6f9;
}

#box_11 {
    padding: 20px 15px;
}

.title-box-11 {
    padding-top: 60px;
    padding-bottom: 60px;
    color: #225ac8;
    background: #fff;
    font-family: 'Muller-Bold';
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

.news_wrap {
    margin-top: 20px;
}

.news_wrap .single_new:last-child {
    margin-bottom: 0;
}

.single_new {
    clear: both;
    overflow: hidden;
    margin-bottom: 30px;
}

.single_new p {
    margin-top: 0;
    margin-bottom: 40px;
    line-height: 1.5;
}

.news_img {
    float: left;
    overflow: hidden;
    margin-right: 55px;
}

.news_img img {
    max-width: 290px;
}

.right_news_info {
    overflow: hidden;
}

.right_news_info h3 {
    color: #f2463e;
    font-size: 20px;
    margin-top: 0;
    font-weight: 600;
    margin-bottom: 30px;
}

.right_news_info h3:hover {
    color: #225ac8;
}

.news_date {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}

.news_title a {
    color: #ee273c;
}

.breadcrumbs {
    margin-bottom: 20px;
}

.breadcrumbs a {
    text-decoration: none;
    color: #9c9e9d;
}

.breadcrumbs span {
    color: #9c9e9d;
}

.right_news_info p:last-of-type {
    margin-bottom: 0;
}

.news_list {
    padding-bottom: 75px !important;
}

.pagination {}

.pagination .active {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #EE273C;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 16px;
    border-radius: 50%;
}

.pagination a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: transparent;
    text-align: center;
    line-height: 30px;
    color: #4c4c4c;
    border-radius: 50%;
    text-decoration: none;
    font-size: 16px;
}

.pagination .next {
    color: #4c4c4c;
    width: auto;
    background: none;
    /* border-bottom: 1px solid #000; */
    /* border-radius: 0; */
}

.pagination a:hover {
    background: #CECFCE;
}

.pagination .next:hover {
    background: none;
    border-bottom: 1px solid #4c4c4c;
    border-radius: 0;
}

.pagination .active:hover {
    background: #CECFCE;
}

@media screen and (max-width: 920px) {

    .news_img {
        width: 100%;
        text-align: center;
        margin: 0;
        margin-bottom: 10px;
    }

    .right_news_info {
        overflow: initial;
    }

}


/* box-12 */

#box_12_w {
    padding-bottom: 30px;
    background: #f5f6f9;
}

#box_12 {
    padding: 20px 15px 40px 15px;
}

.title-box-12 {
    padding-top: 60px;
    padding-bottom: 60px;
    color: #225ac8;
    margin: 0;
    background: #fff;
    font-family: 'Muller-Bold';
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}
.title-box-12.red {
    color: #f2463e;
}
#box_12 h3 {
    margin: 30px 0;
    color: #000;
    font-family: 'Muller-Bold';
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}

#box_12 p.pad30 {
    padding: 10px 60px;
}

#box_12 p {
    margin: 0 0 20px;
    color: #000;
    font-family: 'Muller-Regular';
    font-size: 16px;
}

#box_12 p.list {
    margin: 0 0 5px;
    color: #225ac8;
    font-family: 'Muller-Bold';
    font-size: 16px;
}

#box_12 ol,
#box_12 ul {
    padding-left: 30px;
    margin-bottom: 20px;
}

#box_12 ul li {
    list-style-type: disc;
}

#box_12 ol li {}

.box_cont_price {
    position: relative;
    padding-bottom: 35px;
}

.box_price {
    text-align: justify;
    position: relative;
    transition: all .3s;
    overflow: hidden;
}

.box_price.hide {
    display: block !important;
}

.btn_dropdown_box_price {
    position: absolute;
    bottom: 0;
    left: calc(50% - 145px);
    right: 0;
}

.btn_dropdown_box_price span {
    position: relative;
    background: #225ac8;
    padding: 5px 55px;
    border-radius: 16px;
    color: #fff;
    font-family: 'Muller-Bold';
    font-size: 18px;
    cursor: pointer;
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
    -ms-transition: All 0.2s ease;
    transition: All 0.2s ease;
}

.btn_dropdown_box_price span:hover {
    background: #f2463e;
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
    -ms-transition: All 0.2s ease;
    transition: All 0.2s ease;
}

/* box-13 */

.certificates {
    padding-top: 40px;
    text-align: center;
}

.certificate-item {
    width: 345px;
    height: 283px;
    margin: 0 15px 35px 15px;
    vertical-align: top;
    display: inline-block;
    overflow: hidden;
    /*background: url(../../images/zoom.png) no-repeat center center #000000;*/
}

.certificate-item a {
    width: 345px;
    height: 283px;
    display: block;
    overflow: hidden;
    position: relative;
}

.certificate-item a img {
    max-width: 100%;
    max-height: 100%;
}

.certificate-item a .gallery-zoom {
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
    transition: background-color 0.15s ease 0s;
}

.certificate-item a .gallery-zoom img {
    width: 64px;
    height: 36px;
    left: 50%;
    margin-left: -32px;
    margin-top: -18px;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
}

.certificate-item a:hover .gallery-zoom {
    background-color: rgba(0, 0, 0, 0.5);
}

.certificate-item a:hover .gallery-zoom img {
    opacity: 1;
}



.certificate-item a img:hover,
.certificate-item a img:not(:hover) {
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
    -ms-transition: All 0.2s ease;
    transition: All 0.2s ease;
}



@media screen and (max-width: 1200px) {
    .certificate-item {
        width: 30%;
        height: auto;
        margin: 0 1% 35px 1%;
        vertical-align: top;
        display: inline-block;
    }

    .certificate-item img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 580px) {
    .certificate-item {
        width: 65%;
        height: auto;
        margin: 0 auto 35px auto;
        vertical-align: top;
        display: inline-block;
    }
}




/* footer */

#footer_w {
    padding: 15px 0 40px 0;
    background: #f5f6f9;
}

.footer_item_1 {
    float: left;
    width: 290px;
    margin-right: 45px;
}

.ft_logo_text_block h5,
.ft_logo_text_block .h5 {
    padding-left: 100px;
    margin: 0;
    font-family: 'Muller-Regular';
    font-size: 12px;
}

.footer_item_2 {
    float: left;
    width: 190px;
    margin-top: 10px;
    margin-right: 120px;
    font-family: 'Muller-Regular';
    font-size: 14px;
    line-height: 18px;
}

.footer_item_2 ul {
    padding: 0;
    margin: 0;
}

.footer_item_2 ul li a:hover {
    color: #f2463e;
}

.footer_item_3 {
    float: left;
    width: 170px;
    margin-top: 10px;
    margin-right: 145px;
}

.social a:hover {
    opacity: 0.7;
}

.footer_item_4 {
    float: left;
    width: 180px;
    margin-top: 10px;
}

.politika a {
    display: block;
    width: 180px;
    padding: 5px 14px;
    background: #225ac8;
    border-radius: 8px;
    color: #fff;
    font-family: 'Muller-Regular';
    font-size: 14px;
    line-height: 18px;
}

.error__block {
    margin-top: -10px;
    background: white;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    padding-top: 4px;
    color: red;
}

.politika a:hover {
    background: #f2463e;
}

.bottom {
    margin-top: 80px;
}

.rf {
    float: left;
    width: 265px;
    margin-right: 70px;
}

.rules {
    float: left;
    width: 435px;
    margin-right: 175px;
    font-family: 'Muller-Regular';
    font-size: 13px;
    line-height: 15px;
}

.sr {
    float: left;
    width: 195px;
}

.sr a {
    display: block;
    position: relative;
    padding: 10px 0;
    margin: 0;
    font-family: 'Muller-Regular';
    font-size: 12px;
    line-height: 14px;
}

.sr a:hover {
    color: #f2463e;
}

.sr a:after {
    content: "";
    position: absolute;
    left: 95px;
    top: 5px;
    width: 97px;
    height: 38px;
    background: url('/img/logo_bs.svg') right center no-repeat;
}

@media screen and (max-width: 1200px) {
    .footer_item_1,
    .footer_item_2 {
        margin-right: 30px;
    }

    .footer_item_3 {
        margin-right: 50px;
    }

    .rules {
        width: 380px;
        margin-right: 30px;
    }
}

@media screen and (max-width: 992px) {
    .footer_item_1,
    .footer_item_2,
    .footer_item_3,
    .footer_item_4,
    .rf,
    .rules {
        width: 50%;
        margin-right: 0;
    }

    .footer_item_2,
    .footer_item_4 {
        float: right;
    }

    .footer_item_3 {
        margin-top: 30px;
    }

    .sr {
        float: right;
        width: 200px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 768px) {
    #footer {
        text-align: center;
    }

    .footer_item_1,
    .footer_item_2,
    .footer_item_3,
    .footer_item_4,
    .rf,
    .rules {
        width: 100%;
        margin: 10px auto;
        display: inline-block;
        vertical-align: top;
        float: none;
    }

    .ft_logo_text_block h5 {
        padding-left: 0;
        margin: 10px auto;
        font-family: 'Muller-Regular';
        font-size: 12px;
    }

    .ft_logo_text_block h5 br {
        display: none;
    }

    .footer_item_2 ul {
        padding: 0;
        margin: 0;
        font-size: 18px;
        line-height: 24px;
    }

    .politika a {
        margin: 10px auto;
    }

    .bottom {
        margin-top: 0;
    }

    .sr a {
        text-align: left;
    }

}


/* pop-up */

.wrapper {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 9999;
}

/* close */

.close {
    width: 40px;
    height: 40px;
    overflow: hidden;
    float: right;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 207;
    opacity: 1 !important;
}

.close::after {
    content: '';
    position: absolute;
    width: 28px;
    height: 3px;
    background: #fff;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 19px;
    left: 6px;
    z-index: 208;
}

.close::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 3px;
    background: #fff;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 19px;
    left: 6px;
    z-index: 208;
}

.close:hover {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.close:hover,
.close:not(:hover) {
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
    -ms-transition: All 0.2s ease;
    transition: All 0.2s ease;
}

.z-box {
    display: none;
    width: 530px;
    padding: 50px 0 70px 0;
    margin-left: -265px;
    margin-top: -300px;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 99999;
    border-radius: 22px;
    background: #f2463e;
}

.z-box h2, .z-box .h2 {
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 35px 0;
    color: #fff;
    cursor: default;
}

.formbox {
    width: 325px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    position: relative;
    z-index: 5;
}

.formbox label {
    color: #fff;
    text-align: left;
    float: left;
    margin: 10px 0 0 5px;
}

.formbox input {
    font-size: 16px;
    line-height: 20px;
    text-indent: 0;
    text-align: left;
    width: 100%;
    height: 45px;
    padding: 16px 30px 16px 30px;
    margin: 0 0 5px 0;
    color: rgba(0, 0, 0, 1);
    border: 1px solid #000;
    border-radius: 8px;
    outline: none;
    -webkit-appearance: none;
    background: #fff;
}

.formbox textarea {
    font-size: 16px;
    line-height: 20px;
    text-indent: 0;
    text-align: left;
    width: 100%;
    height: 90px;
    padding: 16px 30px 16px 30px;
    margin: 0 0 5px 0;
    color: rgba(0, 0, 0, 1);
    border: 1px solid #000;
    border-radius: 8px;
    outline: none;
    -webkit-appearance: none;
    background: #fff;
}

.formbox input.submit-button {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 38px;
    width: 165px;
    height: 35px;
    padding: 0;
    margin: 10px 0 0 0;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    color: #ffffff;
    background: #225ac8;
    border: none;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -khtml-border-radius: 35px;
    -moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
}

.submit-button:hover {
    background: #225ac8;
    opacity: 0.8;
    -moz-box-shadow: 0 10px 20px 0 rgba(255, 124, 0, 0);
    -webkit-box-shadow: 0 10px 20px 0 rgba(255, 124, 0, 0);
    box-shadow: 0 10px 20px 0 rgba(255, 124, 0, 0);
    outline: none;
}

.submit-button:hover,
.submit-button:not(:hover) {
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
    -ms-transition: All 0.2s ease;
    transition: All 0.2s ease;
}

@media screen and (max-width: 992px) {
    .z-box {
        display: none;
        width: 530px;
        padding: 50px 0 70px 0;
        margin-left: -265px;
        margin-top: 30px;
        position: fixed;
        left: 50%;
        top: 0;
        z-index: 99999;
        border-radius: 22px;
        background: #f2463e;
    }
}

@media screen and (max-width: 580px) {
    .z-box {
        display: none;
        width: 300px;
        padding: 40px 0 30px 0;
        margin-left: -150px;
        margin-top: 20px;
        position: fixed;
        left: 50%;
        top: 0;
        z-index: 99999;
        border-radius: 22px;
        background: #f2463e;
    }

    .close {
        width: 30px;
        height: 30px;
        overflow: hidden;
        float: right;
        padding: 0;
        margin: 0;
        cursor: pointer;
        outline: none;
        position: absolute;
        top: 5px;
        right: 10px;
        z-index: 207;
        opacity: 1 !important;
    }

    .close::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 3px;
        background: #fff;
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 14px;
        left: 6px;
        z-index: 208;
    }

    .close::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 3px;
        background: #fff;
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 14px;
        left: 6px;
        z-index: 208;
    }

    .z-box h2 {
        text-align: center;
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;
        padding: 0;
        margin: 0 0 10px 0;
        color: #fff;
        cursor: default;
    }

    .formbox {
        width: 260px;
        margin: 0 auto;
        padding: 0;
        text-align: center;
        position: relative;
        z-index: 5;
    }

    .formbox label {
        color: #fff;
        font-size: 14px;
        text-align: left;
        float: left;
        margin: 5px 0 0 5px;
    }

    .formbox input {
        font-size: 16px;
        line-height: 20px;
        text-indent: 0;
        text-align: left;
        width: 100%;
        height: 30px;
        padding: 5px 5px 5px 15px;
        margin: 0 0 5px 0;
        color: rgba(0, 0, 0, 1);
        border: 1px solid #000;
        border-radius: 8px;
        outline: none;
        -webkit-appearance: none;
        background: #fff;
    }
}

/* thnx */

.thnx {
    display: none;
    width: 430px;
    padding: 50px 0 70px 0;
    margin-left: -215px;
    margin-top: -150px;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 99999;
    border-radius: 22px;
    background: #e3e3e3;
    text-align: center;
}

.thnx h2 span {
    color: #215ac7;
    font-family: 'Muller-Bold';
    font-size: 30px;
    padding-bottom: 20px;
}

.thnx h2 {
    color: #000;
    font-family: 'Muller-Regular';
    font-size: 24px;
    padding: 0 40px;
}

.thnx .close::after {
    content: '';
    position: absolute;
    width: 28px;
    height: 3px;
    background: #000;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 19px;
    left: 6px;
    z-index: 208;
}

.thnx .close::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 3px;
    background: #000;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 19px;
    left: 6px;
    z-index: 208;
}


/* checkbox */

.checkbox {
    text-align: left;
    font-size: 14px;
    line-height: 18px;
    padding: 0 0 0 33px !important;
    margin: 0 0 20px 0;
    float: left;
    color: #fff;
    cursor: pointer;
    position: relative;
}

.checkbox input[type=checkbox] {
    display: none;
}

.checkbox label {
    text-align: left;
    font-size: 14px;
    line-height: 18px;
    padding: 0;
    margin: 0;
    color: #fff;
    cursor: pointer;
    position: relative;
}

.checkbox label a {
    text-align: left;
    font-size: 14px;
    line-height: 18px;
    padding: 0;
    margin: 0;
    color: #fff;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    position: relative;
}

.checkbox label a:hover {
    border-bottom: none;
}

.checkbox label:after {
    content: '';
    display: block;
    outline: none;
    border: none;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -30px;
    top: 0;
    z-index: 11;
    margin: 0;
    cursor: pointer;
    border: 1px solid #fff;
    background: #fff;
    /*background: url('../../images/check-1.png');*/
}

.checkbox input[type=checkbox]:checked + label:after {
    background: url('../../images/check-2.png');
}

.mob {
    display: none;
}

.play-video {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -75px;
    margin-top: -75px;
    display: none;
}

.video-link{
    position: relative;
}

@media screen and (max-width: 767px) {

    .play-video {
        display: block;
    }

    #box_1_w {
        display: none;
    }
    .mob {
        display: block;
    }
    .deck {
        display: none;
    }

    #box_4_w {
        display: none;
    }
    #box_5 {
        display: none;
    }
    .services-cell-1 .services-cell-discr,
    .services-cell-2 .services-cell-discr,
    .services-cell-3 .services-cell-discr,
    .services-cell-4 .services-cell-discr,
    .services-cell-5 .services-cell-discr,
    .services-cell-6 .services-cell-discr {
        position: relative;
        top: 0;
    }
    .services img {
        display: none;
    }
    #box_5_w{
        display: none;
    }
    .servicePage .services-cell-1,
    .servicePage .services-cell-2,
    .servicePage .services-cell-3,
    .servicePage .services-cell-4,
    .servicePage .services-cell-5,
    .servicePage .services-cell-6,
    .servicePage .services-cell-7,
    .servicePage .services-cell-8,
    .servicePage .services-cell-9,
    .servicePage .services-cell-10,
    .servicePage .services-cell-11,
    .servicePage .services-cell-12,
    .servicePage .services-cell-13{
        height: 115px!important;
    }
    .services-cell-1:hover .services-cell-discr,
    .services-cell-2:hover .services-cell-discr,
    .services-cell-3:hover .services-cell-discr,
    .services-cell-4:hover .services-cell-discr,
    .services-cell-5:hover .services-cell-discr,
    .services-cell-6:hover .services-cell-discr,
    .services-cell-1,
    .services-cell-2,
    .services-cell-3,
    .services-cell-4,
    .services-cell-5,
    .services-cell-6 {
        height: 147px;
        transition: none;
        transform: none;
        position: relative;
        top: 0;
        padding: 10px 10px 0px 10px;
    }
    .services-cell-7 .services-cell-discr,
    .services-cell-8 .services-cell-discr,
    .services-cell-9 .services-cell-discr,
    .services-cell-10 .services-cell-discr,
    .services-cell-11 .services-cell-discr,
    .services-cell-12 .services-cell-discr,
    .services-cell-13 .services-cell-discr {
        position: relative;
        top: 0;
    }
    .services-cell-7 .services-cell-discr,
    .services-cell-8 .services-cell-discr,
    .services-cell-9 .services-cell-discr,
    .services-cell-10 .services-cell-discr,
    .services-cell-11 .services-cell-discr,
    .services-cell-12 .services-cell-discr,
    .services-cell-13 .services-cell-discr {
        height: 197px;
        transition: none;
        transform: none;
        position: relative;
        top: 0;
        padding: 10px 10px 0px 10px;
    }
    .services-cell-7,
    .services-cell-8,
    .services-cell-9,
    .services-cell-10,
    .services-cell-11,
    .services-cell-12,
    .services-cell-13 {
        height: 197px;
    }
    .services-cell-7:hover .services-cell-discr,
    .services-cell-8:hover .services-cell-discr,
    .services-cell-9:hover .services-cell-discr,
    .services-cell-10:hover .services-cell-discr,
    .services-cell-11:hover .services-cell-discr,
    .services-cell-12:hover .services-cell-discr,
    .services-cell-13:hover .services-cell-discr{
        padding: 10px 10px 0px 10px;
    }
    .dropdown-menu a span{
        display: none;
    }
}

#top_w{
    position: fixed;
    width: 100%;
    z-index: 10000;
}

#text-box p a{
    color:#f2463e;
}
.main-columns {
    -webkit-columns: 200px 2;
    -moz-columns: 200px 2;
    columns: 200px 2;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    -webkit-column-rule: 1px solid #ccc;
    -moz-column-rule: 1px solid #ccc;
    column-rule: 1px solid #ccc;
}

@media (max-width: 991px) {
.main-columns {
    -webkit-columns: 200px 1;
    -moz-columns: 200px 1;
    columns: 200px 1;
    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
    column-gap: 0px;
    -webkit-column-rule: none;
    -moz-column-rule: none;
    column-rule: none;
}
}
.pageMenu li {
    text-align: left;
}
.pageMenu>ul {
    list-style: none!important;
    padding: 0!important;
}
.pageMenu>ul>li{
    list-style:none;
    padding:0;
    display:block;
    position:relative;
}
.pageMenu>ul>li .sb_showchild{
    position: absolute;
    width: 25px;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    cursor:pointer;
    background:url(/images/sb_arrow_close-dark.png) no-repeat center;
}
.pageMenu>ul>li .sb_showchild:hover{background-color:#1C4AA6 !important;}
.pageMenu.red>ul>li .sb_showchild:hover{background-color:#D03D35 !important;}

.pageMenu>ul>li.current .sb_showchild,  .pageMenu>ul>li .sb_showchild:hover{background:url(/images/sb_arrow_close.png) no-repeat center;}
.pageMenu>ul>li.nav-open .sb_showchild{ background:url(/images/sb_arrow_open-dark.png) no-repeat center;}
.pageMenu>ul>li.current.nav-open .sb_showchild, .pageMenu>ul>li.nav-open .sb_showchild:hover, .pageMenu>ul>li.current.nav-open .sb_showchild:hover{ background:url(/images/sb_arrow_open.png) no-repeat center;}
.pageMenu>ul>li>div>a{
    display:block;
    font-size:14px;
    font-weight: 600;
    color:#333;
    padding:0;
    text-decoration:none;
}
.pageMenu>ul>li>div {
    position: relative;
}
.pageMenu a {
    outline: none!important;
}
.pageMenu>ul>li>div>a>span{
    display:block;
    border-bottom:1px solid rgba(34,90,200,.3);
  padding: 15px 20px 15px 30px;
  /*padding: 15px 50px 15px 30px;*/
}
.pageMenu.red>ul>li>div>a>span{
    display:block;
    border-bottom:1px solid rgba(242,70,62,.3);
  padding: 15px 20px 15px 30px;
  /*padding: 15px 50px 15px 30px;*/
}
.pageMenu>ul>li:first-child>a{
    /*font-weight:bold;
    text-shadow:0 1px 1px rgba(255,255,255,.75);*/
}
/* .pageMenu>ul>li>a:hover span,
.pageMenu>ul>li.current:hover>a span{border-bottom:1px solid #e3eeef} */
.pageMenu>ul>li:first-child>div>a span,
.pageMenu>ul>li:first-child:hover>div>a span,
.pageMenu>ul>li.current:first-child>div>a span,
.pageMenu>ul>li.current:first-child:hover>div>a span,
.pageMenu>ul>li.nav-open:first-child,
.pageMenu>ul>li.nav-open.current:first-child>div>a span {border-bottom:none !important}

.pageMenu>ul>li.nav-open:first-child>div>a span {border-bottom:1px solid rgba(34,90,200,.3) !important}
.pageMenu.red>ul>li.nav-open:first-child>div>a span {border-bottom:1px solid rgba(242,70,62,.3) !important}

.pageMenu>ul>li>ul>li:hover {
    background: rgba(0, 77, 255, 0.09);
}
.pageMenu.red>ul>li>ul>li:hover {
    background: rgba(242,70,62,0.09);
}
.pageMenu ul li.item-selected {
  background: rgba(0, 77, 255, 0.14)!important;
}
.pageMenu.red ul li.item-selected {
  background: rgba(242,70,62,0.09)!important;
}

.il_fl_filter.nav-close .il_fl_field,
.pageMenu>ul>li.nav-close ul,
.vc_content>ul>li.nav-close ul{
    height:0;
    overflow:hidden;
}
.pageMenu>ul>li.current>div>a {
    background: #225ac8;
    color: #fff;
}
.pageMenu.red>ul>li.current>div>a {
    background: #f2463e;
    color: #fff;
}
.pageMenu>ul>li>ul {
    background-color: #fff;
}
.pageMenu>ul>li.nav-open ul {
    -webkit-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}
.pageMenu.red>ul>li.nav-open ul {
    background-color: #fff;
    -webkit-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.pageMenu>ul>li.nav-open>ul>li>a {
    color: #333!important;
}
.pageMenu>ul>li:hover, .pageMenu>ul>li.nav-open {
    background-color: rgba(255,255,255,0.9);/*rgba(0,0,0,0.02);*/
}

.pageMenu>ul>li:first-child{
    border-bottom: 1px solid rgba(34,90,200,.3);
}
.pageMenu.red>ul>li:first-child{
    border-bottom: 1px solid rgba(242,70,62,.3);
}
/*.pageMenu>ul>li:first-child{
    background: #c5e7f3;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M1ZTdmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiOWQyZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #c5e7f3 0%, #b9d2e7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c5e7f3), color-stop(100%,#b9d2e7));
    background: -webkit-linear-gradient(top, #c5e7f3 0%,#b9d2e7 100%);
    background: -o-linear-gradient(top, #c5e7f3 0%,#b9d2e7 100%);
    background: -ms-linear-gradient(top, #c5e7f3 0%,#b9d2e7 100%);
    background: linear-gradient(to bottom, #c5e7f3 0%,#b9d2e7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5e7f3', endColorstr='#b9d2e7',GradientType=0 );
}*/
.pageMenu>ul>li.nav-open:last-child>a span{border-bottom:1px solid #e3eeef}

.pageMenu>ul>li>ul{
    padding:0!important;
    display:block;
    margin: 0!important;
}
.pageMenu>ul>li>ul>li{
    list-style:none;
    padding:5px 5px 5px 40px;
}
.pageMenu>ul>li>ul>li>a{
    display:block;
    font-size:14px;
    color:#000;
    padding:3px 0px;
    text-decoration:none;
}
.pageMenu>ul>li>ul>li.current>a,
.pageMenu>ul>li>ul>li>a:hover{
    display:block;
    color:#225ac8;
}
.pageMenu.red>ul>li>ul>li.current>a,
.pageMenu.red>ul>li>ul>li>a:hover{
    display:block;
    color:#f2463e;
}

.pageMenu>ul>li>ul>li.selected-now{
    display:block;
    color:#114b7c;
    background:#dbeaf4;
    box-shadow:inset 1px 1px 1px 1px rgba(0,0,0,.1);
    border-radius:3px;
}


.pageMenu>ul>li>ul>li:last-child{
    padding-bottom:5px;
    border-bottom:1px solid  #225ac8;
}
.pageMenu.red>ul>li>ul>li:last-child{
    padding-bottom:10px;
    border-bottom:1px solid  #f2463e;
}
.pageMenu>ul>li:last-child ul>li:last-child,
.pageMenu>ul>li.nav-close:last-child>a>span{border:none !important}
.pageMenu>ul> li:hover >a {
    background: #225ac8;
    color: #fff;
    -webkit-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.pageMenu.red>ul>li:last-child ul>li:last-child,
.pageMenu.red>ul>li.nav-close:last-child>a>span{border:none !important}
.pageMenu.red>ul> li:hover >a {
    background: #f2463e;
    color: #fff;
    -webkit-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.kosTitle,
.kosTitle a {
    color: #f2463e;
    padding: 20px 0 20px 0;
    font-family: 'Muller-Bold';
    font-size: 24px;
    text-transform: uppercase;
}
.stoTitle,
.stoTitle a {
    color: #225ac8;
    padding: 20px 0 20px 0;
    font-family: 'Muller-Bold';
    font-size: 24px;
    text-transform: uppercase;
}
.kosTitle a:hover,
.stoTitle a:hover {
    text-decoration: underline;
}

.bs-accordion-menu {
    padding-bottom: 30px;
}
/*Аккордеон в прайс-листе*/
.heading-primary {
  font-size: 2em;
  padding: 2em;
  text-align: center;
}

.accordion dl,
.accordion-list {
  border: 1px solid #ddd;
  margin-bottom: 0px;
}
.accordion dl:after,
.accordion-list:after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #163B85;
}

.accordion dd,
.accordion__panel {
  background-color: #fff;
  font-size: 1em;
  line-height: 1.5em;
}

.accordion-content > div {
  padding: 1em;
}

.accordion {
  position: relative;
  background-color: #fff;
}

.accordionTitle,
.accordion__Heading {
  background-color: #fff;
  text-align: center;
  font-weight: 700;
  padding: 1em;
  display: block;
  text-decoration: none;
  color: #333;
  transition: background-color 0.5s ease-in-out;
  border-bottom: 1px solid #163B85;
  outline: none!important;
}
.accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion-title-text, .accordion-price-text {
    pointer-events: none;
}
.accordionTitle:after,
.accordion__Heading:after {
  content: "+";
  font-size: 1.5em;
  line-height: 1em;
  float: right;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.accordionTitle:hover,
.accordion__Heading:hover {
  background-color: #eee!important;
}

.accordionTitleActive,
.accordionTitle.is-expanded {
  background-color: #fff;
}
.accordionTitleActive:after,
.accordionTitle.is-expanded:after {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

.accordionItem {
  height: auto;
  overflow: hidden;
  max-height: 1500px;
  /*max-height: 50em;*/
  transition: max-height 1s;
}
.accordion-price-text {
    margin-left: auto;
    margin-right: 20px;
}
@media screen and (min-width: 48em) {
  .accordionItem {
    max-height: 1500px;
    transition: max-height 0.5s;
  }
}

.accordionItem.is-collapsed {
  max-height: 0;
}

.no-js .accordionItem.is-collapsed {
  max-height: auto;
}
.accordion-content table {
    width: 100%;
}
.accordion-content p {
    margin: 0!important;
    font-size: 16px!important;
}
.accordion-content table tr td {
    padding: 5px;
    border: 1px solid rgba(34,90,200,.3);
}
.accordion-content table tr td:nth-child(2) {
    padding-left: 5px;
    border-left: none;
    padding-right: 30px;
}
.accordion-content table tr:first-child td {
    border-top: none;
}

.accordion-content table tr:last-child td {
    border-bottom: none;
}
.accordion-content table tr td:last-child p  {
    border-bottom: 1px solid rgba(34,90,200,.3);
    font-size: 14px!important;
    color: red!important;
    white-space: nowrap;
}
.accordion-content table tr td:last-child p:last-child  {
    border-bottom: none;
}

.accordion-content table tr td:last-child {
    border-right: none;
    color: red;
    padding-right: 30px;
    padding-left: 30px;
}
.animateIn {
  -webkit-animation: accordionIn 0.45s normal ease-in-out both 1;
          animation: accordionIn 0.45s normal ease-in-out both 1;
}

.animateOut {
  -webkit-animation: accordionOut 0.45s alternate ease-in-out both 1;
          animation: accordionOut 0.45s alternate ease-in-out both 1;
}

@-webkit-keyframes accordionIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes accordionIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes accordionOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
  }
}
@keyframes accordionOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
  }
}

.tabs__caption-href,
.tabs__caption {
    display:  flex;
    align-items:  center;
    padding-left: 0;
    justify-content:  space-around;
}
.tabs__caption-href li,
.tabs__caption li,
.tabs__caption-href > a,
.tabs__caption > a,
.tabs__caption-href > h1,
.tabs__caption > h1,
.tabs__caption-href > div,
.tabs__caption > div {
    display: flex;
    padding: 20px 0;
    justify-content:  center;
    width:  50%;
    align-items:  center;
    margin: 0;
    height:  100%;
    cursor: pointer;
    font-size: 30px!important;
}
.tabs__caption .tabs__st, .tabs__caption .tabs__st a,
.tabs__caption-href .tabs__st, .tabs__caption-href .tabs__st a {
    text-decoration: underline;
    text-decoration-style: dotted;
    color: #225ac8;
    background: transparent;
}
.tabs__caption .tabs__st.active,
.tabs__caption-href .tabs__st.active {
    text-decoration: none!important;
    background: #225ac8;
    color: #fff;
}
.tabs__caption .tabs__kos, .tabs__caption .tabs__kos a, .tabs__caption-href .tabs__kos, .tabs__caption-href .tabs__kos a {
    text-decoration: underline;
    text-decoration-style: dotted;
    background: transparent;
    color:  #f2463e;
}
.tabs__caption .tabs__kos.active, .tabs__caption-href .tabs__kos.active {
    text-decoration: none!important;
    background:  #f2463e;
    color: #fff;
}

.tabs__content {
  display: none; /* по умолчанию прячем все блоки */
}
.tabs__content.active {
  display: block; /* по умолчанию показываем нужный блок */
}
@media (max-width: 600px) {
    .tabs__caption, .tabs__caption-href {
        flex-wrap: wrap;
    }
    .tabs__caption li, .tabs__caption-href li {
        width: 100%;
    }
}
.pt-20 {
    padding-top: 20px!important;
}
.pb-0 {
    padding-bottom: 0px!important;
}
.pt-0 {
    padding-top: 0px!important;
}
.mb-0 {
    margin-bottom: 0px!important;
}
.mt-0 {
    margin-top: 0px!important;
}
.pl-0 {
    padding-left: 0px!important;
}
.pb-10 {
    padding-bottom: 10px!important;
}
.pb-15 {
    padding-bottom: 15px!important;
}
.p-15 {
    padding: 15px!important;
}
.pb-30 {
    padding-bottom: 30px!important;
}
.mb-30 {
    margin-bottom: 30px!important;
}
.mt-a {
    margin-top: auto!important;
}
.d-inline-block {
    display: inline-block;
}
.d-block {
    display: block;
}
.h-100 {
    height: 100%;
}
.docBlockSubTitle {
    font-family: 'Muller-Bold';
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}
.st {
    color: #225ac8;
}
.kos {
    color: #f2463e;
}
.adm {
    color: #000;
}
.docBlock {
    transition: box-shadow .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.docBlock:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.docBlock hr {
    margin-top: 5px!important;
    margin-bottom: 5px!important;
}
.docBlocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}
.doctor__title-small {
    font-family: 'Muller-Bold';
    font-size: 20px;
}
.doctor__clinic {
    font-size: 18px;
}
.doctor__worktime-title {
    font-family: 'Muller-Bold';
    font-size: 16px;
}
.subTitleH2 {
    display: inline-block;
    border-bottom: 2px solid transparent;
    transition: all 0.33s ease-out;
}
.redHrefs .subTitleH2:hover {
    border-bottom-color: #f2463e;
    color: #f2463e;
}
.blueHrefs .subTitleH2:hover {
    color: #225ac8;
}
.navbar-nav > li > a {
    outline: none!important;
}
@media (min-width: 1200px) {
    .navbar-nav > li {
        padding: 0 25px 0 20px!important;
    }
}
@media (min-width: 992px) {
    .navbar-nav > li {
        padding: 0 15px 0 10px!important;
    }
}
#top {
    border: 1px solid rgba(255,255,255,0.5);
    bottom: 20px;
    right: 30px;
    cursor: pointer;
    display: none;
    font-size: 150%;
    position: fixed;
    background: url(../images/top-link.png);
    width: 60px;
    height: 60px;
    background-color: rgba(242,70,62,0.8);
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: 50%;
    z-index: 9999;
}
@media (max-width: 767px) {
    #top {
        bottom: 15px!important;
        right: 15px!important;
        width: 40px!important;
        height: 40px!important;
    }
}
@media (max-width: 995px) {
.dropdown-menu { left: unset!important; }
}

@media (max-width: 600px) {
.tabs__kos, .tabs__st { width: 100%!important; }
}

@media (max-width: 500px) {
.accordion-content table tr td:last-child p {     white-space: unset!important; }
.accordion-content table tr td:last-child, .accordion-content table tr td:nth-child(2) { padding-left: 5px!important; padding-right: 5px!important; }
}
.dropdown-menu ul li a:hover { color: #f2463e!important; }
.butr_e {
    color: #fff;
    cursor: pointer;
    font-size: 24px!important;
    font-family: 'Muller-Bold';
    margin-top: 20px;
    text-transform: uppercase;
    padding: 10px 15px 5px 15px;
    background: #225ac8;
    border-radius: 5px;
	transition: 0.3s;
}

.butr_e:hover {  background: #f2463e; color: #fff!important; }

.mobile-header { display: none; }

.call {
	display: block;
	position: absolute;
    top: 0.5em;
    left: 0;

}

.call:after {
    background: url(/images/telephone.svg) no-repeat;
    background-position: center;
}

.call:after {
    content: "";
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 15px;
    cursor: pointer;
}

.mobile_menu {
    display: block;
    position: absolute;
	top: 0.5em;
    right: 0;
}

.mobile_menu:after {
    background: url(/images/mobile-menu-black.svg) no-repeat;
    background-position: center;
}

.mobile_menu:after {
    content: "";
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
}

.logo-image { width: auto; height: 50px; }
.logo_m { width: 60%; text-align: center; margin: 0 auto; }
.logo__text { display: none; }
.mm-panels>.mm-panel>.mm-listview {
    margin: 3em -20px 4em -20px!important;
}

.mm-navbar a { font-size: 2rem!important; }
#for_mobile_meny { display: none; }


@media screen and (max-width: 992px) {

	.mobile-header { display: block; }
	.caret, #navbar { display: none!important; }
	.nav > li > a.active { color: #fff!important; }
	.mm-panels .dropdown-menu { min-width: unset; }
	.servicePage { display: none; }

}

.dropdown .menu-col-1 li a[href="/stomatologiya"]:hover {
    color: #225ac8!important;
}

.accordion-content table tr td:last-child { width: 270px; }

.otz p { font-weight: 600; font-size: 18px; margin-top: 1em; }
ul li a
{
color: #000;
}
.menu-bar{
    width:100%;
    Height:40px;
}
.menu-bar-item{
    font-weight: 700;
    display:inline-block;
    background: #fff;
    height: 100%;
    text-align: center;
    padding: 10px 20px 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top: 1px solid #163b85;
    cursor:pointer;
}
.menu-bar-item-active{
    background: #eee;
}

@media (min-width: 1024px)
{
    .first-banner .title h2
    {
        margin-bottom: 20px !important;
    }
}