<?php 
  echo $this->headTitle("Добавить город");
?> 
<div class="header"> 
    <h1 class="page-title">Добавление города</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/admintowns">Города</a> </li> &gt;&gt;
        <li class="active">Добавить</li>
    </ul>
</div>
<div class="dialog">
    <div class="panel panel-default"> 
        <div class="panel-body">
            <?php echo $this->form; ?>
        </div>
    </div>
</div>