<?php
    $this->title = "Удаление города";
    $this->headTitle($this->title);
?>
<div class="header"> 
    <h1 class="page-title">Города</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/admintowns">Города</a> </li> &gt;&gt;
        <li class="active">Удаление</li>
    </ul>
</div>
<div class="box"> 
<div class="box-content">
</br></br>
	<h3>Вы действительно хотите удалить город 
		'<?php echo $this->escape($this->town['town_name']); ?>'?
	</h3>
	<form action="<?php echo $this->url(array('action'=>'deletetown')); ?>" method="post">
		<div>
			<input type="hidden" name="town_id" value="<?php echo $this->town['town_id']; ?>" />
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true" name="del" value="No">Нет</button>
			<button class="btn btn-danger" data-dismiss="modal" name="del" value="yes">Удалить</button>    
		</div>
	</form>
<div>
<div>