<?php echo $this->headTitle("Города");?>

<div class="header"> 
    <h1 class="page-title">Города</h1> 
    <ul class="breadcrumb">
        <li class="active">Города</li>
    </ul>
</div>  
<div class="box"> 
<div class="box-content">
<a class="btn btn-primary" href="<?php echo 'admintowns/addtown';?>" title=""><i class="btn-icon-only icon-plus-sign"></i>Добавить город</a>

<table class="table table-hover">
    <thead>
        <tr> 
            <th width="80%">Город</th>
            <th width="10%">Редактировать</th> 
            <th width="10%">Удалить</th> 
        </tr> 
    </thead>
    <tbody>
    <?php foreach($this->paginator as $towns) : ?>
	<tr>
        <td><?php echo $this->escape($towns->town_name); ?></td> 
        <td align="center">
            <a href="<?php echo 'admintowns/edittown/town_id/'.$towns->town_id;?>" title="<?php echo "Редактировать";?>" class="btn btn-small btn-info"><i class="btn-icon-only icon-edit"></i></a>
        </td>
        <td align="center">
            <a href="<?php echo 'admintowns/deletetown/town_id/'.$towns->town_id; ?>" class="btn btn-small btn-danger"><i class="btn-icon-only icon-trash"></i></a>
        </td>
    </tr>
    <?php endforeach; ?>
    </tbody>
</table>
</div> 
</div>
