<h1>Виртуальный тур по клинике на <strong>Космонавтов, 26<br /></strong></h1>
<br />
<script src="/public/media/vtour1/tour.js"></script>
<div id="pano" style="width: 100%; height: 650px;"><noscript><table style="width:100%;height:100%;"><tr style="valign:middle;"><td><div style="text-align:center;">ERROR:<br/><br/>Javascript not activated<br/><br/></div></td></tr></table></noscript>
<script type="text/javascript">// <![CDATA[
		embedpano({swf:"/public/media/vtour1/tour.swf", xml:"/public/media/vtour1/tour.xml", target:"pano", html5:"auto", passQueryParameters:true});
// ]]></script>
</div>
