<?php
    echo $this->headTitle("Добавить фото для статьи");  
?>
<div class="header"> 
    <h1 class="page-title">Фото для модуля Здоровье и красота</h1>
    <ul class="breadcrumb">
        <li><a href="/members/health">Все объекты</a> </li> &gt;&gt;
        <li class="active">Фото для объекта: <?php echo $this->entertainment_object['object_title']?></li>
    </ul>
</div>

    <?php echo $this->form; ?>
	