<?php
    $this->title = "Удаление фото";
    $this->headTitle($this->title);
?>
<div class="header"> 
    <h1 class="page-title">Фото для модуля Здоровье и красота</h1>
    <ul class="breadcrumb">
        <li><a href="/members/health">Все объекты</a> </li> &gt;&gt;
        <li class="active">Фото для объекта: <?php echo $this->entertainment_object['object_title']?></li>
    </ul>
</div>
<h3>Вы действительно хотите удалить фото
<img src="<?php echo $this->host;?>/media/photos/objectspages/small_<?php echo $this->photo['photo_file']; ?>" border = "1" height = "140" width = "190" > ?
</h3>
<form action="<?php echo $this->url(array('action'=>'delete')); ?>" method="post">
    <div>
        <input type="hidden" name="photo_id" value="<?php echo $this->photo['photo_id']; ?>" />
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true" name="del" value="No">Нет</button>
        <button class="btn btn-danger" data-dismiss="modal" name="del" value="yes">Удалить</button> 
    </div>
</form>