<?php echo $this->headTitle(""); ?>
<div class="header"> 
    <h1 class="page-title">Фото для модуля Здоровье и красота</h1>
    <ul class="breadcrumb">
        <li><a href="/members/health">Все объекты</a> </li> &gt;&gt;
        <li class="active">Фото для объекта: <?php echo $this->entertainment_object['object_title']?></li>
    </ul>
</div>
        <table border="0" width="60%" align="center">	
	        <tr>
                <td>
		            <img src="<?php echo $this->webhost;?>/media/photos/objectspages/small_<?php echo $this->photo["photo_file"]; ?>" border = "0" height = "" WIDTH = "" >
                </td>
            </tr> 
		    <tr>
                <td><p align = "center" ><font size="4" color="red" face="Arial"><?php echo $this->errMessage; ?></font></p>
                    <div>
                       <?php echo $this->form; ?>
                    </div>
                </td>
            </tr> 
        </table>  