<?php if ($this->pageCount): ?>
 
    <div class="content-container">
 
        <ul id="content-list-pagecount-container">
               
     
            <?php //Now put the first page link
    
                if($this->current > 1 && $this->firstPageInRange > 1){ ?>
    
                    <li><a href="<?php echo $this->url(array('page' => 1), 'default', false); ?>" ><?php echo Zend_Locale_Format::toNumber(1)?></a></li>
    
                <?php } ?>
    
                    <!-- Numbered page links -->
    
                <?php foreach ($this->pagesInRange as $page): ?>
    
                <?php if ($page != $this->current): ?>
    
                    <li><a href="<?php echo $this->url(array('page' => $page), 'default', false); ?>" ><?php echo Zend_Locale_Format::toNumber($page); ?></a></li>
    
                <?php else: ?>
    
                    <li id="content-list-pagecount-current"><span class=""><?php echo $page; ?></span></li>
    
                <?php endif; ?>
    
                <?php endforeach; ?>
    
                <?php //Now put the last page link
    
                if($this->current != $this->last && $this->last > $this->lastPageInRange){ ?>
    
                    <li><a href="<?php echo $this->url(array('page' => $this->last), 'default', false); ?>" ><?php echo Zend_Locale_Format::toNumber($this->last);?></a></li>
    
                <?php } ?>
                     
               
        </ul>
    </div>
<?php endif; ?>
