<?php
	echo $this->headTitle("Добавить главное фото для статьи");  
?>
<div class="header"> 
    <h1 class="page-title">Новости</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/adminnews">Все новости</a></li> &gt;&gt;
        <li class="active">Добавление главного фото для статьи: <?php echo $this->news_object['news_title']?></li>
    </ul>
</div>

    <p align = "center" ><font size="3" color="red" face="Arial"><?php echo $this->errMessage; ?></font></p>
   
    <?php echo $this->form; ?>
