<?php
    echo $this->headTitle("Добавить фото для статьи");  
?>
<div class="header"> 
    <h1 class="page-title">Новости</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/adminnews">Все новости</a> </li>
        <li class="active">Добавление фото для статьи: <?php echo $this->news_object['news_title']?></li>
    </ul>
</div>

    <?php echo $this->form; ?>
	