<?php
    $this->title = "Удаление главного фото для статьи";
    $this->headTitle($this->title);
?>
<div class="header"> 
    <h1 class="page-title">Новости</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/adminnews">Все новости</a> </li>
        <li class="active">Удаление главного фото для статьи: <?php echo $this->news_object['news_title']?></li>
    </ul>
</div>
<h3>Вы действительно хотите удалить фото ?</h3>
<p>
<img src="<?php echo $this->host;?>/media/photos/news/main_photos/small_<?php echo $this->news_object["main_photo"]; ?>" border = "1" height = "140" width = "190" >
</p>
<form action="<?php echo $this->url(array('action'=>'deletemainphoto')); ?>" method="post">
    <div>
        <input type="hidden" name="main_photo" value="<?php echo $this->news_object["main_photo"]; ?>" />
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true" name="del" value="No">Нет</button>
        <button class="btn btn-danger" data-dismiss="modal" name="del" value="yes">Удалить</button>  
    </div>
</form>