<?php echo $this->headTitle("Фото для статьи"); ?>
<div class="header"> 
    <h1 class="page-title">Фото для статьи</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/adminnews">Все новости</a> </li>
        <li class="active">Фото для статьи: <?php echo $this->news_object['news_title']?></li>
    </ul>
</div>
<?php $filter = new Zend_Filter_StringTrim();?>
</br>
<a class="btn btn-primary" href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'adminnewsphoto', 'action'=>'addphoto'));?>" ><i class="btn-icon-only icon-plus-sign"></i>Добавить фото 
для страницы</a> 

<table class="table table-hover">

<?php if($this->news_main_photo_file) {       ?>

	<tr>
        <th width="20%"><?php echo "Главное фото"; ?></th>
		<th width="15%"><?php echo "Редактировать"; ?></th>
		<th width="15%"><?php echo "Удалить"; ?></th>      
    </tr>
	
    <tr>
	    <td>
            <img src="<?php echo $this->host;?>/media/photos/news/main_photos/small_<?php 
			echo $this->news_main_photo_file; ?>" border = "0" height = "100" WIDTH = "140" >
        </td>
		
		<td align="center">
			<a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'adminnewsphoto', 'action'=>'editmainphoto', 'news_id' => $this->news_object['news_id']));?>" 
class="btn btn-small btn-info"><i class="btn-icon-only icon-edit"></i>
			</a>
		</td>
        <td align="center">
			<a href="<?php echo $this->url(array('module'=>'admin', 'controller' => 'adminnewsphoto', 'action' => 'deletemainphoto', 'news_id' => 
$this->news_object['news_id'])); ?>" class="btn btn-small btn-danger"><i class="btn-icon-only icon-trash"></i></a>
		</td>
    </tr>
<?php } else {?> 
    <a class="btn btn-primary" href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'adminnewsphoto', 'action'=>'addmainphoto'));?>" title=""><i class="btn-icon-only 
icon-plus-sign"></i>Добавить главное фото</a>

<?php } ?>	

    </br>
    <tr>
        <th width="20%"><?php echo "Фото для страницы"; ?></th>
        <th width="30%"><?php echo "Адрес для редактора<br>( скопировать и вставить )"; ?></th>
        <th width="15%"><?php echo "Вставить ссылку"; ?></th>
		<th width="15%"><?php echo "Редактировать"; ?></th>
		<th width="15%"><?php echo "Удалить"; ?></th>      
    </tr>
   
	<?php foreach($this->paginator as $photo) : ?>
    <tr>
	    <td>
            <img src="<?php echo $this->host;?>/media/photos/news/pages/small_<?php echo $photo->photo_file; ?>" border = "1" height = "" WIDTH = "130" >
        </td>
		<td>
            <?php echo $this->host;?>/media/photos/news/pages/big_<?php echo $photo->photo_file; ?>
        </td>
        <td align="center"><a href="<?php echo '/admin/adminnews/edititem/news_id/'.$photo->news_id; ?>" class="btn btn-small btn-info"><i class="btn-icon-only icon-camera"></i></a></td>
		<td align="center"><a href="<?php echo $this->url(array('module'=>'admin', 'controller'=>'adminnewsphoto', 'action'=>'editphoto', 'photo_id' => $photo->photo_id));?>" class="btn btn-small 
btn-info"><i class="btn-icon-only icon-edit"></i></a></td>
		
        <td align="center"><a href="<?php echo $this->url(array('module'=>'admin', 'controller' => 'adminnewsphoto', 'action' => 'delete', 'photo_id' => $photo->photo_id)); 
?>" class="btn btn-small btn-danger"><i class="btn-icon-only icon-trash"></i></a></td>
    </tr>
	<?php endforeach; ?>
</table>
</br>
<?php echo $this->paginationControl($this->paginator, 'Elastic', 'controls.phtml'); ?>
