<?php
	$pieces = explode("/", $_SERVER['REQUEST_URI']);
	$pieces_02 = explode("?", $pieces[2]); 
	$pieces_03 = explode("?", $_SERVER['REQUEST_URI']);// echo $pieces_03[1];
?>
<?php if ($this->pageCount): ?>
 
        <div class="pagination">
			<div class="container">
				<div class="pagination_left">
					<p>Страницы: </p> 
                    <!-- Previous page link -->
    
            <?php if (isset($this->previous)): ?>
    
                <a href="<?php echo '/'.$pieces[1].'/'.$pieces_02[0].'/page/'.$this->previous.'/?'.@$pieces_03[1]?>" class="next" >&lt;&lt;</a>
    
            <?php endif; ?>
    
            <?php //Now put the first page link
    
                if($this->current > 1 && $this->firstPageInRange > 1){ ?>
    
                    <a href="<?php echo $this->url(array('page' => 1), 'default', false); ?>" ><?php echo Zend_Locale_Format::toNumber(1)?></a>
    
                <?php } ?>
    
                    <!-- Numbered page links -->
    
                <?php foreach ($this->pagesInRange as $page): ?>
    
                <?php if ($page != $this->current): ?>
    
                    <a href="<?php echo '/'.$pieces[1].'/'.$pieces_02[0].'/page/'.$page.'/?'.@$pieces_03[1]?>" ><?php echo Zend_Locale_Format::toNumber($page); ?></a>
    
                <?php else: ?>
    
                    <a class="active" href="#"><?php echo $page; ?></a>
    
                <?php endif; ?>
    
                <?php endforeach; ?>
    
                <?php //Now put the last page link
    
                if($this->current != $this->last && $this->last > $this->lastPageInRange){ ?>
    
                    <a href="<?php echo '/'.$pieces[1].'/'.$pieces_02[0].'/page/'.$this->last.'/?'.@$pieces_03[1] ?>" ><?php echo Zend_Locale_Format::toNumber($this->last);?></a>
    
                <?php } ?>
    
                    <!-- Next page link -->
    
                <?php if (isset($this->next)): ?>
    
                    <a href="<?php echo '/'.$pieces[1].'/'.$pieces_02[0].'/page/'.$this->next.'/?'.@$pieces_03[1]?>" class="next" >&gt;&gt;</a>
    
                <?php endif; ?>
			</div>
				
				<p class="all_pages"><?php echo Zend_Locale_Format::toNumber($this->firstItemNumber)?> - <?php echo Zend_Locale_Format::toNumber($this->lastItemNumber)?>
        <?php echo "из"; ?> <?php echo Zend_Locale_Format::toNumber($this->totalItemCount)?></p>
			</div>
        </div>
<?php endif; ?>
