<?php foreach ($this->paginator as $product) { ?>
	<div class="product_images">
                    
        <div class="product-main-img">
            <a href="<?php echo $this->host;?>/media/photos/products/big_<?php echo $product['image']; ?>" class="" data-fancybox="group"><img src="<?php echo $this->host;?>/media/photos/products/big_<?php echo $product['image']; ?>" alt="<?php echo $product['product_model']; ?>"></a>
        </div>
                        
        <div class="product-more-img">
			<?php foreach ($this->photos as $photo) { ?>
				<a href="<?php echo $this->host;?>/media/photos/products/big_<?php echo $photo->photo_file; ?>" class="" data-fancybox="group"><img src="<?php echo $this->host;?>/media/photos/products/small_<?php echo $photo->photo_file; ?>" alt=""></a>
			<?php } ?>
		</div>
                
    </div>
                
                
    <div class="product_info">
                    
        <div class="product_title"><?php echo $product['product_model']; ?></div>
                    
        <div class="product_discription">
            <?php echo $product['intro_text']; ?>
        </div>
                    
        <div class="clear"></div>
                    
        <div class="product_discription_left">
            <div class="characteristics">
                <ul>
					<?php foreach ($this->product_attributes as $attribute) { ?>
						<li><?php echo $attribute['attribute_name'];  ?> – <?php echo $attribute['text']; ?></li>
                    <?php } ?>
                </ul>
		<!--	<form id="" action="" method="post" >	-->
                <?php foreach ($this->product_options as $option) { ?>
				<div id="option-<?php echo $option['product_option_id']; ?>" class="product_item_option">
					<div class="select_title"><?php echo $option['name']; ?></div>
					<div class="select">
						<select class="select_option_value_id" id="single-<?php echo @$product->product_id; ?>" name="option[<?php echo $option['product_option_id']; ?>]">
						<?php foreach ($option['product_option_value'] as $option_value) { ?>
							<option value="<?php echo $option_value['product_option_value_id']; ?>"><?php echo $option_value['name']; ?>
							<?php if ($option_value['price']) { ?>
            (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price'].' руб.'; ?>)
            <?php } ?>
							</option>
						<?php } ?>
						</select>
				  </div>
				</div>
				
				<?php } ?>  
           
                <div class="product_item_option">
					<div class="book_qty">Количество: <input type="number" id="qty-<?php echo @$product->product_id; ?>" name="quantity" value="1" min="1" max="200" step="1"> шт.</div> 
                </div>                        
            </div>
                        
            <div class="equipment">
                <div class="equipment_title">
                    Стандатрное крепление (2 шт.)<br /> входит в стоимость комплекта
                </div>
                            
                <div class="equipment_item">
                    <img src="/images/equipment-1.png" alt="">
                    <div class="equipment_item_text">
                        Стандартное крепление для дуг 
                    </div>
                </div>
                            
                <div class="equipment_item">
                    <img src="/images/equipment-2.png" alt="">
                    <div class="equipment_item_text">
                        Усилиное крепление из нержавеющей стали для Г-обр. карнизов
                    </div>
                </div>
                            
            </div>
                        
        </div>
                    
                    
        <div class="product_discription_right">
                    
            <div class="addition">
                        
                <div class="checkbox">
                    <input type="checkbox" name="need_measure" value="Нужен замер и монтаж по Ростову-на-Дону!" id="check"><label for="check"><b>Нужен замер и монтаж<br/>по Ростову-на-Дону!</b></label>
                </div>
                            
                <div class="checkbox">
                    <input type="checkbox" name="individual_fastening" value="3000" id="check"><label for="check">Индивидуальное крепление<br/>(подходит под все типы карнизов)<br/>+3000 руб.</label>
                </div>
                            
                <div class="addition_images">
                    <div class="addition_image">
                        <img src="/images/addition-1.png" alt="">
                    </div>                                
                    <div class="addition_image">
                        <img src="/images/addition-2.png" alt="">
                    </div>                            
                </div>
                        
            </div>
                        
            <div class="product_price" id="product__price"><?php echo number_format($product->price, 0, '', ''); ?> руб.</div>
            <input type="hidden" name="product_id" id="product_id" value="<?php echo $product->product_id; ?>"/>            
            <div class="product_btn">
           
				<input type="button" value="Заказать" id="button-cart" class="button" />
			
            </div>
        <!--    </form>  -->      
        </div>               
                         
    </div>
<?php } ?>