<?php foreach ($this->paginator as $product) { ?>
	<div class="category_item product_info<?php echo $product['product_id']; ?>">
        <div class="category_item_title">
            <h3><?php echo $product['product_model']; ?></h3>                        
        </div>
                        
        <div class="category_item_img">
            <a href="/product/<?php echo $product['url_seo']; ?>"><img src="<?php echo $this->host;?>/media/photos/products/small_<?php echo $product['image']; ?>" alt="<?php echo $product['product_model']; ?>"></a>
        </div>
                        
        <div class="category_item_price">
            <?php echo number_format($product->price, 0, '', ''); ?> руб.
        </div>
                        
        <div class="category_item_options">
            <div class="category_item_option">
		<!--	<form id="" action="/catalog/index/addproducttobasket" method="post" >	-->
				<?php foreach ($this->product_option[$product->product_id] as $option) { ?>
                <div class="select_title"><?php echo $option['name']; ?></div>                                
                <div class="select">
					<select name="option[<?php echo $option['product_option_id']; ?>]">
						<?php foreach ($option['product_option_value'] as $option_value) { ?>
					<option value="<?php echo @$option_value['product_option_value_id']; ?>"><?php echo @$option_value['name']; ?>
					<?php if ($option_value['price']) { ?>
            (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price'].' руб.'; ?>)
            <?php } ?>
			</option>
				<?php } ?>
                    </select>
                </div>
				<?php } ?>
            </div>
            <div class="category_item_option">
				<div class="book_qty">Кол-во: <input type="number" id="qty-<?php echo @$product->product_id; ?>" name="quantity" value="1" min="1" max="200" step="1"> шт.</div> 
            </div>
        </div>
        <input type="hidden" name="product_id" value="<?php echo $product->product_id; ?>"/>                
        <div class="category_item_btn">
        <!--    <a href="#" class="buy addTooBasket">Заказать</a>-->
              <input type="button" value="Заказать" onclick="addToCart('<?php echo $product['product_id']; ?>');" class="button" />                 
            <a href="/product/<?php echo $product['url_seo']; ?>" class="more goTooProduct">Подробнее</a>                        
        </div>  
	<!--	</form>		-->
    </div>
<?php } ?>