<?php if ($this->pageCount): ?>
      
<span id="cat-pages">
    <?php echo "Показано"; ?> <strong><?php echo Zend_Locale_Format::toNumber($this->lastItemNumber)?> </strong>
 
    <?php echo "из"; ?> <strong><?php echo Zend_Locale_Format::toNumber($this->totalItemCount)?></strong>
</span>
      
<!-- Previous page link -->
 
<?php if (isset($this->previous)): ?>
    <a href="<?php if ($_SERVER['REQUEST_URI'] == '/catalog-kiosks') echo 'catalog-kiosks/page/'.$this->previous; else echo $this->previous; ?>"><div count-add="16" id="next-items">Предыдущие 16 
моделей...</div></a>
<?php endif; ?>
 
              
<!-- Next page link -->
 
<?php if (isset($this->next)): ?>
    <a href="<?php if ($_SERVER['REQUEST_URI'] == '/catalog-kiosks') echo 'catalog-kiosks/page/'.$this->next; else echo $this->next; ?>" ><div count-add="16" id="next-items">Следующие 16 
моделей...</div></a> 
<?php endif; ?>

<?php endif; ?>