<?php if ($this->pageCount): ?>
<!-- Next page link -->
 
    <?php if (isset($this->next)): ?>
        <a href="<?php echo '/kiosk/page/'.$this->next; ?>" class="arrowBtn-short-r">Следующая 
    модель</a> 
    <?php endif; ?>

    <!-- Previous page link -->
    
    <?php if (isset($this->previous)): ?>
        <a href="<?php echo '/kiosk/page/'.$this->previous; ?>" class="arrowBtn-short-l">Предыдущая 
    модель</a>
    <?php endif; ?>

<?php endif; ?>