<ul id="da-thumbs" class="da-thumbs catalog-thumbs">
<?php foreach ($this->categories as $category) { ?>
    <li class="">
        <a href="#">
            <img src="<?php echo $this->host;?>/media/photos/categories/small_<?php 
            echo $category['main_photo']; ?>">
            <span><?php echo $category['category_name']; ?></span>        
        </a>
    </li>
<?php } ?> 
<li class="">
                        <a href="#">
                            <img src="images/product.png">
                            <span>Пленки для сельского <br/>хозяйства</span>
                 
                        </a>
                    </li>
<li class="">
                        <a href="#">
                            <img src="images/product.png">
                            <span>Пленки для ламинации</span>
                       
                        </a>
                    </li>					
</ul>       