<form action="<?php $this->form->getAction()?>" method="get" >
			<div class="container">
				<div class="filter_col_1">
					<h3>Страна</h3>
					
					<div class="input_row checkbox_row">
						<input data-role="none" type="checkbox" <?php if(@$this->brend_01 == '1') { ?> checked="checked" <?php } ?> name="brend_01" value="1" id="brend1"/>
						<label for="brend1"><span></span> Турция</label>
					</div>
					
					<div class="input_row checkbox_row">
						<input data-role="none" type="checkbox" <?php if(@$this->brend_02 == '2') { ?> checked="checked" <?php } ?> name="brend_02" value="2" id="brend2"/>
						<label  for="brend2"><span></span> Россия</label>
					</div>
					
					<div class="input_row checkbox_row">
						<input data-role="none" type="checkbox" <?php if(@$this->brend_03 == '3') { ?> checked="checked" <?php } ?> name="brend_03" value="3" id="brend3"/>
						<label for="brend3"><span></span> Китай</label>
					</div>

					<div class="input_row checkbox_row">
						<input data-role="none" type="checkbox" <?php if(@$this->brend_04 == '4') { ?> checked="checked" <?php } ?> name="brend_04" value="4" id="brend4"/>
						<label  for="brend4"><span></span> Узбекистан</label>
					</div>						

				</div>
				
				<div class="filter_col_2">
					<h3>цена</h3>


				<div class="labels-wrap">
					<div class="leftLabel" id="leftLabel"></div>
					<div class="rightLabel" id="rightLabel"></div>
					<input type="hidden" name="price_from" id="price_from" value="<?php echo @$this->price_from; ?>"/>
					<input type="hidden" name="price_to" id="price_to" value="<?php echo @$this->price_to; ?>"/>
				</div>
				<?php if($this->price_from) { ?>
					<div class="nstSlider" data-range_min="10" data-range_max="4000" data-cur_min="<?php echo @$this->price_from; ?>"  data-cur_max="<?php echo @$this->price_to; ?>">
				<?php } else { ?>
				<div class="nstSlider" data-range_min="10" data-range_max="4000" data-cur_min="10"  data-cur_max="4000">
				<?php } ?>
<?php	
	setcookie('price_from', @$this->price_from, time() + 3600, '/');
	setcookie('price_to', @$this->price_to, time() + 3600, '/');
?>	
					<div class="bar"></div>
					<div class="leftGrip"></div>
					<div class="rightGrip"></div>
				</div>	
					
				</div>	

				<div class="filter_col_3"> 
                    <div class="input_row checkbox_row">
    					<div class="show_by">
        				<p>Цвет:</p>
                            <?php echo $this->form->option_value; ?>		
                        </div>
    				</div>  					
    			</div>	


			<!--	<div class="filter_col_3">
					<h3>пол</h3>
					
					<div class="input_row checkbox_row">
						<input data-role="none" type="checkbox" <?php if(@$this->gender_01 == 'male') { ?> checked="checked" <?php } ?> name="gender_01" value="male" id="gender-male"/>
						<label for="gender-male"><span></span> Мальчикам</label>
					</div>
					
					<div class="input_row checkbox_row">
						<input data-role="none" type="checkbox" <?php if(@$this->gender_02 == 'female') { ?> checked="checked" <?php } ?> name="gender_02" value="female" id="gender-female"/>
						<label for="gender-female"><span></span> Девочкам</label>
					</div> 

				</div>	


				<div class="filter_col_4">
					<h3>размер</h3>
					
					<div class="input_row checkbox_row">
						<input data-role="none" type="checkbox" <?php if(@$this->size_01 == 'small') { ?> checked="checked" <?php } ?> name="size_01" value="small" id="size-small"/>
						<label for="size-small"><span></span> Маленький</label>
					</div>
					
					<div class="input_row checkbox_row">
						<input data-role="none" type="checkbox" <?php if(@$this->size_02 == 'medium') { ?> checked="checked" <?php } ?> name="size_02" value="medium" id="size-medium"/>
						<label for="size-medium"><span></span> Средний</label>
					</div>

					<div class="input_row checkbox_row">
						<input data-role="none" type="checkbox" <?php if(@$this->size_03 == 'big') { ?> checked="checked" <?php } ?> name="size_03" value="big" id="size-big"/>
						<label for="size-big"><span></span> Большой</label>
					</div>					
				</div>	-->


				<div class="filter_col_5">
			
					<input data-role="none" type="submit" id="submit" value="подобрать" name="submit"/> 
					
				</div>					
				
			</div>
		</form>