<?php if ($this->pageCount): ?>
 
    <div class="pagination pagination-centered">
 
        <ul>
                    <!-- Previous page link -->
    
            <?php if (isset($this->previous)): ?>
    
                <li class="active"><a href="<?php echo '/admin/categores/page/'.$this->previous; ?>" > &lt;&lt; <?php // echo "Предыдущая"; ?></a></li>
    
            <?php endif; ?>
    
            <?php //Now put the first page link
    
                if($this->current > 1 && $this->firstPageInRange > 1){ ?>
    
                    <li class="active"><a href="<?php echo '/admin/categores/page/1'; ?>" ><?php echo Zend_Locale_Format::toNumber(1)?></a></li>
    
                <?php } ?>
    
                    <!-- Numbered page links -->
    
                <?php foreach ($this->pagesInRange as $page): ?>
    
                <?php if ($page != $this->current): ?>
    
                    <li class="active"><a href="<?php echo '/admin/categores/page/'.$page; ?>" ><?php echo Zend_Locale_Format::toNumber($page); ?></a></li>
    
                <?php else: ?>
    
                    <li class="disabled"><span class=""><?php echo $page; ?></span></li>
    
                <?php endif; ?>
    
                <?php endforeach; ?>
    
                <?php //Now put the last page link
    
                if($this->current != $this->last && $this->last > $this->lastPageInRange){ ?>
    
                    <li class="active"><a href="<?php echo '/admin/categores/page/'.$this->last; ?>" ><?php echo Zend_Locale_Format::toNumber($this->last);?></a></li>
    
                <?php } ?>
    
                    <!-- Next page link -->
    
                <?php if (isset($this->next)): ?>
    
                    <li class="active"><a href="<?php echo '/admin/categores/page/'.$this->next; ?>" ><?php // echo "Следующая"; ?> &gt;&gt;</a></li>
    
                <?php endif; ?>
               
        </ul>
    </div>
<?php endif; ?>
