<?php
    $this->title = "Удаление категории";
    $this->headTitle($this->title);
?>
<div class="header"> 
    <h1 class="page-title">Категории</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/admincategories">Категории</a> </li> &gt;&gt;
        <li class="active">Удалить категорию</li>
    </ul>
</div>
<div class="box"> 
<div class="box-content">
</br></br>
<h3>Вы действительно хотите удалить категорию 
    '<?php echo $this->escape($this->category['category_name']); ?>'?
</h3>
<p align = "center" ><font size="4" color="red" face="Arial"><?php echo $this->errMessage; ?></font></p>
<form action="<?php echo $this->url(array('action'=>'deletecategory')); ?>" method="post">
    <div>
        <input type="hidden" name="category_id" value="<?php echo $this->category['category_id']; ?>" />
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true" name="del" value="No">Нет</button>
        <button class="btn btn-danger" data-dismiss="modal" name="del" value="yes">Удалить</button>  
    </div>
</form>
<div>
<div>