<?php 
    echo $this->headTitle("Редактировать категорию"); 

    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tinymce/jscripts/tiny_mce/tiny_mce.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );
    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tiny_mce_init.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );
    echo $this->inlineScript();
?>

<div class=""> 
    <h1 class="page-title">Категории</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/admincategories">Категории</a> </li> &gt;&gt;
        <li class="active"><?php echo $this->category_name; ?></li>
    </ul>
</div>
<div class="box"> 
<div class="box-content">
<div class="">
    <div class="col-md-10">
	<form action="<?php $this->form->getAction()?>" method="post" enctype = "multipart/form-data">
        <table border="0" width="60%" align="center"> 
			<input type="hidden" name="category_id" value="<?php echo $this->category_id; ?>" />
			<tr>	
				<td>
					<label for="title"><strong>Название: </strong></label>
					<?php echo $this->form->category_name; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>SEO Url: </strong></label>
					<?php echo $this->form->url_seo; ?>
				</td>
			</tr>
			<tr>
				<td>
					<label for="title"><strong>Родительская категория: </strong></label>	
					<?php echo $this->form->parent_id; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>Порядок сортировки: </strong></label>
					<?php echo $this->form->sort_order; ?>
				</td>
			</tr>
			<tr>	
				<td> 
					<label for="title"><strong>Заголовок(Краткое описание): </strong></label>
					<?php echo $this->form->title_text; ?>
				</td>
			</tr>
			<tr>	
				<td> 
					<label for="title"><strong>Краткое описание: </strong></label>
					<?php echo $this->form->category_text; ?>
				</td>
			</tr>
			<tr>	
				<td> 
					<label for="title"><strong>Заголовок(Текст): </strong></label>
					<?php echo $this->form->title; ?>
				</td>
			</tr>
			<tr>	
				<td> 
					<label for="title"><strong>Текст: </strong></label>
					<?php echo $this->form->category_text_extra; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>title: </strong></label>
					<?php echo $this->form->header_tags_title; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>description: </strong></label>
					<?php echo $this->form->header_tags_description; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<label for="title"><strong>keywords: </strong></label>
					<?php echo $this->form->header_tags_keywords; ?>
				</td>
			</tr>
            <tr>
                <td>
                    <?php if($this->main_photo) { ?>
            <div id="response_category_image">      
            <img src="<?php echo $this->host;?>/media/photos/categories/small_<?php 
            echo $this->main_photo; ?>" border = "0" height = "100" WIDTH = "140" ><br><br>  
            <div id="status_remove_category_image"><a href="#" class="status_on remove_category_image btn btn-small btn-danger" data-status-category-image="<?php echo $this->category_id; 
?>" >Удалить</a></div>
            </div>
            <?php } else { ?>
                <img src="<?php echo $this->host;?>/media/photos/no_photo.jpeg" border = "0" height = "100" WIDTH = "140" >
            <?php } ?> 
                </td>
            </tr> 
            <tr>	
				<td>
					<?php echo $this->form->main_photo; ?>
				</td>
			</tr>
			<tr>	
				<td>
					<?php echo $this->form->submit; ?>
				</td>
			</tr>
        </table>
		</form>
    </div>
</div>
<br>
</div>
</div>