<?php echo $this->headTitle('Категории'); ?>
    <?php $filter = new Zend_Filter_StringTrim();?>
 
<div class="header"> 
    <h1 class="page-title">Категории</h1> 
    <ul class="breadcrumb">
        <li class="active">Категории</li>
    </ul>
</div>  
<div class="box"> 
<div class="box-content">
<a class="btn btn-primary" href="<?php echo '/admin/admincategories/addcategory';?>" title=""><i class="btn-icon-only icon-plus-sign"></i>Добавить категорию</a>

<table class="table table-hover">
    <thead>
        <tr> 
            <th width="10%">Фото</th>
            <th width="30%">Название категории</th>
			<th width="10%">Фото</th>
			<th width="10%">Изображения для страницы</th>
            <th width="10%">П-к сорт.</th>
            <th width="6%">Редакт.</th> 
            <th width="6%">Удалить</th> 
        </tr> 
    </thead>
    <tbody>
   
<?php foreach ($this->categories_01 as $category) { ?>
    <tr>
        <td>
			<?php if($category[0]['main_photo']) { ?> 
            <img src="<?php echo $this->host;?>/media/photos/categories/small_<?php 
            echo $category[0]['main_photo']; ?>" border = "0" height = "100" WIDTH = "140" > 
			<?php } else { ?>
                <img src="<?php echo $this->host;?>/media/photos/no_photo.jpeg" border = "0" height = "100" WIDTH = "140" >
            <?php } ?>   
        </td>
		<td>
            <a href="<?php echo '/admin/admincategories/editcategory/category_id/'.$category[0]['category_id']; ?>" ><?php echo $category[0]['category_name']; ?></a>
        </td>
		<td align="center">
			<a href="<?php echo '/admin/categoryphoto/index/category_id/'.$category[0]['category_id']; ?>" class="btn btn-small btn-info" title="<?php echo "Фото"; ?>"><i class="fbtn-icon-only icon-camera"></i></a>
		</td>
		<td align="center">
			<a href="<?php echo '/admin/categoryphotoforpage/index/category_id/'.$category[0]['category_id']; ?>" class="btn btn-small btn-info" title="<?php echo "Изображения";?>"><i class="btn-icon-only icon-picture"></i></a>
		</td>
        <td align="center"><?php echo $category[0]['sort_order']; ?></td>
        <td align="center"><a href="<?php echo '/admin/admincategories/editcategory/category_id/'.$category[0]['category_id']; ?>" class="btn btn-small btn-info" title="<?php echo 
"Редактировать";?>"><i class="btn-icon-only icon-edit"></i></a></td>
        <td align="center"><a href="<?php echo '/admin/admincategories/deletecategory/category_id/'.$category[0]['category_id']; ?>" class="btn btn-small btn-danger" title="<?php echo "Удалить 
категорию"; 
?>"><i class="btn-icon-only icon-trash"></i></a></td>
    </tr>
        <?php if ($category[0]['children']) { ?>
       <?php for ($i = 0; $i < count($category[0]['children']);) { ?>
       
        <?php $j = $i + count($category[0]['children']); ?>
        <?php for ($i; $i < $j; $i++) { ?>
        <?php if (isset($category[0]['children'][$i])) { ?>
        <tr>
        <td>
            <?php if($category[0]['children'][$i]['main_photo']) { ?> 
                <img src="<?php echo $this->host;?>/media/photos/categories/small_<?php 
                echo $category[0]['children'][$i]['main_photo']; ?>" border = "0" height = "100" WIDTH = "140" >  
            <?php } else { ?>
                <img src="<?php echo $this->host;?>/media/photos/no_photo.jpeg" border = "0" height = "100" WIDTH = "140" >
            <?php } ?>    
        </td>
        <td>  
            <a href="<?php echo '/admin/admincategories/editcategory/category_id/'.$category[0]['children'][$i]['category_id']; ?>" ><?php echo 
$category[0]['category_name'].'->'.$category[0]['children'][$i]['category_name']; ?></a>
        </td> 
		<td align="center">
			<a href="<?php echo '/admin/categoryphoto/index/category_id/'.$category[0]['children'][$i]['category_id']; ?>" class="btn btn-small btn-info" title="<?php echo "Фото"; ?>"><i class="fbtn-icon-only icon-camera"></i></a>
		</td>
        <td align="center">
			<a href="<?php echo '/admin/categoryphotoforpage/index/category_id/'.$category[0]['children'][$i]['category_id']; ?>" class="btn btn-small btn-info" title="<?php echo "Изображения";?>"><i class="btn-icon-only icon-picture"></i></a>
		</td>
		<td align="center">
			<?php echo $category[0]['children'][$i]['sort_order']; ?>
		</td>
        <td align="center"><a href="<?php echo '/admin/admincategories/editcategory/category_id/'.$category[0]['children'][$i]['category_id']; ?>" class="btn btn-small btn-info" title="<?php echo 
"Редактировать";?>"><i class="btn-icon-only icon-edit"></i></a></td>
        <td align="center"><a href="<?php echo '/admin/admincategories/deletecategory/category_id/'.$category[0]['children'][$i]['category_id']; ?>" class="btn btn-small btn-danger" title="<?php echo 
"Удалить 
категорию"; ?>"><i class="btn-icon-only icon-trash"></i></a></td>
        </tr>
		<?php if (@$category[$i]['children_lv3']) { ?>
       <?php for ($k = 0; $k < count($category[0]['children_lv3']);) { ?>
       
        <?php $y = $k + count($category[$i]['children_lv3']); ?>
        <?php for (; $k < $y; $k++) { ?>
        <?php if (isset($category[$i]['children_lv3'][$k])) { ?>
        <tr>
        <td>
            <?php if($category[$i]['children_lv3'][$k]['main_photo']) { ?> 
                <img src="<?php echo $this->host;?>/media/photos/categories/small_<?php 
                echo $category[$i]['children_lv3'][$k]['main_photo']; ?>" border = "0" height = "100" WIDTH = "140" >  
            <?php } else { ?>
                <img src="<?php echo $this->host;?>/media/photos/no_photo.jpeg" border = "0" height = "100" WIDTH = "140" >
            <?php } ?>    
        </td>
        <td>  
            <a href="<?php echo '/admin/admincategories/editcategory/category_id/'.$category[$i]['children_lv3'][$k]['category_id']; ?>" >
			<?php echo $category[0]['category_name'].'->'.$category[0]['children'][$i]['category_name'].'->'.$category[$i]['children_lv3'][$k]['category_name']; ?></a>
        </td> 
		<td align="center">
			<a href="<?php echo '/admin/categoryphoto/index/category_id/'.$category[$i]['children_lv3'][$k]['category_id']; ?>" class="btn btn-small btn-info" title="<?php echo "Фото"; ?>"><i class="fbtn-icon-only icon-camera"></i></a>
		</td>
		<td align="center">
			<a href="<?php echo '/admin/categoryphotoforpage/index/category_id/'.$category[$i]['children_lv3'][$k]['category_id']; ?>" class="btn btn-small btn-info" title="<?php echo "Изображения";?>"><i class="btn-icon-only icon-picture"></i></a>
		</td>
		<td align="center">
			<?php echo $category[$i]['children_lv3'][$k]['sort_order']; ?>
		</td>
        <td align="center"><a href="<?php echo '/admin/admincategories/editcategory/category_id/'.$category[$i]['children_lv3'][$k]['category_id']; ?>" class="btn btn-small btn-info" title="<?php echo 
"Редактировать";?>"><i class="btn-icon-only icon-edit"></i></a></td>
        <td align="center"><a href="<?php echo '/admin/admincategories/deletecategory/category_id/'.$category[$i]['children_lv3'][$k]['category_id']; ?>" class="btn btn-small btn-danger" title="<?php echo 
"Удалить 
категорию"; ?>"><i class="btn-icon-only icon-trash"></i></a></td>
        </tr>
        <?php } ?>    
        <?php } ?>
        
        
       <?php } ?>
        <?php } ?>
        <?php } ?>    
        <?php } ?>
        
        
       <?php } ?>
        <?php } ?>
    
<?php } ?> 

    <tbody>
</table>
</div> 
</div>