<?php $pieces = explode("/", $_SERVER['REQUEST_URI']); ?>
<?php if ($this->pageCount): ?>
 
<div class="pagination">
	<div class="pagination__block">
        <ul>                 <!-- Previous page link -->
			<?php if (isset($this->previous)) { ?>
			<?php if ($this->previous == 1) { ?>
    
                <li><a href="<?php echo '/'.$pieces[1] ?>" >«</a></li>
				<?php } else { ?>
				<li><a href="<?php echo '/'.$pieces[1].'/page/'.$this->previous?>" >«</a></li>
			<?php } ?>
            <?php } ?>
    
            <?php //Now put the first page link
    
                if($this->current > 1 && $this->firstPageInRange > 1){ ?>
    
                    <li>
						<a href="<?php echo $this->url(array('page' => 1), 'default', false); ?>" ><?php echo Zend_Locale_Format::toNumber(1)?></a>
					</li>
    
                <?php } ?>
    
                    <!-- Numbered page links -->
    
				<?php foreach ($this->pagesInRange as $page) { ?>
    
                <?php if ($page != $this->current) { ?>
				<?php if ($page == 1) { ?>
					<li>
						<a href="<?php echo '/'.$pieces[1] ?>" ><?php echo Zend_Locale_Format::toNumber($page); ?></a>
					</li>
				<?php } else { ?>
					<li>
						<a href="<?php echo '/'.$pieces[1].'/page/'.$page?>" ><?php echo Zend_Locale_Format::toNumber($page); ?></a>
					</li>
				<?php } ?>
                <?php } else { ?>
    
                    <li><a class="active" href="#"><?php echo $page; ?></a></li>
    
                <?php } ?>
    
                <?php } ?>
    
                <?php //Now put the last page link
    
                if($this->current != $this->last && $this->last > $this->lastPageInRange){ ?>
    
                    <li><a href="<?php echo '/'.$pieces[1].'/page/'.$this->last?>" ><?php echo Zend_Locale_Format::toNumber($this->last);?></a></li>
    
                <?php } ?>
    
                    <!-- Next page link -->
    
                <?php if (isset($this->next)){ ?>
    
                    <li><a href="<?php echo '/'.$pieces[1].'/page/'.$this->next?>" >»</a></li>
    
                <?php } ?>
               
        </ul>
	</div>
	<div class="clear"></div>
</div>
<?php endif; ?>
