<?php $pieces = explode("/", $_SERVER['REQUEST_URI']); ?>
<?php if ($this->pageCount): ?>
 
        <div class="pagination">
                    <!-- Previous page link -->
    
            <?php if (isset($this->previous)): ?>
    
                <a href="<?php echo '/'.$pieces[1].'/page/'.$this->previous?>" class="next" >предыдущая</a>
    
            <?php endif; ?>
    
           
    
                    <!-- Numbered page links -->
    
                <?php foreach ($this->pagesInRange as $page): ?>
    
                <?php if ($page != $this->current): ?>
    
                    <a href="<?php echo '/'.$pieces[1].'/page/'.$page?>" ><?php echo Zend_Locale_Format::toNumber($page); ?></a>
    
                <?php else: ?>
    
                    <span class="active"><?php echo $page; ?></span>
    
                <?php endif; ?>
    
                <?php endforeach; ?>
    
                <?php //Now put the last page link
    
                if($this->current != $this->last && $this->last > $this->lastPageInRange){ ?>
    
                    <a href="<?php echo '/'.$pieces[1].'/page/'.$this->last?>" >...</a>
    
                <?php } ?>
    
                    <!-- Next page link -->
    
                <?php if (isset($this->next)): ?>
    
                    <a href="<?php echo '/'.$pieces[1].'/page/'.$this->next?>" class="next" >следующая</a>
    
                <?php endif; ?>
               
        </div>
<?php endif; ?>
