<?php   
    echo $this->headTitle("Админстраница - Тур по клинике");

    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tinymce/jscripts/tiny_mce/tiny_mce.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );
    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tiny_mce_init.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );
    echo $this->inlineScript();
?>
<div class="header"> 
	<h1 class="page-title">Тур по клинике</h1>
	<ul class="breadcrumb">
		<li><a href="/admin/adminpage03">Тур по клинике</a> </li> &gt;&gt;
		<li class="active">Редактирование</li>
	</ul>
</div>
<div class="box"> 
<div class="box-content">
<div class="">
  <div class="col-md-10">
    <div class="panel panel-default"> 
        <div class="panel-body">
            <?php echo $this->form; ?>
        </div>
    </div>
</div>
</div><br>
</div>
</div>