<?php 
    echo $this->headTitle("Добавления производителя"); 

    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tinymce/jscripts/tiny_mce/tiny_mce.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );
    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tiny_mce_init.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );
    echo $this->inlineScript();
?>

<div class=""> 
    <h1 class="page-title">Производители</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/adminmanufacturers">Производители</a> </li> &gt;&gt;
        <li class="active">Добавить производителя</li>
    </ul>
</div>
<div class="box"> 
<div class="box-content">
<div class="">
    <div class="col-md-10">
	<p align = "center" ><font size="3" color="" face="Arial"><?php echo $this->errMessage; ?> 
		<?php echo $this->form; ?>
    </div>
</div>
<br>
</div>
</div>