<?php
    $this->title = "Удаление производителя";
    $this->headTitle($this->title);
?>
<div class=""> 
    <h1 class="page-title">Производители</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/adminmanufacturers">Производители</a> </li> &gt;&gt;
        <li class="active">Удаление производителя</li>
    </ul>
</div>
<div class="box"> 
<div class="box-content">
</br></br>
<h3>Вы действительно хотите удалить производителя 
    '<?php echo $this->escape($this->manufacturers_object['name']); ?>'?
</h3>
<p align = "center" ><font size="4" color="red" face="Arial"><?php echo $this->errMessage; ?></font></p>
<form action="<?php echo $this->url(array('action'=>'deletemanufacturer')); ?>" method="post">
    <div>
        <input type="hidden" name="manufacturer_id" value="<?php echo $this->manufacturers_object['manufacturer_id']; ?>" />
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true" name="del" value="No">Нет</button>
        <button class="btn btn-danger" data-dismiss="modal" name="del" value="yes">Удалить</button>  
    </div>
</form>
<div>
<div>