<?php 
    echo $this->headTitle("Редактирование производителя"); 

    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tinymce/jscripts/tiny_mce/tiny_mce.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );
    $this->inlineScript()->appendFile(
        $this->baseUrl('js/tiny_mce_init.js'),
        'text/javascript', array('charset' => 'UTF-8')
    );
    echo $this->inlineScript();
?>

<div class=""> 
    <h1 class="page-title">Производители</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/adminmanufacturers">Производители</a> </li> &gt;&gt;
        <li class="active">Редактировать производителя</li>
    </ul>
</div>
<div class="box"> 
<div class="box-content">
<div class="">
    <div class="col-md-10">
        <table border="0" width="60%" align="center">	
	        <tr>
                <td>
					<?php if($this->manufacturer_image) { ?>
			<div id="response_manufacturer_image">		
            <img src="<?php echo $this->host;?>/media/photos/manufacturers/small_<?php 
            echo $this->manufacturer_image; ?>" border = "0" height = "100" WIDTH = "140" ><br><br>  
            <div id="status_remove_manufacturer_image"><a href="#" class="status_on remove_manufacturer_image btn btn-small btn-danger" data-status-image="<?php echo $this->manufacturer_id; 
?>" >Удалить</a></div>
            </div>
			<?php } else { ?>
                <img src="<?php echo $this->host;?>/media/photos/no_photo.jpeg" border = "0" height = "100" WIDTH = "140" >
            <?php } ?> 
                </td>
            </tr> 
		    <tr>
                <td><p align = "center" ><font size="4" color="red" face="Arial"><?php echo $this->errMessage; ?></font></p>
                    <div id="poetryform">
                       <?php echo $this->form; ?>
                    </div>
                </td>
            </tr> 
        </table> 
</div>
<br>
</div>
</div>