<?php echo $this->headTitle('Производители'); ?>
    <?php $filter = new Zend_Filter_StringTrim();?>
 
<div class="header"> 
    <h1 class="page-title">Производители</h1> 
    <ul class="breadcrumb">
        <li class="active">Производители</li>
    </ul>
</div>  
<div class="box"> 
<div class="box-content">
<a class="btn btn-primary" href="<?php echo '/admin/adminmanufacturers/addmanufacturer';?>" title=""><i class="btn-icon-only icon-plus-sign"></i>Добавить производителя</a>

<table class="table table-hover">
    <thead>
        <tr> 
            <th width="10%">Фото</th>
            <th width="50%">Производитель</th> 
            <th width="10%">П-к сорт.</th> 
            <th width="6%">Редакт.</th> 
            <th width="6%">Удалить</th> 
        </tr> 
    </thead>
    <tbody>
   
<?php foreach ($this->paginator as $manufacturer) { ?>
    <tr>
        <td>
			<?php if($manufacturer['image']) { ?>
            <img src="<?php echo $this->host;?>/media/photos/manufacturers/small_<?php 
            echo $manufacturer['image']; ?>" border = "0" height = "100" WIDTH = "140" > 
			<?php } else { ?>
                <img src="<?php echo $this->host;?>/media/photos/no_photo.jpeg" border = "0" height = "100" WIDTH = "140" >
            <?php } ?>  
        </td>
        <td>
            <a href="<?php echo '/admin/adminmanufacturers/editmanufacturer/manufacturer_id/'.$manufacturer['manufacturer_id']; ?>" ><?php echo $manufacturer['name']; ?></a>
        </td>
        <td align="center"><?php echo $manufacturer['sort_order']; ?></td>
        <td align="center"><a href="<?php echo '/admin/adminmanufacturers/editmanufacturer/manufacturer_id/'.$manufacturer['manufacturer_id']; ?>" class="btn btn-small btn-info" title="<?php echo 
"Редактировать";?>"><i class="btn-icon-only icon-edit"></i></a></td>
        <td align="center"><a href="<?php echo '/admin/adminmanufacturers/deletemanufacturer/manufacturer_id/'.$manufacturer['manufacturer_id']; ?>" class="btn btn-small btn-danger" title="<?php echo "Удалить 
категорию"; 
?>"><i class="btn-icon-only icon-trash"></i></a></td>
    </tr>
       
          
    
<?php } ?> 

    <tbody>
</table>
</div> 
</div>
<?php echo $this->paginationControl($this->paginator, 'Elastic', 'controls.phtml'); ?>