<?php
    $this->title = "Удаление фото";
    $this->headTitle($this->title);
?>
<div class="header"> 
    <h1 class="page-title">О клинике</h1>
    <ul class="breadcrumb">
        <li><a href="/admin/adminabout">О клинике</a></li> &gt;&gt;
        <li><a href="/admin/adminaboutphoto/index">Фото</a></li> &gt;&gt;
        <li class="active">Удаление фото</li>
    </ul>
</div>
<div class="box"> 
<div class="box-content">
<h3>Вы действительно хотите удалить фото
<img src="<?php echo $this->host;?>/media/photos/pages/small_<?php echo $this->photo['photo_file']; ?>" border = "1" height = "140" width = "190" > ?
</h3>
<form action="<?php echo $this->url(array('action'=>'deletephotoforpage')); ?>" method="post">
    <div>
        <input type="hidden" name="photo_id" value="<?php echo $this->photo['photo_id']; ?>" />
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true" name="del" value="No">Нет</button>
        <button class="btn btn-danger" data-dismiss="modal" name="del" value="yes">Удалить</button> 
    </div>
</form>
</div>
</div>